block AboutUs

h4.bltitle Thông tin công ty 
.info-company 
  .left
    .main-logo  
      img.img-fluid(src="images/logo.png")
  .right 
    p Công ty CP Mioto Việt Nam
    p Địa chỉ: 305/4 Lê Văn Sỹ, Phường 1, Tân Bình, TPHCM
    p Giờ làm việc: 9:00-17:00 (Thứ 2 - Thứ 7)
    p Mã số thuế: 0314714661
    p Email: contact@mioto.vn
    p Điện thoại: 1900 9217