block Blog List
- var blogItem = []
- blogItem.push({'img': 'images/homev2/blog-1.jpg', 'title': 'Trải nghiệm du lịch Đà Lạt bằng dịch vụ thuê xe tự lái', 'shortDesc': 'Đà Lạt là thành phố du lịch rất nổi bật ở khu vực Tây Nguyên – Việt Nam.  Nằm cách thành phố Hồ Chí Minh chừng 300km, Đà Lạt là điểm dừng chân  tuyệt vời cho du khách.'})
- blogItem.push({'img': 'images/homev2/blog-2.jpg', 'title': 'Trải nghiệm du lịch Đà Lạt bằng dịch vụ thuê xe tự lái', 'shortDesc': 'Đà Lạt là thành phố du lịch rất nổi bật ở khu vực Tây Nguyên – Việt Nam.  Nằm cách thành phố Hồ Chí Minh chừng 300km, Đà Lạt là điểm dừng chân  tuyệt vời cho du khách.'})
- blogItem.push({'img': 'images/homev2/blog-3.jpg', 'title': 'Trải nghiệm du lịch Đà Lạt bằng dịch vụ thuê xe tự lái', 'shortDesc': 'Đà Lạt là thành phố du lịch rất nổi bật ở khu vực Tây Nguyên – Việt Nam.  Nằm cách thành phố Hồ Chí Minh chừng 300km, Đà Lạt là điểm dừng chân  tuyệt vời cho du khách.'})
- blogItem.push({'img': 'images/homev2/blog-1.jpg', 'title': 'Trải nghiệm du lịch Đà Lạt bằng dịch vụ thuê xe tự lái', 'shortDesc': 'Đà Lạt là thành phố du lịch rất nổi bật ở khu vực Tây Nguyên – Việt Nam.  Nằm cách thành phố Hồ Chí Minh chừng 300km, Đà Lạt là điểm dừng chân  tuyệt vời cho du khách.'})
- blogItem.push({'img': 'images/homev2/blog-2.jpg', 'title': 'Trải nghiệm du lịch Đà Lạt bằng dịch vụ thuê xe tự lái', 'shortDesc': 'Đà Lạt là thành phố du lịch rất nổi bật ở khu vực Tây Nguyên – Việt Nam.  Nằm cách thành phố Hồ Chí Minh chừng 300km, Đà Lạt là điểm dừng chân  tuyệt vời cho du khách.'})
- blogItem.push({'img': 'images/homev2/blog-3.jpg', 'title': 'Trải nghiệm du lịch Đà Lạt bằng dịch vụ thuê xe tự lái', 'shortDesc': 'Đà Lạt là thành phố du lịch rất nổi bật ở khu vực Tây Nguyên – Việt Nam.  Nằm cách thành phố Hồ Chí Minh chừng 300km, Đà Lạt là điểm dừng chân  tuyệt vời cho du khách.'})

.blog-list__sect 
  .blog-list__title(style="background-image: url(images/background/bg-blog-1.jpg);")
    .m-container 
      h4.blog-title MIOTO'S BLOG
  .m-container 
    .blog-list__wrap 
      mixin blog-item(blog)
        .blog-list__item
          .blog-list-img
            .fix-img
              img(src=`${blog.img}`)
          .blog-list-detail 
            .title-blog 
              h3!=blog.title 
            .bar-line 
            p.short-desc!=blog.shortDesc
            .group-info 
              .time-post 
                i.ic.ic-sm-time-post
                span 18/07/2018 
              .s-all 
                p.see-all Xem tiếp 
                  i.ic.ic-chevron-right
      for blog in blogItem
        +blog-item(blog)
    .wrap-btn.has-2btn
      mixin link(href, name, text)
        if typeof(text) === 'undefined'
          - text=name
        a(href=href, title=name)&attributes(attributes)
          if block
            block
          else 
            !=text
      mixin paging(obj)
        ul.pagination-blog 
          li 
            +link('#', 'Trang Trước').prev
              |Trang Trước 
            each item in obj 
              li
                +link(item.href, item.val)(class=item.clsPage)
            li 
              +link('#', 'Trang Kế').next 
                |Trang Kế 
      +paging([
        {href: '#', val: '1', clsPage: 'active'},
        {href: '#', val: '2', clsPage: ''},
        {href: '#', val: '3', clsPage: ''},
        {href: '#', val: '4', clsPage: ''},
        {href: '#', val: '5', clsPage: ''},
      ])