@keyframes float1
	0%
		transform: translate(50px, -15px)
		opacity: 1
	50%
		opacity: .5
	100%
		transform: translate(-100px, 150px)
		opacity: 0
@keyframes float2
	0%
		transform: translate(0px, -10px)
		opacity: 1
	50%
		opacity: .5
	100%
		transform: translate(-100px, 200px)
		opacity: 0
.header-container
	.flower-spring
		position: absolute
		top: 0px
		height: 60px
		width: 110%
		z-index: 0
		display: flex
		justify-content: space-between
.snow
	position: relative
	top: -40px
	opacity: 1
	width: 30px
	height: 30px
	&.one
		animation: float1 8.5s ease infinite
		animation-delay: 1s
	&.two
		animation: float2 6.5s ease infinite
		animation-delay: 1s
	&.three
		animation: float2 5s ease infinite
		animation-delay: 1s
	&.four
		animation: float1 7s ease infinite
		animation-delay: 4s
	&.five
		animation: float1 7.8s ease infinite
		animation-delay: 3s
	&.six
		animation: float2 10s ease infinite
		animation-delay: 5s
	&.scale-1
		svg
			transform: scale(.55)
	&.scale-2
		svg
			transform: scale(.6)
	&.scale-3
		svg
			transform: scale(.45)
	&.scale-4
		svg
			transform: scale(.4)
	&.scale-5
		svg
			transform: scale(.5)
	&.scale-6
		svg
			transform: scale(.65)

.logo-container
	position: relative
	.hat
		position: absolute
		width: 60%
		bottom: -12%
		z-index: 0
		left: -2px
.right-spring
	position: absolute
	right: -10px
	top: 25%
	width: 13%
	z-index: -1
	@media (max-width: 1399px)
		width: 10%
	@media (max-width: 1199px)
		top: 40%
	@media (max-width: 991px)
		display: none
