extends layout.pug

//- Setting
block Setting
	- var Layout = true
	- var Header = true
	- var Footer = true
	- var Modal = true
	- var swiperjs = true

block Head
	include head.pug

block Pages
	- bodyC.push("")
	- layoutClasses.push("mioto-layout")
	- headerClasses.push("header")
	- bodyClasses.push("body")
	- footerClasses.push("footer")
	
//- Add Header
block Header
	include _layout/_common/header_account.pug

//- Add Body
block Body
	include _layout/_car/_car_detail.pug

//- Add Footer
block Footer
	include _layout/_common/footer.pug

//- Add Modal
block Modal
	//include _layout/modal_confirm.pug

block JavaScripts Extend
	script.
		var swiperCar = new Swiper('.swiper-car', {
			slidesPerView: 2.4,
			centeredSlides: true,
			spaceBetween: 0,
			threshold: 15,
			speed: 600,
			loop: true,
			nextButton: '.swiper-button-next',
			prevButton: '.swiper-button-prev',
			slidesOffsetBefore: 0,
			slidesOffsetAfter: 0,
			pagination: '.swiper-pagination',
			paginationClickable: true,
			breakpoints: {
				992: {
					slidesPerView: 2,
				},
				768: {
					slidesPerView: 1.5,
				},
				480: {
					slidesPerView: 1.2,
				}
			}
		});