extends layout.pug

//- Setting
block Setting
	- var Layout = true
	- var Header = true
	- var Footer = true
	- var Modal = true
	- var swiperjs = true

block Head
	include head.pug

block Pages
	- bodyC.push("")
	- layoutClasses.push("mioto-layout")
	- headerClasses.push("header")
	- bodyClasses.push("body")
	- footerClasses.push("footer")

//- Add Header
block Header
	include _layout/_common/header.pug

//- Add Body
block Body
	include _layout/_car/_car_detailv2.pug

//- Add Footer
block Footer
	include _layout/_common/footer.pug

//- Add Modal
block Modal
	include _modal/modal_promotion.pug
	include _modal/modal_qr_code.pug
	//- include _modal/modal_confirm_book.pug
	include _modal/modal_payments.pug
	include _modal/modal_insurance_cd.pug


block JavaScripts Extend
	script.
		var swiperCar = new Swiper('.swiper-car', {
			slidesPerView: 2.4,
			centeredSlides: true,
			spaceBetween: 0,
			threshold: 15,
			speed: 600,
			loop: true,
			nextButton: '.swiper-button-next',
			prevButton: '.swiper-button-prev',
			slidesOffsetBefore: 0,
			slidesOffsetAfter: 0,
			pagination: '.swiper-pagination',
			paginationClickable: true,
			breakpoints: {
				992: {
					slidesPerView: 2,
				},
				768: {
					slidesPerView: 1.5,
				},
				480: {
					slidesPerView: 1.2,
				}
			}
		});
		var swiperDeal = new Swiper('.swiper-similar', {
			slidesPerView: 3,
			spaceBetween: 24,
			threshold: 15,
			speed: 600,
			nextButton: '.swiper-button-next',
			prevButton: '.swiper-button-prev',
			slidesOffsetBefore: 0,
			slidesOffsetAfter: 0,
			breakpoints: {
				992: {
					slidesPerView: 3,
					spaceBetween: 30
				},
				768: {
					slidesPerView: 3,
					spaceBetween: 30
				},
				480: {
					slidesPerView: 1.2,
					spaceBetween: 15
				}
			}
		});