//- ====================== SETUP HTML ==============================
- var page = "Mioto"
- var responsiveDevice = "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"
- var description = "description here"

//------------------------------ Javascript ------------------------------
- var jquery = true
- var jquery_link = "js/jquery.min.js"
- var modernizr = false
- var modernizr_link = "js/plugins/modernizr.min.js"
- var mainjs = true
- var swiperjs = false
- var ggmap = true
- var modaljs = true
//------------------------------ URL ------------------------------
- var Url = ""