if jquery
	script(src=`${Url}${jquery_link}`)
    
if modernizr
	script(src=`${Url}${modernizr_link}`)

if mainjs
	script(src=`${Url}js/main.js`)

if swiperjs
	script(src=`${Url}js/swiper.min.js`)

if ggmap 
	script(async defer type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD-RTGdN0MVE6QZ9bOA3DY4FGMekRsd9SM&callback=InitializeMap")

if modaljs 
	script(src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-modal/2.2.6/js/bootstrap-modalmanager.min.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-modal/2.2.6/js/bootstrap-modal.min.js")

