include config.pug
block Setting
	- var Header = true
	- var Footer = true
	- var Modal = true

doctype
html(lang="en")
	head
		block Head

	//- add class for wrapper
	- var bodyC = [];
	- var layoutClasses= [];
	- var headerClasses = [];
	- var bodyClasses = [];
	- var footerClasses = [];
	block Pages

	body(class=`${bodyC}`)
		//- a(href="#!" class="scroll-to-top" title="Về đầu trang")
		//- 	i

		div(canvas="container")
			if Layout
				div(class=`${layoutClasses}`)
					block Layout
					if Header
						section(class=`${headerClasses}`)
							block Header
					section(class=`${bodyClasses}`)
						block Body
					if Footer
						section(class=`${footerClasses}`)
							block Footer

		div(off-canvas="slidebar-1 right reveal")
			include sidebar_mobile.pug

		if Modal
			block Modal

		// Include Plugin
		block JavaScripts
			include javascript.pug

		block JavaScripts Extend
