extends layout1.pug

//- Setting
block Setting
	- var Layout = true
	- var Header = true
	- var Footer = false

block Head
	include head.pug

block Pages
	- bodyC.push("")
	- layoutClasses.push("mioto-layout bg-gray")
	- headerClasses.push("header")
	- bodyClasses.push("body")
	- footerClasses.push("footer")

//- Add Header
block Header
	include _layout/_common/header.pug

//- Add Body
block Body
	include _layout/_common/_header_owner.pug
	include _layout/_carowner/_list_cars.pug

//- Add Footer
block Footer
	include _layout/_common/footer.pug

block JavaScripts Extend
	script.
		//- var hMain = $(window).height() - 164;
		//- $( ".has-scroll" ).css({"height": hMain});
		
		//- var hSub = $(window).height() - 80;
		//- $( ".module-map" ).css({"height": hSub});
		
		
