extends layout1.pug

//- Setting
block Setting
	- var Layout = true
	- var Header = false
	- var Footer = false

block Head
	include head.pug

block Pages
	- bodyC.push("")
	- layoutClasses.push("mioto-layout bg-gray")
	- headerClasses.push("header")
	- bodyClasses.push("body has-filter no-pd-on-mobile is-backgroundOverflowBlocked")
	- footerClasses.push("footer")

//- Add Header
block Header
	include _layout/_common/header.pug

//- Add Body
block Body
	include _layout/_car/_map_list.pug

//- Add Footer
block Footer
	include _layout/_common/footer.pug

//- Add Modal


block JavaScripts Extend
	script.
		//- var hMain = $(window).height() - 164;
		//- $( ".has-scroll" ).css({"height": hMain});

		//- var hSub = $(window).height() - 80;
		//- $( ".module-map" ).css({"height": hSub});

	script.
		//- function filterM(){
		//- 	document.querySelector("body").className = "state-filter";
		//- 	document.querySelector("html").style.overflow = "hidden"
		//- }
		//- function filterC(){
		//- 	document.querySelector("body").className = "";
		//- 	document.querySelector("html").style.overflow = ""
		//- }

		//- function changeRange() {
		//- 	var width = '100%';

		//- 	var percent = document.getElementById('range-slider-input').value/5;

		//- 	if (percent > 95) percent -= 5;
		//- 	if (percent < 5) percent += 5;

		//- 	document.getElementById('range-fill').style.width = percent+ '%';
		//- }

		//- document.onload = changeRange();

		//- var rangeSlider = function(){
		//- 	var slider = $('.range-slider'),
		//- 	range = $('.range-slider__range'),
		//- 	value = $('.range-slider__value');

		//- 	slider.each(function(){

		//- 	value.each(function(){
		//- 		var value = $(this).prev().attr('value');
		//- 		$(this).html(value);
		//- 	});

		//- 	range.on('input', function(){
		//- 		$(this).next(value).html(this.value);
		//- 		});
		//- 	});
		//- };

		//- rangeSlider();
		var swiperItem = new Swiper('.swiper-car-inmap', {
			slidesPerView: 3,
			spaceBetween: 5,
			threshold: 15,
			speed: 600,
			slidesOffsetBefore: 0,
			slidesOffsetAfter: 0,
			nextButton: '.swiper-button-next',
			prevButton: '.swiper-button-prev',
			loop: true,
			breakpoints: {
				992: {
					slidesPerView: 2.5,
					spaceBetween: 30
				},
				768: {
					slidesPerView: 1.9,
					spaceBetween: 15
				},
				480: {
					slidesPerView: 1.2,
					spaceBetween: 10
				}
			}
		});
		var swiperDeal = new Swiper('.swiper-similar', {
			slidesPerView: 3,
			spaceBetween: 24,
			threshold: 15,
			speed: 600,
			nextButton: '.swiper-button-next',
			prevButton: '.swiper-button-prev',
			slidesOffsetBefore: 0,
			slidesOffsetAfter: 0,
			breakpoints: {
				992: {
					slidesPerView: 3,
					spaceBetween: 30
				},
				768: {
					slidesPerView: 3,
					spaceBetween: 30
				},
				480: {
					slidesPerView: 1.2,
					spaceBetween: 15
				}
			}
		});