extends layout.pug

//- Setting
block Setting
	- var Layout = true
	- var Header = true
	- var Footer = true
	- var Modal = true
	- var swiperjs = true

block Head
	include head.pug

block Pages
	- bodyC.push("")
	- layoutClasses.push("mioto-layout")
	- headerClasses.push("header")
	- bodyClasses.push("body")
	- footerClasses.push("footer")
	
//- Add Header
block Header
	include _layout/_common/header.pug

//- Add Body
block Body
	include _layout/_profile/_profilev2.pug

//- Add Footer
block Footer
	include _layout/_common/footer.pug

block JavaScripts Extend
	script.
		var swiperDeal = new Swiper('.swiper-similar', {
			slidesPerView: 4, 
			spaceBetween: 24, 
			threshold: 15, 
			speed: 600, 
			loop: true,
			nextButton: '.swiper-button-next', 
			prevButton: '.swiper-button-prev',
			slidesOffsetBefore: 0, 
			slidesOffsetAfter: 0, 
			preventClicks: false, 
			preventClicksPropagation: false,
			pagination: '.swiper-pagination',
			breakpoints: {
				991: {
					slidesPerView: 3,
				},
				767: {
					slidesPerView: 2, 
				},
				480: {
					slidesPerView: 1,
				}
			}
		});