extends layout.pug

//- Setting
block Setting
	- var Layout = true
	- var Header = true
	- var Footer = true

block Head
	include head.pug

block Pages
	- bodyC.push("")
	- layoutClasses.push("mioto-layout")
	- headerClasses.push("header")
	- bodyClasses.push("body")
	- footerClasses.push("footer")
	
//- Add Header
block Header
	include _layout/_common/header_account.pug

//- Add Body
block Body
	include _layout/_car/_receipt.pug

//- Add Footer
block Footer
	include _layout/_common/footer.pug


block JavaScripts Extend
	script.