extends layout.pug

//- Setting
block Setting
	- var Layout = true
	- var Header = true
	- var Footer = true
	- var swiperjs = true

block Head
	include head.pug

block Pages
	- bodyC.push("")
	- layoutClasses.push("mioto-layout")
	- headerClasses.push("header")
	- bodyClasses.push("body")
	- footerClasses.push("footer")
	
//- Add Header
block Header
	include _layout/_common/header_account.pug

//- Add Body
block Body
	include _layout/_common/_header_owner.pug
	include _layout/_carowner/_setting_photos.pug

//- Add Footer
block Footer
	include _layout/_common/footer.pug

//- Add Modal
block Modal

block JavaScripts Extend
	script.
		var swiperCar = new Swiper('.swiper-car', {
			slidesPerView: 2.4,
			centeredSlides: true,
			spaceBetween: 0,
			threshold: 15,
			speed: 600,
			loop: true,
			nextButton: '.swiper-button-next',
			prevButton: '.swiper-button-prev',
			slidesOffsetBefore: 0,
			slidesOffsetAfter: 0,
			pagination: '.swiper-pagination',
			paginationClickable: true,
			breakpoints: {
				992: {
					slidesPerView: 2,
				},
				768: {
					slidesPerView: 1.5,
				},
				480: {
					slidesPerView: 1.2,
				}
			}
		});
		//- var menu = document.querySelector('.sidebar-settings.show-on-med-and-down');
		//- var menuPosition = menu.getBoundingClientRect();
		//- var placeholder = document.createElement('div');
		//- placeholder.style.width = menuPosition.width + 'px';
		//- placeholder.style.height = menuPosition.height + 'px';
		//- placeholder.style.display = 'none';
		//- var isAdded = false;

		//- window.addEventListener('scroll', function() {
		//- 		if (window.pageYOffset >= menuPosition.top && !isAdded) {
		//- 				menu.classList.add('sticky');
		//- 				menu.parentNode.insertBefore(placeholder, menu);
		//- 				isAdded = true;
		//- 		} else if (window.pageYOffset < menuPosition.top && isAdded) {
		//- 				menu.classList.remove('sticky');
		//- 				menu.parentNode.removeChild(placeholder);
		//- 				isAdded = false;
		//- 		}
		//- });