block Sidebar Mobile

.sidebar-container
	.sidebar-header
		.avatar.avatar--m(title="title name")
			.avatar-img(style="background-image:url(images/avatar_default.png)")
		.snippet
			.item-title
				span Laguna Loire

	.sidebar-body
		ul
			li
				a(title="") Learn more
			li
				a(title="" href="#!") Sign in
			li
				a(title="" href="#!") Sign up