extends layout1.pug

//- Setting
block Setting
	- var Layout = true
	- var Header = true
	- var Footer = false
	- var ggmap = true

block Head
	include head.pug

block Pages
	- bodyC.push("")
	- layoutClasses.push("mioto-layout bg-gray")
	- headerClasses.push("header")
	- bodyClasses.push("body")
	- footerClasses.push("footer")

//- Add Header
block Header
	include _layout/_common/header.pug

//- Add Body
block Body
	include _layout/_common/_header_owner.pug
	include _layout/_trackinggps/_cars.pug

//- Add Footer
block Footer
	include _layout/_common/footer.pug

//- Add Modal


block JavaScripts Extend
	script.
		var map; 
		function InitializeMap() {
			var latlng = new google.maps.LatLng(10.823099, 106.629664);
			map = new google.maps.Map(document.getElementById('map-canvas'), {
				center: latlng,
				zoom: 16, 
			});
		};
		window.onload = InitializeMap;
