extends layout.pug

//- Setting
block Setting
	- var Layout = true
	- var Header = true
	- var Footer = true
	- var Modal = false
	- var swiperjs = true

block Head
	include head.pug

block Pages
	- bodyC.push("")
	- layoutClasses.push("mioto-layout")
	- headerClasses.push("header")
	- bodyClasses.push("body")
	- footerClasses.push("footer")

//- Add Header
block Header
	include _layout/_common/header.pug

//- Add Body
block Body
	include _layout/_tutorial/_tutorial_booking.pug

//- Add Footer
block Footer
	include _layout/_common/footer.pug

block JavaScripts Extend
	script.
		var swiperNewCar = new Swiper('.tutorial.step-box__wrap', {
			slidesPerView: 5,
			spaceBetween: 24,
			threshold: 15,
			loop: false,
			speed: 600,
			slidesOffsetBefore: 0,
			slidesOffsetAfter: 0,
			preventClicksPropagation: true,
			preventClicks: true,
			simulateTouch: 0,
			breakpoints: {
				991: {
					slidesPerView: 3.5,
					spaceBetween: 15,
					simulateTouch: 1,
					preventClicksPropagation: false,
					preventClicks: false,
					autoplay: 2000,
				},
				767: {
					slidesPerView: 2.5,
					spaceBetween: 15,
					autoplay: 2000,
				},
				480: {
					slidesPerView: 1.5,
					spaceBetween: 10,
					autoplay: 2000,
				}
			}
		});