/* Size scale */

.fontSize-xl {
  font-size: 40px;
}

.fontSize-l {
  font-size: 32px;
}

.fontSize-m {
  font-size: 16px;
}

.fontSize-s {
  font-size: 14px;
}

.fontSize-xs {
  font-size: 12px;
}

.font-11 {
  font-size: 11px;
}
.font-12 {
  font-size: 0.75rem;
}
.font-13 {
  font-size: 0.8125rem;
}
.font-14 {
  font-size: 0.875rem;
}
.font-16 {
  font-size: 1rem;
}
.font-17 {
  font-size: 17px;
}
.font-18 {
  font-size: 1.125rem;
}
.font-20 {
  font-size: 1.25rem;
}
.font-24 {
  font-size: 1.5rem;
}
.font-28 {
  font-size: 1.75rem;
}
.font-32 {
  font-size: 2rem;
}
.font-36 {
  font-size: 2.25rem;
}
.font-40 {
  font-size: 2.5rem;
}

/* Fixed scale */

.fontWeight-1 {
  font-weight: 100;
}

.fontWeight-2 {
  font-weight: 200;
}

.fontWeight-3 {
  font-weight: 300;
}

.fontWeight-4 {
  font-weight: 400;
}

.fontWeight-5 {
  font-weight: 500;
}

.fontWeight-6 {
  font-weight: 600;
}

.fontWeight-7 {
  font-weight: 700;
}

.fontWeight-8 {
  font-weight: 800;
}

.fontWeight-9 {
  font-weight: 900;
}

/* Text color */

.text-primary {
  color: #00a550;
}

.text-danger {
	color: $color-error;
}

.link-trip {
  color: $color-main;
  cursor: pointer;
  text-decoration: underline;
}
