h4.bltitle 
  display: block
  margin-bottom: 30px
  color: #141414
  font-size: 1.5em
  font-weight: 700
  line-height: 1.5
.info-company 
  @extend %d-flex-wrap
  .left 
    width: calc(25% - .75rem) 
    margin-right: 1.5rem 
    .main-logo
      background: #141414
      margin: 0 auto
      max-width: 250px
      padding: 25px
  .right
    width: calc(75% - .75rem)
    p 
      margin-bottom: .5rem
      @media (max-width: 767px)
        font-size: .875rem