//-- Profile - My card
.my-card
	&__sect
		padding: 30px 0
		background: $color-main
		@media (max-width: 576px)
			padding: 40px 0
		.m-container
			@media (max-width: 767px)
				max-width: none
				padding: 0 25px
	&__wrap
		@extend %d-flex
		justify-content: space-between
		.n-title
			color: #fff
			margin-bottom: 0
		.btn.btn-add-card
			color: $color-main
		.func-filter.plus
			top: auto
			bottom: 25px
			right: 25px
			border-radius: 99%
			width: 60px
			height: 60px
			box-shadow: 0 1px 10px rgba(0, 168, 50, 0.5)

.list-card__sect.module-trips
	padding: 30px 0
	.trip-container
		@media (max-width: 576px)
			padding: 0 25px
			margin-top: -50px
.box-card
	&__wrap
		min-height: 600px
	&__item
		width: 100%
		background: #fff
		margin-bottom: 1.5rem
		align-items: center
		padding: 15px 45px
		border-radius: 3px
		position: relative
		@media (max-width: 576px)
			padding: 15px 25px
			margin-bottom: 1rem
		&:hover, &:focus
			@media (max-width: 576px)
				outline: none
				a.func-remove
					opacity: 1
					outline: none
		a.func-remove
			position: absolute
			z-index: 2
			top: -15px
			right: -10px
			width: 32px
			height: 32px
			background: #fff
			@extend %d-flex-center
			border-radius: 99%
			opacity: 0
			box-shadow: 0 4px 10px 0 rgba(0,0,0,.1)
			transition: all .3s ease

		.logo-card
			width: 10%
			@media (max-width: 576px)
				width: 20%
		.info-card
			width: 80%
			padding-left: 60px
			@media (max-width: 576px)
				padding-left: 25px
			.card-name, .card-number
				@media (max-width: 576px)
					font-size: .875rem
		.valid-card
			color: #6e6e6e
			font-size: .825rem
		.card-name
			font-weight: 600
			text-transform: uppercase
		.card-type
			margin-left: 15px
			border: 1px solid #00a550
			color: #00a550
			font-size: .8125rem
			padding: .1rem .5rem
			display: inline-block
			@media (max-width: 576px)
				font-size: .75rem
				line-height: 16px
				padding: .1rem .5rem 0