$padding-sect: 45px 0px
.avg-ratings__sect, .nearby-car__sect, .start-adventure__sect 
  h3.title 
    color: #a9aaad
    font-weight: bold
    font-size: 1.25rem
    text-transform: none
    margin-bottom: .5rem
    @media (max-width: 767px)
      font-size: 1rem
.banner-home__sect.discover-banner__wrap
  // height: calc(100vh - 60px)
  background-size: cover
.avg-ratings__sect.review 
  background: #f7f8fb 
  padding: $padding-sect
  .list-cmt-wrap 
    margin-top: 1.5rem
    columns: 500px 2
    column-gap: 20px
    @media (max-width: 1199px)
      columns: auto 2
    @media (max-width: 767px)
      columns: auto 
      width: 100% 
      column-gap: 0
  .list-comments
    break-inside: avoid
    // width: calc(50% - .75rem) 
    padding: 0 
    margin-bottom: 1.125rem 
    border: none
    display: block
    @media (max-width: 767px)
      width: 100%
  
    .left
      width: 10%
      @media (max-width: 991px)
        width: 15%
      .img-fluid 
        border-radius: 100%

    .right
      width: 90%
      padding-left: 2.5%
      @media (max-width: 991px)
        width: 85%
      p.desc 
        font-size: .875rem
    
    .list-wrap 
      @extend %d-flex
      width: 100%
      padding: 1rem 1.25rem
      background: #fff
      border-radius: 5px
      box-shadow: 0px 1px 3px rgba(0,0,0,.2)
.map-views__sect
  padding: $padding-sect 
  h4.n-title 
    color: #141414
    font-size: 1.75rem
    text-align: center
    font-weight: 700
    margin-bottom: 3rem
    @media (max-width: 767px)
      font-size: 1rem
  .module-map.map-views__wrap 
    width: 100% 
    float: none
  .map-container, .map-result
    height: 100vh
.nearby-car__sect 
  padding: $padding-sect
  h3.title 
    margin-bottom: 2rem
  .list-areas 
    @extend %d-flex-wrap 
    width: 100%
    .area
      width: calc(33.33% - 1.5rem)
      border: 1px solid #00a550 
      border-radius: 25px 
      margin-bottom: 1.5rem
      padding: .75rem 1.25rem
      
      &:not(:nth-child(3n))
        margin-right: 2.25rem
      @media (max-width: 991px)
        width: calc(50% - .75rem)
        &:not(:nth-child(3n))
          margin-right: 0 
        &:not(:nth-child(2n))
          margin-right: 1.5rem
      @media (max-width: 480px)
        width: 100%
        margin-bottom: 1rem
        &:not(:nth-child(2n))
          margin-right: 0
      &:hover, &:focus 
        cursor: pointer
      p 
        font-size: .875rem
        font-weight: bold
        color: #00a550
        @media (max-width: 991px)
          font-size: .75rem 
.start-adventure__sect
  background-repeat: no-repeat 
  background-size: cover 
  background-position: bottom
  height: 85vh
  padding-top: 45px
  @media (max-width: 1399px)
    height: 90vh
  @media (max-width: 1199px)
    height: 550px
  @media (max-width: 991px)
    height: 450px
  @media (max-width: 576px)
    height: 55vh
  .start-adventure__wrap 
    display: flex 
    width: 100%
    align-items: center
    flex-flow: column wrap 
  h3.n-title 
    margin-bottom: 1rem 
    @media (max-width: 576px)
      font-size: 1.25rem 
      margin-bottom: .75rem
  .btn.btn--l 
    font-size: 1.125rem
    @media (max-width: 576px)
      font-size: 1rem


    