
//-- Component
.wrap-input
	.react-bootstrap-daterangepicker-container
		width: 100%
		position: relative
		z-index: 2
h3.title-car //-- Header Title Small
	color: $color-second
	font-weight: bold
	font-size: 1.25rem
	margin-bottom: .5rem
	&:hover, &:focus
		cursor: default
	@media (max-width: 767px)
		font-size: 1rem
h3.n-title //-- Header Title Default
	color: $color-base
	font-size: 1.75rem
	text-align: center
	font-weight: 700
	margin-bottom: 3rem
	&:hover, &:focus
		cursor: default
	@media (max-width: 480px)
		font-size: 1.5rem
		margin-bottom: 2rem

//-- Arrow Slider for Desctination
.destination__sect
	.m-container
		@media(max-width: 767px)
			padding: 0 15px
	.swiper-button-next, .swiper-button-prev
		background-image: none
		width: 45px
		height: 45px
		transition: all .3s ease-in
		top: 60%
		opacity: .5
		@media (max-width: 576px)
			display: none
		&:hover, &:focus
			opacity: 1
		i.i-arr
			background-repeat: no-repeat
			width: 45px
			height: 45px
	.swiper-button-next
		right: 8vw
		@media (max-width: 1399px)
			// right: 2.5%
			right: 1.5vw
		@media (max-width: 1199px)
			right: -.25vw
	.swiper-button-prev
		left: 8vw
		@media (max-width: 1399px)
			// left: 2.5%
			left: 1.5vw
		@media (max-width: 1199px)
			left: -.25vw
//-- Arrow Slider for Car, Blog
.car-area__sect, .blog__sect, .properties .props-body
	.swiper-button-next, .swiper-button-prev
		position: absolute
		top: 45%
		z-index: 40
		background: none
		background-color: rgba(0,160,80,.8)
		width: 32px
		height: 32px
		display: flex
		align-items: center
		padding: 11px
		cursor: pointer
		border-radius: 100%
		right: 12vw
		transition: all .3s ease
		@media(max-width: 1399px)
			right: 2.5vw
		@media(max-width: 1199px)
			right: .5vw
		@media (max-width: 991px)
			right: 2.75%
		@media(max-width: 576px)
			display: none
		&:focus, &:hover
			outline: none
	.swiper-button-prev
		left: 12vw
		@media(max-width: 1399px)
			left: 2.5vw
		@media(max-width: 1199px)
			left: .5vw
		@media (max-width: 991px)
			left: 2.75%
	.swiper-button-prev i.i-arr, .swiper-button-next i.i-arr
		display: block
		position: relative
		width: 10px
		height: 10px
		background: none
		margin: 24px auto
		transform: rotate(135deg)
		border-left: none
		border-top: none
		border-right: 2px #fff solid
		border-bottom: 2px #fff solid
		left: 2.5px
	.swiper-button-next i.i-arr
		transform: rotate(-45deg)
		left: -2.5px
.car-area__sect, .blog__sect , .newspaper__sect , .properties .props-body, .gallery-top
	.swiper-pagination-bullet
		width: 4px
		height: 4px
		@media (max-width: 576px)
			width: 3px
			height: 3px
	.swiper-pagination-bullet-active
		background: #6c6c6e
.blog__sect
	.swiper-button-next, .swiper-button-prev
		top: 42%
		right: 9.5vw
		@media (max-width: 1399px)
			right: 2.5vw
		@media (max-width: 576px)
			display: none
			right: .5%
			top: 38%
	.swiper-button-prev
		left: 9.5vw
		@media (max-width: 1399px)
			left: 2.5vw
		@media (max-width: 576px)
			display: none
			left: .5%



//-- Main Section
.banner-home__sect
	height: calc(100vh - 60px)
	background-size: cover
	background-position: center
	background-repeat: no-repeat
	position: relative
	@extend %d-flex-center
	@media (max-width: 1199px)
		height: 708px
	@media (max-width: 991px)
		height: 964px
	@media (max-width: 767px)
		height: 600px
	&:after
		content: ""
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		background: rgba(0,0,0,.25)
		z-index: 0
	.container
		width: 70vw
		position: relative
		z-index: 1
		display: flex
		flex-direction: column
		align-items: center
		justify-content: center
		@media (max-width: 1399px)
			width: 75vw
		@media (max-width: 1199px)
			width: 85vw
		@media (max-width: 991px)
			width: 95vw
		@media (max-width: 767px)
			width: 80vw
			height: 100%
		@media (max-width: 480px)
			width: 90vw
	h1.slogan
		font-size: 2.5rem
		line-height: 50px
		color: #fff
		font-weight: bold
		text-align: center
		margin-bottom: 1.5rem
		@media (max-width: 1399px)
			font-size: 2.25rem
		@media (max-width: 991px)
			font-size: 2rem
		@media (max-width: 767px)
			font-size: 1.75rem
			margin-bottom: 1rem
			line-height: 42px
		span.dash
			@media (max-width: 576px)
				display: none
		span.break
			@media (max-width: 576px)
				word-break: break-all
				white-space: pre
	.inside
		border: 1px solid #fff
		border-radius: 25px
		background: rgba(0,0,0,.5)
		padding: 5px 25px
		color: #fff
		width: 100%
		margin-bottom: 3rem
		position: relative
		@media (max-width: 767px)
			flex-wrap: wrap
			align-items: flex-start
			margin-bottom: 3rem
			padding: 30px
			border-radius: 5px
		@media (max-width: 480px)
			padding: 10px 15px 20px

	.form-search
		@extend .d-flex
		flex: 1 1 50%
		position: relative
		height: 45px
		justify-content: flex-start
		@media (max-width: 767px)
			width: 100%
			flex: auto
			margin-bottom: 0.5rem
			border-bottom: 1px solid #fff
		&:after
			content: ""
			position: absolute
			right: 0
			width: 1px
			height: 30px
			background: #fff
			@media (max-width: 767px)
				display: none
		.blah
			height: 45px
			position: absolute
			left: 5%

		&.has-placeholder
			input::-webkit-input-placeholder
				color: #fff
	.fn-search
		flex: 0 5%
		@extend .d-flex
		padding-left: 20px
		@media (max-width: 767px)
			width: 100%
			padding-left: 0
			margin-top: .5rem
			flex: auto
		.btn-search
			@extend .d-flex
			background: white
			width: 35px
			height: 35px
			border-radius: 100%
			@media (max-width: 767px)
				width: 100%
				border-radius: 3px
				height: auto
				padding: .5rem .75rem
			> span
				display: none
				@media (max-width: 767px)
					color: #00a550
					font-weight: 500
					padding-left: 5px
					display: inline-block
					font-size: .875rem
	.banner-promo__wrap
		width: 55%
		@media (max-width: 1399px)
			width: 45%
		@media (max-width: 767px)
			width: 60%
			height: auto
		@media (max-width: 480px)
			width: 80%
			height: auto
		.fix-img
			padding-bottom: 38%
			box-shadow: 0px 1px 7px rgba(0,0,0,.3)
	//-- Insurance
.insurance-partner
	position: absolute
	bottom: -80px
	padding: .5rem 6rem
	background: #fff
	border-radius: 30px
	z-index: 2
	text-align: center
	@media (max-width: 576px)
		// bottom: -90px
		padding: .75rem 4rem
	p.lstitle
		color: #6e6e6e
		font-weight: 500
		font-size: .875rem
		margin-bottom: .5rem
		@media (max-width: 576px)
			font-size: .825rem
	.img-fluid
		@media (max-width: 576px)
			width: 80%

//-- New search in home
label.home-label
	font-size: 14px
	font-weight: 500
	color: #00a550
	width: 100%
	@media (max-width: 1399px)
		font-size: 12px
.inside.inside-new
	border: 1px solid #fff
	border-radius: 40px
	background: rgba(0,0,0,.5)
	padding: 15px 25px
	color: #fff
	width: 100%
	margin-bottom: 3rem
	position: relative
	@media (max-width: 1399px)
		padding: 10px 30px
		border-radius: 30px
	@media (max-width: 767px)
		flex-wrap: wrap
		align-items: flex-start
		margin-bottom: 3rem
		padding: 30px
		border-radius: 5px
	@media (max-width: 480px)
		padding: 20px
	.form-search
		@extend .d-flex
		flex: 1 1 50%
		position: relative
		justify-content: flex-start
		flex-wrap: wrap
		height: auto
		@media (max-width: 767px)
			width: 100%
			flex: auto
			margin-bottom: 1rem
			border-bottom: 1px solid #fff
		@media (max-width: 576px)
			margin-bottom: .5rem
		&:last-child
			@media (max-width: 767px)
				margin-bottom: 0
		&:after
			content: ""
			position: absolute
			right: 0
			width: 1px
			height: 35px
			background: #fff
			@media (max-width: 767px)
				display: none
		.blah
			height: 45px
			position: absolute
			left: 5%
		&.location
			> div
				width: 100%
			input
				background-color: transparent
				padding: 0 10px 0 0
				padding-left: 0!important
				color: #fff
				font-size: 18px
				@media (max-width: 1399px)
					font-size: 16px
				@media (max-width: 991px)
					font-size: 14px
				@media (max-width: 767px)
					font-size: 16px
					padding-right: 0
		&.has-timer
			padding-left: 20px
			font-size: 18px
			@media (max-width: 991px)
				padding-left: 10px
			@media (max-width: 767px)
				padding-left: 0
			> div
				padding-left: 0
			.d-flex
				width: 100%
				justify-content: flex-start
			.wrap-input, .wrap-select
				width: auto
.wrap-input.home-datetimerange
	span
		cursor: pointer
		@extend %align-center
		letter-spacing: 1.15px
		@media (max-width: 1399px)
			font-size: 16px
		@media (max-width: 991px)
			font-size: 14px
		@media (max-width: 767px)
			padding: 0
			font-size: 16px
.wrap-select
	&.home-select
		@extend %align-center
		padding: 0
		background: transparent
		border: none
		height: auto
		width: auto
		padding-left: 10px
		position: relative
		&:before
			@extend %pseudo-e
			@extend %i-chevron-down
			transform: rotate(45deg) scale(.66157)
			left: auto
			right: 0
			top: 1.5px
			@media (max-width: 1399px)
				top: 0px
			@media (max-width: 1199px)
				top: -0.5px
			@media (max-width: 991px)
				top: -1.5px
			@media (max-width: 767px)
				top: 1.5px
			@media (max-width: 480px)
				top: 2px

		select
			color: #fff
			padding: 0px 24px 0 5px
			font-size: 18px
			cursor: pointer
			letter-spacing: 1.15px
			width: auto
			@media (max-width: 1399px)
				font-size: 16px
			@media (max-width: 991px)
				font-size: 14px
			@media (max-width: 767px)
				font-size: 16px
				line-height: 24px
			@media (max-width: 480px)
				line-height: 27px
		option
			background: rgba(0,0,0,.8)
.home-datetimerange
	i.i-chevron-down
		@extend %i-chevron-down
		transform: rotate(45deg) scale(.75)
		margin-left: 10px
		margin-top: -5px
		@media (max-width: 767px)
			margin-left: 10px


.car-area__sect
	position: relative
	padding: 45px 0
	@media (max-width: 767px)
		padding: 30px 0
	&.no-pd-bottom
		padding-bottom: 0
	&.has-insurance
		padding: 100px 0 45px
	.swiper-container
		z-index: 0


//-- Destination
.destination__sect
	position: relative
	padding: 50px 0
	@media (max-width: 767px)
		padding: 25px 0
	.dest-item
		//-- @extend .d-flex
		//margin-bottom: 1rem
		.dest-img
			width: calc(20% - .5rem)
			margin-right: .625rem
			border-radius: 100%
			position: relative
			overflow: hidden
			transition: all .3s ease-in-out
			-webkit-mask-image: -webkit-radial-gradient(white, black)
			&:last-child
				margin-right: 0
			&:hover, &:focus
				cursor: pointer
				.fix-img
					overflow: hidden
					img
						transform: scale(1.1)
			h3
				color: #ffffff
				font-size: $size-med
				position: absolute
				top: 50%
				left: 50%
				transform: translate(-50%, -50%)
				z-index: 2
				font-weight: bold
				width: 100%
				padding: 0 15px
				text-align: center
				@media (max-width: 576px)
					font-size: .875rem
		.fix-img
			padding-bottom: 100%
			&:before
				content: ''
				position: absolute
				top: 0
				left: 0
				z-index: 1
				width: 100%
				height: 100%
				background: rgba(0,0,0, .4)
				border-radius: 100%
			img
				border-radius: 100%
				transition: all .3s ease-in-out
//== Tutorial Section
.tutorial__sect
	position: relative
	background: #e5f6ea
	padding: 50px 0
	border-top: 1px solid #e8eaef
	border-bottom: 1px solid #e8eaef

	@media (max-width: 767px)
		padding: 35px 0

	.ex-container
		text-align: center
		position: relative
		// z-index: 1
	.step-box__wrap
		@extend .d-flex
		align-items: flex-start
		margin-bottom: 1.5rem
		flex-wrap: wrap
		@media (max-width: 576px)
			margin-bottom: 0rem
		.step-box__item
			width: calc(25% - 2.5rem)
			margin-right: 3.3333rem
			display: flex
			flex-direction: column
			align-items: center
			@media (max-width: 1199px)
				width: calc(25% - 1rem)
				margin-right: 1.3333rem
			@media (max-width: 576px)
				width: 50%
				margin-right: 0
				margin-bottom: .5rem
			&:last-child
				margin-right: 0
				@media (max-width: 576px)
					margin-bottom: 0
			// &:hover, &:focus
			//   cursor: pointer

		.step-img
			width: 90%
			margin-bottom: 1.5rem
			@media (max-width: 1399px)
				width: 70%
			@media (max-width: 1199px)
				width: 80%
			@media (max-width: 991px)
				width: 85%
				margin-bottom: 1.1rem
			@media (max-width: 767px)
				width: 95%
			@media (max-width: 576px)
				width: 65%
				margin-bottom: .5rem

		.step-detail
			text-align: center
			h3
				// color: #6c6c6e
				color: #6c6c6e
				font-weight: 600
				font-size: 1rem
				line-height: 24px
				margin-bottom: .5rem
				@media (max-width: 576px)
					font-size: .875rem
			p
				font-size: $size-sm
				margin-bottom: .5rem
	.s-all
		padding-top: 0
		margin: 0 15px
		@media (max-width: 576px)
			padding-top: 5px
			justify-content: flex-end

//-- Owner Section
.owner__sect
	background-size: cover
	background-repeat: no-repeat
	background-position: center 58%
	.ex-container
		width: 100%
		min-height: 500px
		display: flex
		justify-content: flex-end
		align-items: center
		@media (max-width: 767px)
			min-height: 400px
		@media (max-width: 576px)
			background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,0))
	.inner__wrap
		max-width: 400px
		color: #ffffff
		@media (max-width: 480px)
			max-width: none
		h2
			font-weight: 700
			margin-bottom: 20px
			line-height: 1.25
			font-size: 2.5rem
			&:hover, &:focus
				cursor: default
			@media (max-width: 767px)
				font-size: 2rem
		p
			font-size: 1.125rem
			margin-bottom: 30px
			line-height: 1.5
			@media (max-width: 991px)
				font-size: 1rem
			&:hover, &:focus
				cursor: default
		.has-2btn
			.btn.btn--m
				@media (max-width: 480px)
					font-size: .875rem
				&:first-child
					margin-right: 1rem
					@media (max-width: 480px)
						margin-right: 10px
//-- Blog Section
.blog__sect
	padding: 50px 0
	position: relative
	background-repeat: no-repeat
	background-size: cover
	min-height: 500px
	@media (max-width: 767px)
		padding: 30px 0

.blog__wrap
	//-- display: flex
	.blog__item
		width: calc(33.33% - 1.5rem)
		margin-right: 2.25rem
		overflow: hidden
		-webkit-mask-image: -webkit-radial-gradient(white, black)
		margin-bottom: 3.5rem
		&:last-child
			margin-right: 0px
		@media (max-width: 767px)
			margin-bottom: 2rem
		.fix-img
			padding-bottom: 56.25%
			border-radius: 25px
			overflow: hidden
			-webkit-mask-image: -webkit-radial-gradient(white, black)
			img
				border-radius: 25px
		.blog-img
			position: relative
			transition: all .3s ease
			border-radius: 25px
			img
				transition: all .3s ease
			&:hover, &:focus
				cursor: pointer
				img
					transform: scale(1.2)
		.title-blog
			position: absolute
			top: 50%
			left: 50%
			transform: translate(-50%, -50%)
			padding: .5rem .75rem
			width: 80%
			background: rgba(0,0,0,.45)
			text-align: center
			z-index: 1
			@media (max-width: 576px)
				width: 85%
			h3
				font-size: $size-med
				color: #ffffff
				font-weight: 700
				line-height: 24px
				overflow: hidden
				-o-text-overflow: ellipsis
				text-overflow: ellipsis
				word-wrap: normal
				max-height: 72px
				display: -webkit-box
				-webkit-line-clamp: 3
				-webkit-box-orient: vertical
		.blog-detail
			display: flex
			align-items: center
			flex-direction: column
			padding: 10px 0
			.bar-line
				width: 10vw
				height: 2px
				background: $color-main
				margin-top: 1.5rem
				margin-bottom: 1rem
				@media (max-width: 767px)
					width: 30vw
			.content
				// text-align: center
				padding-top: .5rem
				p
					font-size: $size-sm
					margin-bottom: .5rem
					overflow: hidden
					display: -webkit-box!important
					-o-text-overflow: ellipsis
					text-overflow: ellipsis
					word-wrap: break-word
					-webkit-box-orient: vertical
					-webkit-line-clamp: 6
					line-height: 20px
					max-height: 120px
					@media (max-width: 480px)
						font-size: .75rem
					&:hover, &:focus
						cursor: default
			.group-info
				width: 100%
				@extend .d-flex
				justify-content: space-between
				.time-post
					i.ic.ic-clock
						background-position: -238px -72px
						background-size: 300px
						width: 18px
						height: 18px
					span
						font-size: 13px
						color: $color-main
						margin-left: 5px
.newspaper__sect
	position: relative
	background-size: cover
	padding: 60px 0
	background-repeat: no-repeat
	-webkit-transform: translate3d(0,0,0)
	background-position: center
	@media (max-width: 767px)
		padding: 30px 0
	.news-grid__wrap
		// @extend .d-flex
		// flex-wrap: wrap
	.news__item
		width: calc(33.33% - 2rem)
		margin-right: 3rem
		box-shadow: 0 2px 8px rgba(0,0,0,.3)
		transition: all .3s ease
		margin-bottom: 2rem
		@media (max-width: 991px)
			width: calc(33.33% - 1rem)
			margin-right: 1.5rem
		@media (max-width: 767px)
			width: 100%
			margin-bottom: 2.5rem
			margin-right: 0
			// margin-bottom: 1.125rem
		&:last-child
			margin-right: 0
			@media (max-width: 767px)
				margin-bottom: 0
		&:hover, &:focus
			cursor: pointer
			.fix-img
				&:after
					opacity: 1
					visibility: visible

	.fix-img
		padding-bottom: 62%
		&:after
			content: ''
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 100%
			background: rgba(255,255,255,.1)
			opacity: 0
			visibility: hidden
			transition: all .3s ease
	.news-img
		position: relative
	.news-logo
		position: absolute
		bottom: -10px
		right: 0
		width: 5rem
		height: 4rem
		padding: 10px
		background: $color-third
		@extend .d-flex
		img
			max-width: 100%
			height: auto
.down-app__sect
	background-position: 30%
	background-size: cover
	background-repeat: no-repeat
	.ex-container
		@extend .d-flex
		height: 600px
		flex-wrap: wrap
		@media (max-width: 991px)
			min-height: 425px
	.app-content
		width: calc(60% - 1rem)
		margin-right: 2rem
		@media (max-width: 1199px)
			padding-left: 25px
		@media (max-width: 991px)
			width: 60%
			margin-right: 0
		@media (max-width: 767px)
			width: 100%
			margin-right: 0
			padding-left: 0
			padding-top: 30px
			text-align: center
		h2
			font-weight: 700
			margin-bottom: 20px
			line-height: 1.25
			font-size: 2.5rem
			&:hover, &:focus
				cursor: default
			@media (max-width: 991px)
				font-size: 1.875rem
			@media (max-width: 767px)
				font-size: 1.75rem
			@media (max-width: 480px)
				font-size: 1.5rem
		p
			font-size: 1.125rem
			margin-bottom: 30px
			line-height: 1.5
			@media (max-width: 991px)
				font-size: 1rem
			&:hover, &:focus
				cursor: default
	.app-img
		width: calc(40% - 1rem)
		margin-right: 0
		text-align: center
		@media (max-width: 991px)
			width: 40%
		@media (max-width: 767px)
			width: 100%
		img
			max-width: 80%
			height: auto
			@media (max-width: 767px)
				max-width: 35%
			@media (max-width: 576px)
				max-width: 50%
	.store
		display: flex
		@media (max-width: 991px)
			max-width: 320px
		@media (max-width: 767px)
			max-width: none
			justify-content: space-around
			width: 100%
			margin-bottom: 2rem
			padding: 0 35px
		.func-app:first-child
			margin-right: 10px





