.order-2
  @media (max-width: 767px)
    order: 2 
.section-tutorial 
  &__title
    background: #00a550
    position: relative
    color: white
    .main_title
      flex-direction: column
      align-items: center
      justify-content: center 
      width: 100%
      padding: 60px 15px
    .tutorial_tabs
      align-items: center
      justify-content: center 
      padding-bottom: 20px
      a
        color: darkgray
        font-weight: bold
        font-size: 18px
        position: relative
        transition: all .3s ease 
        &.active, &:hover, &:focus 
          color: #fff
      a:first-child
        margin-right: 2rem
    h3.title 
      font-size: 2.25rem 
      color: white
    .desc 
      width: 50%
      text-align: center
      @media (max-width: 767px)
        width: 100%
  &__detail
    padding-top: 100px
    max-width: 1140px
    position: relative
    margin: 0 auto
    @media (max-width: 576px)
      padding-top: 60px
    .wrap-tutorial
      width: 100%
      @media (max-width: 576px)
        padding: 0px 15px
    .step
      display: flex 
      width: 100%
      flex-wrap: wrap
      position: relative
      padding-bottom: 100px

      // Frame
      .left, .right
        width: 50%
        display: flex 
        justify-content: flex-end
        align-items: center
        padding: 0 50px
        @media (max-width: 767px)
          width: 35%
          justify-content: center
          padding: 0 35px 
        @media (max-width: 576px)
          width: 30%
          padding: 0px
      .left.order-2
        @media (max-width: 767px)
          width: 65%
        @media (max-width: 576px)
          width: 70%
      .left
        @media (max-width: 480px)
          justify-content: normal
      .right 
        justify-content: flex-start
        @media (max-width: 767px)
          width: 65%
        @media (max-width: 576px)
          width: 70%
        &.order-1 
          @media (max-width: 767px)
            width: 35%
          @media (max-width: 576px)
            width: 30%
          @media (max-width: 480px)
            justify-content: normal

      //Icon       
      .tutorial-img
        .ict-large 
          @media (max-width: 576px)
            background-size: 500px 250px 
            width: 80px
            height: 80px
          &.ict-login
            @media (max-width: 576px)
              height: 84px
              background-position: -5px -2px
          &.ict-search
            @media (max-width: 576px)
              width: 90px
              height: 92px
              background-position: -87px -4px
          &.ict-deposit
            @media (max-width: 576px)
              background-position: -181px -4px
          &.ict-pickup
            @media (max-width: 576px)
              background-position: -268px -4px
          &.ict-return
            @media (max-width: 576px)
              background-position: -355px -3px
              height: 86px
          &.ict-register
            @media (max-width: 576px)
              background-position: -95px -102px
              height: 84px
              width: 82px
          &.ict-register
            @media (max-width: 576px)
              background-position: -95px -102px
              height: 84px
              width: 82px
          &.ict-checked
            @media (max-width: 576px)
              background-position: -4px -102px
              height: 81px
              width: 86px
          &.ict-allow
            @media (max-width: 576px)
              background-position: -185px -102px
              height: 84px
              width: 81px
          &.ict-send-car
            @media (max-width: 576px)
              background-position: -269px -102px
              width: 86px
              height: 92px
        .ict.ict-car 
          background-position: -256px 0
          width: 150px
          height: 128px
          background-size: 800px 400px
          @media (max-width: 576px)
            background-size: 500px 250px 
            width: 94px
            height: 100px
            background-position: -160px 0

      //Content
      .tutorial-content
        width: 90%
        display: flex 
        flex-wrap: wrap 
        align-items: center
        position: relative
        padding: 25px 
        box-shadow: 5px 5px 1px #00a550
        border: 1px solid rgba(87, 221, 152, 0.37)
        @media (max-width: 991px)
          width: 100%
          padding: 15px 25px
        @media (max-width: 576px)
          padding: 15px
          margin-left: 25px
        @media (max-width: 480px)
          margin-left: 15px
          padding: 10px 15px
        .title-tt
          width: 100%
          font-size: 1.65rem
          font-weight: bold
          color: #141414
          margin-bottom: .5rem
          @media (max-width: 991px)
            font-size: 1.45rem
          @media (max-width: 576px)
            font-size: 1.25rem
        .desc 
          width: 100%
          p 
            font-size: 14px
            text-align: justify
            margin-bottom: .5rem
            @media (max-width: 991px)
              font-size: 13.5px
            @media (max-width: 576px)
              font-size: 12px
            &:last-child 
              margin-bottom: 0px
          span.rent 
            background-color: rgba(0,0,0,.5)
            padding: 6px 10px
            color: #fff
            font-size: .875em
            border-radius: 20px
            display: inline-block 
            margin-right: 2px
        .number-step
          position: absolute
          right: 25px
          top: -35px
          font-size: 3.5rem
          font-weight: bold
          color: rgba(0, 165, 80, 0.85)
          z-index: 2
          border: 1px solid #fff
          background: #fff
          width: 60px
          height: 60px
          display: flex
          border-radius: 100%
          justify-content: center
          align-items: center
          @media (max-width: 991px)
            font-size: 3rem
          @media (max-width: 576px)
            font-size: 2.5rem
            top: -25px 
            width: 45px
            height: 45px
            right: 15px

      // Line-Center
      .line-dot 
        position: absolute
        top: 0
        left: 50%
        background: #57dd98
        width: 5px
        height: 100% 
        @media (max-width: 767px)
          left: 35%
        @media (max-width: 576px)
          left: 30%
          width: 4px
        @media (max-width: 480px)
          width: 3px
        &.bg-gradient-green
          background: linear-gradient(#fff 33%, #57dd98 33%)
        &.bg-gradient-green-reverse
           background: linear-gradient(#57dd98 30%, #fff 30%)
        &:before 
          content: ""
          position: absolute
          top: 25%
          left: -8px
          width: 25px
          height: 25px
          background: #00a550
          border-radius: 100%
          border: 5px solid #57dd98
          transform: translateX(-8px) translateY(25%)
          @media (max-width: 576px)
            left: -5px
            width: 15px
            height: 15px
            border: 4px solid #57dd98
            transform: translateX(-5px) translateY(25%)
          @media (max-width: 480px)
            left: -2px 
            width: 10px
            height: 10px
            width: 10px
            height: 10px
            border: 3px solid #57dd98
           


