$h-cell: 62px 
$h-cell-med: 48px 
$wCar_xlarge: 106px
$mg_r: 10px
$wCar_large: 92px
$w-car-med: 78px
// $w-car-small: 16%
$w-desc-xlarge: 6.8vw
$w-desc-large: 12.4vw
$w-desc-med: 12vw
$mg_5: 5px 
$sumL_width: $wCar_xlarge + $mg_r
$sumTabL_width: $wCar_large + $mg_5
 
.section_manage
  position: relative
  padding: 45px 15px
  width: 100%
  margin-right: auto
  margin-left: auto
  @media (max-width: 480px)
    padding: 25px 10px 
  .main-title 
    @include flexbox()
    justify-content: center
    width: 100%
    h3.tt 
      font-size: 2em 
      font-weight: bold 
      margin-bottom: 35px
      @media (max-width: 767px)
        font-size: 1.5em 
        margin-bottom: 15px 
  .content-container
    display: flex
    align-items: center 
    margin-bottom: 25px
    flex-wrap: wrap
  .space-control 
    width: $sumL_width
    min-height: 50px
    @media (max-width: 991px) 
      width: $sumTabL_width
    @media (max-width: 767px)
      width: unset
  .calendar-container 
    display: flex 
    //justify-content: flex-end
    width: 50%
    @media (max-width: 1199px)
      width: 100%
      margin-left: $sumL_width
      margin-top: 15px
    @media (max-width: 991px)
      margin-left: $sumTabL_width
    @media (max-width: 767px)
      margin-left: 0px
  .list-status 
    @include flexbox()
    //justify-content: space-around
    align-items: center 
    flex-wrap: wrap 
    width: 100% 
    height: 50px 
    @media (max-width: 480px)
      height: 55px
    li 
      position: relative
      font-size: 13px 
      color: #141414
      padding-left: 20px 
      width: 25%
      //margin-right: 10px
      @media (max-width: 991px) 
        margin-bottom: 5px 
   
      &.status-1:before, &.status-5:before, &.status-2:before, &.status-6:before, &.status-7:before, &.status-8:before, &.status-9:before
        position: absolute
        top: 22%
        left: 0px
        content: ""
        background-color: #fff
        width: 10px
        height: 10px
        border: solid 1px #e8eaef
      &.status-1:before
        background-color: #f8f9fb
      &.status-8:before
        background-color: #fde28b
      &.status-9:before
        background-color: #fba86d
      &.status-5:before
        background-size: 80%
        background-image: url(../images/stripe-red4.png)
      &.status-2:before
        background-image: url(../images/stripe.png)
        background-size: 500%
        background-color: darkgray
      &.status-3 
        color: #141414  
        padding-left: 0px                      
      &.status-4 
        color: #00a550
        padding-left: 0px  
      &.status-6:before, &.status-7:before
        background-image: url($main_sprites)
        background-repeat: no-repeat
        width: 15px
        height: 15px
        background-size: 250px
        background-position: -151px -90px
        background-color: transparent 
        border: none
      &.status-7:before
        background-position: -185px -90px
  //=== Search-bar 
  .filter-map-container
    display: flex 
    align-items: center 
    width: 40%
    // justify-content: flex-end
    position: relative
    //margin-right: 15px
    @media (max-width: 1199px)
      width: 50% 
    @media (max-width: 991px)
      width: 80% 
    @media (max-width: 767px)
      width: 100%
    .switch-sort
      // margin-bottom: 20px 
      margin-right: 10px 
      .btn.btn--m 
        padding: 10px 
        display: flex 
        align-items: center
    .col-1
      width: 280px
      order: 2 
      @media (max-width: 1199px)
        width: 300px
      @media (max-width: 767px)
        width: 62%
      .line-form 
        margin-bottom: 0px
      .wrap-input.has-ico-search 
        input 
          width: calc(100% + 30px)
          padding-right: 30px
          @media (max-width: 991px)
            font-size: 13px 
          @media (max-width: 480px)
            font-size: 12px
    .col-2
      width: 160px
      @media (max-width: 767px)
        width: 31% 
      @media (max-width: 480px)
        width: 200px
      .line-form 
        margin-bottom: 0px
        display: flex
        align-items: center
        width: 100%
        .wrap-select 
          margin-right: 10px
          select 
            @media (max-width: 991px)
              font-size: 13px
            @media (max-width: 480px)
              font-size: 12px
        a.btn--m
          font-size: 1.125rem
          background-color: #f2fbf6
          border: 1px solid #00a550
          padding: 0 10px 
          &:hover, &:focus
            background-color: #e6f6ee
  //=== Calendar Timetable     
  .manage_wrap 
    width: 100%
    position: relative
  .swiper-button-next, .swiper-button-prev
    position: absolute
    top: 36px
    z-index: 40
    background: none 
    background-color: #fff
    width: 25px 
    height: 25px
    display: flex 
    align-items: center
    padding: 5px
    cursor: pointer
    border-radius: 100%
    right: -.5%
    box-shadow: 1px 1px 4px rgba(0,0,0,.3)
    transition: all .3s ease
    @media (max-width: 576px)
      right: -1.5%
    &:hover, &:focus 
      i.i-arr
        border-right: 2px #00a550 solid
        border-bottom: 2px #00a550 solid
  .swiper-button-prev
    left: 48px
    transform: translateX(48px)
    right: auto 
    @media (max-width: 991px)
      left: 44px
      transform: translateX(44px)
    @media (max-width: 767px)
      left: 35px
      transform: translateX(35px)
  .swiper-button-prev i.i-arr, .swiper-button-next i.i-arr
    display: block 
    position: relative 
    width: 8px 
    height: 8px 
    background: none
    margin: 24px auto
    transform: rotate(135deg)
    border-left: none 
    border-top: none 
    border-right: 2px #141414 solid
    border-bottom: 2px #141414 solid
    left: 1.5px
  .swiper-button-next i.i-arr 
    transform: rotate(-45deg)
    left: -1.5px 

  .manage-calendar 
    width: 100%
    .column-car 
      width: $wCar_xlarge
      position: relative
      height: $h-cell
      margin-right: 10px
      @media (max-width: 991px)
        margin-right: 5px
        width: $wCar_large
        height: $h-cell-med
      @media (max-width: 767px)
        width: $w-car-med
      // @media (max-width: 576px)
      //   width: $w-car-small
      &:hover 
        cursor: pointer
      i.ic.ic-info-wh
        position: absolute
        top: 2.5px
        left: 2.5px
        z-index: 2
        width: 16.5px
        height: 16.5px
        background-size: 300px
        background-position: -181px -91px
        background-color: #fff
        border-radius: 100%;
        box-shadow: 1px 1px 3px rgba(0,0,0,.3)
        display: none
      &.price 
        display: flex
        justify-content: center
        align-items: center
        border-bottom: 1px solid #fff 
        background: #f8f9fb
        p 
          color: gray
          font-weight: bold
          font-size: 12px
    .img-car
      width: 100%
      height: 100%
      position: relative
      box-sizing: border-box
      display: flex
      align-items: flex-start
      box-shadow: 1px 1px 4px rgba(0,0,0,0.3)
      img 
        width: 100%
        height: 100%
    .squaredFour.car-cell 
      width: auto
      position: absolute
      bottom: 0px
      right: 8px
    .price 
      position: absolute 
      bottom: 2.5px 
      left: 2.5px 
      color: #fff
      font-size: 9px
      z-index: 2 
      background-color: rgba(250,125,25,.85)
      padding: 1px 5px 
      border-radius: 20px 
      font-weight: bold 
    .license-plate 
      position: absolute
      top: 2.5px 
      right: 2.5px 
      color: #fff 
      background-color: rgba(0,0,0,.5)
      font-size: 9px 
      padding: 2.5px 5px 
      border-radius: 20px 
      font-weight: bold 
      z-index: 2
      @media (max-width: 991px)
        font-size: 8px
    .row-day
      display: flex 
      width: 100% 
      //border-left: 1px solid #f3f4f6
      margin-bottom: 10px 
      .desc
        width: $w-desc-xlarge
        position: relative
        min-height: 60px
        border-bottom: 1px solid #eee
        border-top: 1px solid #eee
        border-right: 1px solid #f3f4f6
        display: flex 
        justify-content: center
        @media (max-width: 991px)
          min-height: $h-cell-med
          width: $w-desc-large
        @media (max-width: 767px)
          width: $w-desc-med
        // @media (max-width: 576px)
        //   width: $w-desc-small
        &:nth-child(15n)
          margin-right: 0px
        &:nth-child(15n+2)
          border-left: 1px solid #f3f4f6
        &:hover, &:focus 
          box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 10px 0px
          cursor: pointer 
        &.outside
          &:hover 
            cursor: default
            box-shadow: none
      i.ic.ic-management
        position: absolute
        right: 2px
        top: 5px
        cursor: pointer
        width: 14px
        height: 14px
        background-size: 240px
        background-position: -81px -183px
      // i.ic.ic-calendar-repeat, i.ic.ic-clock-repeat
      //   position: absolute
      //   right: 2px
      //   top: 5px
      i.ic.ic-clock-repeat, i.ic.ic-calendar-repeat
        width: 14px
        height: 14px
        background-size: 240px 
        background-position: -178px -87px
      i.ic.ic-clock-repeat 
        background-position: -146px -87px
        // margin-right: 2px
      p 
        display: flex
        justify-content: center 
        align-items: center 
        font-size: 12px
        font-weight: bold 
        position: relative
        z-index: 3
        @media (max-width: 991px)
          font-size: 9px
      &.heading-wrap
        position: relative
        background: #fff 
        z-index: 10
        &.d-shadow 
          box-shadow: 0 1px 3px rgba(0,0,0,.3)
        .desc
          border: none 
          flex-direction: column 
          &:hover
            box-shadow: none 
            cursor: default
          p  
            text-align: center
            font-size: 12.5px
            font-weight: normal
            @media (max-width: 991px)
              font-size: 11px 
          &.weekend
            p            
              font-weight: bold
          
//== Status Trip Request 
span.req-1, span.req-2, span.req-3, span.req-4, span.req-5,span.deposit-1, span.deposit-2, span.deposit-3, span.deposit-4, span.deposit-5
  position: absolute 
  top: 20% 
  left: 0 
  height: 12px 
  background-color: #fde28b
  border-top: .25px solid #eee
  // background-image: url(../images/stripe.png)
  // background-size: 145%
  width: 100%
  .ic-sm-flat
    position: absolute 
    top: 0%
    left: 2.5%
    @media (max-width: 991px)
      background-position: -46px -106px
      background-size: 140px
      width: 9.5px
      height: 9.5px
      left: 4.5%
  @media (max-width: 991px)
    height: 9.5px
  &.req-half-left
    width: 50% 
  &.req-half-right
    width: 50%
    left: 50%
span.deposit-1, span.deposit-2, span.deposit-3, span.deposit-4, span.deposit-5
  background-color: #fba86d
span.req-3, span.deposit-3
  top: 40%
span.req-2, span.deposit-2
  top: 60%
span.req-1, span.deposit-1
  top: 80%     
span.req-5, span.deposit-5
  top: 0% 

  



  
 
 