// Map List - Map View
//=== Map list/ Map View Header Control - Override code in page.scss
.finding-control
	width: 100%
	background: #fff
	position: relative
	z-index: 10
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3)
	@media (max-width: $large-screen)
		box-shadow: none
		border-bottom: 1px solid #f7f8f7
	.wrapper-find
		width: 100%
		padding: 6px 0
		max-width: 1260px
		display: flex
		flex-wrap: wrap
		position: relative
		margin: 0 auto
		align-items: center
		@media (max-width: 1199px)
			padding: 12px 15px
		@media (max-width: 767px)
			padding: .4rem 15px
		@media (max-width: 576px)
			max-width: none
			padding: .25rem 10px
	.line-form
		@extend %align-center
		margin-bottom: 0px
		border-bottom: 1px solid #e8e8e8
		padding-bottom: .125rem
		@media (max-width: $xlarge-screen)
			padding-bottom: 0

		// General for form
		label.label
			margin-bottom: 0px
			color: $color-main
			font-weight: 500
			text-align: left
			font-size: .875rem
			@media (max-width: $xlarge-screen)
				font-size: .8125rem
		span.value.placeholder, input::-webkit-input-placeholder
			color: #141414
		span.value.placeholder, input, .wrap-input, .wrap-select select
			font-size: .875rem
			line-height: 21px
		span.value.placeholder, .wrap-select
			@extend %align-center
		i.i-chevron-down
			@extend %i-chevron-down
			border-right: 2px #141414 solid
			border-bottom: 2px #141414 solid
			position: static
			transform: rotate(45deg) scale(.5)

		.wrap-select // Back to default
			padding: 0
			height: auto
			border: none
			&:before
				@extend %pseudo-e
				@extend %i-chevron-down
				transform: rotate(45deg) scale(.441)
				left: auto
				right: 0
				top: 2px
				border-right: 2px #141414 solid
				border-bottom: 2px #141414 solid
			select
				width: auto
				padding: 0px 14px 0 5px
				font-size: .875rem
				line-height: 21px
				@media (max-width: $xlarge-screen)
					font-size: .8125rem


		&.location // Address
			width: calc(30% - .5rem)
			margin-right: .5rem
			@media (max-width: $xlarge-screen)
				width: calc(20% - .5rem)
				margin-right: .5rem
			label.label
				width: 22%
				@media (max-width: $xlarge-screen)
					width: 32%
			.wrap-input
				width: 78%
				@media (max-width: $xlarge-screen)
					width: 76%
				input
					font-size: .875rem
					@media (max-width: $xlarge-screen)
						font-size: .8125rem
			.blah
				height: 24px
				margin: -15px auto 15px
				transform: scale(0.2)


		&.has-timer // Datetimepicker
			width: calc(20% - .5rem)
			margin-right: .5rem
			@media (max-width: $xlarge-screen)
				width: calc(22% - .5rem)
				margin-right: .5rem
			&:last-child
				@media (max-width: $xlarge-screen)
					margin-right: 0
			.wrap-input
				i
					margin-left: 5px
			label.label
				width: 25%
				@media (max-width: $xlarge-screen)
					width: 28%
			.wrap-input, .wrap-select
				width: auto





		// .wrap-input
		// 	width: 78%
		// 	@media (max-width: $xlarge-screen)
		// 		width: 70%
		// 	@media (max-width: $large-screen)
		// 		width: 100%
		// 	@media (max-width: $medium-screen)
		// 		height: 33px
		// 	input
		// 		font-size: 13px
		// 		@media (max-width: $large-screen)
		// 			padding: 14px 20px
		// 		@media (max-width: $medium-screen)
		// 			padding: 8px 20px
		// 		@media (max-width: $xsmall-screen)
		// 			font-size: 12.5px
		// 	.blah
		// 		margin: -30px 30%
		// 		@media (max-width: $medium-screen)
		// 			margin: -40px 40%


	// .switch-search
	// 	text-align: center
	// 	width: 20%
	// 	@media (max-width: 480px)
	// 		width: 15%

// Tab-mode
.tab-mode
	width: calc(30% - .5rem)
	margin-right: .5rem
	justify-content: center
	align-items: center
	@media (max-width: $xlarge-screen)
		width: calc(36% - .5rem)
		margin-right: .5rem
	&.hide-on-lg
		display: flex
		@media (max-width: $large-screen)
			display: none
	ul
		display: flex
		li
			padding: 8.5px 20px
			@media (max-width: $xlarge-screen)
				//padding: 8.5px 15px
				padding: 8.5px 12px
			&:nth-child(1)
				border-right: 1px solid #e8e8e8
			a
				font-weight: 600
				color: #a9aaad
				font-size: 1rem
				@media (max-width: $xlarge-screen)
					font-size: .875rem
				&.active
					color: #00a550
	/* Tab mode Filter in tablet down */
	&.show-on-lg
		display: none
		@media (max-width: $large-screen)
			display: flex
			width: 100%
			// background: #fff
			justify-content: center
			bottom: 10px
			// padding: 8px 0
			// box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25)
			position: fixed
			z-index: 99
			// position: relative
			// z-index: 2
		.tab-box
			box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25)
			width: 35%
			@extend %d-flex
			padding: 8px 5px
			border-radius: 30px
			background: #fff
			position: relative
			min-width: 220px
			@media (max-width: 576px)
				width: 50%
			@media (max-width: 480px)
				width: 60%
				padding: 10px
				min-width: 265px
			&:after
				content: ""
				position: absolute
				left: 50%
				width: 1px
				top: 0
				height: 100%
				background-color: #e8e8e8
		// @media (max-width: $xsmall-screen)
		// 	padding: .5rem 0
		.view-mode, .f-filter
			width: 50%
			text-align: center
			font-weight: 600
			color: #141414
			&:hover, &:focus
				cursor: pointer
			@media (max-width: $medium-screen)
				font-size: .875rem
			@media (max-width: $xsmall-screen)
				font-size: 14px
			> i
				margin-right: 5px
		.f-filter
			position: relative
			&.has-dot-red:after
				position: absolute
				top: 0px
				content: ""
				background-color: #fc4a4a
				width: 5px
				height: 5px
				border-radius: 100%

// Filter
.content-filter
	a.btn.btn-reset
		position: relative
		&.has-dot-red:after
			position: absolute
			top: 12px
			content: ""
			background-color: #fc4a4a
			width: 5px
			height: 5px
			border-radius: 100%

//Slide Prev & Next
.module-map
	.swiper-button-prev, .swiper-button-next
		position: absolute
		overflow: hidden
		line-height: 150px
		white-space: nowrap
		background-image: none
		border-radius: 2px
		text-indent: 40px
		top: unset
		bottom: 0px
		width: 50px
		height: 103px
		margin-top: 0
		-webkit-transition: opacity 0.2s ease-out
		transition: opacity 0.2s ease-out
		z-index: 150
		cursor: pointer
		&:after
			position: absolute
			top: 50%
			left: 50%
			width: 0
			height: 0
			border-style: solid
			border-width: 8px
			margin: -8px
			content: ""
			margin-top: -6px
	.swiper-button-prev
		left: 0
		background: -webkit-linear-gradient(left, #dce1e1, rgba(220,225,225,0))
		background: linear-gradient(to right, #dce1e1, rgba(220,225,225,0))
		&:after
			border-color: transparent #fff transparent transparent
	.swiper-button-next
		right: -1px
		background: -webkit-linear-gradient(right, #dce1e1, rgba(220,225,225,0))
		background: linear-gradient(to left, #dce1e1, rgba(220,225,225,0))
		&:after
			border-color: transparent transparent transparent #fff

//== Slide List Map
.swiper-container.swiper-car-inmap
	margin-top: 0px
	position: absolute
	bottom: 0px
	left: 0
	z-index: 100
	height: auto
	@media (max-width: 991px)
		bottom: 60px
	@media (max-width: 576px)
		bottom: 70px
	.list-map-wrapper
		padding-top: 30px
.car-item-inmap
	padding: 5px 0 5px
	position: relative
	&.swiper-slide-active
		.car-item-wrapper
			opacity: 1
			background: #ffffff
			transform: translate(0, -30px)
			box-shadow: 0 20px 20px 0 rgba(0,0,0,0.3)
			@media (max-width: 576px)
				transform: translate(0,0)
				box-shadow: 0 5px 10px 0 rgba(0,0,0,0.3)
	&:nth-child(3n)
		margin-right: 0px
	.car-item-wrapper
		box-shadow: 0px s3px 3px rgba(0,0,0,0.3)
		position: relative
		padding: 5px 5px
		display: block
		opacity: .8
		background: #f7f8fb
	.car-item-body
		@extend .df-full
		flex-wrap: nowrap
		position: relative
		.car-item-img
			flex-basis: 40%
			width: 40%
			.fix-img
				padding-bottom: 75%
		.car-item-info
			flex-basis: 60%
			width: 60%
			@extend .d-flex
			flex-wrap: wrap
			margin-left: 10px
			p
				font-size: .75em
			.rating
				flex-basis: 100%
				span.star
					i
						background-size: 48px 15px
						width: 14px
						height: 14px
						&.full
							background-position: -33px 0
						&.half
							background-position: -16px 0px
			.car-name
				flex-basis: 100%
				line-height: 1.125em
				p
					width: 100%
					font-weight: bold
					height: 15px              // needed
					overflow: hidden          // needed
					//white-space: nowrap       // needed
					word-break: normal
					text-overflow: ellipsis
					display: flex
					direction: ltr
					-webkit-line-clamp: 1
					-webkit-box-orient: vertical

			.features
				flex-basis: 100%
				p
					span:last-child
						margin-left: .5rem
				i.ic.ic-tag, i.ic.ic-clock
					background-position: -44px -15px
					background-size: 250px
					width: 15px
					height: 15px
				i.ic.ic-clock
					background-position: -30px -15px
		.is-instant-book
			content: ""
			position: absolute
			top: 0px
			right: 0px
			width: 20px
			height: 20px
			box-shadow: 2px 2px 3px rgba(0,0,0,.3)
			@extend .d-flex
			border-radius: 100%