.tracking_cars--wrap  
  height: 100%  
  .map-container
    height: calc(100vh - 115px)
    @media (max-width: 991px)
      height: calc(100vh - 105px)
    @media (max-width: 480px)
      height: calc(100vh - 95px)