block Withdrawal Request 

div(role='dialog')
	.modal-backdrop.fade.in
	.fade.in.modal(role='dialog', tabindex='-1', style='display: block; padding-left: 6px;')
		.modal-dialog.modal-sm.modal-withdrawal-req
			.modal-content(role='document')
				.modal-header
					button.close(type='button')
						span(aria-hidden='true') ×
						span.sr-only
					h4.modal-title Yêu cầu rút tiền
				.modal-body
					.request-container
						p Với trách nhiệm thuộc về Tôi/Chúng tôi, đề nghị Quý Công ty ghi nợ tài khoản của Tôi/Chúng tôi để thực hiện chuyển tiền theo nội dung sau:
						.message-valid-box
							p Số tiền cần rút vượt quá số dư hiện có
						.form-request.form-default
							.group
								span.lstitle SỐ TIỀN (*)
								.line-form
									.wrap-input.has-error-form 
										input(placeholder="Nhập số tiền cần rút" type="text")
							.group
								span.lstitle NGƯỜI THỤ HƯỞNG
								.line-form
									label.label Số tài khoản (*)
									.wrap-input 
										input(placeholder="1247563759505" type="text")
								.line-form
									label.label Tên người thụ hưởng (*)
									.wrap-input 
										input(placeholder="Nguyễn Văn A" type="text")
							.group
								span.lstitle NGÂN HÀNG THỤ HƯỞNG
								.line-form
									label.label Ngân hàng thụ hưởng (*)
									.wrap-input 
										input(placeholder="Ngân hàng Sacombank" type="text")
								.line-form
									label.label Tỉnh/Thành phố (*)
									.wrap-input 
										input(placeholder="Hồ Chí Minh" type="text")
								.line-form
									label.label Chi nhánh (*)
									.wrap-input 
										input(placeholder="Quận 4" type="text")
							.group.group-inline
								span.lstitle LƯU THÔNG TIN NGƯỜI THỤ HƯỞNG
								.line-form.line-radio 
									label.custom-radio.custom-control
										input(type="radio" name="setting-mode" class="custom-control-input" checked)
										span.custom-control-indicator
										span.custom-control-description
											|Có
									label.custom-radio.custom-control
										input(type="radio" name="setting-mode" class="custom-control-input")
										span.custom-control-indicator
										span.custom-control-description
											|Không
							//- .group
							//- 	span.lstitle NỘI DUNG CHUYỂN TIỀN (*)
							//- 	.line-form
							//- 		textarea(class="textarea" name="" placeholder="Chuyển tiền vào tài khoản Nguyễn Văn A, Ngân hàng Sacombank, Chi nhánh Quận 4, Số tiền…..")
							.group.group-inline
								span.lstitle PHÍ CHUYỂN TIỀN
								.line-form.line-radio 
									label.custom-radio.custom-control
										input(type="radio" name="" class="custom-control-input" disabled="disabled" checked)
										span.custom-control-indicator
										span.custom-control-description
											|Người nhận chịu
							.group 
								a.btn.btn--m.btn-request.btn-primary Gửi yêu cầu
