div(role='dialog').hidden
	.modal-backdrop.fade.in
	.fade.in.modal(role='dialog', tabindex='-1', style='display: block; padding-left: 6px;')
		.modal-dialog.modal-insurance
			.modal-content(role='document')
				.modal-header
					button.close(type='button')
						span(aria-hidden='true') ×
						span.sr-only
					h4.modal-title Chuyến đi của bạn được bảo vệ bởi MIC
					.insurance-partner
						p.lstitle ĐỐI TÁC BẢO HIỂM
						img.img-fluid(src="images/homev2/mic.png")
				.modal-body
					.module-register(style='background: none; padding: 0px;')
						.register-container
							.content-insurance
								p Vững tay lái với gói bảo hiểm của MIC dành riêng cho các chuyến đi trên Mioto!
								p Các điều khoản bảo hiểm
								ul
									li - Bảo hiểm vật chất xe: Đâm va, hỏa hoạn, cháy nổ
									li - Bảo hiểm mất cắp, mất nguyên chiếc
									li - Miễn phí cứu hộ tối đa 70km/vụ
								p.ins-note * Mức khấu trừ: Mọi sự cố ngoài ý muốn trong phạm vi bảo hiểm, số tiền tối đa bạn thanh toán là 2 triệu đồng (không bao gồm chi phí nằm bãi sửa chữa nếu có, và các lí do chủ quan khác nằm ngoài phạm vi bảo hiểm)
