- var moduleComment = []
- moduleComment.push({'class':'', 'img':'images/avatar_default.png', 'heroes':'MS YEN', 'info':'Car Owner', 'desc':'Dịch vụ tốt'})
- moduleComment.push({'class':'', 'img':'images/avatar_default.png', 'heroes':'Blake Page', 'info':'Car Owner', 'desc':'It is an amazing experience on renting his car, very easy for my first try, I am sure I will do it again and again as well as recommended to my friends...happy 4th July!!!'})

- var moduleDeal = []
- moduleDeal.push({'class':'', 'heroes':'Telsa Model X', 'img':'https://n1-pstg.mioto.vn/thue_xe_tu_lai/mazda_3_2017/p/g/2018/01/09/10/3894.jpg'})
- moduleDeal.push({'class':'', 'heroes':'Telsa Model X', 'img':'https://n1-pstg.mioto.vn/thue_xe_tu_lai/mazda_3_2017/p/g/2018/01/09/10/3894.jpg'})
- moduleDeal.push({'class':'', 'heroes':'Telsa Model X', 'img':'https://n1-pstg.mioto.vn/thue_xe_tu_lai/mazda_3_2017/p/g/2018/01/09/10/3894.jpg'})
- moduleDeal.push({'class':'', 'heroes':'Telsa Model X', 'img':'https://n1-pstg.mioto.vn/thue_xe_tu_lai/mazda_3_2017/p/g/2018/01/09/10/3894.jpg'})
- moduleDeal.push({'class':'', 'heroes':'Telsa Model X', 'img':'images/upload/car_1.png'})

div(role='dialog')
  .modal-backdrop.fade.in
  .fade.in.modal(role='dialog', tabindex='-1', style='display: block; padding-left: 6px;')
    .modal-dialog.modal-lg.modal-dialog.modal-confirm.modal-request-detail
      .modal-content(role='document')
        .modal-header
          button.close(type='button')
            span(aria-hidden='true') ×
            span.sr-only
          h4.modal-title Yêu cầu đặt xe
        .modal-body
          .module-register(style='background: none; padding: 0px;')
            .register-container.trip-container
              .status-wrapper
                .content-register
                  .stepbystep
                    .booking-status.status-trips.arrow-opp-2
                      p
                        span.status.orange-dot
                        span Bạn cần phản hồi cho khách trong thời gian sớm nhất
                      span.countdown 24:00:00
                    .booking-status.status-trips.arrow-opp-3
                      p
                        span.status.orange-dot
                        span Vui lòng chờ đợi phản hồi của khách trong vài phút tới
                      span.countdown 24:00:00
                    .booking-status.status-trips.arrow-opp-4
                      p
                        span.status.green-dot
                        span Khách đã đồng ý đặt xe của bạn, vui lòng theo dõi trạng thái chuyến tiếp theo
                      span.countdown 24:00:00
                    .booking-status.status-trips.reject-trip
                      p
                        span.status.red-dot
                        span Khách đã từ chối xe của bạn
                      span.countdown 24:00:00

                  .content-booking
                    .info-car--more(style='padding-top: 0px;')
                      .group-1
                        .car-img
                          .fix-img
                            img(src="https://n1-pstg.mioto.vn/cho_thue_xe_tu_lai_tphcm/mazda_6_2016/p/g/2018/07/15/15/50mi-k8zfYqv28w1_eGcVw.jpg")

                      .group-2
                        .group-info
                          p.license-plate Biển số xe:
                            span 51G-30310
                          h6.name MITSUBISHI PAJERO SPORT 2016

                      .group-3
                        .profile-mini-v2
                          .avatar.avatar-new(title="title name")
                            .avatar-img(style="background-image:url(images/avatar_default.png)")
                          .desc-v2
                            span.lstitle Khách thuê
                            h2
                              a(href="#!") Nguyễn Kim Liên
                            span.star
                              i.full
                              i.full
                              i.half
                              i
                              i

                      .group-4
                        .group-info
                          h6 Thời gian thuê xe
                            <a href="/carsetting/KFWK8D#calendarsetting" target="_blank"> (Lịch xe)</a>
                          .form-default.grid-form
                            .line-form.has-timer
                              p Bắt đầu 21:00 - 19/06/2018
                            .line-form.has-timer
                              p Kết thúc 20:00 - 21/06/2018
                          //- a(href="#!").btn.btn--m.btn-primary.btn-calendar Quản lý lịch
                        .group-info
                          h6 Địa điểm giao nhận xe
                          .address-car
                            .line-form
                              span.value Nhận và trả xe tại địa điểm hiện tại của xe
                            .fix-map
                              img(src="images/map@2x.png" class="map" alt=page)
                      .group-5
                        h6 Bảng tính giá
                        .form-default.no-mg
                          .line-form.has-timer
                            .wrap-input.has-dropdown.date.has-value(style='width: 50%;')
                              span.value Đơn giá thuê ngày
                            .wrap-input.has-dropdown.time.has-value(style='width: 50%;')
                              span.value
                                span 600 000
                                |  /ngày
                            .wrap-input.has-dropdown.time.has-value(style='width: 50%;')
                              span.value x 2 ngày
                            .wrap-input.has-dropdown.time.has-value(style='width: 50%;')
                              span.value
                                span 1 200 000

                      .group-6
                        .require-paper
                          h6 Giấy tờ khách thuê
                          .ctn-desc-new
                            ul.required
                              li
                                img.img-ico(src="https://n1-cstg.mioto.vn/m/cmnd.png" style="width: 20px; height: 20px;")
                                |CMND
                              li
                                img.img-ico(src="https://n1-cstg.mioto.vn/m/gplx.png" style="width: 20px; height: 20px;")
                                |Giấy Phép Lái Xe
                              li
                                img.img-ico(src="https://n1-cstg.mioto.vn/m/gplx.png" style="width: 20px; height: 20px;")
                                |Hộ khẩu/KT3

                        .require-paper
                          h6 Các giấy tờ khác
                          .ctn-desc-new
                            p Hóa đơn điện nước

                      .group-7
                        .require-paper
                          h6 Lời nhắn từ hệ thống
                          .ctn-desc-new
                            p Các yêu cầu thêm của khách / admin

                      .full-wrapper
                        .group-info.count-down
                          h6 Hệ thống tự hủy sau thời gian:
                          p 24:00:00
                        //- .group-info
                        //-   h6 Ghi chú
                        //-   textarea.textarea(placeholder="Xe tôi rảnh trong thời gian này")

                        .wrap-btn.has-2btn
                          .wr-btn
                            a.btn.btn-secondary.btn--m Từ chối
                          .wr-btn
                            a.btn.btn-primary.btn--m Đồng ý
