block Modal

div(role="dialog").hidden
	.modal-backdrop.fade.in
	.fade.modal.in(role="dialog", tabindex="-1", style="display:block")
		.modal-sm.modal-dialog
			.modal-content(role="document")
				.modal-header
					button.close(type="button")
						span(aria-hidden="true") x
					h4.modal-title MÃ QR
				.modal-body.qr-body
					.img-qr 
						img(src="images/QR_Code.png")
					