block Modal
<!-- Modal -->
<div class="modal fade" id="basicExampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
//- div.hidden(role="dialog")
//- 	.modal-backdrop.fade.in
//- 	.fade.modal.in(role="dialog", tabindex="-1")
//- 		.modal-sm.modal-dialog
//- 			.modal-content(role="document")
//- 				.modal-header
//- 					h4.modal-title Đăng Nhập
//- 				.modal-body
//- 					.form-default.form-s
//- 						.line-form
//- 							.wrap-input.has-ico
//- 								i.ic.ic-email-fill
//- 								input(type="text" name="Email" placeholder="Email")
//- 						.line-form
//- 							.wrap-input.has-ico
//- 								i.ic.ic-lock-fill
//- 								input(type="password" name="Mật Khẩu" placeholder="Mật Khẩu")
//- 						a.forgot-password(href="#!") Quên mật khẩu?
//- 						.clear
//- 						button.btn.btn-primary.btn--m(type="button", name="loginBtn") Đăng Nhập
//- 						p Bạn chưa là thành viên? <a href="#!">Đăng kí ngay!</a>
//- 						span.line
//- 						p.textAlign-center Hoặc Đăng nhập bằng tài khoản
//- 						.wr-btn-share
//- 							.wr-btn
//- 								button.btn.btn-google.btn--m(type="button") <i class="ic ic-google"></i> Google
//- 							.wr-btn
//- 								button.btn.btn-facebook.btn--m(type="button") <i class="ic ic-facebook"></i> Facebook
//- 					.form-default.form-s
//- 						.line-form
//- 							.wrap-input
//- 								input(type="text" name="name" placeholder="Name")
//- 						.line-form
//- 							.wrap-select.dd
//- 								select()
//- 									option(value="1") Ngày
//- 							.wrap-select.mm
//- 								select()
//- 									option(value="1") Tháng
//- 							.wrap-select.yy
//- 								select()
//- 									option(value="1") Năm
//- 							.clear
//- 						.line-form
//- 							.wrap-select
//- 								select()
//- 									option(value="1") Nam
//- 						.clear
//- 						button.btn.btn-primary.btn--m(type="button", name="editInfo") Chỉnh sửa thông tin
//- 				.modal-footer
//- 					button.btn.btn--m(type="button" data-dismiss="modal") <i class="i-close"></i> Close
