block Modal

- var moduleDay = []
- moduleDay.push({"day":"Thứ 2"})
- moduleDay.push({"day":"Thứ 3"})
- moduleDay.push({"day":"Thứ 4"})
- moduleDay.push({"day":"Thứ 5"})
- moduleDay.push({"day":"Thứ 6"})
- moduleDay.push({"day":"Thứ 7"})
- moduleDay.push({"day":"CN"})

div(role="dialog")
	.modal-backdrop.fade.in
	.fade.modal.in(role="dialog", tabindex="-1", style="display:block")
		.modal-sm.modal-dialog
			.modal-content(role="document")
				.modal-header
					button.close(type="button")
						span(aria-hidden="true") x
						//- span.sr-only Close
					h4.modal-title Tùy chỉnh giá lặp lại
				.modal-body
					.form-default.form-s
						p.notes Nhập giá vào ngày tương ứng. Nhập 0 hoặc để trông nếu muốn dùng giá mặc định
						.space.m
						mixin day-week(day)
							div
								.space.m
								.line-form
									.wrap-input-label.d-flex
										label.label-inline #{day.day}
										.wrap-input
											input(type="text" placeholder="Dùng giá mặc định" id="priceRepeat_0" value="0")
										span.phay / K
						for day in moduleDay
							+day-week(day)
						.space.m
						.line
						p.notes Không chọn nếu muốn chu kì lập giới hạn 
						.squaredFour.have-label
							input(type="checkbox" id="is-limit-repeat-price" value="on")
							label(for="is-limit-repeat-price") Giới hạn thời gian lặp lại
						.space.m
						.clear
						.space.m
						p.textAlign-center.has-more-btn
							a.btn.btn-primary.btn--m(type="button") Xác nhận