block sbTracking
.finding-control.form-default
	.wrapper-find
		.line-form
			.wrap-input.has-ico-search
				i.ic.ic-search
				input(type="text" placeholder="Xem vị trí xe theo tên hoặc biển số")
	
		.wrap-btn.has-2-btn
			.wr-btn 
				a.btn.btn--m.btn-primary(href="") Xem lịch sử xe của 1 chuyến
.filter-container
	.content-filter
		.rent-car.has-scroll
			.scroll-inner
				span.slstitle Chọn xe
				.line-form
					.wrap-input
						input(type="text" placeholder="Nhập tên xe của bạn")
				span.slstitle Lộ trình xe 
				.line-form
					.wrap-select
						select
							option(value="0" selected) Hiện tại 
							option(value="1") Cách đây 6 tiếng 

	
				.wrap-btn
					//- a.btn.btn-primary.btn--m(href="#!") Áp dụng
					a.btn.btn-default.btn--m.hide-on-med-and-down.has-dot-red(href="#!") 
						span Xem lộ trình xe
