//-- ABOUT CAR
//--- Style of Car Detail, My Favourite Car, Modal Confirm
//-- Fix Item cars

.item-car .desc-car h2
	display: block
.item-car
	span.img-car
		position: relative
	span.label-pos
		@extend %label-pos
		span
			@extend %label-span
		span.free
			background-color: rgba(250, 125, 25, 0.85)
		span.discount
			@extend  %discount-text
	.desc-car
		p.price
			position: absolute
			top: 5px
			right: 20px
			color: $color-four
			font-size: 1rem
			font-weight: bold
		span.real
			text-decoration: line-through
			font-size: 12px
			margin-right: 5px
		span.special
			color: #00a550
	.group-label
		span
			font-size: .875rem
			color: #6e6e6e
			background: #f8f9fb
			padding: .25rem .75rem
			margin-right: 10px
			font-weight: 500

.box-car__wrap //-- Box car item
	align-items: flex-start
	.box-car__item
		width: calc(25% - 1.125rem)
		margin-right: 1.5rem
		border-radius: 3px
		min-height: 250px
		transition: all .35s cubic-bezier(.7,0,.3,1)
		margin-bottom: 1.5rem
		&:last-child
			margin-right: 0
		&:hover, &:focus
			cursor: pointer
			.price-car
				background-color: #00a550
			.fix-img:before
				opacity: 1
				visibility: visible
	.img-car
		position: relative
		font-size: $size-sm
		.fix-img
			padding-bottom: 75%
			&:before
				position: absolute
				content: ''
				top: 0
				width: 100%
				height: 100%
				background: rgba(0,0,0,.2)
				opacity: 0
				visibility: hidden
				z-index: 1
				transition: all .3s linear
			img
				border-top-left-radius: 3px
				border-top-right-radius: 3px
		span.label-pos
			@extend %label-pos
			span.discount
				@extend %discount-text
			span
				background-color: rgba(0,0,0,.5)
				padding: 6px 10px
				color: #fff
				font-size: .875em
				border-radius: 20px
				@media (max-width: 480px)
					font-size: .75em
					padding: 5px 8px
				&:not(:last-child)
					margin-bottom: 5px
			span.free
				background-color: rgba(250,125,25,.85)
		.status-verify
			position: absolute
			bottom: 5px
			left: 0px
			background-color: rgba(0, 0, 0, 0.5)
			-webkit-transform: scale(0.85)
			transform: scale(0.85)
			padding: 6px 14px 6px 8px
			color: #fff
			font-size: 14px
			font-weight: 400
			border-radius: 20px
			@extend %d-flex-center
			> i.ic
				margin-right: 5px

	.price-car
		position: absolute
		bottom: 0
		right: 0
		background-color: rgba(0,161,80,.80)
		color: #fff
		padding: .25rem .75rem
		border-top-left-radius: 5px
		font-weight: bold
		z-index: 2
		span.real
			font-weight: bold
			color: #ccc
			text-decoration: line-through
			margin-right: 5px
			font-size: 11px

	.desc-car
		// padding: 10px
		padding: 10px 0
		h2
			font-size: $size-name-car
			line-height: 24px
			color: #141414
			font-weight: 700
			display: inline-block
			max-width: 100%
			overflow: hidden
			-o-text-overflow: ellipsis
			text-overflow: ellipsis
			white-space: nowrap
			word-wrap: normal
			@media(max-width: 767px)
				font-size: 1.125rem
	.ratings
		@extend .d-flex
		justify-content: flex-start
		margin-bottom: 5px
		.bar-line
			width: 15px
			margin: 0 5px
			height: 1px
			background: #141414
		.trips
			font-size: $size-sm
			@media(max-width: 767px)
				font-size: .75rem
	.wr-btn-share
		display: flex
		a.btn
			width: calc(50% - .25rem)
			&:first-child
				margin-right: .5rem


//-- Car Detail
.cover-car
	.status-verify.status-ins
		left: 5px
		padding: 6px 14px
		.logo-mic
			width: 34px
			margin-left: 5px
	.has-insurance
		position: absolute
		bottom: 5px
		left: 5px
		z-index: 2
		img
			width: 80%
			@media (max-width: 576px)
				width: 60%
	span.label-pos
		@extend %label-pos
		top: 15px
		right: 20px
		@media (max-width: 767px)
			right: 5px
			top: 8px
		span
			@extend %label-span
			@media (max-width: 480px)
				font-size: .75em
				padding: 5px 8px
			&:not(:last-child)
				margin-bottom: 10px
		span.free
			background-color: rgba(250,125,25,.85)

		span.discount
			@extend %discount-text

.qr-car
	position: absolute
	top: 15px
	left: 20px
	z-index: 2
	width: 35px
	height: 35px
	@media (max-width: 767px)
		left: 5px
		top: 8px
		width: 25px
		height: 25px
	&:hover
		cursor: pointer
	.ic.ic-qr-code
		@media (max-width: 767px)
			background-position: -256px -277px
			width: 25px
			height: 25px
			background-size: 400px
.module-detail.dt__wrapper
	background-color: #ffffff
	.detail-container
		position: relative
		&:before
			display: none
		.clear
			clear: both
		.content-detail
			float: left
			width: 65%
			padding-right: 100px
			z-index: unset
			@media (max-width: $large-screen)
				width: 100%
				padding-right: 0px
			.info-car
				border-bottom: none
				.group-name
					width: 100%
					float: none
					@media (max-width: $large-screen)
						display: flex
						align-items: flex-start
						justify-content: space-between
						margin-bottom: 0px
						padding-right: 0px
					h1.title-car
						@media (max-width: $medium-screen)
							font-size: 1.2em
						@media (max-width: 480px)
							width: 59%
							line-height: 1.5
					.price
						display: none
						@media (max-width: $large-screen)
							display: flex
							align-items: center
						@media (max-width: 480px)
							width: auto
						span.real
							@media (max-width: $large-screen)
								font-weight: bold
								margin-right: 5px
								color: #67737f
								text-decoration: line-through
						span.special
							@media (max-width: $large-screen)
								color: #00a550
								font-size: 2em
								line-height: 1.25
								margin-bottom: 5px
								font-weight: bold
							@media (max-width: $medium-screen)
								font-size: 1.2em
							@media (max-width: 480px)
								line-height: 1.5
								text-align: right
						span
							font-size: 13px
							font-weight: bold
							color: #67737f
				.group-line
					display: flex
					align-items: center
					margin-bottom: 1rem
					.star
						line-height: 36px
						height: 36px
					.bar-line
						width: 70px
						height: 1px
						background-color: #141414
						margin: 0 15px
						@media (max-width: 480px)
							margin: 0 10px
							width: 45px
					p
						@media (max-width: 480px)
							font-size: 14px
				.group-label
					span
						font-size: .875rem
						color: #6e6e6e
						background: #f8f9fb
						padding: .25rem .75rem
						margin-right: 10px
						font-weight: 500
		.info-car--desc
			.group
				display: flex
				width: 100%
				align-items: flex-start
				flex-wrap: wrap
			.lstitle-new
				color: #a9aaad
				font-size: .875em
				font-weight: 700
				text-transform: uppercase
				line-height: 1.5
				width: 25%
				padding-right: 5px
				@media (max-width: $medium-screen)
					font-size: 12px
					width: 100%
			.ctn-desc-new
				width: 75%
				@media (max-width: $medium-screen)
					font-size: 14px
					width: 100%
					padding-top: 10px
				.features, .accessories, .required
					display: flex
					flex-wrap: wrap
					li
						width: 50%
						margin-bottom: 1rem
						// padding-left: 35px
						position: relative
						@media (max-width: 480px)
							width: 100%

						.ic.ic-chair,.ic.ic-trans, .ic.ic-diesel, .ic.ic-fuel-consumption, .ic.ic-bth, .ic.ic-gps, .ic.ic-usb, .ic.ic-window, .ic.ic-child
							background: url(../images/main_sprites.png)
							background-repeat: no-repeat
							background-size: 450px
							height: 24px
							margin-right: 5px
					&.two-opt
						li
							margin-bottom: 0
							@media (max-width: 767px)
								margin-bottom: 1rem
				.features li
					.ic.ic-chair
						background-position: -115px -281px
						width: 32px
					.ic.ic-trans
						background-position: -239px -281px
						width: 32px
					.ic.ic-diesel
						background-position: -161px -281px
						width: 32px
						transform: scale(.8)
					.ic.ic-fuel-consumption
						width: 32px
						margin-right: 5px
						background-position: -202px -280px
						transform: scale(.9)
				.accessories li
					@extend %d-flex
					align-items: center
					img
						margin-right: 10px
					.ic.ic-bth
						background-position: -70px -286px
						width: 23px
						background-size: 418px
					.ic.ic-gps
						background-position: -3px -381px
						width: 20px
						height: 27px
						background-size: 550px
					.ic.ic-usb
						background-position: -157px -380px
						width: 20px
						background-size: 550px
						height: 30px
					.ic.ic-window
						background-position: -193px -310px
						width: 23px
						height: 26px
					.ic.ic-child
						background-position: -47px -310px
						width: 23px

				p, pre
					margin-bottom: .5rem
					text-align: justify
					&:last-child
						margin-bottom: 1rem
				.fix-map
					position: relative
					padding-bottom: 45%
					max-width: 100%
					img.map, iframe
						position: absolute
						top: 0
						left: 0
						width: 100%
						height: 100%
						object-fit: cover
				.required
					li
						position: relative
						@extend %d-flex
						align-items: center
						img
							margin-right: 10px
						.ic.ic-check
							position: absolute
							top: 0
							left: 65%
							background-position: -296px -105px
							background-size: 350px
							background-repeat: no-repeat
							@media (max-width: 991px)
								left: 52%
				.ct-required
					padding-bottom: .25rem
					border-bottom: 1px solid #e8eaef
					.lstitle-new
						font-size: 12px
						color: #00a550
					p
						padding-top: .25rem
						margin-bottom: 0px
			.profile-mini
				display: flex
				flex-wrap: wrap
				width: 75%
				margin-bottom: 1rem
				@media (max-width: $medium-screen)
					width: 100%
					padding-top: 10px
				.avatar.avatar-new
					width: 95px
					height: 95px
					.avatar-img
						box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3)
				.desc
					padding-left: 25px
					width: 75%
					@media (max-width: $medium-screen)
						width: 68%
						padding-left: 15px
					h2
						font-size: 18px
						@media (max-width: $medium-screen)
							font-size: 16px
				.owner-response
					@media (max-width: 991px)
						width: 70%
					@media (max-width: 767px)
						width: 100%
						border-top: none
						border-bottom: none
				.response-desc
					flex-direction: row
					justify-content: space-between
					border-bottom: 1px solid #ccc
					padding-bottom: 15px
					padding-top: 15px
					@media (max-width: 767px)
						width: 100%
					@media (max-width: 767px)
						padding-bottom: 10px
						padding-top: 10px
					&:last-child
						padding-bottom: 0px
						border-bottom: none
					p
						font-weight: normal
						color: #141414
						text-transform: unset
						font-size: 16px
						@media (max-width: 576px)
							font-size: 14px
					.rate
						color: #141414
						font-size: 16px
						@media (max-width: 576px)
							font-size: 14px
			.wr-wrap-btn
				display: flex
				width: 100%
				flex-wrap: wrap
			.wrap-btn
				width: 49%
				@media (max-width: 480px)
					width: 100%
				> a
					width: 100%
					font-size: 15px
				&:first-child
					margin-right: 2%
					@media (max-width: 480px)
						margin-right: 0px
						margin-bottom: 10px
			.ctn-desc-new.clause
				ul
					list-style: circle
					padding-left: 35px
					margin-bottom: .75rem
					li
						list-style: circle
		.owner
			padding: 40px 0
			display: flex
			@media (max-width: $medium-screen)
				padding: 20px 0
			.left
				width: 17%
				display: flex
				flex-direction: column
				align-items: center
				@media (max-width: $medium-screen)
					width: 30%
				.lstitle-new
					color: #141414
					font-size: 20px
					font-weight: 700
					text-transform: uppercase
					line-height: 1.5
					width: 100%
					text-align: center
					@media (max-width: $medium-screen)
						font-size: 16px
				.profile-mini-v2
					padding-top: 15px
				.avatar.avatar-new
					width: 120px
					height: 120px
					@media (max-width: $small-screen)
						width: 95px
						height: 95px
				.avatar-img
					box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3)
			.desc-v2
				width: 83%
				margin-left: 5%
				align-self: center
				@media (max-width: $medium-screen)
					width: 65%
				h2
					font-size: 24px
					@media (max-width: $medium-screen)
						font-size: 16px


		.sidebar-detail
			float: right
			width: 35%
			margin-right: 0px
			padding: 0px
			z-index: 20
			@media (max-width: $large-screen)
				width: 100%
				float: unset
				background: transparent
				display: flex
				margin: 0px
				// padding: 0 20px
				z-index: 0
			@media (max-width: $medium-screen)
				padding: 0px
		.rent-box
			display: flex
			flex-direction: column
			align-items: center
			padding: 15px 45px
			border-radius: 25px
			position: relative
			top: -62px
			right: 50px
			z-index: 20
			background-color: #f8f9fb
			box-shadow: 0 1px 6px rgba(0,0,0,0.3)
			@media (max-width: 1199px)
				padding: 10px 25px
			@media (max-width: $large-screen)
				border-radius: 0px
				box-shadow: none
				top: 0px
				z-index: unset
				padding: 15px
				padding: 0px
				width: 100%
				right: 0px
				background-color: white
			.price
				display: flex
				color: #00a550
				padding-bottom: 5px
				align-items: flex-end
				span.real
					font-size: 18px
					line-height: 42px
					text-decoration: line-through
					margin-right: 5px
				h3
					font-weight: bold
				span
					font-size: 13px
					font-weight: bold
					color: #67737f
				@media (max-width: $large-screen)
					display: none

			.line-form
				width: 100%
				@media (max-width: $medium-screen)
					margin-bottom: 20px
				label
					font-weight: bold
					font-size: 14px
					text-transform: none
					@media (max-width: 767px)
						margin-bottom: 10px
				.group
					display: flex
					height: 45px
					> div
						width: 100%
					input
						font-size: 14px
						padding-left: 0px
						border-radius: 0px
						border-bottom: 1px solid #e8eaef
						background-color: transparent
						padding-right: 10px
						@media (max-width: 1199px)
							padding-right: 0px
							font-size: 13px
						@media (max-width: 991px)
							padding-right: 10px
							font-size: 14px
						&:hover, &:focus
							border-bottom: 1px solid lightgray
							cursor: pointer
				&.local
					label
						margin-bottom: 10px
						display: block
					.line-radio
						display: flex
						width: 100%
						.custom-radio.custom-control
							font-weight: normal
							margin-right: 2rem
					.group
						position: relative
						margin-top: 10px
						.ic.ic-location-f
							position: absolute
							top: 9px
							left: 13px
							z-index: 1
						input
							background-color: white
							padding-left: 44px !important
							border-bottom: none
						span.address-pickup
							background-color: white
							padding-left: 44px !important
							padding: 12px 20px
							display: block
							width: 100%
							padding-right: 15px
							font-size: 13px
							cursor: pointer
							max-width: 100%
							overflow: hidden
							-o-text-overflow: ellipsis
							text-overflow: ellipsis
							white-space: nowrap
							word-wrap: normal
							&.placeholder
								color: #aeaeb0
					.squaredFour.have-label
						label
							font-weight: normal

			.promotion-code
				width: 100%
				margin-bottom: 10px
				&.d-flex
					margin-bottom: 0
					// margin-top: 10px
					justify-content: flex-end
				.title-new
					// width: 55%
					text-align: right
					h4.lstitle-new
						font-weight: normal
						color: $color-link
				.title-new, .box-wrap
					@include flexbox()
					align-items: center
				.box-wrap
					width: 45%
					border: 1px solid #e8e8e8
					// padding: 5px 10px
					background: #fff
					border-radius: 3px
					// width: 180px
					position: relative
					margin-bottom: 10px
					.func-remove
						position: absolute
						right: 10px
						top: 35%
						transform: translateY(-35%)
				.title-new
					margin-bottom: 10px
				.func-plus
					i
						margin-left: 10px
				.lstitle-new
					color: #141414
					font-weight: 700
					line-height: 1.5
					font-size: 14px
					text-transform: none
				.box-wrap
					img
						width: 30px
						height: 30px
					p
						font-size: .875rem
						text-transform: uppercase
						font-weight: bold
						padding-left: 10px
			.calendar
				width: 100%
				font-size: 13px
				color: #f44336
				margin-bottom: 20px

				p
					padding-left: 25px
				p:first-child
					padding-left: 0px
				.ic.ic-notice
					background-size: 320px
					margin-right: 5px
					width: 20px
					height: 20px
					background-position: -134px -76px
			.note
				width: 100%

				.lstitle-new
					color: #141414
					font-weight: 700
					line-height: 1.5
					font-size: 14px
				p
					font-size: 14px
				//-- insurance
				&.insurance
					a
						&:hover, &:focus
							color: #00a550
							// text-decoration: underline
					.logo-ins
						width: 34px
						margin-left: 5px
			.car-bill
				width: 100%
				font-size: 14px
				.space.m
					@media (max-width: 767px)
						padding: 0
				h4
					font-size: 14px
					font-weight: bold
				.bill-wrap
					display: flex
					flex-wrap: wrap
					width: 100%

					.group
						width: 100%
						display: flex
						justify-content: space-between
						// border-bottom: 1px solid #e8eaef
						padding: 0
						padding-top: 10px
						line-height: 30px
						flex-direction: row
						align-items: center
						a.func-remove
							margin-left: 5px
							.ic.ic-remove-thin
								transform: scale(.8)
						.d-flex
							justify-content: flex-start
							i.ic
								margin-left: 5px
						p, span
							font-size: 14px
							padding: 0
						&.long-term
							padding-top: 0
							&:not(:last-child)
								margin-bottom: .25rem
							p, span
								color: rgb(174, 174, 176)
								font-size: 12px
								line-height: 18px
							.d-flex
								line-height: 18px
							i.ic.ic-question-mark
								transform: scale(.65)

						&:last-child, &.has-line
							border-top: 1px solid #ccc
							padding-top: 5px
							margin-top: 5px

				.wrap-btn
					width: 100%
					padding-bottom: 20px
					@media (max-width: $medium-screen)
						padding-top: 20px
						padding-bottom: 20px
					> a
						width: 100%
	.module-deal
		width: 100%
		padding: 40px 10px
		@media (max-width: $medium-screen)
			padding: 20px 10px
		.item-car
			height: auto
		.title
			font-size: 24px
			color: #141414
			margin-bottom: 5px
			@media (max-width: $medium-screen)
				font-size: 16px
			&.title--wh
				color: #fff
		.desc-car
			.group
				display: flex
				justify-content: space-between
				align-items: center
				.price
					color: #67737f
					font-weight: bold

	.notif-box
		width: 100%
		.notif-body
			margin-bottom: 20px
			border: 1px solid #e8eaef
			border-radius: 0
			background: #e8eaef
			display: flex
			p
				color: #141414
				font-size: 13px
				padding: .5rem 0
				margin: 0 auto
				margin-bottom: 0rem
				span
					font-weight: bold
//== S-all - Comment ==
.review
	padding: 40px 0
	@media (max-width: $medium-screen)
		padding: 20px 0
	.title
		font-size: 24px
		color: #141414
		margin-bottom: 5px
		@media (max-width: $medium-screen)
			font-size: 16px
	.group-review
		display: flex
		align-items: center
		.bar-line
			width: 60px
			height: 1px
			background-color: #141414
			margin: 0 15px
		p
			@media (max-width: $medium-screen)
				font-size: 14px
	hr.line
		margin-top: 15px
		border: .5px solid #e0e0e0

	.list-comments
		display: flex
		padding-top: 25px
		padding-bottom: 25px
		border-bottom: .25px solid rgba(0,0,0,.3)
		@media (max-width: $medium-screen)
			padding-top: 20px
			padding-bottom: 20px
		.left
			width: 10%
			@media (max-width: $medium-screen)
				width: 12%
			@media (max-width: $small-screen)
				width: 15%
		.fix-avatar
			padding-bottom: 100%
			position: relative
			max-width: 100%
			border-radius: 50%
			overflow: hidden
			box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3)
			img
				position: absolute
				top: 0
				left: 0
				width: 100%
				height: 100%
				object-fit: cover
		.right
			width: 90%
			padding-left: 5%
			@media (max-width: $small-screen)
				width: 80%
			h4
				font-size: 16px
				color: #57a8ff
				margin-bottom: 0px
				@media (max-width: $small-screen)
					font-size: 14px
			.group
				display: flex
				justify-content: space-between
				align-items: center
				@media (max-width: 767px)
					margin-bottom: 10px
				.date
					font-size: 12px
					@media (max-width: $small-screen)
						font-size: 11px
				.desc
					padding-top: 15px
					font-size: 14px
					@media (max-width: 767px)
						padding-top: 0px
.s-all
	display: flex
	justify-content: flex-end
	padding-top: 10px
	.see-all
		font-size: 14px
		color: #141414
		text-transform: uppercase
		letter-spacing: 1.3px
		position: relative
		display: table
		&:before
			content: ''
			width: 100%
			height: 1px
			background: black
			position: absolute
			bottom: 0
			left: 0
			transition: width .3s ease-in-out
		&:hover, &:focus
			cursor: pointer
			color: black
			&:before
				width: 0
				right: 0
				left: auto
		.ic.ic-chevron-up
			background-position: 5px -390px
			background-size: 500px
			height: 14px


//== Module Similar
.swiper-similar
	.item-car
		span.price
			color: #00a550
			font-weight: 700
			position: absolute
			top: 0
			right: 0
			background-color: #fff
			padding: 5px 15px
			border-radius: 0 0 0 15px


//== My favourite cars
.my-favs__sect
	padding: 50px 0
	@media (max-width: 576px)
		padding: 30px 0 0 0
	.heading-title
		h4
			font-size: 1.75rem
			font-weight: bold
			margin-bottom: .75rem
			@media (max-width: 576px)
				font-size: 1.25rem
	hr.l-gray
		width: 100%
		border: 1px solid #ccc

	.box-car__wrap
		@extend %d-flex-wrap
		width: 100%
		.box-car__item
			width: calc(33.33% - 2rem)
			margin-right: 0
			margin-bottom: 3rem
			position: relative
			&:not(:nth-child(3n))
				margin-right: 3rem
				@media (max-width: 991px)
					margin-right: unset
			@media (max-width: 991px)
				width: calc(50% - .75rem)
				margin-bottom: 2.5rem
				&:not(:nth-child(2n))
					margin-right: 1.5rem
			@media (max-width: 767px)
				width: 100%
				margin-right: 0
				&:not(:nth-child(2n))
					margin-right: 0

