//Menu Header Notification
.item-notify
	.dropdown-menu
		.sub-avatar
			position: absolute
			right: -3px
			bottom: -1px
			width: 20px
			height: 20px

//-- Header search in car finding (map-view and map-list)
$sm-ml-dropdown: 65px //-- change mr-left location and left dropdown box

.isSearchingBox
	opacity: 1
	visibility: hidden

.header.lg-header-search
	height: 60px
	@media (max-width: 767px)
		height: 50px
	.header-container
		padding: 0
		// padding-right: 10px
		@extend %align-center
		// .logo-container
		// 	a
		// 		width: 59px
		// 		height: 26px
.location-datetime //-- Dropdown datetimepicker
	margin-left: 115px
	margin-right: 15px
	width: calc(100% - 125px)
	@media (max-width: 767px)
		margin-left: 90px
		width: calc(100% - 105px)
	> div#searchingBox
		color: #fff
		background: #2E2A2B
		padding: 2px 20px 0 10px
		position: relative
		border-radius: 3px
		i.i-chevron-down
			@extend %i-chevron-down
			position: absolute
			top: 25%
			right: .5rem
			transform: rotate(45deg) scale(.75)
			@media (max-width: 480px)
				transform: rotate(45deg) scale(.6)
		h4.location
			-webkit-box-orient: vertical
			max-width: 100%
			overflow: hidden
			text-overflow: ellipsis
			white-space: nowrap
			word-wrap: normal
			line-height: 16px
			font-size: 13px
			-webkit-line-clamp: 1
		span.datetime
			font-size: 12px
	.searching-backdrop
		bottom: 0
		left: 0
		opacity: 1
		padding: 0
		position: fixed
		right: 0
		top: 60px
		transition: opacity .4s
		z-index: 0
		background: rgba(0,0,0,.5)
		z-index: 20 //-- overlay
	.searching-box
		position: absolute
		width: 100%
		left: 0
		background: $color-base
		z-index: 21 //-- show on overlay
		a
			color: #fff
		.wrap-btn
			padding-top: .25rem
			.btn.btn--m
				margin-bottom: .25rem
				height: 36px
				line-height: 36px
				@media (max-width: 480px)
					font-size: .875rem

.form-default.form-finding //-- New style from form-default
	padding: 15px
	.line-form
		@extend %align-center
		border-bottom: 1px solid #fff
		margin-bottom: .75rem
		span.value.placeholder
			color: #fff
			@media (max-width: 480px)
				font-size: 14px
		.label
			width: 10%
			margin-bottom: 0
			@extend .text-primary
			line-height: 24px
			font-size: 1rem
			@media (max-width: 767px)
				width: 15%
			@media (max-width: 480px)
				width: 20%
				font-size: .875rem
		&:first-child
			.wrap-input
				width: 90%
				@media (max-width: 767px)
					width: 85%
				@media (max-width: 480px)
					width: 80%
	.wrap-input
		background: transparent
		height: auto
		padding: 0
		border: none
		&.home-datetimerange
			span.value.placeholder
				font-size: 1rem
				@media (max-width: 480px)
					font-size: 14px
		&:focus, &.is-focused
			input
				border: none !important
		input
			color: #fff
			padding: 0
			font-size: 1rem
			@media (max-width: 480px)
				font-size: 14px
				line-height: 24px
	input::-webkit-input-placeholder
		color: #fff
	.wrap-select
		@media (max-width: 480px)
			padding-left: 10px
		&:before
			@media (max-width: 991px)
				top: 1px
			@media (max-width: 480px)
				top: 0px
		select
			color: #fff
			padding-left: 5px
			font-size: 1rem
			@media (max-width: 480px)
				font-size: 14px
				line-height: 21px


	.home-datetimerange, .home-select
		i.i-chevron-down
			position: static
			@media (max-width: 480px)
				transform: rotate(45deg) scale(.75)
				margin-left: 10px
	.home-select
		i.i-chevron-down
			@media (max-width: 480px)
				margin-left: 0

