// Modal
.modal-open {
    overflow: hidden;
    position: relative;
}

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}

.modal {
    display: none;
    overflow: auto;
    overflow-y: scroll;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1200;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    //--padding-left: 0px !important;
    @include transition(.25s ease-in-out);
    &.in {
        visibility: visible;
        .close {
            @include opacity(1)
        }
    }
    &.fade {
        .modal-dialog {
            @include opacity(0);
            @include transform(scale(0.5))
        }
        &.in {
            .modal-dialog {
                @include opacity(1);
                @include transform(scale(1))
            }
        }
    }
}

.modal.fade .modal-dialog {
    -webkit-transition: -webkit-transform .3s ease-out;
    -moz-transition: -moz-transform .3s ease-out;
    -o-transition: -o-transform .3s ease-out;
    transition: transform .3s ease-out
}

.modal-dialog {
    position: relative;
    width: auto;
    margin: 40px auto;
    &.modal-sm {
        max-width: 570px;
		}
    @media (max-width: 576px) {
        &.modal-sm {
            max-width: none;
            margin: 40px .5rem;
        }
    }
}

.modal-backdrop {
    position: fixed;
    top: 50%;
    right: 0;
    bottom: 0;
    left: 50%;
    z-index: 1100 !important;
    background-color: rgba(0, 0, 0, 1);
    width: 100%; 
    height: 200%;
    transform: translate(-50%, -50%)
}

.modal-backdrop.fade {
    @include opacity(0);
    @include transition(.25s ease-in-out)
}

.modal-backdrop.in {
    @include opacity(0.5)
}

// Modal Content
.modal-content {
    position: relative;
    background-color: #fff;
    //--max-width: 570px;
    margin: 0 auto;
    width: 100%;
    @extend .borderRadius-s;
    box-shadow: 0px 6px 10px rgba(0,0,0,.3);
    .modal-body {
        position: relative;
        padding: 0 20px 48px;
        font-size: 0.875em;
        @include clearfix;
        @media (max-width: $medium-screen) {
            padding: 0 20px 20px
        }
    }
    .modal-header {
        position: relative;
        padding: 60px 20px 40px;
        color: $color-base;
        font-size: 1.5em;
        line-height: 1.5;
        font-weight: bold;
        text-align: center;
        @media (max-width: $medium-screen) {
            padding: 20px;
            font-size: 1.25em
        }
    }
    .modal-footer {
        position: absolute;
        bottom: -50px;
        width: 100%;
        text-align: center;
        .btn {
            display: inline-block;
            background-color: transparent;
            color: #fff;
            font-size: 0.875em;
            font-weight: bold;
            box-shadow: none;
            border: 1px solid transparent;
            outline: 0 none;
            i.i-close {
                position: relative;
                display: inline-block;
                width: 24px;
                height: 24px;
                margin-right: 3px;
                vertical-align: middle;
                &:before {
                    position: absolute;
                    left: 11px;
                    content: '';
                    background-color: #fff;
                    height: 25px;
                    width: 1px;
                    @include transform(rotate(45deg))
                }
                &:after {
                    position: absolute;
                    left: 11px;
                    content: '';
                    background-color: #fff;
                    height: 25px;
                    width: 1px;
                    @include transform(rotate(-45deg))
                }
            }
            &:hover {
                @include opacity(0.75)
            }
        }
    }
    .wrap-btn {
        margin: 20px 0 0;
        font-size: 0;
        .btn {
            margin: 0 5px
        }
    }
}