//-- About Modals
//== General Modal
.modal-header
  .close
    font-size: 1.25rem
    font-weight: 700
    line-height: 1
    color: #6c6c6e
    text-shadow: 0 1px 0 #ffffff
    opacity: .5
    position: absolute
    top: 20px
    right: 25px
    padding: 1rem
    margin: -1rem -1rem -1rem auto
    @media (max-width: 480px)
      top: 5px
      right: 15px
      font-size: 1.125rem
  h4.modal-title
    font-size: 1.25em
    @media (max-width: 480px)
      font-size: 1em

//== Modal Details
.dt-backdrop.modal-backdrop.in
  opacity: 0.85
  filter: alpha(opacity=85)
.modal-details
  max-width: 1170px
  @media (max-width: 1199px)
    margin: 40px .5rem
  .modal-content
    background-color: transparent
  .module-detail.dt__wrapper
    background-color: transparent
    .modal-header
      padding: 0px 20px 15px
      display: flex
      align-items: center
      flex-wrap: wrap
      @media (max-width: 767px)
        padding: 0 50px 25px
        padding-left: 0
    .module-deal
      float: left
    .item-car
      .desc-car
        h2
          font-size: .875em
          @media (max-width: 991px)
            font-size: .875rem
    .info-car
      display: flex
      align-items: center
      @media (max-width: 991px)
        flex-direction: column
        align-items: flex-start
  .title-car
    //font-size: 1.5em
    font-size: 1.25em
    color: white
    text-align: left
    @media (max-width: 767px)
      font-size: 1em
  .group-line
    display: flex
    align-items: center
    padding-left: 15px
    @media (max-width: 991px)
      padding-left: 0px
    span.star
      line-height: 20px
    .bar-line
      width: 30px
      margin: 0 10px
      background: #fff
      height: 1px
    p
      color: #fff
      font-size: 1rem
      // font-size: 1.125rem
      font-weight: normal
      @media (max-width: 767px)
        font-size: .875rem
  .modal-body.detail-container
    padding: 0
    @media (max-width: 767px)
      padding: 0
    .sidebar-detail
      width: 35%
    .rent-box
      top: unset
      right: unset
      padding: 15px 25px
      //margin-bottom: 25px
      border-radius: 2px
      &.rent-car
        @media (max-width: 991px)
          padding: 25px
          margin-bottom: 25px
        @media (max-width: 767px)
          margin-bottom: 15px
        @media (max-width: 480px)
          padding: 15px
        .line-form
          //padding: 25px 15px 0px
          &:nth-child(2)
            padding-top: 0px
        .wrap-btn
          margin: 0px
          width: 100%
          .btn--m
            margin: 0px
            border-radius: 0 0 2px 2px
            width: 100%
      .price
        @media (max-width: 991px)
          display: flex
          justify-content: center
          width: 100%
          padding-bottom: 15px
        // h3
        //   font-size: 1.5rem
      .car-img
        width: 100%
        position: relative
        .fix-img
          position: relative
          max-width: 100%
          padding-bottom: 75%
          border-radius: 5px 5px 0 0
          img
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%
            object-fit: cover
            border-radius: 5px 5px 0 0


      .group-name
        @extend .d-flex
        flex-wrap: wrap
        justify-content: space-between
        padding: 15px 15px 0
        margin-bottom: .5rem
        p.price
          font-weight: bold
          text-align: right
          color: #67737f
          font-size: .875rem
          justify-content: flex-end
          padding: 0
      // .group
      //   display: flex
      //   flex-direction: column
      //   align-items: center
      //   padding: 25px
      .lstitle-new
        color: #a9aaad
        font-size: .875em
        font-weight: 700
        text-transform: uppercase
        line-height: 1.5
      .profile-mini
        display: flex
        flex-direction: column
        align-items: center
        padding-top: 10px
      .avatar.avatar-new
        width: 90px
        height: 90px
        border-radius: 50%

    .content-detail
      //margin-right: 25px
      width: 65%
      padding-right: 0px
      background: transparent
      padding-right: 25px
      .info-car--desc
        background-color: white
        padding: 25px
        border-radius: 2px
        box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3)
        margin-bottom: 25px
        @media (max-width: 767px)
          margin-bottom: 15px
        @media (max-width: 480px)
          padding: 15px
        &.no-pd
          padding: 0
        &.no-pd.cover-car
          background-color: transparent
        &.info--map
          padding: 0
          .group
            flex-direction: column
          span.lstitle-new
            padding: 15px 25px
            @media (max-width: 767px)
              padding: 15px 15px
          .ctn-desc-new
            width: 100%
            @media (max-width: 767px)
              padding-top: 0px
          .fix-map
            padding-bottom: 37%
            border-radius: 0 0 2px 2px
            @media (max-width: 576px)
              padding-bottom: 56%
        &.info--transparent
          background-color: transparent
          padding: 0px
          .wrap-btn, .btn
            margin: 0
          .wrap-btn:first-child
            margin-right: 2%
            @media (max-width: 480px)
              margin-right: 0px
              margin-bottom: 10px
        &.cover-car
          span.price
            display: none
            @media (max-width: 991px)
              position: absolute
              display: block
              color: #fff
              z-index: 2
              background-color: rgba(0, 165, 80, .85)
              border-radius: 20px
              font-weight: bold
              padding: 7.5px 15px
              font-size: 14px
              bottom: 20px
              right: 20px

            @media (max-width: 767px)
              padding: 5px 8px
              font-size: .875em
              right: 5px
              bottom: 8px
        .response-desc
          -webkit-box-orient: horizontal
          -webkit-box-direction: normal
          -ms-flex-direction: row
          flex-direction: row
          -webkit-box-pack: justify
          -ms-flex-pack: justify
          justify-content: space-between
          border-bottom: 1px solid #ccc
          padding-bottom: 15px
          padding-top: 15px
          p
            font-weight: normal
            color: #141414
            text-transform: unset
            font-size: 16px
        .car-img
          .fix-img
            padding-bottom: 50%
            @media (max-width: 576px)
              padding-bottom: 75%
        .profile-mini
          margin-bottom: 0px
          // width: 100%
        .review
          padding: 0
          span.lstitle-new
            font-size: 1rem

      .group
        margin-bottom: 25px
        &:last-child
          margin-bottom: 0px
        @media (max-width: 767px)
          margin-bottom: 0px
        .owner-response
          p, span.rate
            font-size: .875rem
      .group-owner
        align-items: center
        @media (max-width: 767px)
          flex-direction: column
        .profile-mini
          width: 50%
          flex-direction: column
          align-items: center
          @media (max-width: 767px)
            padding-top: 0px
            width: 100%
        .desc
          padding-left: 0
          text-align: center
          width: unset
          margin-top: 10px
          @media (max-width: 767px)
            padding-left: 0
          span.lstitle-new
            width: unset
            padding-right: 0px
          h2
            font-size: 20px
          > a
            display: flex
            align-items: center
            flex-direction: column
        .owner-response
          width: 50%
          @media (max-width: 767px)
            width: 100%
            border-bottom: none
            border-top: none
          .response-desc
            @media (max-width: 767px)
              width: 100%
              padding-top: 10px
              padding-bottom: 10px
            @media (max-width: 480px)
              width: 100%
.func-remove-x
  background: none
  color: inherit
  border: none
  padding: 0
  font: inherit
  cursor: pointer
  outline: inherit !important
  width: 35px
  height: 35px
  -webkit-border-radius: 100%
  -moz-border-radius: 100%
  border-radius: 100%
  display: flex
  justify-content: center
  align-items: center
  margin-left: 10px
  cursor: pointer
  position: fixed
  top: 30px
  z-index: 1350
  right: 45px
  @media (max-width: 1199px)
    top: 20px
    right: 35px
  @media (max-width: 767px)
    right: 25px
    top: 25px
  .ic.ic-remove-wh
    background-position: -400px -144px
    background-size: 600px
    width: 35px
    height: 35px

//== Modal QR code
.modal-body.qr-body
  display: flex
  justify-content: center
  .img-qr
    width: 70%
    img
      max-width: 100%
      height: auto

//== Modal Promotion
.modal-content
  .modal-header
    &.header-promo
      padding-bottom: 1px
      .form-default
        padding-top: .5rem
      .wrap-input.has-ico-search
        input
          width: calc(100% + 30px)
.modal-body
  .body-promo
    div:last-child
      .box-promo
        border-bottom: none
    .box-promo
      width: 100%
      display: flex
      align-items: center
      border-bottom: 1px solid #eee8ee
      padding-top: 5px
      padding-bottom: 15px
      &:last-child
        border-bottom: none
      @media (max-width: 480px)
        padding-top: 5px
      .left
        width: 15%
        @media (max-width: 480px)
          width: 18%
        .img-promo
          max-width: 100%
          height: auto
      .center
        width: 60%
        padding: 0 15px
        @media (max-width: 480px)
          padding: 0 10px
        .code
          font-size: 15px
          font-weight: bold
          @media (max-width: 480px)
            font-size: 14px
        .desc
          font-size: 14px
          color: $color-second
          @media (max-width: 480px)
            font-size: 12px
          span
            color: #00a550
        &.center-payment
          width: 70%
          p.code
            margin-bottom: .5rem
          p.desc
            margin-bottom: 0
            font-size: 12px
      .right
        width: 25%
        display: flex
        justify-content: flex-end

        .btn-sm
          font-size: 14px
          @media (max-width: 480px)
            height: 30px
            line-height: 30px
            font-size: 10px
            padding: 0 8px
    .link-desc
      transition: all .3s ease
      color: $color-second
      position: relative
      display: block
      &.chevron-down:after, &.chevron-up:after
        content: ""
        position: absolute
        top: 5px
        left: 54px
        background-image: url(../images/main_sprites.png)
        background-position: -16px -341px
        background-size: 450px
        width: 15px
        height: 10px
        vertical-align: middle
        text-indent: -9999px
      &.chevron-up:after
        left: 75px
        background-position: -29px -341px
      &:hover, &:focus
        color: #00a550
        &.chevron-down:after
          background-position: -16px -351px
        &.chevron-up:after
          background-position: -29px -351px


//--- Modal Info Insurance
.modal-insurance
	width: 770px
	.modal-header
		background-image: url("../images/background/ins-1.jpg")
		background-repeat: no-repeat
		background-size: 100%
		background-position: center 55%
		padding: 100px 20px
		h4.modal-title, .close
			color: #fff
	.insurance-partner
		left: 50%
		transform: translateX(-50%)
	.modal-body
		padding: 100px 45px 48px
	.content-insurance
		p, ul > li
			font-size: 1rem
			margin-bottom: .5rem
			@media (max-width: 767px)
				font-size: .875rem
		p.ins-note
			color: #6e6e6e
			margin-bottom: 0
		ul
			margin-bottom: 1rem



//-- Modal Request Details
.modal-dialog.modal-request-detail
  &.modal-confirm
    max-width: 770px
    @media (max-width: 991px)
      max-width: 770px
      margin: auto
  .modal-content .modal-body .module-register .register-container
    max-width: 670px
    .content-register
      .stepbystep
        border-bottom: 1px solid #e8eaef
        margin-bottom: 40px
        // padding-bottom: 20px
        @media (max-width: 767px)
          margin-bottom: 15px
        ul > li
          width: 33.33%
          span.nu
            @media (max-width: 767px)
              width: 40px
              height: 40px
              line-height: 40px
      .content-booking
        // padding-top: 40px
      .info-car--more
        @extend .df-full
        justify-content: flex-start
        [class^='group-']
          flex-basis: unset
          margin-bottom: 20px
          @media (max-width: 767px)
            width: 100%
            margin-bottom: 15px
        .group-1
          width: 30%
          padding-right: 15px
          @media (max-width: 767px)
            width: 40%
            order: 1
          @media (max-width: 576px)
            margin-bottom: 0px

        .group-2
          width: 40%
          padding-left: 15px
          padding-right: 0
          align-self: flex-end
          @media (max-width: 767px)
            width: 60%
            order: 2

        .group-3
          width: 30%
          padding-left: 15px
          padding-right: 0
          @media (max-width: 767px)
            width: 100%
            grid-column: 1/ span 2
            order: 5
        .group-4
          @media (max-width: 767px)
            order: 3
        .group-5
          @media (max-width: 767px)
            order: 4
        .group-6
          @media (max-width: 767px)
            order: 6
        .group-7
          @media (max-width: 767px)
            order: 7
        .full-wrapper
          @media (max-width: 767px)
            order: 8
        .group-1, .group-2, .group-3
          @media (max-width: 576px)
            width: 100%
            padding-right: 0px
            padding-left: 0px

        .group-4, .group-5, .group-6, .group-7
          width: 100%
          padding-left: 0
          padding-right: 0

        .group-5 > h6
          margin-bottom: 0

        .address-car > .line-form
          margin-bottom: 10px
        .address-car
          @media (max-width: 576px)
            margin-bottom: 0
        span.lstitle
          font-size: 12px
          padding-top: 5px
          margin-bottom: 0
        .btn--m.btn-calendar
          line-height: 32px
          height: 32px
          font-size: .825rem
          margin-bottom: 15px
        .profile-mini-v2
          .avatar.avatar-new
            width: 70px
            height: 70px
        .form-default.grid-form
          margin-bottom: 0
          .line-form.has-timer
            margin-bottom: 10px
          // .line-form.has-timer:last-child
          //   @media (max-width: 767px)
          //     margin-bottom: 15px
        .car-img, .group-info, .profile-mini-v2, .require-paper:last-child
          margin-bottom: 20px
          @media (max-width: 767px)
            margin-bottom: 15px
        .require-paper, .full-wrapper > .group-info
          margin-bottom: 40px
          @media (max-width: 767px)
            margin-bottom: 30px
        .form-default.no-mg > .line-form
          margin-bottom: 0
        .group-4
          .group-info
            h6 > a
              color: #00a550
              font-weight: normal
        .group-info.count-down
          display: flex
          justify-content: space-between
          padding: 15px 0
          border-top: 1px solid #00a550
          border-bottom: 1px solid #00a550
          > h6
            margin-bottom: 0
          > h6, > p
            @media (max-width: 480px)
              font-size: .825rem

$mb-1: 1rem
//-- Modal Withdrawal Request
.modal-withdrawal-req.modal-sm
	.modal-header
		padding-bottom: 20px
		h4.modal-title
			@media (max-width: 480px)
				font-size: 1.25em
	.modal-body
		padding-bottom: 10px
		.request-container
			padding: 0 20px
			@media (max-width: 480px)
				padding: 0
			> p
				margin-bottom: $mb-1
				font-size: .875rem
				@media (max-width: 480px)
					font-size: .8125rem
.form-request.form-default
	.group
		margin-bottom: calc(#{$mb-1} + .5rem)
		&.group-inline
			@extend %align-center
			justify-content: space-between
			@media (max-width: 576px)
				flex-wrap: wrap
			span.lstitle,
			.line-radio,
			.custom-control
				margin-bottom: 0
			.custom-control
				@media (max-width: 480px)
					font-size: .875rem
			span.lstitle
				@media (max-width: 480px)
					margin-bottom: .5rem
					width: 100%
		span.lstitle
			font-weight: 600
			color: $color-main
			display: block
			margin-bottom: calc(#{$mb-1} / 2)
		.line-form
			margin-bottom: calc(#{$mb-1})
		label.label
			font-size: .875rem


//-- Modal Form Insurance in Trip detail

.modal-dialog.modal-ins-form
	.module-register
		// @extend %config-background
		// background-size: contain
		padding: 0px
		background-color: transparent
		@media (max-width: 767px)
			padding-top: 15px
	.register-container
		background-color: transparent
	.ins-form-logo
		@extend %d-flex
		justify-content: space-between
		margin-bottom: 1.5rem
		.left, .right
			text-align: left
			p
				margin-bottom: .75rem
				font-weight: 500
				@media (max-width: 480px)
					font-size: .8125rem
					margin-bottom: .5rem
		.left
			img
				@media (max-width: 767px)
					width: 70%
		.right
			text-align: right
			img
				width: 70%
				@media (max-width: 767px)
					width: 45%
	.ins-form-title
		text-align: center
		h3
			font-weight: 600
			font-size: 1.75rem
			margin-bottom: .75rem
			@media (max-width: 767px)
				font-size: 1.25rem
			@media (max-width: 480px)
				font-size: 1.125rem
		p.cert-no
			font-size: 1rem
			margin-bottom: .5rem
			@media (max-width: 767px)
				font-size: .8125rem
			span
				font-weight: 600
				background: #00a550
				display: inline-block
				color: #fff
				margin: 0 10px
				padding: .05rem .5rem
				font-size: 1.125rem
				@media (max-width: 767px)
					font-size: .875rem
					margin: 0 5px
	.ins-form-body
		@extend %config-background
		background-size: 80%
		padding: 50px 0
		@media (max-width: 767px)
			background-size: 99%
		@media (max-width: 576px)
			padding: 30px 0
			padding-bottom: 15px
		.ins-info
			margin-bottom: 1.25rem
			@media (max-width: 767px)
				margin-bottom: 1rem
		h6
			font-size: 1rem
			margin-bottom: .75rem
			font-weight: 500
			@media (max-width: 767px)
				font-size: .875rem
				margin-bottom: .5rem
		.form-info
			@extend %d-flex-wrap
			p
				width: 50%
				@media (max-width: 767px)
					width: 100%
				> span
					font-weight: 500
					color: #00a550
				&:first-child
					width: 100%
		p
			font-size: 1rem
			margin-bottom: .5rem
			text-align: justify
			@media (max-width: 767px)
				font-size: .875rem
		.wrap-btn
			text-align: center
			.btn-down-ins
				width: 50%
				@media (max-width: 576px)
					width: 100%
					margin: 0
					font-size: .875rem
