$mg-trans-xl: 1.5rem !default
//==Owner Response===
.owner-response
  width: 100%
  @media (max-width: 767px)
    border-bottom: 1px solid #e8e8e8
    border-top: 1px solid #e8e8e8 
    padding-top: 20px
    display: flex 
    justify-content: space-between
    flex-wrap: wrap
.response-desc
  @include flexbox()
  padding-bottom: 20px 
  flex-direction: column  
  @media (max-width: 480px)
    width: 50%
  p 
    font-weight: bold 
    margin-bottom: 5px
    color: $color-second
    font-size: 0.75rem
    font-weight: bold
    text-transform: uppercase
    @media (max-width: 767px)
      font-size: 0.75em
  .rate 
    color: $color-base
    font-size: 1.2em
    font-weight: bold
    line-height: $line-height
    @media (max-width: 767px)
      font-size: 1.125em
      
//-- Owner Register 
//-- Component 
.reg-tutorial__sect
  padding: 60px 0
  @media (max-width: 767px)
    padding: 45px 0
.reg-tutorial__sect, .reg-cact__sect 
  h3.n-title 
    @media (max-width: 991px)
      font-size: 1.5rem
//-- Cover 
.owner-register__wrap
  &.banner-home__sect 
    height: auto
    padding: 45px 0 
    .reg-container
      display: flex 
      align-items: flex-start 
      max-width: 1500px 
      margin: 0 auto 
      height: 100%
      padding: 0 5rem
      @media (max-width: 1399px)
        max-width: 1260px
        padding: 0
      @media (max-width: 1199px)
        max-width: 960px
        padding: 0 15px 
      @media (max-width: 991px)
        max-width: 720px
      @media (max-width: 767px)
        flex-wrap: wrap
        max-width: 540px 
      @media (max-width: 576px) 
        max-width: none
  //-- General code
  .main-title, .box-register 
    position: relative 
    z-index: 2
    @media (max-width: 767px)
      width: 100%
  .main-title 
    color: #fff 
    @media (max-width: 767px)
      width: 100%
      padding: 0 
      margin-bottom: 1.5rem
      text-align: center
    h2.reg-tt 
      font-weight: bold
      font-size: 2.35rem
      margin-bottom: 1.5rem 
      @media (max-width: 1399px)
        font-size: 2.125rem
        padding-right: 0
      @media (max-width: 1199px)
        font-size: 1.75rem
      @media (max-width: 991px)
        font-size: 1.5rem
      @media (max-width: 576px)
        margin-bottom: .75rem
        line-height: 1.4
    > p 
      font-size: 1.5rem 
      @media (max-width: 1399px)
        font-size: 1.125rem
      @media (max-width: 991px)
        font-size: 1rem
      @media (max-width: 576px)
        font-size: .8125rem
      > a 
        color: #fff
        text-decoration: underline
  .box-register 
    width: 40vw
    min-width: 450px
    margin-left: 5rem
    @media (max-width: 1399px)
      width: 52vw
      min-width: 0
    @media (max-width: 1199px)
      width: 72vw
      min-width: 420px
      margin-left: 1rem
    @media (max-width: 991px)
      min-width: 350px
    @media (max-width: 767px)
      min-width: 0
      width: 100%
      margin-left: 0px
    .form-register 
      padding: 30px 30px 10px 
      background: #f8f9fb
      box-shadow: 0 4px 4px rgba(0,0,0,0.2)
      @media (max-width: 1399px)
        padding: 15px 30px 1px
      @media (max-width: 991px)
        padding: 15px 15px 1px
      @media (max-width: 767px)
        padding: 15px 30px 1px
      @media (max-width: 576px)
        padding: 15px 15px 1px
      .form-group 
        display: flex 
        flex-wrap: wrap 
      .line-form 
        width: 100%
        @media (max-width: 1399px)
          margin-bottom: 10px
        &.w-60 
          width: calc(60% - .5rem) 
          margin-right: .5rem
        &.w-40 
          width: 40%
        &.w-60, &.w-40
          @media (max-width: 991px)
            width: 100%
            margin-right: 0
        input, select 
          @media (max-width: 1399px)
            font-size: .8125rem
          @media (max-width: 1199px)
            font-size: .875rem
          @media (max-width: 991px)
            font-size: 13px
          @media (max-width: 767px)
            font-size: .875em
          @media (max-width: 576px)
            font-size: .8125rem
        select
          &:invalid 
            color: $color-second
          option 
            color: #141414
        &.local
          font-size: .875rem
          @media (max-width: 1399px)
            font-size: .8125rem
          @media (max-width: 1199px)
            font-size: .875rem
          @media (max-width: 991px)
            font-size: 13px
          > label 
            display: block 
            margin-bottom: .5rem
          .custom-control 
            margin-bottom: 0
      h4.title 
        color: #00a550
        font-size: 1.25rem
        margin-bottom: .75rem
        @media (max-width: 991px)
          font-size: 1rem
        @media (max-width: 576px)
          margin-bottom: .5rem
      p 
        font-size: 1rem
        margin-bottom: .5rem
        @media (max-width: 1399px)
          font-size: .8125rem
        @media (max-width: 991px)
          font-size: 13px
        @media (max-width: 767px)
          font-size: .875rem
        @media (max-width: 576px)
          font-size: .75rem
        &.read-paper 
          color: #141414
          margin-bottom: 1rem
          > a 
            color: #00a550
  
//-- Tutorial Register
.reg-tutorial__sect 
  .reg-step
    &__wrap 
      @extend %just-center
      flex-wrap: wrap
    &__item 
      width: calc(33.33% - 1.5rem)
      @extend %col-align-center 
      @media (max-width: 767px)
        width: 100%
      &:not(:last-child)
        margin-right: 2.25rem 
        @media (max-width: 767px)
          margin-right: 0 
          margin-bottom: 2rem
      .ict-large 
        margin-bottom: 1rem
      .step-detail 
        text-align: center
        @media (max-width: 576px)
          max-width: 320px
      h4 
        font-size: 1.25rem
        font-weight: bold
        margin-bottom: .5rem
        color: $color-main
        @media (max-width: 991px)
          font-size: 1rem
      .dt-step, p.dt 
        font-size: .875rem
        @media (max-width: 991px)
          font-size: 13px
        @media (max-width: 767px)
          font-size: .875rem
        @media (max-width: 576px)
          font-size: .8125rem 
      .dt-step
        @extend %d-flex
        text-align: center
        @media (max-width: 991px)
          flex-wrap: wrap
          margin-bottom: .5rem
        @media (max-width: 767px)
          flex-wrap: nowrap
        @media (max-width: 576px)
          flex-wrap: wrap 
        span 
          width: 25%
          font-weight: bold
          text-align: left
          @media (max-width: 1199px)
            width: 32%

//-- Call Action Register
.reg-cact__sect 
  min-height: 350px
  padding: 45px 0
  background-size: cover
  background-position: center
  position: relative
  @extend %d-flex-center
  @media (max-width: 1399px)
    min-height: 250px
  &:after 
    @extend %op-background
    background: rgba(0,0,0,.6)
  .inside 
    position: relative
    z-index: 1 
    color: #fff 
    text-align: center
  h3.n-title 
    margin-bottom: 1rem
    color: #fff
    line-height: 1.4
    @media (max-width: 767px)
      margin-bottom: 1.5rem
      font-size: 1.75rem
  p 
    margin-bottom: 3rem
    @media (max-width: 991px)
      font-size: .875rem 
    @media (max-width: 767px)
      font-size: 1rem
    @media (max-width: 576px)
      font-size: .875rem
      margin-bottom: 2.5rem
  a.btn.btn--l 
    font-size: 1.125rem


//- Owner Reports 
//- Css for general 
.module-register 
  .register-container.owner-report
  	max-width: 870px
.owner-report--heading, .module-register .down-report
	padding: 15px 30px
	@media (max-width: 767px)
		padding: 15px
.owner-report--heading 
	background: $color-base
	color: #fff 
	@extend %align-center
	justify-content: space-between
	@media (max-width: 480px)
		padding: 12px 10px 
	h4.title 
		color: #ffffff
		margin-bottom: 0
		@media (max-width: 480px)
			font-size: .75rem
	.line-form 
		min-width: 135px
		@media (max-width: 480px)
			min-width: 110px
.owner-report--body 
	padding: 15px 30px 0
	@media (max-width: 767px)
		padding: 15px 15px 0 
	.balance-summary
		padding: $mg-trans-xl 0
		> h3 
			font-weight: bold 
			font-size: 2.25rem
			color: #00a550
			@media (max-width: 767px)
				font-size: 2rem
			@media (max-width: 767px)
				font-size: 1.5rem
		> p
			color: $color-four
			font-size: 1.125rem
			@media (max-width: 767px)
				font-size: 1rem
			@media (max-width: 767px)
				font-size: .875rem
.info-display 
	@extend %d-flex 
	margin: 0 auto
	margin-bottom: $mg-trans-xl
	max-width: 720px 
	@media (max-width: 767px)
		max-width: none
	@media (max-width: 480px)
		flex-wrap: wrap
	&--item
		width: calc(25% - 1rem)
		@media (max-width: 767px)
			width: calc(22.5% - .5rem)
		@media (max-width: 480px)
			width: 50%
		&.d-flex 
			width: calc(50% - 1rem)
			@media (max-width: 767px)
				width: calc(55% - .5rem)
			@media (max-width: 767px)
				width: 100%
		&:not(:last-child)
			margin-right: 1.5rem 
			border-right: 2px solid #ccc
			padding-right: 1.5rem
			@media (max-width: 767px)
				margin-right: .75rem
				padding-right: .75rem
			@media (max-width: 480px)
				border-right: none
				margin-right: 0
				padding-right: 0
				margin-bottom: 1.5rem
				padding: 0 10px
		&:first-child
			@media (max-width: 480px)
				border-right: 2px solid #ccc
		.response-desc
			padding-bottom: 0
			padding: 5px 10px
			background: #f7f8fb
			border-radius: 5px
			margin-right: 10px
			min-height: 85px
			@media (max-width: 767px)
				min-height: 75px 
			&:last-child 
				margin-right: 0
			span.highlight
				font-size: 1.5rem
				@media (max-width: 767px)
					font-size: .875rem
		span.highlight
			font-size: 1.5rem
			font-weight: 600
			margin-bottom: .25rem
			display: block
			@media (max-width: 767px)
				font-size: 1rem
			@media (max-width: 480px)
				font-size: 1.125rem
		.desc 
			text-transform: none 
			color: $color-four
			font-weight: normal
			font-size: .875rem
			margin-bottom: 0
			@media (max-width: 767px)
				font-size: .8125rem
		.group-ratings
			@extend %d-flex-center
			i.ic-star
				background: url(../images/star.png) -48px 0 no-repeat;
				background-size: 72px 24px;
				width: 24px;
				height: 24px;
				vertical-align: middle;
.transaction-detail
	&__wrap 
		padding-top: $mg-trans-xl
		@media (max-width: 480px)
			padding-top: 0
	&__table
		margin-bottom: $mg-trans-xl 
		@media (max-width: 480px)
			overflow: hidden
			overflow-x: auto
		.row-transaction 
			@extend %d-flex
			
			&:nth-child(even)
				.desc
					background: #f7f8f8
			&.main-row
				@extend .fontWeight-5
				border-bottom: 1px solid #eae8ef
				.desc
					@extend %d-flex-center 
					border-bottom: 1px solid #ccc
			p
				font-size: .875rem
				@media (max-width: 767px)
					font-size: 12px
				@media (max-width: 480px)
					font-size: 11px
				a 
					color: $color-main 
					cursor: pointer 
					text-decoration: underline
			.desc 
				width: calc(100% / 8)
				padding: .5rem
				@extend %d-flex-center 
				border-bottom: 1px solid #eae8ef
				// border-bottom: 1px solid #ccc
				@media (max-width: 767px)
					padding: .5rem .25rem
				@media (max-width: 480px)
					min-width: 75px
				&:nth-child(8)
					justify-content: flex-end
.summary-change, .transaction-summary
	@extend %align-center
	justify-content: space-between
	width: 100%
.summary-change, .group-summary 
	background: $color-dark-snow
	padding: .5rem 1rem
	border-radius: 3px 
	color: $color-gray-2
	font-weight: 600
	@media (max-width: 480px)
		padding: .5rem
.summary-change
	font-size: .875rem
	margin-bottom: .75rem 
	@media (max-width: 767px)
		font-size: .8125rem
	@media (max-width: 480px)
		font-size: 11px
		margin-bottom: .5rem
.group-summary 
	@extend .fontWeight-6
	margin-bottom: 1rem
.transaction-summary
	margin-bottom: .75rem
	@media (max-width: 480px)
		margin-bottom: .5rem
	p 
		@media (max-width: 767px)
			font-size: .875rem
		@media (max-width: 480px)
			font-size: .75rem
	p:first-child 
		text-transform: uppercase
		font-size: .875rem
		@media (max-width: 767px)
			font-size: .8125rem
		@media (max-width: 480px)
			font-size: 11px
	&:last-child 
		margin-bottom: 0
	.sum-price
		color: #00a550
.wrap-btn.report-btn, .down-report
	max-width: 870px
	margin: 0 auto
	padding: 0
	margin-bottom: 1.5rem
	@media (max-width: 480px)
		flex-wrap: wrap
	.btn.btn--m 
		&:not(:last-child)
			margin-right: 1rem
			@media (max-width: 480px)
				margin-bottom: .75rem
				margin-right: 0
		@media (max-width: 767px)
			font-size: .875rem
		@media (max-width: 480px)
			width: 100%
.module-register
	.down-report 
		@extend %align-center 
		justify-content: flex-end
		padding-top: 0
		@media (max-width: 767px)
			font-size: .875rem
			padding-top: 0
		@media (max-width: 480px)
			justify-content: space-between
		> label
			@media (max-width: 480px)
				font-size: .75rem
		.btn.btn--s 
			margin-left: .5rem
			padding: 0 20px
			@media (max-width: 480px)
				font-size: .8125rem 

$mb-general: 1rem
$med-general: calc(#{$mb-general}/2)

//-- Owner Transactions 
.owner-transaction__wrap
	padding: 45px 0
	position: relative
	.f-container 
		max-width: 1500px 
		@media (max-width: 1399px)
			max-width: 1260px
		@media (max-width: 991px)
			padding: 0 15px
	.main-title
		position: relative
		a.btn-back-list 
			top: 5%
			left: 0
		h3.n-title 
			margin-bottom: $mb-general 
			@media (max-width: 576px)
				margin-bottom: $med-general 
		p 
			text-align: center 
			font-size: .875rem
			@media (max-width: 991px)
				margin-bottom: 2rem
			@media (max-width: 576px)
				font-size: .8125rem
			> span 
				display: inline-block
				padding: .2rem .5rem 
				background: #EFF2F7
				color: #3C4858
				margin: 0 .5rem
				@media (max-width: 576px)
					margin: 0 .25rem
	.info-owner
		&__box 
			@extend %d-flex 
			margin-bottom: $mb-general
			@media (max-width: 576px)
				font-size: .875rem
				margin-bottom: $med-general
		&:first-child 
			width: 15%
			@media (max-width: 576px)
				width: 25%
			> p 
				font-weight: 600
		&:nth-child(2)
			background: #EFF2F7
			padding: 0rem .75rem
			> p 
				color: #3C4858
	.owner-report 
		padding-top: $mb-general
		margin-bottom: $mb-general
		.group-summary 
			.text-sm 
				font-size: .8125rem
			.sum-price, .normal
				font-size: .875rem
	p.note 
		color: gray 
		font-size: 13px
	//-- General Table 
	.trip-completed, .transaction-in-month, .cancel-transaction
		&__wrap
			padding-top: 1rem
			margin-bottom: $mb-general
			h4 
				@include sanomat(M, 1.125rem)
				margin-bottom: $mb-general 
				@media (max-width: 576px)
					font-size: .875rem
					margin-bottom: $med-general
		&__table 
			margin-bottom: $mb-general 
			overflow-x: auto
			min-height: 0.01%
			@media (max-width: 576px)
				margin-bottom: 0px
			table 
				width: 100%
				@media (max-width: 991px)
					table-layout: auto
			th, td 
				vertical-align: middle 
				text-align: center
				@media (max-width: 1199px)
					font-size: .75rem
			tr:nth-child(even)
				background: #f7f8f7
			thead 
				th 
					background: #f8f9fb 
					border: 1px solid #e8eaef
					color: #6e6e6e
					@extend .fontWeight-5
			tbody 
				td 
					border: 1px solid #e8eaef
					color: $color-base
			tfoot 
				th, td
					background: #ffffff
					color: $color-base
					font-weight: 700
					&:first-child 
						text-align: right
.owner-transaction__wrap
	.transaction-in-month
		&__table
			table 
				width: auto
				td 
					&:nth-child(2)
						text-align: left 
					&:first-child
						width: 20%
.trip-completed__table, .cancel-transaction__table 
	thead 
		tr:first-child 
			th:nth-child(4), th:nth-child(5), th:nth-child(6)
				@media (max-width: 991px)
					min-width: 100px
		tr:last-child 
			th:first-child 
				@media (max-width: 991px)
					min-width: 75px
			th:nth-child(5), th:nth-child(6)
				@media (max-width: 991px)
					min-width: 150px
			th:nth-child(4), th:nth-child(7), th:nth-child(8), th:nth-child(9)
				@media (max-width: 991px)
					min-width: 95px
.cancel-transaction__table
	thead 
		tr:first-child 
			th:nth-child(4)
				@media (max-width: 991px)
					min-width: 150px