//-- About Promo Detail, Share Code 
  
//== Promo Code
.section_promo-title 
  padding-top: 60px
  padding-bottom: 1px 
  background: url(../images/try-7.png)
  background-position: center
  background-size: cover
  @media (max-width: 1199px)
    background-size: 100%
  @media (max-width: 991px)
    background-size: 132%
  @media (max-width: 767px)
    background-size: 172%
  @media (max-width: 576px)
    background-size: 200%
  @media (max-width: 480px)
    background-size: 280%
  h4 
    padding-right: 30px
    color: #fff
    font-size: 1.875em
    font-weight: 700
    line-height: 1.25
    margin-bottom: .5rem
    @media (max-width: 480px)
      font-size: 1.7em
  .form-default
    width: 35%
    @media (max-width: 991px)
      width: 50%
    @media (max-width: 576px)
      width: 100%
  .wrap-input.has-ico-search 
    border: none
    input
      width: calc(100% + 30px)

//== Module Promo
.module-promo
  width: 100%
  position: relative
  flex-wrap: wrap
  justify-content: flex-start
  padding-bottom: 60px
  padding-top: 30px
  @media (max-width: 767px)
    padding: 15px 0
  @media (max-width: 576px)
    padding: 15px 15px 0
  .box-promo
    width: 23.5% 
    margin-right: 2% 
    min-height: 200px
    border: 1px solid #e8e8e8
    flex-direction: column
    margin-bottom: 2%
    border-radius: 3px
    position: relative 
    cursor: pointer
    &:nth-child(4n)
      margin-right: 0px 
    &:hover, &:focus 
      box-shadow: 0 0 10px rgba(0,0,0,.2)
      .func-remove
        opacity: 1
        visibility: visible
    @media (max-width: 991px)
      width: 31.75%
      margin-right: 2%
      &:nth-child(4n)
        margin-right: 2%
      &:nth-child(3n)
        margin-right: 0px 
    @media (max-width: 576px)
      width: 47.5%
      margin-bottom: 15px
      margin-right: 15px
      &:nth-child(4n), &:nth-child(3n)
        margin-right: 15px
      &:nth-child(2n)
        margin-right: 0px
    @media (max-width: 480px)
      min-height: 175px
    .func-remove 
      position: absolute
      top: -17px
      right: -17px
      background-color: #fff
      width: 34px
      height: 34px
      padding: 4px
      -webkit-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1)
      box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1)
      z-index: 2
      border-radius: 100%
      opacity: 0
      visibility: hidden
      transition: all .3s ease
    .top
      width: 40%
      padding-top: 15px
      .img-promo
        max-width: 100%
        height: auto
    .center
      width: 100%
      padding: 0 15px 10px
      text-align: center
      @media (max-width: 767px)
        padding: 0 10px 10px
      .code 
        font-size: 15px
        font-weight: bold
      .desc 
        font-size: 14px 
        color: $color-second
        @media (max-width: 480px)
          font-size: 12px
        span
          color: #00a550
    .bottom
      width: 100%
      .btn--full
        border-radius: 0 0 3px 3px 
        width: 100%

.box-wrap-promo
  border: 1px solid #e8e8e8
  padding: 5px 10px
  background: #fff
  border-radius: 3px
  width: 150px
  position: relative
  display: flex
  align-items: center
  margin-bottom: 10px
  img 
    width: 30px
    height: 30px
  p 
    font-size: .875rem
    text-transform: uppercase
    font-weight: bold
    padding-left: 10px

//== Promo Code Details
.promo-details
  border: 1px solid #e8e8e8
  .promo-header
    .cover-promo
      background-size: 100%
      background-position: center
      width: 100%
      height: 150px 
    .cover-detail 
      position: relative
      padding: 0 15px
      display: flex 
      justify-content: center
      align-items: center
      flex-direction: column
      .img-promo 
        width: 80px
        height: 80px
        margin-top: -45px
        img 
          max-width: 100%
          height: auto
          object-fit: cover
          box-shadow: 1px 3px 3px rgba(0,0,0,.2)
      .desc 
        text-align: center
        padding-top: 15px
        h4 
          font-size: 1.65em
          font-weight: bold
          @media (max-width: 480px)
            font-size: 1.45em
        p 
          color: $color-second
          @media (max-width: 480px)
            font-size: 13px
          span.green 
            color: $color-main
  .promo-body
    text-align: center
    padding: 30px 0px
    @media (max-width: 480px)
      padding: 15px 0px
    h3 
      font-weight: bold
      font-size: 1.2em
      color: #00a550
      @media (max-width: 480px)
        font-size: 1em
    p 
      margin-bottom: .5rem 
      @media (max-width: 480px)
        font-size: 13px
    .code-promo 
      border: 2px solid #00a550
      padding: 2.5px
      color: #00a550
      font-weight: bold
    ul 
      text-align: justify
      margin-left: 25px
      li
        position: relative
        @media (max-width: 480px)
          font-size: 13px
        &:before 
          position: absolute
          content: ""
          left: -15px
          width: 5px
          height: 5px
          background-color: #141414
          top: 10px
          border-radius: 50%
          @media (max-width: 480px)
            width: 4px 
            height: 4px 
            top: 8px
  .promo-footer
    display: flex 
    justify-content: center
    padding-bottom: 30px
    @media (max-width: 480px)
      padding-bottom: 15px
          
//== Share Code 
.scode_wrapper 
  background-color: #00a550 
  color: #fff 
  position: relative
  overflow: hidden 
  z-index: 10 
  h3
    text-align: center 
    font-size: 2.25rem
    padding-top: 45px 
    margin-bottom: 15px
    font-weight: bold 
    @media (max-width: 1199px)
      font-size: 2rem 
    @media (max-width: 767px)
      font-size: 1.75rem
    @media (max-width: 480px)
      font-size: 1.5rem
      padding-top: 30px
  .scode_grid
    display: grid 
    grid-gap: 2rem 
    grid-template-columns: calc(60% - 1rem) calc(40% - 1rem)
    padding-bottom: 2rem 
    padding: 0 15px 
    margin: 0 auto
    align-items: center
    @media (max-width: 991px)
      grid-template-columns: calc(50% - 2rem) calc(50% - 2rem)
      grid-gap: 4rem
    @media (max-width: 767px)
      grid-template-columns: calc(50% - 1rem) calc(50% - 1rem)
      grid-gap: 2rem
      padding: 0 
    @media (max-width: 480px)
      grid-template-columns: calc(50%) calc(50%)
      grid-gap: .5rem
    p.desc 
      text-align: justify
      font-size: 1.25rem 
      margin-bottom: 1rem
      @media (max-width: 1199px)
        font-size: 1.15rem
      @media (max-width: 991px)
        font-size: 1rem
      @media (max-width: 480px)
        font-size: 14px
        margin-bottom: .5rem
      span:last-child
        display: inline-block
    .img-share 
      text-align: center 
      img 
        max-width: 85%
        height: auto
        @media (max-width: 1199px)
          max-width: 100%
    .form-default 
      .space.m 
        @media (max-width: 480px)
          display: none
      .line-form
        .has-ico.right
          width: 60%
          @media (max-width: 991px)
            width: 100%
          i  
            left: auto 
            right: 13px
            cursor: pointer 
          input
            padding-right: 44px !important
            padding-left: 20px !important 
            font-size: 1rem
            @media (max-width: 480px)
              font-size: 14px
            &:focus, &:hover
              border: none !important
        &.d-flex 
          justify-content: flex-start
          .btn-share 
            width: 50px 
            height: 50px 
            border-radius: 100% 
            display: flex
            justify-content: center 
            align-items: center
            margin-right: 5px 
            &:last-child 
              margin-right: 0px
            &.ic-fb
              background-color: #3b5998
            &.ic-gg
              background-color: #dd4b39
            &.ic-in
              background-color: #007fb1
            &.ic-tweet
              background-color: #00aced
            &.ic-mail
              background-color: #7f7f7f
            @media (max-width: 767px)
              width: 40px 
              height: 40px 
            @media (max-width: 480px)
              width: 30px 
              height: 30px 
              
.scode_social 
  .social_box 
    padding: 45px 15px
    .d-flex 
      flex-wrap: wrap 
      h4 
        width: 100%
        text-align: center
        font-size: 1.75rem
        margin-bottom: 2rem
        text-transform: uppercase
        color: #a9aaad
        font-weight: bold
        @media (max-width: 991px)
          font-size: 1.5rem
        @media (max-width: 767px)
          font-size: 1.25rem
    .wr-btn-share 
      @include flexbox()
      flex-direction: column 
      width: 100%
      align-items: center 
      .wr-btn 
        width: 45%
        @media (max-width: 991px)
          width: 60%
        @media (max-width: 480px)
          width: 100%
        &:first-child 
          margin-bottom: 1rem
          margin-left: 2px 
      button.btn.btn--m 
        font-size: 1rem
        @media (max-width: 767px)
          font-size: 0.875rem

