//- All Settings for owner

// Settings bar
.body .body-container.settings
	padding: 60px 10px
	@media (max-width: 767px)
		padding: 50px 15px
	.content
		.form-default
			h3.text-inline
				display: inline
			> .tooltip
				display: inline
				.tooltip-text
					width: 200px
					margin-left: -105px
					span
						font-size: 11px
		.line-form.line-radio
			display: flex
			@media (max-width: 480px)
				flex-direction: column
			.wrap-input:first-child
				margin-right: 15px
				@media (max-width: 480px)
					margin-right: 0px
					margin-bottom: 10px
	.sidebar-settings.hide-on-med-and-down ul li
		margin-bottom: .5rem
		a
			&.active:before
				display: none
			&.active
				padding-left: 10px
		i.ic
			margin-right: 5px

//Sidebar settings in desktop
.sidebar-settings
	ul
		li
			a
				transition: all .3s ease
				&.active, &:hover, &:focus
					i.ic.ic-infomation
						background-position: -240px -119px
					i.ic.ic-photo
						background-position: -104px -333px
					i.ic.ic-license
						background-position: -48px -333px
					i.ic.ic-setting-rent
						background-position: -161px -333px
					i.ic.ic-setting-price
						background-position: -220px -333px
					i.ic.ic-setting-calendar
						background-position: -240px 0px
					i.ic.ic-management
						background-position: -133px -333px
					i.ic.ic-plus-black
						background-position: -143px -120px
					i.ic.ic-gps
						background-position: -192px -145px
					i.ic.ic-cars
						background-position: -161px -362px
					i.ic.ic-owner-wallet
						background-position: -217.5px -170px
					i.ic.ic-mortgages
						background-position: -245px -194px

//Side-bar Show on Phone
.sidebar-settings.show-on-med-and-down
	display: none !important
	@media (max-width: 767px)
		position: fixed
		bottom: 0
		display: flex !important
		background-color: white
		padding: 15px 0
		width: 100%
		margin-bottom: 0px
		box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3)
		z-index: 9999
		justify-content: center
		border-bottom: 1px solid #f7f8f7
	@media (max-width: 480px)
		padding: 10px 0
	ul
		display: flex
		justify-content: space-around
		width: 100%
	li
		i.ic
			transform: scale(1.3)
			@media (max-width: 480px)
				transform: scale(1.1)
	ul li a
		&.active
			padding-left: 0px
		&.active:before
			display: none

// Headerbar - General Setting for manage (List cars, manage car, GPS...)
.sidebar-control.z-2
	position: relative
	z-index: 2
.sidebar-settings.general-settings
	display: flex
	background-color: white
	padding: 15px 0
	width: 100%
	margin-bottom: 0px
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3)
	justify-content: center
	border-bottom: 1px solid #f7f8f7
	@media (max-width: 480px)
		padding: 10px 0
	ul
		display: flex
		max-width: 1260px
		margin: 0 auto
		width: 100%
		justify-content: center
		@media (max-width: 991px)
			justify-content: space-around
			max-width: none
	li
		padding: 0 40px
		@media (max-width: 1199px)
			padding: 0 20px
		@media (max-width: 991px)
			padding: 0
		&:not(:last-child)
			border-right: 1px solid #e8e8e8
			@media (max-width: 991px)
				border-right: none
		// &:nth-child(5)
		// 	border-right: none
		// &:last-child
		// 	display: none
		i.ic
			transform: scale(1.3)
			@media (max-width: 480px)
				transform: scale(1.1)
		span.label
			padding-left: 15px
			font-size: .875rem
			@media (max-width: 991px)
				display: none
	ul > li > a
		display: flex
		align-items: center
		&.active
			padding-left: 0px
			span.label
				color: #00a550
		&.active:before
			display: none
		&:hover, &:focus
			span.label
				color: #00a550

//- Setting Calendar
//Status of Calendar -- user for manage cars
.event
	color: $color-main
	font-weight: bold
.outside
	p
		color: #ddd
	.event
		color: rgba(0, 165, 80, .35)
.current-date
	border: 1px solid rgba(169, 170, 173, .5)
.available
	background: #f8f9fb
.gray
	background: repeating-linear-gradient(-45deg, #a9aaad, #a9aaad 5px, #6c6c6e 5px, #6c6c6e 10px)
.full-gray
	background-color: darkgray
.full
	background: repeating-linear-gradient(-45deg, #ccc, #ccc 5px, #c01623 5px, #c01623 10px)
.booked
	position: absolute
	top: 0
	height: 100%
	background: #C0392B
.half
	width: 50%
	left: 0
.available.mn-weekend
	background-color: rgba(211,211,211,.5)
.label-in-calendar
	position: absolute
	top: 3px
	right: 5px
	display: flex
	@media (max-width: 576px)
		right: 3px
	i.ic:last-child
		margin-left: 5px
		@media (max-width: 576px)
			margin-left: 3px

//-- Setting Pricicing
.link-calendar
	display: flex
	&:hover, &:focus
		color: #00a500
		i.ic.ic-setting-calendar
			background-position: -240px 0px

//- Setting Renting
//- Setting Renting - Instant booking
.content-container
	.form-instant-booking
		@extend %d-flex-wrap
		.line-form
			width: calc(50% - .75rem)
			margin-bottom: 0
			@media (max-width: 767px)
				width: 100%
			&:not(:last-child)
				margin-right: 1.5rem
				@media (max-width: 767px)
					margin-right: 0
					margin-bottom: 1rem
			select:disabled
				color: gray
				-webkit-text-fill-color: gray

// Setting-GPS
// Tracking
.filter-control
	margin-bottom: 1rem
	.wrap-select
		width: 320px
