
//-- Tutorial Step By Step
.tutorial.step-box__wrap
	// @extend %d-flex
	margin-bottom: 1.5rem
	.step-box__item
		// width: calc(20% - 1rem)
		text-align: center
		&:not(:last-child)
			margin-right: 1.25rem
		//- Step detail
		.title
			font-size: 12px

		.short-desc
			font-size: .875rem
			margin-bottom: .5rem
			word-wrap: break-word
			-webkit-line-clamp: 2
			line-height: 20px
			min-height: 40px
			font-weight: 500
		//- Step images
		.box-desc
			background: #f7f8fb
			padding: .25rem .75rem
			border-radius: 3px
			color: $color-gray-2
			min-height: 58px
			text-align: center
			@extend %d-flex-center
			margin-bottom: 1rem
			position: relative
			box-shadow: 0px 1px 4px rgba(0,0,0,.1)
			p
				font-size: .875rem
			&:before
				content: ""
				position: absolute
				bottom: -10px
				left: 50%
				-webkit-transform: translateX(-50%)
				transform: translateX(-50%)
				width: 0
				border-right: solid 10px transparent
				height: 0px
				border-left: solid 10px transparent
				border-top: solid 10px #f7f8fb

.link-step-by-step
	margin-bottom: 1rem
	a.text-primary
		display: block
		font-weight: 500
		margin-bottom: .5rem
		@media (max-width: 767px)
			font-size: .875rem
.payment-guide-detail
	.content-guide
		.method-item
			p.method-title
				font-weight: 500
			.left, .right
				text-align: center
			.img-fluid:not(:last-of-type)
				margin-bottom: 1.5rem
				@media (max-width:767px)
					margin-bottom: 1rem
			.box-item-title
				width: calc(25% - 3rem)
				margin-right: 3rem
				@media (max-width: 767px)
					width: 100%
					margin-bottom: 1rem
					margin-right: 0
			.box-item-content
				width: 75%
				@media (max-width: 767px)
					width: 100%

		.content-detail
			padding-left: 1rem
			@media (max-width: 767px)
				padding-left: 0rem
		.left.filter
			@extend %col-align-center
		.ctn-desc
			padding: 0 30px
			p
				font-style: italic
				font-size: 14px
		.box-item
			@extend %d-flex-center
			flex-wrap: wrap
			padding-top: 0.5rem
			width: calc(100%/3 - 2rem)
			margin-right: 2rem
			margin-bottom: 1rem
			&:nth-child(3n)
				margin-right: 0rem
			&:last-child
				margin-right: 0
			@media (max-width:767px)
				width: 100%
				margin-right: 0
		.box-item-l
			@extend %d-flex-center
			flex-wrap: wrap
			padding-top: 0.5rem
			width: calc(62% - 2rem)
			margin-right: 2rem
			margin-bottom: 1rem
			&:last-child
				margin-right: 0
			@media (max-width:767px)
				width: 100%
				margin-right: 0
		.box-item-m
			@extend %d-flex-center
			flex-wrap: wrap
			padding-top: 0.5rem
			width: calc(100%/2 - 1rem)
			margin-right: 2rem
			margin-bottom: 1rem
			&:nth-child(2n)
				margin-right: 0rem
			&:last-child
				margin-right: 0
			@media (max-width:767px)
				width: 100%
				margin-right: 0
		.box-item-sm
			@extend %d-flex-center
			flex-wrap: wrap
			padding-top: 0.5rem
			width: calc(27% - 2rem)
			margin-right: 2rem
			margin-bottom: 1rem
			&:nth-child(2n)
				margin-right: 0rem
			&:last-child
				margin-right: 0
			@media (max-width:767px)
				width: 100%
				margin-right: 0
		.box-item-50
			@extend %d-flex-center
			flex-wrap: wrap
			padding-top: 0.5rem
			width: calc(51% - 2rem)
			margin-right: 2rem
			margin-bottom: 1rem
			&:last-child
				margin-right: 0
			@media (max-width:767px)
				width: 100%
				margin-right: 0
		p.caption-img
			margin-top: 0.5em
			font-size: 14px
			color: #00a550
			font-style: italic
			text-align: center
		.pl-2
			padding-left: 20px
			@media (max-width: 767px)
				padding-left: 0
	span.app-icon
		width: 30px
		height: 30px
		background: $color-base
		border-radius: 99%
		margin: 0 5px
		display: inline-block
		text-align: center
