/*car finding*/
.mioto-layout {
    overflow: hidden;
}

.body {
    overflow: hidden;
}

.has-list .map-container {
    height: calc(100vh - 120px);
    overflow-x: hidden;
    overflow-y: auto;
}

.map-container {
    height: calc(100vh - 120px);
    overflow-x: hidden;
    overflow-y: auto;
}

.filter-body {
    height: calc(100vh - 120px);
}

@media only screen and (max-width: 991px) {
    .has-list .map-container {
        height: calc(100vh - 50px);
    }

    .map-container {
        height: calc(100vh - 50px);
    }

    .filter-body {
        height: calc(100vh - 180px);
    }
}

/* @media only screen and (max-width: 768px) {
    .has-list .map-container {
        height: calc(100vh - 170px);
    }

    .map-container {
        height: calc(100vh - 170px);
    }
}

@media only screen and (max-width: 736px) {
    .has-list .map-container {
        height: calc(100vh - 132px);
    }

    .map-container {
        height: calc(100vh - 132px);
    }
} */

.swiper-slide-active .car-item-wrapper {
    cursor: pointer;
}

.func-remove-x:hover {
    z-index: 9999;
}

/*info window in google map*/
.gm-style-iw + div {
    display: none;
}

.gm-style-iw {
	left: 27px !important;	
}

.modal-dialog.modal-lg .modal-content {
    max-width: 870px;
}

/*react burger sidebar */
.bm-burger-button {
    /* position: fixed;
    width: 36px;
    height: 30px;
    left: 36px;
    top: 36px; */
    display: none;
}

.bm-cross {
    background: #000;
}

/*Google map custom popup*/
/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#map {
    height: 100%;
}
    /* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* The location pointed to by the popup tip. */
.popup-tip-anchor {
    height: 0;
    position: absolute;
    /* The max width of the info window. */
    width: 200px;
}

.popup-pos-anchor {
    z-index: 3;
}

.popup-tip-anchor:hover {
    z-index: 2;
}

/* The bubble is anchored above the tip. */
.popup-bubble-anchor {
    position: absolute;
    width: 100%;
    bottom: /* TIP_HEIGHT= */ 8px;
    left: 0;
		cursor: pointer;	
}
.popup-bubble-anchor.car-gps {
	bottom: -85px;
}
.popup-bubble-anchor.car-gps::after {
		display: none;
}
 /* Draw the tip. */
 .popup-bubble-anchor::after {
   	content: "";
    position: absolute;
    top: 0;
    left: 0; 
   	/* Center the tip horizontally. */
   	transform: translate(-50%, 0); 
   	/* The tip is a https://css-tricks.com/snippets/css/css-triangle/ */
   	width: 0;
    height: 0; 
   	/* The tip is 8px high, and 12px wide. */
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
		border-top: 4px solid #4a4a4a; 
}

/* The popup bubble itself. */
 .popup-bubble-content {
    position: absolute;
    top: 0;
		left: 0;
		transform: translate(-5%, -100%);
    transform: translate(-50%, -100%); 
    /* Style the info window. */
    background-color: #fff;
    color: rgba(18, 18, 19, 0.933);
    padding: 3px 4px;
    border-radius: 5px;
    font-family: sans-serif;
    font-size: 13px;
    overflow-y: auto;
    max-height: 60px; 
    border: 1px solid #4a4a4a;
}

.popup-bubble-content.popup-car-gps /* .popup-bubble-content*/ {
	position: absolute;
	top: 0;
	left: 0;
	transform: translate(-5%, -100%);
	color: rgba(18, 18, 19, 0.933);
	padding: 3px 4px;
	font-family: sans-serif;
	font-size: 13px;
	background: none;
	border: none;
	overflow: unset;
}

.popup-pos-content {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -100%);
    /* Style the info window. */
    overflow-y: auto;
    max-height: 60px;
}

.active .popup-bubble-content {
    background-color: #00a550;
    color: rgba(255, 255, 255, 0.933);
    z-index: 1;
}

.popup-header {
    font-weight: bold;
    text-align: center;
}

.popup.status {
    width: 12px;
    height: 12px;
    border-radius: 100%;
    display: inline-block;
    margin-right: 5px;
    margin-top: 3px; 
}
/* .gps-box {
    padding-top: 40px;
} */

.gps-box-time {
		padding-top: 20px;
		position: relative;
		left: -25%;
} 

/*car detail calenadar*/
.calendar-table th {
    color: #4a4a4a;
}

.price-in-calendar {
    display: block;
    color: #141414;
    font-size: 8px;
    font-weight: 500;
    text-align: center;
    z-index: 2;
    position: relative;
}

td.off span.price-in-calendar {
    color: #ccc9c9;
}

td.available {
    background-color: #ebf4f8
}

#booking-sidebar td.out span.date-in-calendar {
    display: none;
}

#booking-sidebar td.out span.price-in-calendar {
    display: none;
}

#booking-sidebar td.out span.full-in-calendar {
    display: none;
}
#booking-sidebar td.out .ic.instant-in-calendar {
    display: none;
}

td.in.disabled {
    background-color: #f0f0f0
}

#booking-sidebar tr:last-child td.out.off.after {
    display: none;
}

td .full-in-calendar {
    opacity: 0.8;
}

/*home v2 calendar*/
#home-box .daterangepicker {
    background-color: rgba(0, 0, 0, 1);
    z-index: 5001
}

#home-box .daterangepicker input,
#home-box .daterangepicker select {
    background-color: rgba(0, 0, 0, 1);
    color: #fff;
    border-color: #bebebe;
}

#home-box .daterangepicker .calendar-time {
    color: #fff;
}

#home-box .calendar-table {
    background-color: rgba(0, 0, 0, 1);
    border-color: #bebebe;
}

#home-box .calendar-table thead th{
    background-color: rgba(0, 0, 0, 1);
    color: #e8eaef;
}

#home-box .daterangepicker td.off {
    background-color: rgba(0, 0, 0, 1);
    color: #e8eaef;
}

#home-box .daterangepicker td.available {
    background-color: #383838;
    color: #e8eaef;
}

#home-box .daterangepicker td.start-date.available, 
#home-box .daterangepicker td.end-date.available,
#home-box .daterangepicker td.start-date.in-range.available, 
#home-box .daterangepicker td.end-date.in-range.available {
    background-color: #00a550;
}

#home-box .daterangepicker td.in-range.available {
    background-color: rgba(0, 165, 80, 0.65);
}

#home-box .daterangepicker td.in-range:hover {
    background-color:#00a550;
}

/*common*/
.ic {
    cursor: pointer;
}

pre {
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.customContentNotify b {
	font-weight: 600;
}


/* React Datepicker */

.wrap-input.datepicker .react-datepicker, .wrap-input.datepicker  .react-datepicker-wrapper {
	display: flex!important;
}

.datepicker .react-datepicker {
	font-family: "Sanomat Sans";
	font-size: 0.8rem;
	background-color: #fff;
	color: #000;
	border-radius: 0.3rem;
	display: inline-block;
	position: relative;
	box-shadow: 0 2px 5px rgba(0,0,0,.3);
	border-radius: 0;
}

.datepicker .react-datepicker__header {
	background-color: #fff;
	border-bottom: none;
}

.datepicker .react-datepicker__current-month, .datepicker .react-datepicker-time__header {
	color: #4a4a4a;
	margin-bottom: .5rem;
	font-size: 1em;
}

.datepicker .react-datepicker__day-names {
	border-bottom: 1px solid #d3d3d3;
	border-top: 1px solid #d3d3d3;
}

.datepicker .react-datepicker__day-name {
	color: #4a4a4a;
	font-weight: 600;
}

.datepicker .react-datepicker__day-name, .datepicker .react-datepicker__day, .datepicker .react-datepicker__time-name {
	margin: 0.25rem;
}

.datepicker .react-datepicker__day--selected:hover, .datepicker .react-datepicker__day--in-selecting-range:hover, .datepicker .react-datepicker__day--in-range:hover {
	background-color: #00a550;
}

.datepicker .react-datepicker__day--selected, .datepicker .react-datepicker__day--in-selecting-range, .datepicker .react-datepicker__day--in-range {
	border-radius: 0;
	background-color: #00a550;
}

.datepicker  .react-datepicker__day:hover {
	border-radius: 0 
}

.datepicker .react-datepicker__navigation--previous {
	border-right-color: #00a550;
}

.datepicker .react-datepicker__navigation--next {
	border-left-color: #00a550;
}

.datepicker .react-datepicker-popper {
	z-index: 10;
}

.datepicker .react-datepicker__day--keyboard-selected {
	background-color: #00a550;
	border-radius: 0;
}

.datepicker .react-datepicker-popper[data-placement^="bottom"] .react-datepicker__triangle {
	border-bottom-color: #FFFFFF !important;
}

.datepicker .react-datepicker-popper[data-placement^="bottom"] .react-datepicker__triangle::before {
	border-bottom-color: #aeaeae !important;
}

