block Booking

.module-register
	.register-container
		.content-register
			.stepbystep
				ul
					li.active.done
						span.nu 1
						span.value Eligibility
					li
						span.nu 2
						span.value Customize
					li
						span.nu 3
						span.value Photos
					li
						span.nu 4
						span.value Publish		
			.content-booking
				.info-car
					img.img(src="images/upload/car_1.png" alt=page)
					.group-name
						span.lstitle CAR NAME
						h1.title-car BMW 3 SERIES 2013
						span.star
							i.full
							i.full
							i.half
							i
							i
					.group-price
						span.lstitle PRICE
						p.price <strong>$20</strong> / day
				.info-car--more
					.col-left
						.group
							span.lstitle RENTED
							span.value 68 times
						.group.end
							span.lstitle REVIEWED
							span.value 121 reviews
					.col-right
						.group
							span.lstitle Owner
							.profile-mini
								.avatar.avatar--s(title="title name")
									.avatar-img(style="background-image:url(images/avatar_default.png)")
								.desc
									h2
										a(href="#!") Calvin Jenkins
									span.star
										i.full
										i.full
										i.half
										i
										i
						.group.end
							.line-group
								span.lstitle Car ID
								span.value F26-369
							.line-group
								span.lstitle Location
								span.value 459 Kessler Via Apt. 412
					.clear
				.info-car--more.form-default
					.col-left
						h6 Renting Location
						.line-form
							label.label PICKUP
							.wrap-input.has-ico
								i.ic.ic-location-f
								input(type="text" placeholder="Your Location")
					.col-right
						h6.hide-on-med-and-down &nbsp;
						.line-form
							label.label RETURN
							.wrap-input.has-ico
								i.ic.ic-location-f
								input(type="text" placeholder="Your Location")
					.clear
					.col-left
						h6 Renting Time
						.line-form.has-timer
							label.label From
							.wrap-input.has-dropdown
								span.value.placeholder Value here
							.calendar Calendar here
							//.wrap-input.has-dropdown.date
								span.value.placeholder 03 / 09 / 2017
							//.wrap-input.has-dropdown.time
								span.value.placeholder 7:30 PM
							//.clear
					.col-right
						h6.hide-on-med-and-down &nbsp;
						.line-form.has-timer
							label.label Until
							.wrap-input.has-dropdown
								span.value.placeholder Value here
							.calendar Calendar here
							//.wrap-input.has-dropdown.date
								span.value.placeholder 03 / 09 / 2017
							//.wrap-input.has-dropdown.time
								span.value.placeholder 7:30 PM
							//.clear
					.space.m.clear
					h6 Message to Calvin Jenkins
					textarea.textarea(placeholder="")
					.clear
					.col-left
						h6 Chi phí
						.line-form.has-timer
							label.label.col-left-mobile Phí thuê xe thuê xe thuê xe
							.wrap-input.has-value.col-right-mobile
								span.value 600.000 x 4 ngày 4 ngày
					.col-right
						h6.hide-on-med-and-down &nbsp;
						.line-form.has-timer
							label.label.col-left-mobile Phí dịch vụ
							.wrap-input.has-value.col-right-mobile
								span.value 200.000 x 3 ngày
					.clear
					.col-left
						.line-form.has-timer
							label.label.col-left-mobile Phí giao xe
							.wrap-input.has-value.col-right-mobile
								span.value 0
					.col-right
						.line-form.has-timer
							label.label.col-left-mobile Tổng cộng
							.wrap-input.has-value.col-right-mobile
								span.value 2.400.000 VND		
					h6 Your Payment
					ul.lp
						li
							.item-lp
								span.title-lp DEPOSIT AMOUNT
								span.value-lp $ 60
						li
							.item-lp
								span.title-lp TOTAL AMOUNT
								span.value-lp.value-total $ 120
					h6 Credit Card Checkout
					.form-default
						.line-form
							label.label CARD NUMBER
							.wrap-input.has-ico
								i.ic.ic-card
								input(type="text" placeholder="000-0000-0000-0000")
						.line-form
							.split-lf
								label.label CCV
								.wrap-input
									input(type="text" placeholder="000")
							.split-lf
								label.label EXP MONTH 
								.wrap-input
									input(type="text" placeholder="MM")
							.split-lf
								label.label EXP YEAR 
								.wrap-input
									input(type="text" placeholder="YYYY")
	.wrap-btn
		a.btn.btn-primary.btn--m(href="#!") Check Out
	