block Profile

- var moduleComment = []
- moduleComment.push({'class':'', 'img':'images/avatar_default.png', 'heroes':'Blake Page', 'info':'Car Owner', 'desc':'It is an amazing experience on renting his car, very easy for my first try, I am sure I will do it again and again as well as recommended to my friends...happy 4th July!!!'})
- moduleComment.push({'class':'', 'img':'images/avatar_default.png', 'heroes':'Blake Page', 'info':'Car Owner', 'desc':'It is an amazing experience on renting his car, very easy for my first try, I am sure I will do it again and again as well as recommended to my friends...happy 4th July!!!'})
- moduleComment.push({'class':'', 'img':'images/avatar_default.png', 'heroes':'Blake Page', 'info':'Car Owner', 'desc':'Excellent guest, made the rental process easy. Thanks!'})
- moduleComment.push({'class':'', 'img':'images/avatar_default.png', 'heroes':'Blake Page', 'info':'Car Owner', 'desc':'I am sure I will do it again and again as well as recommended to my friends...happy 4th July!!!'})
- moduleComment.push({'class':'', 'img':'images/avatar_default.png', 'heroes':'Blake Page', 'info':'Car Owner', 'desc':'happy 4th July!!!'})
- moduleComment.push({'class':'', 'img':'images/avatar_default.png', 'heroes':'Blake Page', 'info':'Car Owner', 'desc':'It is an amazing experience on renting his car, very easy for my first try, I am sure I will do it again and again as well as recommended to my friends...happy 4th July!!!'})

.cover-car
	.status-verify <i class="ic ic-verify-stroke"></i> Thông tin đã xác thực
	a.func-zoom(href="#!zoom")
		i.ic.ic-zoom
	.swiper-button-next
		i.i-arr
	.swiper-button-prev
		i.i-arr
	.swiper-container.swiper-car
		.swiper-wrapper
			.swiper-slide
				.img-cover(style="background-image:url(http://via.placeholder.com/800x600)")
			.swiper-slide
				.img-cover(style="background-image:url(http://via.placeholder.com/800x600)")
			.swiper-slide
				.img-cover(style="background-image:url(http://via.placeholder.com/800x600)")
		.swiper-pagination

.module-detail
	.detail-container
		.content-detail
			.info-car
				.group-name
					span.lstitle CAR NAME
					h1.title-car BMW 3 SERIES 2013
					span.star
						i.full
						i.full
						i.half
						i
						i
				.group-price
					span.lstitle PRICE
					p.price <strong>$20</strong> / day
				.space.l.clear
				.wr-wrap-btn
					.wrap-btn
						a.btn.btn-secondary.btn--m(href="#!") Add to Favorite
					.wrap-btn
						a.btn.btn-primary.btn--m(href="#!") Booking Now
			.info-car--more
				.col-left
					.group
						span.lstitle RENTED
						span.value 68 times
					.group
						span.lstitle REVIEWED
						span.value 121 reviews
					.group
						a.btn.btn-default.btn--m(href="#!") Report Car
				.col-right
					.group
						span.lstitle Owner
						.profile-mini
							.avatar.avatar--s(title="title name")
								.avatar-img(style="background-image:url(images/avatar_default.png)")
							.desc
								h2
									a(href="#!") Calvin Jenkins
								span.star
									i.full
									i.full
									i.half
									i
									i
					.group
						.line-group
							span.lstitle Car ID
							span.value F26-369
						.line-group
							span.lstitle Location
							span.value 459 Kessler Via Apt. 412
							.map-container
								img.responsive-img(src="images/map@2x.png" alt=page)
				.clear
				
			.info-car--desc
				.group
					span.lstitle DESCRIPTION
					.ctn-desc
						p EIGHT passengers - 3 rows 4WD SUV with a lot of storage space. It's efficient with great handling and provides a very comfortable driving experience. Great for Ski/Snowboard trip to Tahoe. Perfect SUV for family trip, if you have your family visit you from out of town, instead of driving 2 cars, you can save gas and drive this SUV and have more family bonding time.
						a.func-more(href="#!") Read More <i class="i-arrow-down"></i>
				.group
					span.lstitle FEATURES
					.ctn-desc
						ul
							li Automatic transmission
							li Automatic transmission
							li Automatic transmission
							li Automatic transmission
							li Automatic transmission
							li Automatic transmission
							li Automatic transmission
							li Automatic transmission
				.group
					span.lstitle PARKING DETAILS
					.ctn-desc
						.line-group
							span.lstitle Pick Up
							span.value 93 Geraldine Locks
						.line-group
							span.lstitle Return
							span.value 459 Kessler Via Apt. 412
				.group
					span.lstitle GUIDELINES
					.ctn-desc
						p The following rules are intended to maintain the vehicle in new condition.
						p **NO PETS** Any pet smell will incur additional charges $250 plus any cleaning costs needed to restore vehicle's condition.
						p **CLEANING** Please do not attempt to clean the interior of the vehicle with any product as it will damage the leather. (NO Armor All or Shinny product.) Only a clean microfiber towel may be used. 
					
		.sidebar-detail
			.head-content
				span.lstitle Reviews
			.body-content
				p.no-result Be the first to leave a comment.
				.space.l
				ul.list-comments
					each moduleCommentItem in moduleComment
						li
							.item-comment(class=`${moduleCommentItem.class}`)
								.avatar.avatar--s(title="title name")
									.avatar-img(style=`background-image:url("${moduleCommentItem.img}")`)
								.desc
									h4 #{moduleCommentItem.heroes}
									h5 #{moduleCommentItem.info}
									.cmt
										p <span class="timer">July 4, 2017</span> 
											span.star
												i.full
												i.full
												i.half
												i
												i
										p #{moduleCommentItem.desc}
				a.btn.btn-primary.btn--m.btn-more(href="#!") <span><i></i><i></i><i></i></span> Load More
		.clear
a.func-page-back.func-search(href='#!')
	span.icon-search 

		
		

		
		

	