block Profile

- var moduleComment = []
- moduleComment.push({'class':'', 'img':'images/avatar_default.png', 'heroes':'MS YEN', 'info':'Car Owner', 'desc':'Dịch vụ tốt'})
- moduleComment.push({'class':'', 'img':'images/avatar_default.png', 'heroes':'Blake Page', 'info':'Car Owner', 'desc':'It is an amazing experience on renting his car, very easy for my first try, I am sure I will do it again and again as well as recommended to my friends...happy 4th July!!!'})
//- - moduleComment.push({'class':'', 'img':'images/avatar_default.png', 'heroes':'Blake Page', 'info':'Car Owner', 'desc':'Excellent guest, made the rental process easy. Thanks!'})
//- - moduleComment.push({'class':'', 'img':'images/avatar_default.png', 'heroes':'Blake Page', 'info':'Car Owner', 'desc':'I am sure I will do it again and again as well as recommended to my friends...happy 4th July!!!'})

- var moduleDeal = []
- moduleDeal.push({'class':'', 'heroes':'CHERVOLET SPARK 2016', 'img':'https://n1-pstg.mioto.vn/cho_thue_xe_tu_lai_tphcm/toyota_innova_2018/p/g/2018/10/29/15/U5qG-JJJ9Wm7yePWa8Vnmw.jpg', 'trips':'2 chuyến', 'distance': '1.1km'})
- moduleDeal.push({'class':'', 'heroes':'CHERVOLET COROLADO 2017', 'img':'https://n1-pstg.mioto.vn/cho_thue_xe_tu_lai_tphcm/toyota_innova_2018/p/g/2018/10/29/15/U5qG-JJJ9Wm7yePWa8Vnmw.jpg', 'trips':'1 chuyến', 'distance': '3.4km'})
- moduleDeal.push({'class':'', 'heroes':'KIA RIO 2016', 'img':'https://n1-pstg.mioto.vn/cho_thue_xe_tu_lai_tphcm/toyota_innova_2018/p/g/2018/10/29/15/U5qG-JJJ9Wm7yePWa8Vnmw.jpg', 'trips':'2 chuyến', 'distance': '6.4km'})
- moduleDeal.push({'class':'', 'heroes':'KIA MORNING SI 2016', 'img':'https://n1-pstg.mioto.vn/cho_thue_xe_tu_lai_tphcm/toyota_innova_2018/p/g/2018/10/29/15/U5qG-JJJ9Wm7yePWa8Vnmw.jpg', 'trips':'1 chuyến', 'distance': '8.2km'})
- moduleDeal.push({'class':'', 'heroes':'KIA MORNING SI 2017', 'img':'https://n1-pstg.mioto.vn/cho_thue_xe_tu_lai_tphcm/toyota_innova_2018/p/g/2018/10/29/15/U5qG-JJJ9Wm7yePWa8Vnmw.jpg', 'trips':'1 chuyến', 'distance': '8.3km'})


.cover-car
	.status-verify.status-ins
		span Bảo hiểm được cung cấp bởi
		img.img-fluid.logo-mic(src="images/logomic.png")
	//- .status-verify <i class="ic ic-verify-stroke"></i> Thông tin đã xác thực
	//- .has-insurance
	//- 	img.img-fluid(src="images/homev2/mic.png")
	a.func-zoom(href="#!zoom")
		i.ic.ic-zoom
	.swiper-button-next
		i.i-arr
	.swiper-button-prev
		i.i-arr
	.swiper-container.swiper-car
		.swiper-wrapper
			.swiper-slide
				.img-cover.fit-img
					img(src="http://via.placeholder.com/800x600")
			.swiper-slide
				.img-cover.fit-img
					img(src="https://n1-pstg.mioto.vn/thue_xe_tu_lai/mazda_3_2017/p/g/2018/01/09/10/3894.jpg")
			.swiper-slide
				.img-cover.fit-img
					img(src="https://n1-pstg.mioto.vn/thue_xe_tu_lai/mazda_3_2017/p/g/2018/01/09/10/3894.jpg")
			.swiper-slide
				.img-cover.fit-img
					img(src="https://n1-pstg.mioto.vn/thue_xe_tu_lai/mazda_3_2017/p/g/2018/01/09/10/3894.jpg")
		.swiper-pagination
	span.label-pos
		span.free
			i.ic.ic-passport
			| Chấp nhận passport
		span Đặt xe nhanh
		span.discount Giảm 30%

	a.qr-car
		i.ic.ic-qr-code
.module-detail.dt__wrapper
	.detail-container
		.content-detail
			.info-car
				.group-name
					h1.title-car MITSUBISHI PAJERO SPORT 2016
					p.price
						span.real 1050K
						span.special 900K
						span /ngày
				.group-line
					span.star
						i.full
						i.full
						i.half
						i
						i
					.bar-line
					p
						span.value 1
						|chuyến
				.group-label
					span MIC Insurance
					span Giao xe tận nơi
					span Miễn phí giao xe


		.sidebar-detail
			.rent-box.rent-car
				.price
					span.real 1050K
					h3 900K
						span /ngày
				.line-form.has-timer
					label.label Ngày bắt đầu
					.wrap-input.has-dropdown.date
						span.value.placeholder 05 / 06 / 2018
					.wrap-input.has-dropdown.time.wrap-select
						select
							option(value='0', disabled='', selected='') 7:30 PM
							option(value='1') 8:30 PM
							option(value='2') 9:30 PM
							option(value='3') 10:30 PM
							option(value='4') 11:30 PM
				.line-form.has-timer
					label.label Ngày kết thúc
					.wrap-input.has-dropdown.date
						span.value.placeholder 06 / 06 / 2018
					.wrap-input.has-dropdown.time.wrap-select
						select
							option(value='0', disabled='', selected='') 7:30 PM
							option(value='1') 8:30 PM
							option(value='2') 9:30 PM
							option(value='3') 10:30 PM
							option(value='4') 11:30 PM

				.notif-box
					.notif-body
						p
							| Thuê tuần giảm
							span 5%
							| - Thuê tháng giảm
							span 10%

				.calendar
					p
						span.ic.ic-notice
						|Xe không có sẵn
					p Từ ngày 12/02/2017 cho đến hết ngày 23/02/2017
				.line-form.local
					label Địa Điểm Giao Xe
					.squaredFour.have-label
						input(type="checkbox")
						label Nhận và trả xe tại địa chỉ của xe

				.line-form.local
					label Địa điểm giao nhận xe
					.line-radio
						label.custom-radio.custom-control
							input(type="radio" name="setting-mode" class="custom-control-input")
							span.custom-control-indicator
							span.custom-control-description
								|Mặc định
						label.custom-radio.custom-control
							input(type="radio" name="setting-mode" class="custom-control-input")
							span.custom-control-indicator
							span.custom-control-description
								|Tùy chỉnh
					.group
						i.ic.ic-location-f
						.wrap-input
							span.address-pickup.placeholder Click vào đây để chọn địa chỉ
					.note
						p Bình Thạnh, Hồ Chí Minh, Việt Nam
				.line-form.local
					.note
						label.label Giới hạn số km
						p Tối đa: 400km/ngày. Phí 10K/km vượt giới hạn

				.line-form.local
					.note.insurance
						label Bảo hiểm
						p
							a(href="#!")
								| Bảo hiểm vật chất xe ô tô từ BH Quân đội
								img.img-fluid.logo-ins(src="images/logomic.png")
				.car-bill
					h4.text-center Chi tiết giá
					.bill-wrap

						.group
							p Đơn giá thuê
							span 403 200 / ngày
						.group.long-term
							p Thuê tuần (giảm 20%)
							span.line-through Giá gốc 560 000 / ngày

						//- .group
						//- 	p Phí dịch vụ (0%)
						//- 	span 0
						.group.long-term
							.d-flex
								p Chương trình giảm giá
								.tooltip
									i.ic.ic-question-mark
									.tooltip-text Lorem ipsum dolor sit amet.
							span.line-through 448 000 / ngày

						.group.has-line
							p Tổng phí thuê xe
							span 403 200 x
								span.strong 7 ngày
						.group
							.d-flex
								p Phí bảo hiểm
								.tooltip
									i.ic.ic-question-mark
									.tooltip-text Lorem ipsum dolor sit amet.
							span 25 000
						.group
							p Phí giao nhận xe (2 chiều)
							span 25 000 (2,5 km)

						.group
							p Khuyến mãi mã MI20
								a.func-remove(href="")
									i.ic.ic-remove-thin
							span  - 150 000
						.group
							p
								strong Tổng cộng
							span
								strong 2 847 400đ
					.space.m
					.promotion-code.d-flex
						.title-new
							a(href="")
								h4.lstitle-new Mã khuyến mãi
							//- a.func-plus(href="")
							//- 	i.ic.ic-promocode
						//- .box-wrap
						//- 	img(src="https://scontent.fsgn5-3.fna.fbcdn.net/v/t1.0-9/22196461_123620825006896_7778566556216764615_n.png?_nc_cat=0&oh=e9e9a9152f11df80dea4cfddbd7f1a86&oe=5B74017A" class="img-promo")
						//- 	p 78ULNJC
						//- 	a.func-remove(href="")
						//- 		i.ic.ic-remove
						//- .box-wrap-promo
						//- 	img(src="https://scontent.fsgn5-3.fna.fbcdn.net/v/t1.0-9/22196461_123620825006896_7778566556216764615_n.png?_nc_cat=0&oh=e9e9a9152f11df80dea4cfddbd7f1a86&oe=5B74017A" class="img-promo")
						//- 	p 78ULNJC
					.space.m
					.wrap-btn
						a.btn.btn-primary.btn--m(href="#!")
							i.ic.ic-thunderbolt-wh
							| ĐẶT XE
		.content-detail
			.info-car--desc
				.group
					span.lstitle-new ĐẶC ĐIỂM
					.ctn-desc-new
						ul.features
							li
								ic.ic.ic-chair
								|Số ghế: 8 ghế
							li
								ic.ic.ic-trans
								|Truyền động: Số sàn
							li
								ic.ic.ic-diesel
								|Nhiên liệu: Xăng
							li
								ic.ic.ic-fuel-consumption
								|Mức tiêu thụ nhiên liệu: 10 lít/100km
				.group
					span.lstitle-new MÔ TẢ
					.ctn-desc-new
						p Xe đời mới, sạch sẽ, không gây mùi bên trong
						P Nội thất nguyên bản theo xe, được lau chùi vệ sinh sa mỗi lần xe về
						P Xe được vệ sinh và mang đi kiểm tra bảo dưỡng theo đúng định kỳ để đảm bảo máy móc và thiết bị trên xe luôn an toàn cho người thuê khi đi công tác xa hay vui chơi cùng gia đình
				.group
					span.lstitle-new TÍNH NĂNG
					.ctn-desc-new
						ul.accessories
							li
								ic.ic.ic-bth
								|Bluetooth
							li
								ic.ic.ic-gps
								|Định vị GPS
							li
								ic.ic.ic-usb
								|Khe cắm USB
							li
								ic.ic.ic-window
								|Cửa sổ trời
							li
								ic.ic.ic-child
								|Ghế trẻ em
				.group
					span.lstitle-new
						|GIẤY TỜ BẮT BUỘC
					.ctn-desc-new
						ul.required
							li
								|CMND
								ic.ic.ic-check
							li
								|Giấy Phép Lái Xe
								ic.ic.ic-check
							li
								|Hộ Khẩu / KT3
								ic.ic.ic-check
						.ct-required
							span.lstitle-new CÁC GIẤY TỜ BẮT BUỘC KHÁC
							p 20 triệu tiền thế chân
				.group
					span.lstitle-new ĐIỀU KHOẢN
					.ctn-desc-new.clause
						p Khách thuê xe yêu cầu phải đầy đủ giấy tờ gốc:
						ul
							li CMND
							li Hộ khẩu thường trú/ KT3 phải trùng số nhà
							li HĐLĐ
							li Hoá đơn điện/ nước
						p Nếu là cty phải có GPKD bản chính, hoá đơn thuế 2 tháng gần nhất CAVET XE MÁY CHÍNH CHỦ VÀ XE MÁY TRỊ GIÁ TRÊN 20 triệu
						p Khách thuê sẽ được xác minh đầy đủ thông tin trước khi giao xe.
						p LƯU Ý: Giá trên chỉ áp dụng cho các ngày lẻ, không áp dụng cho ngày T7, CN, các ngày lễ tết. Hiện tại lịch cận tết có nhiều thay đổi nên quý khách vui lòng liên hệ hệ thống miOto để hướng dẫn book xe trên App
						p Cảm ơn quý khách đã hợp tác
						p “Trao chìa khoá - trao niềm tin”
				.group
					span.lstitle-new CHỦ XE
					.profile-mini
						.avatar.avatar-new(title="title name")
							.avatar-img(style="background-image:url(images/avatar_default.png)")
						.desc
							h2
								a(href="#!") NGUYỄN QUỐC THIỆN
							div
								span.star
									i.full
									i.full
									i.half
									i
									i
						.owner-response
							.response-desc
								p Tỉ lệ phản hồi
								span.rate 75%
							.response-desc
								p Thời gian phản hồi
								span.rate 7 phút
							.response-desc
								p Tỉ lệ đồng ý
								span.rate 70%
				.group
					span.lstitle-new VỊ TRÍ
					.ctn-desc-new
						.fix-map
							img(src="images/map@2x.png" class="map" alt=page)

				.wr-wrap-btn
					.wrap-btn
						a.btn.btn-secondary.btn--m(href="#!") Thêm vào yêu thích
					.wrap-btn
						a.btn.btn-default.btn--m(href="#!") Báo xấu

			.owner
				.left
					span.lstitle-new CHỦ XE
					.profile-mini-v2
						.avatar.avatar-new(title="title name")
							.avatar-img(style="background-image:url(images/avatar_default.png)")
				.desc-v2
					h2
						a(href="#!") NGUYỄN QUỐC THIỆN
					span.star
						i.full
						i.full
						i.half
						i
						i
			.review
				h4.title ĐÁNH GIÁ
				.group-review
					span.star
						i.full
						i.full
						i.half
						i
						i
					.bar-line
					p
						span 1
						|đánh giá
				hr.line
				mixin list-comments(comment)
					.list-comments
						.left
							.fix-avatar
								img(src=comment.img)
						.right
							h4.name= comment.heroes
							.cmt-box
								.group
									span.star
										i.full
										i.full
										i.half
										i
										i
									p.date 22/02/2017
								p.desc= comment.desc
				for comment in moduleComment
					+list-comments(comment)
				.s-all
					a.see-all Xem Thêm
						ic.ic.ic-chevron-up
		.clear
	.module-deal
		h4.title XE TƯƠNG TỰ
		.swiper-button-next
			i.i-arr
		.swiper-button-prev
			i.i-arr
		.swiper-container.swiper-similar
			.swiper-wrapper
				each moduleDealItem in moduleDeal
					.swiper-slide
						.item-car(class=`${moduleDealItem.class}`)
							span.img-car
								.fix-img
									img(src=`${moduleDealItem.img}`)
								span.label-pos
									span.free Miễn phí giao xe
									span Cho thuê ngay
									span.discount Giảm 30%
							.desc-car
								.group
									span.star
										i.full
										i.full
										i.half
										i
										i
								p.price
									span.real 1050K
									span.special 900K
								h2 #{moduleDealItem.heroes}
								p
									span <i class="ic ic-clock"></i> #{moduleDealItem.trips}
									span <i class="ic ic-map"></i> #{moduleDealItem.distance}

a(href="#!" class="app-link")
	.app-footer
		.left
			.fix-img
				img(src="images/appstore.png")
		.right
			p Trải nghiệm tốt hơn trên app Mioto
			button.func-remove
				ic.ic.ic-remove-wh








