block Booking

.module-register
	.register-container
		.content-register
			.stepbystep
				ul
					li.active.done
						span.nu 1
						span.value Eligibility
					li
						span.nu 2
						span.value Customize
					li
						span.nu 3
						span.value Photos
					li
						span.nu 4
						span.value Publish
			span.title-booking BOOKING INFO
			.content-booking
				.info-car
					img.img(src="assets/images/upload/car_1.png" alt=page)
					.group-name
						span.lstitle CAR NAME
						h1.title-car BMW 3 SERIES 2013
						span.star
							i.full
							i.full
							i.half
							i
							i
					.group-price
						span.lstitle PRICE
						p.price <strong>$20</strong> / day
				.info-car--more
					.col-left
						.group
							span.lstitle RENTED
							span.value 68 times
						.group.end
							span.lstitle REVIEWED
							span.value 121 reviews
					.col-right
						.group
							span.lstitle Owner
							.profile-mini
								.avatar.avatar--s(title="title name")
									.avatar-img(style="background-image:url(assets/images/avatar_default.png)")
								.desc
									h2
										a(href="#!") Calvin Jenkins
									span.star
										i.full
										i.full
										i.half
										i
										i
						.group.end
							.line-group
								span.lstitle Car ID
								span.value F26-369
							.line-group
								span.lstitle Location
								span.value 459 Kessler Via Apt. 412
					.clear
				.info-car--more
					.col-left
						h6 Renting Location
						.form-default
							.line-form
								label.label PICKUP
								.wrap-input.has-ico.has-value
									i.ic.ic-location-f
									input(type="text" placeholder="Your Location" value="Test 123" disabled)
							.line-form
								label.label RETURN
								.wrap-input.has-ico.has-value
									i.ic.ic-location-f
									input(type="text" placeholder="Your Location" value="Test 123" disabled)
					.col-right
						h6 Renting Time
						.form-default
							.line-form.has-timer
								label.label From
								.wrap-input.has-dropdown.date.has-value
									span.value.placeholder 03 / 09 / 2017
								.wrap-input.has-dropdown.time.has-value
									span.value.placeholder 7:30 PM
								.clear
							.line-form.has-timer
								label.label Until
								.wrap-input.has-dropdown.date.has-value
									span.value.placeholder 03 / 09 / 2017
								.wrap-input.has-dropdown.time.has-value
									span.value.placeholder 7:30 PM
								.clear
					.clear
					h6 Message to Calvin Jenkins
					textarea.textarea.has-value(placeholder="" disabled) Tremblant is based in Canada and has over 90 runs servicing millions of skiers each year. With 13 state-of-the-art ski lifts and a selection of choices for both snowboarders and skiers Tremblant attained its reputation through daring, varied runs catering for a selection of abilities and preferences.
					h6 Your Payment
					ul.lp
						li
							.item-lp
								span.title-lp DEPOSIT AMOUNT
								span.value-lp $ 60
						li
							.item-lp
								span.title-lp TOTAL AMOUNT
								span.value-lp.value-total $ 120
					h6 Credit Card Checkout
					.form-default
						.line-form
							label.label CARD NUMBER
							.wrap-input.has-ico.has-value
								i.ic.ic-card
								input(type="text" placeholder="000-0000-0000-0000" value="Test 123" disabled)
						.line-form
							.split-lf
								label.label CCV
								.wrap-input.has-value
									input(type="text" placeholder="000" value="Test 123" disabled)
							.split-lf
								label.label EXP MONTH 
								.wrap-input.has-value
									input(type="text" placeholder="MM" value="Test 123" disabled)
							.split-lf
								label.label EXP YEAR 
								.wrap-input.has-value
									input(type="text" placeholder="YYYY" value="Test 123" disabled)
	.wrap-btn.has-2btn
		.wr-btn
			a.btn.btn-secondary.btn--m(href="#!") BACK TO EDIT
		.wr-btn
			a.btn.btn-primary.btn--m(href="#!") FINISH
	.blah
		.lds-css
			.lds-ellipsis(style='width:100%;height:100%')
				div
					div
				div
					div
				div
					div
				div
					div
				div
					div
	.blah
		.lds-css
			.lds-ring(style='width:100%;height:100%')
				div
				div
				div
				div
		