block Map

- var moduleDeal = []
- moduleDeal.push({'class':'', 'heroes':'Telsa Model X', 'img':'images/upload/car_1.png'})
- moduleDeal.push({'class':'', 'heroes':'Telsa Model X', 'img':'images/upload/car_2.png'})
- moduleDeal.push({'class':'', 'heroes':'Telsa Model X', 'img':'images/upload/car_3.png'})
- moduleDeal.push({'class':'', 'heroes':'Telsa Model X', 'img':'images/upload/car_4.png'})
- moduleDeal.push({'class':'', 'heroes':'Telsa Model X', 'img':'images/upload/car_1.png'})


//- a.func-filter(href="javascript:void(0)" onclick="filterM()")
//- 	i.ic.ic-filter
.finding-control.form-default
	.wrapper-find
		.tab-mode.hide-on-lg
			ul
				li
					a(href="#!") <i class="ic ic-list-fill"></i> List View
				|
				li
					a.active(href="#!") <i class="ic ic-map"></i> Map View
		.line-form
			label.label Địa điểm
			.wrap-input.has-ico
				i.ic.ic-location-f
				//- .blah(style='width: 50px')
				//- 	.lds-css
				//- 		.lds-ellipsis(style='width:100%;height:100%')
				//- 			div
				//- 				div
				//- 			div
				//- 				div
			//- 			div
				//- 				div
				//- 			div
				//- 				div
				//- 			div
				//- 				div
				//- .layer-loading
				input(type="text" placeholder="Hồ Chí Minh")
		.line-form.has-timer
			label.label Thời gian
			.wrap-input
				input(type="text" placeholder="21:00 24/04/2018 - 20:00 25/04/2018")
		.switch-search.show-on-small
			i.ic.ic-datepicker

.tab-mode.show-on-lg
	a(href="#!").view-mode <i class="ic ic-map-black"></i> Map View
	a(href="#!").f-filter <i class="ic ic-filter-black"></i> Filter

.module-map.min-height-no-footer
	.has-list
		.listing-car
			ul
				each moduleDealItem in moduleDeal
					li
						.item-car(class=`${moduleDealItem.class}`)
							span.img-car(style="background-image:url(images/upload/car_1.png)")
								span.label-pos
									span.free Miễn phí giao xe
									span.rent
										i.ic.ic-sm-thunderbolt-wh
										|Cho thuê ngay
									span.discount Giảm 30%
								.status-verify
									i.ic.ic-verify-stroke
									|Ảnh đã xác thực
							.desc-car
								span.star
									i.full
									i.full
									i.half
									i
									i
								p.price
									span.real 1050K
									span.special 900K
								h2 #{moduleDealItem.heroes}
								p.marginBottom-xs
									span <i class="ic ic-clock"></i> 2 trips
									span <i class="ic ic-tag"></i> $15/day
								.group-label
									span Giao xe tận nơi
									span Miễn phí giao xe
								//- a.btn.btn-secondary.btn--m(href="#!" data-toggle="modal" data-target="#fsModal") View Details
								//- a.btn.btn-primary.btn--m(href="#!") Booking Now
			.load-more
				a.btn.btn-third.btn--m(href="#!") Load more

.filter-container
	.nav-filter
		a.context-back(href="javascript:void(0)" onclick="filterC()") « Quay lại
		h2 Bộ lọc
	.content-filter
		.rent-car.has-scroll
			.scroll-inner
				span.slstitle Filters
				.line-form
					.wrap-select
						select
							option(value="0" disabled selected) Set Number
							option(value="1") Set Number 1
				.line-form
					.wrap-select
						select
							option(value="0" disabled selected) Brand
							option(value="1") Brand 1
				.line-form
					.wrap-input.has-dropdown
						span.value.placeholder <em class="i-color" style="background-color:#000"></em> Black
						ul.dropdown-m
							li
								a
									span <em class="i-color" style="background-color:#000"></em> Black
							li
								a
									span <em class="i-color" style="background-color:#000"></em> Black
							li
								a
									span <em class="i-color" style="background-color:#000"></em> Black
							li
								a
									span <em class="i-color" style="background-color:#000"></em> Black
				a.func-more.block(href="#!") Mở rộng <i class="i-arrow-down"></i>
				a.func-more.block(href="#!") Thu gọn <i class="i-arrow-up"></i>
				.wrap-btn-filter
					a.btn.btn-primary.btn--m.hide-on-med-and-down(href="#!") Áp dụng
					a.func-reset(href="#!")
						i.ic.ic-reset
	.sticky-filter
		.wr-btn
			a.btn.btn-primary.btn--m(href="#!") Áp dụng
		.wr-btn
			a.btn.btn--m(href="#!") Xóa tất cả
.clear