block Map

//- .loading-container
//- 	.img-loading
//- 		.blah
//- 			.lds-css
//- 				.lds-ellipsis(style='width:100%;height:100%')
//- 					div
//- 						div
//- 					div
//- 						div
//- 					div
//- 						div
//- 					div
//- 						div
//- 					div
//- 						div
//- 	.layer-loading
//- .loading-container.hidden
//- 	.img-loading
//- 		.blah.m-0
//- 			.lds-css
//- 				.lds-ellipsis(style='width:100%;height:100%')
//- 					div
//- 						div
//- 					div
//- 						div
//- 					div
//- 						div
//- 					div
//- 						div
//- 					div
//- 						div
//- 	.layer-loading
//- a.func-filter(href="javascript:void(0)" onclick="filterM()")
//- 	i.ic.ic-

//- === Control Bar
//-- New Version Header
.header.lg-header-search.show-on-lg-and-down
	.header-container
		.logo-container
			a(href="index.html") #{page}
		.location-datetime
			div#searchingBox
				h4.location.fontWeight-5 Lê Văn Sỹ, phường 1, Tân Bình, Thành phố Hồ chí minh
				span.datetime 21:00 25/01/2019 - 20:00 26/01/2019
				i.i-chevron-down
			.searching-backdrop
			.searching-box
				.form-default.form-finding
					.line-form
						label.label Địa điểm
						.wrap-input
							input(type="text" placeholder="Hồ Chí Minh")
					.line-form.has-timer
						label.label Bắt đầu
						.wrap-input.home-datetimerange
							span.value.placeholder
								| 05 / 06 / 2018
								i.i-chevron-down
						.wrap-select.home-select
							select
								option(value='0', disabled='', selected='') 7:30 PM
								option(value='1') 8:30 PM
								option(value='2') 9:30 PM
								option(value='3') 10:30 PM
								option(value='4') 11:30 PM
							//- i.i-chevron-down
					.line-form.has-timer
						label.label Kết thúc
						.wrap-input.home-datetimerange
							span.value.placeholder
								| 06 / 06 / 2018
								i.i-chevron-down
						.wrap-select.home-select
							select
								option(value='0', disabled='', selected='') 7:30 PM
								option(value='1') 8:30 PM
								option(value='2') 9:30 PM
								option(value='3') 10:30 PM
								option(value='4') 11:30 PM
							//- i.i-chevron-down
					.wrap-btn
						a.btn.btn--m.btn-primary Tìm xe ngay

.finding-control.form-default.hide-on-lg
	.wrapper-find
		.tab-mode
			ul
				li
					a(href="#!") <i class="ic ic-list"></i> List View
				|
				li
					a.active(href="#!") <i class="ic ic-map-fill"></i> Map View
		//- .line-form
		//- 	label.label Địa điểm
		//- 	.wrap-input.has-ico
		//- 		i.ic.ic-location-f
		//- 		input(type="text" placeholder="Hồ Chí Minh")
		//- .line-form.has-timer
		//- 	label.label Thời gian
		//- 	.wrap-input
		//- 		input(type="text" placeholder="21:00 24/04/2018 - 20:00 25/04/2018")
		.line-form.location
			label.label Địa điểm
			//- .blah
			//- 	.lds-css
			//- 		.lds-ellipsis(style='width:100%;height:100%')
			//- 			div
			//- 				div
			//- 			div
			//- 				div
			//- 			div
			//- 				div
			//- 			div
			//- 				div
			//- 			div
			//- 				div
			//- 	.layer-loading
			.wrap-input.wrap-input-transparent
				input(type="text" placeholder="Hồ Chí Minh")
		.line-form.has-timer
			label.label Bắt đầu
			.wrap-input.wrap-input-transparent
				span.value.placeholder
					| 05/06/2018
					i.i-chevron-down
			.wrap-select
				select
					option(value='0', disabled='', selected='') 07:30
					option(value='1') 08:30
					option(value='2') 09:30
					option(value='3') 10:30
					option(value='4') 11:30
				//- i.i-chevron-down
		.line-form.has-timer
			label.label Kết thúc
			.wrap-input.wrap-input-transparent
				span.value.placeholder
					| 06/06/2018
					i.i-chevron-down
			.wrap-select
				select
					option(value='0', disabled='', selected='') 07:30
					option(value='1') 08:30
					option(value='2') 09:30
					option(value='3') 10:30
					option(value='4') 11:30
				//- i.i-chevron-down
		//- .switch-search.show-on-small
		//- 	i.ic.ic-datepicker


.tab-mode.show-on-lg
	.tab-box
		a(href="#!").view-mode <i class="ic ic-map-black"></i> Bản đồ
		a(href="#!").f-filter.has-dot-red <i class="ic ic-filter-black"></i> Bộ lọc

.module-map
	.map-container(style="height: calc(100vh - 50px);")
		#map(style="height:100%; width: 100%;")
	//- .map-result.d-shadow(style="height: calc(100vh - 120px);")
	//- 	p.no-result No Results for “Kia Morning”
	//- 	i.ic.ic-pin
	.loading-bar.hidden
		.peg
	.swiper-container.swiper-car-inmap
		.swiper-button-prev
		.swiper-button-next
		.list-map-wrapper.swiper-wrapper
			.car-item-inmap.swiper-slide
				.car-item-wrapper
					.car-item-body
						.car-item-img
							.img-car
								.fix-img
									img(src="https://n1-pstg.mioto.vn/thue_xe_tu_lai/mazda_3_2017/p/g/2018/01/09/10/3894.jpg")
						.car-item-info
							.rating
								span.star
									i.full
									i.full
									i.half
									i
									i
							.car-name
								p Madza 3 2016
							.features
								p
									span <i class="ic ic-tag"></i> 900K
									span <i class="ic ic-clock"></i> 3 chuyến
						.is-instant-book
							i.ic.ic-sm-thunderbolt
			.car-item-inmap.swiper-slide
				.car-item-wrapper
					.car-item-body
						.car-item-img
							.img-car
								.fix-img
									img(src="https://n1-pstg.mioto.vn/thue_xe_tu_lai/mazda_3_2017/p/g/2018/01/09/10/3894.jpg")
						.car-item-info
							.rating
								span.star
									i
									i
									i
									i
									i
							.car-name
								p Madza 3 2016
							.features
								p
									span <i class="ic ic-tag"></i> 900K
									span <i class="ic ic-clock"></i> 3 chuyến
			.car-item-inmap.swiper-slide
				.car-item-wrapper
					.car-item-body
						.car-item-img
							.img-car
								.fix-img
									img(src="https://n1-pstg.mioto.vn/thue_xe_tu_lai/mazda_3_2017/p/g/2018/01/09/10/3894.jpg")
						.car-item-info
							.rating
								span.star
									i
									i
									i
									i
									i
							.car-name
								p Madza 3 2016
							.features
								p
									span <i class="ic ic-tag"></i> 900K
									span <i class="ic ic-clock"></i> 3 chuyến

.filter-container(style="height: calc(100vh - 120px)")
	.nav-filter
		a.context-back(href="javascript:void(0)" onclick="filterC()") « Quay lại
		h2 Bộ lọc
	.content-filter
		.rent-car.has-scroll
			.scroll-inner
				.line-form
					.wrap-input.has-ico-search
						i.ic.ic-search
						input(type="text" placeholder="Your Location")
				span.slstitle Location & Time
				.line-form
					.wrap-input.has-ico
						i.ic.ic-location-f
						input(type="text" placeholder="Your Location")
				.line-form.has-timer
					label.label From
					.wrap-input.has-dropdown.date
						span.value.placeholder 03 / 09 / 2017
					.wrap-input.has-dropdown.time
						span.value.placeholder 7:30 PM
				.line-form.has-timer
					label.label Until
					.wrap-input.has-dropdown.date
						span.value.placeholder 03 / 09 / 2017
					.wrap-input.has-dropdown.time
						span.value.placeholder 7:30 PM
				.space.m
				span.slstitle Price
				.line-form
					.range-slider
						div.fill(id="range-fill")
						input.range-slider__range(id="range-slider-input" type='range' value='100' min='0' max='500' oninput="changeRange()")
						span.range-slider__value 300K - 600K
						span.range-slider__value2 / per day
				.space.m
				span.slstitle Giao dịch
				.line-form
					.squaredFour.have-label
						input(id="checked1" type="checkbox")
						label(for="checked1") Will consider long-term trips
					.squaredFour.have-label
						input(id="checked2" type="checkbox")
						label(for="checked2") Will consider long-term trips
				.space.m
				span.slstitle Giao dịch 2
				.line-form
					.wrap-input.has-dropdown
						span.value.placeholder <em class="i-color" style="background-color:#000"></em> Black
						ul.dropdown-m.has-checkbox
							li
								.squaredFour.have-label
									input(id="checked3" type="checkbox")
									label(for="checked3") Will consider long-term trips
							li
								.squaredFour.have-label
									input(id="checked4" type="checkbox")
									label(for="checked4") Will consider long-term trips
							li
								.squaredFour.have-label
									input(id="checked5" type="checkbox")
									label(for="checked5") Will consider long-term trips
				.space.m
				span.slstitle Filters
				.line-form
					.wrap-select
						select
							option(value="0" disabled selected) Set Number
							option(value="1") Set Number 1
				.line-form
					.wrap-select
						select
							option(value="0" disabled selected) Brand
							option(value="1") Brand 1
				.line-form
					.wrap-input.has-dropdown
						span.value.placeholder <em class="i-color" style="background-color:#000"></em> Black
						ul.dropdown-m.hidden
							li
								a
									span <em class="i-color" style="background-color:#000"></em> Black
							li
								a
									span <em class="i-color" style="background-color:#000"></em> Black
				.line-form
					.wrap-input.has-dropdown
						span.value.placeholder <em class="i-color" style="background-color:#000"></em> Black
						ul.dropdown-m
							li
								a
									span <img class="img-ico" src="http://via.placeholder.com/50x50" alt="mioto.vn"> Black
							li
								a
									span <img class="img-ico" src="http://via.placeholder.com/50x50" alt="mioto.vn"> Black
							li
								a
									span <img class="img-ico" src="http://via.placeholder.com/50x50" alt="mioto.vn"> Black
				a.func-more.block(href="#!") Mở rộng <i class="i-arrow-down"></i>
				a.func-more.block(href="#!") Thu gọn <i class="i-arrow-up"></i>
				.wrap-btn-filter
					//- a.btn.btn-primary.btn--m(href="#!") Áp dụng
					a.btn.btn-default.btn--m.hide-on-med-and-down.has-dot-red.btn-reset(href="#!")
						i.ic.ic-reset
						span Bỏ lọc

	//.sticky-filter
		.wr-btn
			a.btn.btn-primary.btn--m(href="#!") Áp dụng
		.wr-btn
			a.btn.btn--m(href="#!") Xóa tất cả
.clear






