block Promo 

- var modulePromo = []
- modulePromo.push({"img": "https://scontent.fsgn5-3.fna.fbcdn.net/v/t1.0-9/22196461_123620825006896_7778566556216764615_n.png?_nc_cat=0&oh=e9e9a9152f11df80dea4cfddbd7f1a86&oe=5B74017A", "code":"78ULYNJC", "sale":"15%", "price":"100 000"})
- modulePromo.push({"img": "https://scontent.fsgn5-3.fna.fbcdn.net/v/t1.0-9/22196461_123620825006896_7778566556216764615_n.png?_nc_cat=0&oh=e9e9a9152f11df80dea4cfddbd7f1a86&oe=5B74017A", "code":"NN1G9524", "sale":"10%", "price":"120 000"})
- modulePromo.push({"img": "https://scontent.fsgn5-3.fna.fbcdn.net/v/t1.0-9/22196461_123620825006896_7778566556216764615_n.png?_nc_cat=0&oh=e9e9a9152f11df80dea4cfddbd7f1a86&oe=5B74017A", "code":"3M3MKSY1", "sale":"15%", "price":"100 000"})
- modulePromo.push({"img": "https://scontent.fsgn5-3.fna.fbcdn.net/v/t1.0-9/22196461_123620825006896_7778566556216764615_n.png?_nc_cat=0&oh=e9e9a9152f11df80dea4cfddbd7f1a86&oe=5B74017A", "code":"3M3MKSY1", "sale":"15%", "price":"100 000"})
- modulePromo.push({"img": "https://scontent.fsgn5-3.fna.fbcdn.net/v/t1.0-9/22196461_123620825006896_7778566556216764615_n.png?_nc_cat=0&oh=e9e9a9152f11df80dea4cfddbd7f1a86&oe=5B74017A", "code":"3M3MKSY1", "sale":"15%", "price":"100 000"})
- modulePromo.push({"img": "https://scontent.fsgn5-3.fna.fbcdn.net/v/t1.0-9/22196461_123620825006896_7778566556216764615_n.png?_nc_cat=0&oh=e9e9a9152f11df80dea4cfddbd7f1a86&oe=5B74017A", "code":"3M3MKSY1", "sale":"15%", "price":"100 000"})

.section_promo-title
  .m-container
    h4 MÃ KHUYẾN MÃI 
    .form-default
      .line-form
        .wrap-input.has-ico-search 
          i.ic.ic-search
          input(type="text" placeholder="Nhập mã khuyến mãi")

.module-promo.m-container.d-flex
  mixin list-code(code)
    .box-promo.d-flex
      // a.func-remove(href="")
      // i.ic.ic-remove 
      .top
        img.img-promo(src=code.img)
      .center 
        p.code #{code.code}
        p.desc 
          |Giảm 
          span #{code.sale}
        p.desc 
          |(tối đa
          span #{code.price}
            | VNĐ) 
        //.bottom 
          a.btn.btn--m.btn-primary.btn--full(href="") SỬ DỤNG 
  for code in modulePromo
    +list-code(code)