block Booking

- var moduleComment = []
- moduleComment.push({'class':'', 'img':'images/avatar_default.png', 'heroes':'MS YEN', 'info':'Car Owner', 'desc':'It is an amazing experience on renting his car, very easy for my first try, I am sure I will do it again and again as well as recommended to my friends...happy 4th July!!!'})
//- - moduleComment.push({'class':'', 'img':'images/avatar_default.png', 'heroes':'Blake Page', 'info':'Car Owner', 'desc':''})
//- - moduleComment.push({'class':'', 'img':'images/avatar_default.png', 'heroes':'Blake Page', 'info':'Car Owner', 'desc':'It is an amazing experience on renting his car, very easy for my first try, I am sure I will do it again and again as well as recommended to my friends...happy 4th July!!!'})

.module-register
	.register-container.trip-container
		.status-wrapper
			.content-register.d-shadow
				.stepbystep
					ul
						li.active
							span.nu 1
							span.value Đã duyệt
						li.next-step
							span.nu 2
							span.value Đã cọc
						li
							span.nu 3
							span.value Đã nhận xe
						li
							span.nu 4
							span.value Đã kết thúc

			.booking-status.status-trips.arrow-2
				p
					span.status.orange-dot
					span Bạn cần đặt cọc trong vòng 24h, nếu không hệ thống sẽ tự động hủy chuyến
				span.countdown 24:00:00
			.booking-status.status-trips.arrow-3
				p
					span.status.green-dot
					span Chuyến đi của bạn sẽ bắt đầu vào 21:00 - Thứ Tư 19/06/2018
				span.countdown 24:00:00
			.booking-status.status-trips.arrow-4
				p
					span.status.green-dot
					span Chuyến đi của bạn sẽ kết thúc vào 21:00 - Thứ Tư 19/06/2018
				span.countdown 24:00:00
			.booking-status.status-trips.arrow-5
				p
					span.status.black-dot
					span Bạn hãy để lại nhận xét cho chuyến của mình
				span.countdown 24:00:00
		//- .status-wrapper
		//- 	.content-trip.code
		//- 		h4.tt Mã code thanh toán Payoo
		//- 		p.code-payoo 888239799
		.status-wrapper
			.content-trip.insurance
				p.status-insurance
					i.ic.ic-act-insurance
					| Gói Bảo hiểm đã được kích hoạt
				//- a.btn.btn--s.btn-primary(href="#!")
				//- 	i.ic.ic-repeat-app
				//- 	span Kích hoạt ngay

		.content-register.content-trip
			.content-booking
				.info-trip--more.info-car--more
					.group-1
						.car-img
							.fix-img
								img(src="https://n1-pstg.mioto.vn/thue_xe_tu_lai/mazda_3_2017/p/g/2018/01/09/10/3894.jpg")
					.group-2
						.group-info
							h6.name MITSUBISHI PAJERO SPORT 2016
							//- .bar-line
							span.star
								i.full
								i.full
								i.half
								i
								i
					.group-3
						.profile-mini-v2
							.avatar.avatar-new(title="title name")
								.avatar-img(style="background-image:url(images/avatar_default.png)")
							.desc-v2
								h2
									span.lstitle Chủ xe
									a(href="#!") NGUYỄN QUỐC THIỆN
								span.star
									i.full
									i.full
									i.half
									i
									i
					.group-4
						.group-info
							h6 Thời gian thuê xe
							.form-default.grid-form
								.line-form.has-timer
									p Bắt đầu 21:00 - 19/06/2018
								.line-form.has-timer
									p Kết thúc 20:00 - 21/06/2018
						.group-info
							h6 Địa điểm giao nhận xe
							.address-car
								.line-form
									span.value Nhận và trả xe tại địa điểm hiện tại của xe
									p
										| Địa chỉ cụ thể của xe sẽ được hiển thị sau khi đặt xe thành công (sau khi đặt cọc).
					.group-5
						.group-info.mb-4
							h6 Số điện thoại
							span Số điện thoại của khách thuê sẽ được hiển thị sau khi đặt cọc
						.group-info
							h6 Lời nhắn đến chủ xe
							span Không có lời nhắn đến chủ xe
					.group-6
						.group-info
							h6 Vị trí xe
							.fix-map
								img(src="images/map@2x.png" class="map" alt=page)
						.group-info
							h6 Giới hạn quãng đường
							.note
								p
									|Tối đa
									strong
										|  400
									|  km/ngày. Phí
									strong
										|  10K
									|  /km vượt giới hạn.
					.group-tphoto
						.group-info.required-paper
							h6 Giấy tờ thuê xe
							.ctn-desc-new
								ul.required
									li
										|CMND
										ic.ic.ic-check
									li
										|Giấy Phép Lái Xe
										ic.ic.ic-check
									li
										|Hộ Khẩu / KT3
										ic.ic.ic-check
						.group-info.mortgages
							h6 Tài sản thế chấp
							.ctn-desc-new
								ul.required
									li
										|CMND
										ic.ic.ic-check
									li
										|Giấy Phép Lái Xe
										ic.ic.ic-check
									li
										|Hộ Khẩu / KT3
										ic.ic.ic-check
						.group-info.policies
							h6 Điều khoản thuê xe
							.ctn-desc-new.clause
								p When you're perfect, can will begin again?

					.group-tphoto
						.group-info
							h6 Bảo hiểm được cung cấp bởi MIC
							.swiper-container.swiper-trip-photo
								.swiper-wrapper.box-photo__wrap
									.box-item.swiper-slide
										.fix-img.add-box
											.add-photo
												i.ic.ic-dark-plus
									.box-item.swiper-slide
										.fix-img
											img(src="https://n1-pstg.mioto.vn/cho_thue_xe_tu_lai_tphcm/hyundai_elantra_2017/p/g/2018/06/11/18/G291aLE79LkcVjL9stZUqw.jpg")
										a.func-remove(href="#!")
											i.ic.ic-remove
									.box-item.swiper-slide
										.fix-img
											img(src="https://n1-pstg.mioto.vn/cho_thue_xe_tu_lai_tphcm/hyundai_elantra_2017/p/g/2018/06/11/18/G291aLE79LkcVjL9stZUqw.jpg")
									.box-item.swiper-slide
										.fix-img
											img(src="https://n1-pstg.mioto.vn/cho_thue_xe_tu_lai_tphcm/hyundai_elantra_2017/p/g/2018/06/11/18/G291aLE79LkcVjL9stZUqw.jpg")
							.ins-notice
								p.note.text-danger Cung cấp thêm hình ảnh để kích hoạt gói Bảo hiểm
								a.btn.btn--s.btn-primary(href="#!")
									i.ic.ic-repeat-app
									span Kích hoạt ngay
					.group-7
						h6 Bảng tính giá
						.form-default
							.line-form.has-timer
								.wrap-input.has-dropdown.date.has-value(style='width: 50%;')
									span.value Đơn giá thuê
								.wrap-input.has-dropdown.time.has-value(style='width: 50%;')
									span.value
										span 403 200
										|  /ngày
								.wrap-input.has-dropdown.date.has-value.long-term(style='width: 50%;')
									span.value Thuê tuần (giảm 20%)
								.wrap-input.has-dropdown.time.has-value.long-term(style='width: 50%;')
									span.value
										span.line-through Giá gốc 560 000 / ngày
								.wrap-input.has-dropdown.date.has-value.long-term(style='width: 50%;')
									span.value Chương trình giảm giá
										.tooltip
											i.ic.ic-question-mark
											.tooltip-text Lorem ipsum dolor sit amet.
								.wrap-input.has-dropdown.time.has-value.long-term(style='width: 50%;')
									span.value
										span.line-through 448 000 / ngày
								.wrap-input.has-dropdown.date.has-value.line-gray(style='width: 50%;')
									span.value Tổng phí thuê xe
								.wrap-input.has-dropdown.time.has-value.line-gray(style='width: 50%;')
									span.value
										span 403 200 x
										strong 7 ngày
								.wrap-input.has-dropdown.date.has-value(style='width: 50%;')
									span.value Phí giao nhận xe (2 chiều)
								.wrap-input.has-dropdown.time.has-value(style='width: 50%;')
									span.value
										span 25 000 (2,5km)
								.wrap-input.has-dropdown.date.has-value(style='width: 50%;')
									span.value Khuyến mãi mã
										strong     MI20
										.tooltip
											i.ic.ic-question-mark
											.tooltip-text Mioto sẽ hoàn lại cho chủ xe số tiền giảm này
								.wrap-input.has-dropdown.time.has-value(style='width: 50%;')
									span.value
										span - 150 000
								.wrap-input.has-dropdown.date.has-value.line-gray(style='width: 50%;')
									span.value
										h6 Tổng cộng
								.wrap-input.has-dropdown.time.has-value.line-gray(style='width: 50%;')
									span.value
										h6
											span 2 847 400đ
					.group-8
						//- h6 Thanh toán
						ul.lp.lp-confirm
							li.lp-li
								.item-lp
									span.title-lp TIỀN PHẢI CỌC
									span.value-lp.value-total
										span 360 000
							li.lp-li
								.item-lp
									span.title-lp TIỀN TRẢ SAU
									span.value-lp
										span 840 000
					.group-9
						.group-info
							h6 Chính sách hủy chuyến
							table.cancel-privacy
								thead
									tr
										td Thời điểm hủy chuyến
										td Phí hủy chuyến
										td Số tiền cọc hoàn trả
								tbody
									tr
										td Trong vòng 1 giờ sau khi đặt cọc
										td 0% Tiền cọc
										td 100% Tiền cọc
									tr
										td > 7 ngày trước ngày đi
										td 30% Tiền cọc
										td 70% Tiền cọc
									tr
										td <= 7 ngày trước ngày đi
										td 100% Tiền cọc
										td 0% Tiền cọc
							p.text-danger.font-13 *** Tiền cọc sẽ được hoàn trả trong vòng 1 - 3 ngày làm việc.
							//- .line-form
						//- .review.group-info
						//- 	h6 Đánh giá từ khách thuê
						//- 	hr.line
						//- 	mixin list-comments(comment)
						//- 		.list-comments
						//- 			.left
						//- 				.fix-avatar
						//- 					img(src=`${comment.img}`)
						//- 			.right
						//- 				h4.name= comment.heroes
						//- 				.cmt-box
						//- 					.group
						//- 						span.star
						//- 							i.full
						//- 							i.full
						//- 							i.half
						//- 							i
						//- 							i
						//- 						p.date 22/02/2017
						//- 					p.desc= comment.desc
						//- 	for comment in moduleComment
						//- 		+list-comments(comment)

	.wrap-btn.dt-trip-btn
		a.btn.btn-red.btn--m(href="car_register_step1_verify.html") Hủy chuyến
	.wrap-btn.dt-trip-btn.has-2btn
		.wr-btn
			a.btn.btn-red.btn--m(href="car_register_step1_verify.html") Hủy chuyến
		.wr-btn
			a.btn.btn-primary.btn--m(href="car_register_step1_verify.html") Đặt cọc

