block Booking

.module-register
	.register-container
		.content-register
			.stepbystep
				ul
					li.active.done
						span.nu 1
						span.value Eligibility
					li.active
						span.nu 2
						span.value Customize
					li
						span.nu 3
						span.value Photos
					li
						span.nu 4
						span.value Publish
			// - Edit 
			.form-default
				.group-inline.d-flex 
					h6 Giảm giá
					.switch-on-off
						input(type="checkbox" class="switch-input" id="cb-discount" value="on")
						label.switch-label(for="cb-discount")
			.space.m
			.group.form-default
				h6 Driver’s license
				p.summary Please provide your driver’s license information. It won’t be shared.
				.col-left
					.line-form
						label.label Full Name in Your License
						.wrap-input
							input(type="text" placeholder="Name")
				.col-right
					.line-form
						label.label Date of Birth
						span.wrap-select
							select
								option(value="1") DD/MM/YYYY
				.line-form
					label.label Driver’s License Number
					.wrap-input
						input(type="text" placeholder="Name")
				.space.m
				h6 Car Availability
				p.summary How much advance notice do you need to confirm a trip?
				.col-left
					.line-form
						label.label Advance Notice
						span.wrap-select
							select
								option(value="1") Select
				.clear
				p.str How long would you like trips to last?
				.col-left
					.line-form
						label.label Shortest possble trip
						span.wrap-select
							select
								option(value="1") Select
				.col-right
					.line-form
						label.label Longest possble trip
						span.wrap-select
							select
								option(value="1") Select
				h6 Details
				.col-left
					.line-form
						label.label License Plate Number
						.wrap-input
							input(type="text" placeholder="")
				.clear
				p.fl
					span.note Your license plate information won’t be publicly visible.
				.space.m.clear
				h6 Car Description
				p.summary A detailed description will help you get more trips.
				textarea.textarea(placeholder="")
				p
					span.note No need to include your contact info, travelers will receive it once you’ve confirmed their trups.
				.space.m
				h6 Car Features
				.list-features
					ul
						li
							.squaredFour.have-label
								input(id="checked1" type="checkbox" checked)
								label(for="checked1") EV / Hybrid
						li
							.squaredFour.have-label
								input(id="checked1" type="checkbox" checked)
								label(for="checked1") EV / Hybrid
						li
							.squaredFour.have-label
								input(id="checked1" type="checkbox")
								label(for="checked1") EV / Hybrid
						li
							.squaredFour.have-label
								input(id="checked1" type="checkbox")
								label(for="checked1") EV / Hybrid
						li
							.squaredFour.have-label
								input(id="checked1" type="checkbox")
								label(for="checked1") EV / Hybrid
						li
							.squaredFour.have-label
								input(id="checked1" type="checkbox")
								label(for="checked1") EV / Hybrid
						li
							.squaredFour.have-label
								input(id="checked1" type="checkbox")
								label(for="checked1") EV / Hybrid
	.wrap-btn.has-2btn
		.wr-btn
			a.btn.btn-secondary.btn--m(href="car_register_step1_verify.html") Back
		.wr-btn
			a.btn.btn-primary.btn--m(href="car_register_step3.html") Next
	