block Booking

.module-register
	.register-container
		.content-register
			.stepbystep
				ul
					li.active.done
						span.nu 1
						span.value Eligibility
					li.active.done
						span.nu 2
						span.value Customize
					li.active.done
						span.nu 3
						span.value Photos
					li.active
						span.nu 4
						span.value Publish
						
			.group.form-default
				h6 Publish Your Listing
				p.summary That’s everything we needed! You’re now ready to list your car on Mioto. Remember, you can edit yout listing and availability anytime using your car settings.
				
	.wrap-btn.has-2btn
		.wr-btn
			a.btn.btn-secondary.btn--m(href="#!") Back
		.wr-btn
			a.btn.btn-primary.btn--m(href="#!") Publish
	