block Booking

.module-register
	.register-container
		.content-register
			.stepbystep
				ul
					li.active.done
						span.nu 1
						span.value Eligibility
					li
						span.nu 2
						span.value Customize
					li
						span.nu 3
						span.value Photos
					li
						span.nu 4
						span.value Publish
						
			.group.form-default
				h6 Verify Your Registeration
				p.summary We verify you phone number to send text messages about your trips and connect owners with travelers. We only share your phone number after a trip has been booked.
				.line-form
					label.label Enter Your Phone Number
					.wrap-input
						input(type="text" placeholder="")
				p
					a.btn.btn-primary.btn--m.btn-sendCode(href="#!") Send Code
					span.note We will send you a text message with your verification code
				.space.m
				.line-form
					label.label Enter Your Code
					.wrap-input
						input(type="text" placeholder="")
				p
					span.note Haven’t recieved any code? <a href="#!">Resend new code</a>
	.wrap-btn.has-2btn
		.wr-btn
			a.btn.btn-secondary.btn--m(href="car_register_step1.html") Back
		.wr-btn
			a.btn.btn-primary.btn--m(href="car_register_step2.html") Next
	br
	.wrap-btn.has-2btn
		mixin link(href, name, text)
			if typeof(text) === 'undefined'
				- text=name
			a(href=href, title=name)&attributes(attributes)
				if block
					block
				else
					!=text
		mixin paging(obj)
			ul.pagination-blog
				li
					+link('#','Trang Trước').prev 
						|Trang Trước
				each item in obj
					li
						+link(item.href, item.val)(class= item.clsPage)
				li
					+link('#','Trang Kế').next
						|Trang Kế
		+paging([
			{href: '#', val: '1', clsPage: 'active'},
			{href: '#', val: '2', clsPage: ''},
			{href: '#', val: '3', clsPage: ''},
			{href: '#', val: '4', clsPage: ''},
			{href: '#', val: '5', clsPage: ''}
		])



    
	