block Booking

.module-register
	.register-container
		.content-register
			.stepbystep
				ul
					li.active
						span.nu 1
						span.value Eligibility
					li
						span.nu 2
						span.value Customize
					li
						span.nu 3
						span.value Photos
					li
						span.nu 4
						span.value Publish
						
			.group.form-default
				h6 Eligibility
				.line-form
					label.label Where Is Your Car Located?
					.wrap-input.has-ico
						i.ic.ic-location-f
						input(type="text" placeholder="061 Wisozk Gardens Suite 425")
				.col-left
					.line-form
						label.label Year
						span.wrap-select
							select
								option(value="1") Select
				.col-right
					.line-form
						label.label Make
						span.wrap-select
							select
								option(value="1") Select
				.col-left
					.line-form
						label.label Model
						span.wrap-select
							select
								option(value="1") Select
				.col-right
					.line-form
						label.label Transmission
						span.wrap-select
							select
								option(value="1") Select
				.col-left
					.line-form
						label.label Odometer
						span.wrap-select
							select
								option(value="1") Select
				.space.clear
				.line-checkbox.end
					.squaredFour.have-label
						input(id="checked" type="checkbox" selected)
						label(for="checked") My car has never had a branded or salvage title.
	.wrap-btn
		a.btn.btn-primary.btn--m(href="car_register_step1_verify.html") Next
	