block Booking

.module-register
	.register-container
		.content-register
			.stepbystep
				ul
					li.active.done
						span.nu 1
						span.value Eligibility
					li.active.done
						span.nu 2
						span.value Customize
					li.active
						span.nu 3
						span.value Photos
					li
						span.nu 4
						span.value Publish
						
			.group.form-default
				h6 Car Photos
				p.summary It’s important for travelers to see your car before they request it. Once you have a good photo that shows the whole car, add more photos displaying the car’s details and interior. Learn more about <a href="#!">taking great photos.</a><br /><br />Photos must be at least 640x320px
				.list-photos
					ul
						li
							a.obj-photo(href="#!")
								span.ins
									i.ic.ic-upload
									em Upload Photo
						li
							a.obj-photo.uploading(href="#!" style="background-image:url(images/upload/img_demo11.png)")
								span.ins
									i.ic.ic-upload-fill
									em Uploading
									span.layer
									em.process(style="width:50%")
						li
							.obj-photo(style="background-image: url(images/upload/img_demo11.png)")
								a.func-remove(href="#!")
									i.ic.ic-remove
						li
							.obj-photo(style="background-image: url(images/upload/img_demo11.png)")
								a.func-remove(href="#!")
									i.ic.ic-remove
						//- li
						//- 	.obj-photo(style="background-image:url(assets/images/upload/img_demo11.png)")
						//- 		a.func-remove(href="#!")
						//- 			i.ic.ic-remove
	.wrap-btn.has-2btn
		.wr-btn
			a.btn.btn-secondary.btn--m(href="car_register_step2.html") Back
		.wr-btn
			a.btn.btn-primary.btn--m(href="car_register_step4.html") Next
	