block Map

.filter-trips.show-on-small
	.content-filter
		.rent-car
			.line-form
				label.label Trạng Thái
				.wrap-select
					select
						option(value="0" disabled selected) Tất cả
						option(value="1") Đang chờ duyệt
						option(value="2") Đã duyệt
						option(value="3") Đã cọc
						option(value="4") Đang thuê
						option(value="5") Đã kết thúc
						option(value="6") Đã hủy
.body.has-filter
	.loading-container.hidden
		.img-loading
			.blah
				.lds-css
					.lds-ellipsis(style='width:100%;height:100%')
						div
							div
						div
							div
						div
							div
						div
							div
						div
							div
		.layer-loading
	.filter-trips
		.content-filter
			.rent-car
				.line-form
					label.label Trạng Thái
					.wrap-select
						select
							option(value="0" disabled selected) Tất cả
							option(value="1") Đang chờ duyệt
							option(value="2") Đã duyệt
							option(value="3") Đã cọc
							option(value="4") Đang thuê
							option(value="5") Đã kết thúc
							option(value="6") Đã hủy
	.module-map.module-trips
		.trip-box
			.trip-header
				.left
					.car-img
						.fix-img 
							img(src="images/upload/car_1.png")
				.right 
					h4 MITSUBISHI PAJERO SPORT 2016
			.trip-body 
				.left
					p.total-price
						ic.ic.ic-total-price
						|Tổng tiền
						span  900k
					p 
						|Bắt đầu 
						span 
							|Thứ Năm, 01/02/2018, 21:00
					p 
						|Kết thúc  
						span 
							|Thứ Sáu, 02/02/2018, 20:00	
				.right 
					.avatar 
						.avatar-img 
							img(src="images/avatar_default.png")
					.lstitle Trần Quang Huy
			.trip-footer
				.status-trips
					p
						span.status.green-dot 
						|Đang chờ duyệt xe 
				.time
					p 2 giờ trước
		.trip-box
			.trip-header
				.left
					.car-img
						.fix-img 
							img(src="images/upload/car_1.png")
				.right 
					h4 MITSUBISHI PAJERO SPORT 2016
			.trip-body 
				.left
					p.total-price
						ic.ic.ic-total-price
						|Tổng tiền
						span 900k
					p 
						|Bắt đầu 
						span 
							|Thứ Năm, 01/02/2018, 21:00
					p 
						|Kết thúc  
						span 
							|Thứ Sáu, 02/02/2018, 20:00	
				.right 
					.avatar 
						.avatar-img 
							img(src="images/avatar_default.png")
					.lstitle Trần Quang Huy
			.trip-footer
				.status-trips
					p
						span.status.black-dot
						|Đã từ chối 
				.time
					p 2 giờ trước
		.trip-box
			.trip-header
				.left
					.car-img
						.fix-img 
							img(src="images/upload/car_1.png")
				.right 
					h4 MITSUBISHI PAJERO SPORT 2016
			.trip-body 
				.left
					p.total-price
						ic.ic.ic-total-price
						|Tổng tiền
						span 900k
					p 
						|Bắt đầu 
						span 
							|Thứ Năm, 01/02/2018, 21:00
					p 
						|Kết thúc  
						span 
							|Thứ Sáu, 02/02/2018, 20:00	
				.right 
					.avatar 
						.avatar-img 
							img(src="images/avatar_default.png")
					.lstitle Trần Quang Huy
			.trip-footer
				.status-trips
					p
						span.status.gray-dot
						|Chuyến xe đã kết thúc
				.time
					p 2 giờ trước
		.trip-box
			.trip-header
				.left
					.car-img
						.fix-img 
							img(src="images/upload/car_1.png")
				.right 
					h4 MITSUBISHI PAJERO SPORT 2016
			.trip-body 
				.left
					p.total-price
						ic.ic.ic-total-price
						|Tổng tiền
						span 900k
					p 
						|Bắt đầu 
						span 
							|Thứ Năm, 01/02/2018, 21:00
					p 
						|Kết thúc  
						span 
							|Thứ Sáu, 02/02/2018, 20:00	
				.right 
					.avatar 
						.avatar-img 
							img(src="images/avatar_default.png")
					.lstitle Trần Quang Huy
			.trip-footer
				.status-trips
					p
						span.status.orange-dot
						|Đang chờ đặt cọc
				.time
					p 2 giờ trước
		.trip-box
			.trip-header
				.left
					.car-img
						.fix-img 
							img(src="images/upload/car_1.png")
				.right 
					h4 MITSUBISHI PAJERO SPORT 2016
			.trip-body 
				.left
					p.total-price
						ic.ic.ic-total-price
						|Tổng tiền
						span 900k
					p 
						|Bắt đầu 
						span 
							|Thứ Năm, 01/02/2018, 21:00
					p 
						|Kết thúc  
						span 
							|Thứ Sáu, 02/02/2018, 20:00	
				.right 
					.avatar 
						.avatar-img 
							img(src="images/avatar_default.png")
					.lstitle Trần Quang Huy
			.trip-footer
				.status-trips
					p
						span.status.red-dot
						|Đã hủy chuyến 
				.time
					p 2 giờ trước



					

				



		
		

		
		

	