block Tutorial

- var listCars = []
- listCars.push({'class':'', 'img':'https://n1-pstg.mioto.vn/thue_xe_tu_lai/mazda_3_2017/p/g/2018/02/13/16/4623.jpg', 'price':'900K', 'info':'Car Owner', 'desc':'Dịch vụ tốt'})
- listCars.push({'class':'', 'img':'https://n1-pstg-dev.mioto.vn/thue_xe_tu_lai/mitsubishi_triton_2017/p/g/2018/00/23/14/772.jpg', 'price':'1000K', 'info':'Car Owner', 'desc':'It is an amazing experience on renting his car, very easy for my first try, I am sure I will do it again and again as well as recommended to my friends...happy 4th July!!!'})
- listCars.push({'class':'', 'img':'https://n1-pstg-dev.mioto.vn/thue_xe_tu_lai/mazda_3_2017/p/g/2017/11/05/00/692.jpg', 'price':'1100K', 'info':'Car Owner', 'desc':'Excellent guest, made the rental process easy. Thanks!'})
- listCars.push({'class':'', 'img':'https://n1-pstg.mioto.vn/thue_xe_tu_lai/mercedes_c200_2017/p/g/2018/03/16/15/5918.jpg', 'price':'1000K', 'info':'Car Owner', 'desc':'I am sure I will do it again and again as well as recommended to my friends...happy 4th July!!!'})
- listCars.push({'class':'', 'img':'https://n1-pstg.mioto.vn/thue_xe_tu_lai/honda_city_2017/p/g/2018/03/16/17/6113.jpg', 'price':'1000K', 'info':'Car Owner', 'desc':'I am sure I will do it again and again as well as recommended to my friends...happy 4th July!!!'})

- var april = ['Thứ 2', 'Thứ 3', 'Thứ 4', 'Thứ 5', 'Thứ 6', 'Thứ 7', 'CN']

.section_manage
	.main-title 
		h3.tt Quản lý lịch chung
	
	.content-container
		.space-control
		.filter-map-container.form-default
			.switch-sort 
				a.btn.btn--m(href="")
					i.ic.ic-sort-descend 
			.col-1
				.line-form
					.wrap-input.has-ico-search
						i.ic.ic-search
						input(type="text" placeholder="Search car name")
			.col-2
				.line-form
					.wrap-select
						select
							option(value="0" disabled selected) View All
							option(value="1") Pending
							option(value="2") Approved
							option(value="3") Canceled
							option(value="4") Bookmarked
		.calendar-container
			ul.list-status
				li.status-3
					span Giá mặc định
				li.status-6
					span Lặp lại tuần
				li.status-1
					span Ngày trống 
				li.status-9
					span Chờ đặt cọc
				li.status-4
					span Giá tùy chỉnh
				li.status-5
					span Xe đã đặt
				li.status-2
					span Ngày bận
				li.status-8
					span Chờ duyệt 
				
				
	
	.manage_wrap
		.manage-calendar 	
			.row-day.heading-wrap
				.swiper-button-prev
					i.i-arr
				.swiper-button-next
					i.i-arr 
				.column-car
				mixin list-days(date, maxDay,line)
					- for(var x=0; x<maxDay; x++)
						if (date[x%7] === line)
							.desc.weekend
								p!=date[x%7]
								p!=x+1
						else
							.desc
								p!=date[x%7]
								p!=x+1
				+list-days(april,7,'CN')
				mixin list-days(date, maxDay,line)
					- for(var x=0; x<maxDay; x++)
						if (date[x%7] === line)
							.desc.weekend.test-hide 
								p!=date[x%7]
								p!=x+8
						else
							.desc.test-hide 
								p.date!=date[x%7]
								p!=x+8
				+list-days(april,7,'CN')
			.row-day
				.column-car
					i.ic.ic-info-wh 
					span.license-plate 51F-87523
					span.price 900K 
					.img-car
						img(src="https://n1-pstg.mioto.vn/thue_xe_tu_lai/mazda_3_2017/p/g/2018/02/13/16/4623.jpg")
					.squaredFour.car-cell 
						input(type="checkbox")
						label(for="")
				.desc.outside
					p 900K
				.desc.outside
					//- i.ic.ic-clock-repeat
					p 
						|900K
				.desc.gray
					p 900K
				.desc
					p.event 1200K
				.desc
					//- i.ic.ic-calendar-repeat
					p 900K
					span.deposit-5.req-half-left 
						i.ic.ic-sm-flat
					span.deposit-4
						i.ic.ic-sm-flat
					span.deposit-3
						i.ic.ic-sm-flat
					span.deposit-2.req-half-right
						i.ic.ic-sm-flat
					span.deposit-1
						i.ic.ic-sm-flat
				.desc
					p.event 1200K
					span.req-4
					span.req-3
					.label-in-calendar
						i.ic.ic-sm-thunderbolt 
						i.ic.ic-clock-repeat
				.desc.available
					p 900K
					span.req-5
					span.req-4
					span.req-3
					span.req-2.req-half-right
						i.ic.ic-sm-flat
					span.req-1
						i.ic.ic-sm-flat
				.desc.test-hide 
					p 900K
					span.req-4
					span.req-3.req-half-left
					span.req-2
					span.req-1.req-half-left
					.label-in-calendar
						i.ic.ic-sm-thunderbolt 
						i.ic.ic-clock-repeat
				.desc.gray.test-hide 
					p 900K
					.label-in-calendar
						i.ic.ic-sm-thunderbolt 
						i.ic.ic-clock-repeat
				.desc.test-hide 
					p 900K
					span.req-4
					span.req-3
					span.req-2
					span.req-1
					.label-in-calendar
						i.ic.ic-sm-thunderbolt 
						i.ic.ic-clock-repeat
				.desc.full.test-hide 
					i.ic.ic-management
					p 900K
				.desc.full.test-hide 
					p 900K
				.desc.full.test-hide 
					p 900K
				.desc.test-hide 
					p 900K
			
			.row-day
				.column-car
					span.license-plate 51F-87523
					span.price 900K 
					i.ic.ic-info-wh 
					.img-car
						img(src="https://n1-pstg-dev.mioto.vn/thue_xe_tu_lai/mitsubishi_triton_2017/p/g/2018/00/23/14/772.jpg")
					.squaredFour.car-cell 
						input(type="checkbox")
						label(for="")
				//- .column-car.price 
				//- 	p 900K 
				- for(var i=0; i<14; i++)
					if (i>6)
						.desc.available.test-hide
							p 900K
					else 
						.desc.available 
							p 900K
			.row-day
				.column-car
					span.license-plate 51F-87523
					span.price 900K 
					i.ic.ic-info-wh 
					.img-car
						img(src="https://n1-pstg-dev.mioto.vn/thue_xe_tu_lai/mazda_3_2017/p/g/2017/11/05/00/692.jpg")
					.squaredFour.car-cell 
						input(type="checkbox")
						label(for="")
				//- .column-car.price 
				//- 	p 900K 
				.desc.outside
					p 900K
				.desc.outside
					//- i.ic.ic-clock-repeat
					p.event
						|3000K
				.desc
					p 900K
				.desc
					p.event 3000K
				.desc
					//- i.ic.ic-calendar-repeat
					p 900K
				.desc
					p.event 2500K
				.desc.available
					p.event
						//- i.ic.ic-clock-repeat 
						|1500K
				.desc.test-hide 
					p 900K
				.desc.gray.test-hide 
					p 900K
				.desc.gray.test-hide 
					p 900K
				.desc.gray.test-hide 
					p 900K
				.desc.gray.test-hide 
					p 900K
				.desc.test-hide 
					p 900K
				.desc.test-hide 
					p 900K	
			.row-day
				.column-car
					span.license-plate 51F-87523
					span.price 900K 
					i.ic.ic-info-wh 
					.img-car
						img(src="https://n1-pstg.mioto.vn/thue_xe_tu_lai/mercedes_c200_2017/p/g/2018/03/16/15/5918.jpg")
					.squaredFour.car-cell 
						input(type="checkbox")
						label(for="")
				//- .column-car.price 
				//- 	p 900K 
				- for(var i=0; i<14; i++)
					if (i>6)
						.desc.test-hide 
							p 900K
					else 
						.desc 
							p 900K
			.row-day
				.column-car
					span.license-plate 51F-87523
					span.price 900K 
					i.ic.ic-info-wh 
					.img-car
						img(src="https://n1-pstg.mioto.vn/thue_xe_tu_lai/honda_city_2017/p/g/2018/03/16/17/6113.jpg")
					.squaredFour.car-cell 
						input(type="checkbox")
						label(for="")
				//- .column-car.price 
				//- 	p 900K 

				.desc.outside
					p.event 1200K
				.desc.outside
					//- i.ic.ic-calendar-repeat
					p 
						//- i.ic.ic-clock-repeat
						|900K
				.desc
					p 900K
				.desc.gray
					p.event 3000K
				.desc.gray
					//- i.ic.ic-calendar-repeat
					p 900K
				.desc.gray
					p 900K
				.desc.available
					p
						//- i.ic.ic-clock-repeat 
						|900K
				.desc.test-hide 
					p 900K
				.desc.test-hide 
					p 900K
				.desc.test-hide 
					p 900K
				.desc.test-hide 
					.full.booked
					p 900K
				.desc.test-hide 
					.full.booked
					p 900K
				.desc.test-hide 
					.booked.available
					p 900K
				.desc.test-hide 
					p 900K			
			


			
				