block Owner Report 

- var moduleTrans = [];

//- heading row
- moduleTrans.push({'mainRow': true, 'clgMain': 'main-row', 'title': ['Mã chuyến đi', 'Ngày đi', 'Ngày về', 'Đơn giá', 'Khuyến mãi', 'Đặt cọc tại Mioto', 'Phí Vận hành', 'Thay đổi số dư'],  'tripId': 'Mã chuyến đi', 'startDay': 'Ngày đi', 'endDay': 'Ngày về', 'unitPrice': 'Đơn giá', 'promo': 'Khuyến Mãi', 'deposit': 'Đặt cọc tại Mioto', 'operateFees': 'Phí vận hành', 'changeBalance': 'Thay đổi số dư'})

//- normal row
- moduleTrans.push({'mainRow': false, 'tripId': '123', 'startDay': '1/9/2018', 'endDay': '1/9/2018', 'unitPrice': '900,000', 'promo': '135,000', 'deposit': '229,000', 'operateFees': '108,000', 'changeBalance': '256,000'})
- moduleTrans.push({'mainRow': false, 'tripId': '124', 'startDay': '2/9/2018', 'endDay': '3/9/2018', 'unitPrice': '1,800,000', 'promo': '-', 'deposit': '540,000', 'operateFees': '216,000', 'changeBalance': '324,000'})
- moduleTrans.push({'mainRow': false, 'tripId': '125', 'startDay': '23/9/2018', 'endDay': '23/9/2018', 'unitPrice': '900,000', 'promo': '135,000', 'deposit': '229,000', 'operateFees': '108,000', 'changeBalance': '256,000'})
- moduleTrans.push({'mainRow': false, 'tripId': '126', 'startDay': '29/9/2018', 'endDay': '29/9/2018', 'unitPrice': '900,000', 'promo': '135,000', 'deposit': '229,000', 'operateFees': '108,000', 'changeBalance': '256,000'})
- moduleTrans.push({'mainRow': false, 'tripId': '127', 'startDay': '30/9/2018', 'endDay': '30/9/2018', 'unitPrice': '900,000', 'promo': '135,000', 'deposit': '-', 'operateFees': '108,000', 'changeBalance': '-108,000'})

- var summaryChange = [{'desc': 'Tổng thay đổi - Chuyến đi hoàn thành', 'sumPrice': '984,000'}, {'desc': 'Tổng thay đổi - Giao dịch rút/nộp tiền', 'sumPrice': '39,000'}, {'desc': 'Tổng thay đổi - Giao dịch hủy chuyến', 'sumPrice': '-311,000'},]

- var sumTrans = [{'desc': 'TỔNG CỘNG THAY ĐỔI TRONG KÌ', 'sumPrice': '712,000'}, {'desc': 'TIỀN ĐẦU KÌ', 'sumPrice': '-250,000'}, {'desc': 'TIỀN CUỐI KÌ', 'sumPrice': '462,000', 'color': true},]



.module-register
	.register-container.owner-report
		.owner-report__wrap
			.owner-report--heading 
				h4.title Bảng tổng hợp giao dịch
				.line-form 
					.wrap-select.custom-select--dark
						select 
							option(value="0" selected) Tháng 9/2018 
							option(value="1" ) Tháng 10/2018 
							option(value="2" ) Tháng 11/2018 
			.owner-report--body.textAlign-center
				.balance-summary
					h3 462,000 VND 
					p Số dư hiện tại 
				.info-display
					.info-display--item 
						.group-ratings
							i.ic.ic-star
							span.highlight 4.8
						p.desc Đánh giá
					.info-display--item 
						span.highlight 5 
						p.desc Chuyến đi thành công
					.info-display--item.d-flex
						.response-desc 
							span.highlight 80% 
							p.desc Tỉ lệ phản hồi 
						.response-desc 
							span.highlight 0.5 tiếng
							p.desc Thời gian phản hồi  
						.response-desc 
							span.highlight 70% 
							p.desc Tỉ lệ đồng ý
				.transaction-detail__wrap
					.transaction-detail__table
						mixin tableTrans(item)
							if item.mainRow
								.row-transaction(class=`${item.clgMain}`)
									each name in item.title
										.desc
											p!=name
							else 
								.row-transaction
									.desc
										p 
											a(href="")!=item.tripId
									.desc 
										p!=item.startDay
									.desc 
										p!=item.endDay
									.desc 
										p!=item.unitPrice
									.desc 
										p!=item.promo
									.desc 
										p!=item.deposit
									.desc 
										p!=item.operateFees
									.desc 
										p!=item.changeBalance
						for item in moduleTrans
							+tableTrans(item)
					//- Summary Change
					mixin listChange(item)
						.summary-change
							p!=item.desc 
							p!=item.sumPrice 
					for item in summaryChange
						+listChange(item)
					.group-summary
						mixin sumTrans(item)
							.transaction-summary
								p!=item.desc 
								if item.color
									p.sum-price!=item.sumPrice 
								else
									p!=item.sumPrice
						for item in sumTrans
							+sumTrans(item)
		
		.down-report
			label Tải Sao kê chi tiết giao dịch
			.d-flex
				button.btn.btn--s.btn-default
					| PDF 
				button.btn.btn--s.btn-default 
					| Excel  

	.wrap-btn.report-btn.d-flex
		button.btn.btn--m.btn-primary Gửi yêu cầu rút tiền
		button.btn.btn--m.btn-secondary Xem Sao kê chi tiết giao dịch



