block Owner Register
- var stepReg = []; 
- stepReg.push({'clg': 'ict-register', 'twoCase': true, 'step': 'Bước 1' ,'case1': 'Cách 1', 'dt1': `Trực tiếp tải ứng dụng Mioto và đăng xe tại mục "Xe của tôi" `, 'case2': 'Cách 2', 'dt2': `Đăng kí thông tin đầy đủ để Mioto hỗ trợ đăng xe giúp bạn` })
- stepReg.push({'clg': 'ict-checked', 'twoCase': false ,'step': 'Bước 2', 'dt': `Nhân viên Mioto sẽ kiểm tra thông tin, liên hệ chủ xe để tư vấn thủ tục và quy trình cho thuê xe`})
- stepReg.push({'clg': 'ict-accept', 'twoCase': false , 'step': 'Bước 3', 'dt': `Bắt đầu cho thuê trên Mioto ngay khi nhận thông báo xe được phê duyệt từ Mioto`})

- var faqReg = [ {'faq': 'Lorem ispum......'}, {'faq': 'Lorem ispum......'}, {'faq': 'Lorem ispum......'}]

.banner-home__sect.owner-register__wrap#ownerRegister(style='background-image: url(images/background/bg-10.jpg);')
  .reg-container
    .main-title 
      h2.reg-tt Đăng ký cho thuê trên Mioto ngay để gia tăng thu nhập hấp dẫn!
      p Hotline: 1900 9217 (T2-T7 9AM-6PM)
      p 
        | Hoặc để lại tin nhắn cho Mioto qua 
        a(href="") Fanpage
      .space.m.hide-on-med
      p Mioto không thu phí khi bạn đăng xe. Nếu xe của bạn đạt tiêu chuẩn được kiểm duyệt đăng tải trên Mioto, chúng tôi chỉ thu phí vận hành khi có giao dịch.
    .box-register
      .form-register.form-default 
        h4.title Đăng ký Mioto ngay 
        p Vui lòng điền thông tin đầy đủ và chính xác để Mioto liên hệ bạn sớm nhất 
        .form-group 
          .line-form 
            .wrap-select 
              select(required)
                option(value="" disabled selected hidden) Thành phố đăng ký hoạt động với Mioto 
                option(value="1") Hồ Chí Minh
                option(value="2") Hà Nội
                option(value="3") Đà Nẵng
          .line-form.w-60
            .wrap-input.has-error-form
              input(type="text" placeholder="Họ và tên*")
          .line-form.w-40
            .wrap-input
              input(type="text" placeholder="Số di động*")
          .line-form 
            .wrap-input
              input(type="text" placeholder="Địa chỉ email (nếu có)")
          .line-form 
            .wrap-input
              input(type="text" placeholder="Xe đăng ký cho thuê")
          .line-form 
            .wrap-select
              select(required)
                option(value="" disabled selected hidden) Nguồn giới thiệu 
                option(value="1") Chủ xe Mioto 
                option(value="2") Báo chí
                option(value="3") Facebook
          .line-form.local 
            label Đã từng cho thuê xe chưa? 
            .line-radio
              label.custom-radio.custom-control
                input(type="radio" name="setting-mode" class="custom-control-input")
                span.custom-control-indicator
                span.custom-control-description
                  |Đã từng 
              label.custom-radio.custom-control
                input(type="radio" name="setting-mode" class="custom-control-input")
                span.custom-control-indicator
                span.custom-control-description
                  |Chưa từng
        p.read-paper 
          | Khi tiếp tục, tôi đồng ý Mioto được phép thu thập, sử dụng và tiết lộ thông tin được tôi cung cấp theo 
          a(href="https://www.mioto.vn/regu") Quy chế hoạt động
          |  của Mioto mà tôi đã đọc và hiểu
        a(href="").btn.btn--m.btn-primary Đăng ký 
.reg-tutorial__sect
  .ex-container 
    h3.n-title Đăng ký cho thuê trên Mioto trong 3 bước 
    .reg-step__wrap 
      mixin reg-step(step)
        .reg-step__item 
          .ict-large(class= `${step.clg}`)
          .step-detail 
            h4!=step.step 
            if step.twoCase
              .dt-step 
                span!=step.case1
                p.dt!=step.dt1
              .dt-step 
                span!=step.case2
                p.dt!=step.dt2
            else
              p.dt!=step.dt
      for step in stepReg 
        +reg-step(step)
.reg-cact__sect(style="background-image: url(images/background/bg-3.jpg);")
  .inside.ex-container
    h3.n-title Tham gia Mioto ngay hôm nay! 
    p Gia nhập hệ thống chủ xe của Mioto để kiếm thêm thu nhập từ chính xe của bạn một cách chủ động 
    a(href="#ownerRegister").btn.btn--l.btn-primary Đăng ký ngay
//- .reg-faq__sect 
//-   .m-container 
//-     h3.n-title Câu hỏi thường gặp 