block Owner Transactions 

- var tripCompleted = [];
- tripCompleted.push({ 'tripId': '2ZSRSN2J', 'startDay': '1/9/2018', 'endDay': '1/9/2018', 'bookDay': '25/8/2018', 'traveller': 'Nguyễn Tuấn Khanh', 'carRent': 'KIA RONDO 2016',  'unitPrice': '900,000', 'promo': '135,000', 'deposit': '229,000', 'payForOwner': '536,000', 'operateFees': '108,000', 'changeBalance': '256,000'})
- tripCompleted.push({ 'tripId': '2ZSRSN2J', 'startDay': '2/9/2018', 'endDay': '3/9/2018', 'bookDay': '26/8/2018', 'traveller': 'Nguyễn Hưng', 'carRent': 'KIA RONDO 2016', 'unitPrice': '1,800,000', 'promo': '-', 'deposit': '540,000', 'payForOwner': '1,260,000', 'operateFees': '216,000', 'changeBalance': '324,000'})
- tripCompleted.push({ 'tripId': '2ZSRSN2J', 'startDay': '23/9/2018', 'endDay': '23/9/2018', 'bookDay': '2/9/2018', 'traveller': 'Chu trong', 'carRent': 'KIA RONDO 2016', 'unitPrice': '900,000', 'promo': '135,000', 'deposit': '229,000', 'payForOwner': '536,000', 'operateFees': '108,000', 'changeBalance': '256,000'})
- tripCompleted.push({ 'tripId': '2ZSRSN2J', 'startDay': '29/9/2018', 'endDay': '29/9/2018', 'bookDay': '10/9/2018', 'traveller': 'Net Cao Sang', 'carRent': 'KIA RONDO 2016', 'unitPrice': '900,000', 'promo': '135,000', 'deposit': '229,000', 'payForOwner': '536,000', 'operateFees': '108,000', 'changeBalance': '256,000'})
- tripCompleted.push({ 'tripId': '2ZSRSN2J', 'startDay': '30/9/2018', 'endDay': '30/9/2018', 'bookDay': '29/9/2018', 'traveller': 'Hai Lam', 'carRent': 'KIA RONDO 2016', 'unitPrice': '900,000', 'promo': '135,000', 'deposit': '-', 'payForOwner': '900,000', 'operateFees': '108,000', 'changeBalance': '-108,000'})

- var transInMonth = []; 
- transInMonth.push({'date': '25/9/2018', 'content': 'Nộp tiền ngày 25/9/2018', 'changeBalance': '300,000'})
- transInMonth.push({'date': '29/9/2018', 'content': 'Yêu cầu rút tiền ngày 29/9/2018', 'changeBalance': '-250,000'})
- transInMonth.push({'date': '29/9/2018', 'content': 'Phí rút tiền ngày 29/9/2018', 'changeBalance': '-11,000'})

- var tripCancel = [];
- tripCancel.push({ 'tripId': '2ZSRSN2J', 'startDay': '5/9/2018', 'endDay': '5/9/2018', 'cancelDay': '2/9/2018', 'traveller': 'Nguyễn Văn Cao', 'carRent': 'KIA RONDO 2016',  'unitPrice': '900,000', 'deposit': '229,000', 'payForOwner': '-', 'content': 'Khách thuê hủy chuyến', 'changeBalance': '229,000'})
- tripCancel.push({ 'tripId': '2ZSRSN2J', 'startDay': '8/9/2018', 'endDay': '10/9/2018', 'cancelDay': '6/9/2018', 'traveller': 'Trần An', 'carRent': 'KIA RONDO 2016',  'unitPrice': '900,000', 'deposit': '540,000', 'payForOwner': '-', 'content': 'Chủ xe hủy chuyến', 'changeBalance': '-540,000'})

- var sumTrans = [{'desc': 'TỔNG CỘNG THAY ĐỔI TRONG KÌ', 'sumPrice': '712,000'}, {'desc': 'TIỀN ĐẦU KÌ', 'sumPrice': '-250,000'}, {'desc': 'TIỀN CUỐI KÌ', 'sumPrice': '462,000', 'color': true}]

.owner-transaction__wrap
	.f-container
		.main-title 
			a(href='' title="Quay lại").btn-back-list
				i.i-arr-left-dark
			h3.n-title SAO KÊ CHI TIẾT GIAO DỊCH
			p.date Từ ngày 
				span 01/09/2018 
				| Đến ngày 
				span 30/09/2018
		.info-owner__box
			.info-owner
				p Chủ xe 
				p Mã số
			.info-owner
				p Car rental Việt 
				p 01274
		.trip-completed__wrap 
			h4 Chuyến đi hoàn thành trong kì
			.trip-completed__table 
				table 
					thead
						tr 
							th(colspan="4") Thời gian
							th(colspan="3") Thông tin chuyến đi
							th(colspan="2") Thanh toán
							th(rowspan="2")  Mioto KM 
							th(rowspan="2")  Phí vận hành
							th(rowspan="2")  Thay đổi số dư
						tr 
							th Mã chuyến đi
							th Ngày đi
							th Ngày về 
							th Ngày đặt xe
							th Khách hàng
							th Xe thuê
							th Đơn giá
							th Đặt cọc tại Mioto
							th Thanh toán chủ xe
					tbody 
						mixin listTrips(item)
							tr 
								td!=item.tripId
								td!=item.startDay
								td!=item.endDay
								td!=item.bookDay
								td!=item.traveller
								td!=item.carRent
								td!=item.unitPrice
								td!=item.deposit
								td!=item.payForOwner
								td!=item.promo
								td!=item.operateFees
								td!=item.changeBalance
						for item in tripCompleted
							+listTrips(item)
					tfoot
						tr 
							th(colspan="11") Tổng thay đổi - Chuyến đi hoàn thành
							th 984,000
		.transaction-in-month__wrap 
			h4 Giao dịch rút/nộp tiền trong kì
			.transaction-in-month__table 
				table 
					thead 
						tr 
							th Ngày giao dịch 
							th Nội dung 
							th Thay đổi số dư 
					tbody
						mixin listChange(item) 
							tr
								td!=item.date
								td!=item.content
								td!=item.changeBalance
						for item in transInMonth 
							+listChange(item)
					tfoot 
						tr
							th(colspan="2") Tổng thay đổi - Giao dịch rút/nộp tiền
							th 39,000
		.cancel-transaction__wrap 
			h4 Giao dịch hủy chuyến trong kì
			.cancel-transaction__table 
				table 
					thead
						tr 
							th(colspan="4") Thời gian
							th(colspan="3") Thông tin chuyến đi
							th(colspan="2") Thanh toán
							th(rowspan="2")  Nội dung hủy chuyến
							th(rowspan="2")  Thay đổi số dư
						tr 
							th Mã chuyến đi
							th Ngày đi
							th Ngày về 
							th Ngày hủy chuyến
							th Khách hàng
							th Xe thuê
							th Đơn giá
							th Đặt cọc tại Mioto
							th Thanh toán chủ xe
					tbody 
						mixin listCancel(item)
							tr 
								td
									a(class="link-trip")!=item.tripId
								td!=item.startDay
								td!=item.endDay
								td!=item.cancelDay
								td!=item.traveller
								td!=item.carRent
								td!=item.unitPrice
								td!=item.deposit
								td!=item.payForOwner
								td!=item.content
								td!=item.changeBalance
						for item in tripCancel
							+listCancel(item)
					tfoot
						tr 
							th(colspan="10") Tổng thay đổi - Giao dịch hủy chuyến
							th -311,000
		.owner-report
			.group-summary
				mixin sumTrans(item)
					.transaction-summary
						p.text-sm!=item.desc 
						if item.color
							p.sum-price!=item.sumPrice 
						else
							p.normal!=item.sumPrice
				for item in sumTrans
					+sumTrans(item)
		p.note Ghi chú: Mọi vấn đề thắc mắc về thông tin ghi nhận trên bản sao kê chi tiết giao dịch, Quý đối tác vui lòng liên hệ với bộ phận Chăm Sóc Khách Hàng của Mioto tại 19009217 để biết thêm chi tiết. Xin cám ơn!