block Tutorial

.sidebar-settings.show-on-med-and-down
	ul
		li
			a(href="setting_details.html")
				i.ic.ic-infomation 
		li
			a(href="setting_pricing.html") 
				i.ic.ic-photo
		li
			a(href="setting_locations.html") 
				i.ic.ic-license
		li
			a.active(href="setting_photos.html") 
				i.ic.ic-setting-rent
		li
			a(href="setting_details.html") 
				i.ic.ic-setting-price 
		li
			a(href="setting_calendar.html") 
				i.ic.ic-setting-calendar
		li
			a(href="setting_vehicle.html") 
				i.ic.ic-management
				
include ../_common/_infocar_owner.pug

.body-container.settings
	.sidebar.sidebar-settings.hide-on-med-and-down
			ul
				li
					a(href="setting_details.html")
						i.ic.ic-infomation
						|Thông tin 
				li
					a.active(href="setting_photos.html") 
						i.ic.ic-photo
						|Hình ảnh
				li
					a(href="setting_locations.html") 
						i.ic.ic-license
						|Giấy tờ
				li
					a(href="setting_vehicle.html") 
						i.ic.ic-setting-rent
						|Cài đặt cho thuê
				li
					a(href="setting_pricing.html") 
						i.ic.ic-setting-price
						|Cài đặt giá 
				li
					a(href="setting_calendar.html ") 
						i.ic.ic-setting-calendar
						|Cài đặt lịch 
				li
					a(href="setting_distance.html ") 
						i.ic.ic-management
						|Quản lý chuyến
	.content
		//.main-select.wrap-select.show-on-small
			select
				option(value="1" disabled selected) Select
				option(value="2") Calendar
				option(value="3") Pricing
				option(value="4") Delivery & Airports
				option(value="5") Location
				option(value="6") Photos
				option(value="7") Details
				option(value="8") Distance Included
				option(value="9") Vehicle Protection
				option(value="10") Trip History
				option(value="11") Trip Preferences
		
		.content-container
			h2.title Upload Photos
			p Upload to 20 photos of your car. You may not use stock photos. Drag to order.
			.space.m
			.list-photos.settings
				.cover-car
					.swiper-button-next
						i.i-arr
					.swiper-button-prev
						i.i-arr
					.swiper-container.swiper-car
						.swiper-wrapper
							.swiper-slide
								.img-cover.fit-img
									img(src="http://via.placeholder.com/800x600")
							.swiper-slide
								.img-cover.fit-img
									img(src="https://n1-pstg.mioto.vn/thue_xe_tu_lai/mazda_3_2017/p/g/2018/01/09/10/3894.jpg")
							.swiper-slide
								.img-cover.fit-img
									img(src="https://n1-pstg.mioto.vn/thue_xe_tu_lai/mazda_3_2017/p/g/2018/01/09/10/3894.jpg")
							.swiper-slide
								.img-cover.fit-img 
									img(src="https://n1-pstg.mioto.vn/thue_xe_tu_lai/mazda_3_2017/p/g/2018/01/09/10/3894.jpg")
						.swiper-pagination
				.list-thumb.hide-on-med-and-down
					.List
						.draggable(style="position: relative; float: left;")
							a(href="#!")
								.obj-photo
									.fix-img 
										.fileUploader
											i.ic.ic-upload
											em Upload Photo	
						.draggable(style="position: relative; float: left;")
							.obj-photo
								.fix-img 
									img(src="https://n1-pstg.mioto.vn/thue_xe_tu_lai/mazda_3_2017/p/g/2018/01/09/10/3894.jpg")
								a.func-remove(href="#!")
									i.ic.ic-remove
						.draggable(style="position: relative; float: left;")
							.obj-photo
								.fix-img 
									img(src="http://via.placeholder.com/800x600")
								a.func-remove(href="#!")
									i.ic.ic-remove
						.draggable(style="position: relative; float: left;")
							.obj-photo
								.fix-img 
									img(src="https://n1-pstg.mioto.vn/thue_xe_tu_lai/mazda_3_2017/p/g/2018/01/09/10/3894.jpg")
								a.func-remove(href="#!")
									i.ic.ic-remove
						.draggable(style="position: relative; float: left;")
							.obj-photo
								.fix-img 
									img(src="https://n1-pstg.mioto.vn/thue_xe_tu_lai/mazda_3_2017/p/g/2018/01/09/10/3894.jpg")
								a.func-remove(href="#!")
									i.ic.ic-remove
						.draggable(style="position: relative; float: left;")
							.obj-photo
								.fix-img 
									img(src="https://n1-pstg.mioto.vn/thue_xe_tu_lai/mazda_3_2017/p/g/2018/01/09/10/3894.jpg")
								a.func-remove(href="#!")
									i.ic.ic-remove
						//.clear
				.list-thumb.show-on-small
					.draggable(style="position: relative; float: left;")
						a(href="#!")
							.obj-photo
								.fix-img 
									.fileUploader
										i.ic.ic-upload
										em Upload Photo	
					.draggable(style="position: relative; float: left;")
						.obj-photo
							.fix-img 
								img(src="https://n1-pstg.mioto.vn/thue_xe_tu_lai/mazda_3_2017/p/g/2018/01/09/10/3894.jpg")
							a.func-remove(href="#!")
								i.ic.ic-remove
					.draggable(style="position: relative; float: left;")
						.obj-photo
							.fix-img 
								img(src="http://via.placeholder.com/800x600")
							a.func-remove(href="#!")
								i.ic.ic-remove
					.draggable(style="position: relative; float: left;")
						.obj-photo
							.fix-img 
								img(src="https://n1-pstg.mioto.vn/thue_xe_tu_lai/mazda_3_2017/p/g/2018/01/09/10/3894.jpg")
							a.func-remove(href="#!")
								i.ic.ic-remove
					.draggable(style="position: relative; float: left;")
						.obj-photo
							.fix-img 
								img(src="https://n1-pstg.mioto.vn/thue_xe_tu_lai/mazda_3_2017/p/g/2018/01/09/10/3894.jpg")
							a.func-remove(href="#!")
								i.ic.ic-remove
					.draggable(style="position: relative; float: left;")
						.obj-photo
							.fix-img 
								img(src="https://n1-pstg.mioto.vn/thue_xe_tu_lai/mazda_3_2017/p/g/2018/01/09/10/3894.jpg")
							a.func-remove(href="#!")
								i.ic.ic-remove
					.clear

				
					
					
//- Uploading
//- a.obj-photo.uploading(href="#!" style="background-image:url(assets/images/upload/img_demo11.png)")
	//- 	span.ins
	//- 		i.ic.ic-upload-fill
	//- 		em Uploading
	//- 		span.layer
	//- 		em.process(style="width:50%")
			