block Settings

.sidebar-settings.show-on-med-and-down
	ul
		li
			a(href="setting_details.html")
				i.ic.ic-infomation 
		li
			a(href="setting_photos.html") 
				i.ic.ic-photo
		li
			a.active(href="setting_locations.html") 
				i.ic.ic-license
		li
			a.active(href="setting_references.html") 
				i.ic.ic-setting-rent
		li
			a(href="setting_pricing.html") 
				i.ic.ic-setting-price 
		li
			a(href="setting_calendar.html") 
				i.ic.ic-setting-calendar
		li
			a(href="setting_history.html") 
				i.ic.ic-management
		li
			a(href="setting_tracking.html") 
				i.ic.ic-gps
				
include ../_common/_infocar_owner.pug

.body-container.settings
	.sidebar.sidebar-settings.hide-on-med-and-down
			ul
				li
					a(href="setting_details.html")
						i.ic.ic-infomation
						|Thông tin 
				li
					a(href="setting_photos.html") 
						i.ic.ic-photo
						|Hình ảnh
				li
					a(href="setting_locations.html") 
						i.ic.ic-license
						|Giấy tờ
				li
					a.active(href="setting_references.html") 
						i.ic.ic-setting-rent
						|Cài đặt cho thuê
				li
					a(href="setting_pricing.html") 
						i.ic.ic-setting-price
						|Cài đặt giá 
				li
					a(href="setting_calendar.html ") 
						i.ic.ic-setting-calendar
						|Cài đặt lịch 
				li
					a(href="setting_history.html ") 
						i.ic.ic-management
						|Quản lý chuyến
				li
					a(href="setting_tracking.html ") 
						i.ic.ic-gps
						|Định vị xe
	.content
		.content-container
			h2.title Distance Included
			p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pretium pretium.
			.space.m
			h3 Distance Included
			p Most cars on Mioto have 200 mi/day, 1000 mi/week, and 1500/month
			.form-default
				.wr-col-split3
					.col-split3
						.line-form.end
							label.label mi/day
							span.wrap-select
								select
									option(value="1") 200
					.col-split3
						.line-form.end
							label.label mi/week
							span.wrap-select
								select
									option(value="1") 1000
					.col-split3
						.line-form.end
							label.label mi/month
							span.wrap-select
								select
									option(value="1") 1500
			.space.l
			h3 Additional Distance
			p Guests can be charged for each additional mile. You’ll receive 75% of additional mileage charges.
			.col-1
				.form-default
					.line-form
						.wrap-input-label
							.wrap-input
								input(type="text" placeholder="$ 0.21")
								span.phay /mi
						p
							span.note Recommended: $0.21/mi (based on your car model and year)
					a.btn.btn-primary.btn--m(href="#!") Save
			.clear
			