block Settings

.sidebar-settings.show-on-med-and-down
	ul
		li
			a(href="setting_details.html")
				i.ic.ic-infomation 
		li
			a(href="setting_photos.html") 
				i.ic.ic-photo
		li
			a(href="setting_locations.html") 
				i.ic.ic-license
		li
			a.active(href="setting_references.html") 
				i.ic.ic-setting-rent
		li
			a(href="setting_pricing.html") 
				i.ic.ic-setting-price 
		li
			a(href="setting_calendar.html") 
				i.ic.ic-setting-calendar
		li
			a(href="setting_history.html") 
				i.ic.ic-management
		li
			a(href="setting_tracking.html") 
				i.ic.ic-gps
				
include ../_common/_infocar_owner.pug

.body-container.settings
	.sidebar.sidebar-settings.hide-on-med-and-down
			ul
				li
					a(href="setting_details.html")
						i.ic.ic-infomation
						|Thông tin 
				li
					a(href="setting_photos.html") 
						i.ic.ic-photo
						|Hình ảnh
				li
					a(href="setting_locations.html") 
						i.ic.ic-license
						|Giấy tờ
				li
					a.active(href="setting_references.html") 
						i.ic.ic-setting-rent
						|Cài đặt cho thuê
				li
					a(href="setting_pricing.html") 
						i.ic.ic-setting-price
						|Cài đặt giá 
				li
					a(href="setting_calendar.html ") 
						i.ic.ic-setting-calendar
						|Cài đặt lịch 
				li
					a(href="setting_history.html ") 
						i.ic.ic-management
						|Quản lý chuyến
				li
					a(href="setting_tracking.html ") 
						i.ic.ic-gps
						|Định vị xe
	.content
		.content-container
			h2.title Trip References
			p Mauris non tempor quam, et lacinia sapien. Mauris accumsan eros eget.
			.space.m
			h3 Book Instantly
			p.note Choose locations where travelers can book your car instantly without your confirmation.<br />
				a(href="#!") Learn More
			.form-default
				.wr-col-split3
					.col-split3
						.squaredFour.have-label
							input(id="checked1" type="checkbox" checked)
							label(for="checked1") Car Location
					.col-split3
						.squaredFour.have-label
							input(id="checked1" type="checkbox")
							label(for="checked1") Airport
					.col-split3
						.squaredFour.have-label
							input(id="checked1" type="checkbox")
							label(for="checked1") Guest’s chosen location
			.line
			h3 Advance Notice
			p Block requests for your car that don’t give enough advance notice.
			.form-default
				.wr-col-split3
					.col-split3
						.line-form.end
							label.label Home Location
							span.wrap-select
								select
									option(value="1") 1 week
					.col-split3
						.line-form.end
							label.label Airports
							span.wrap-select
								select
									option(value="1")
					.col-split3
						.line-form.end
							label.label Guest’s chosen location
							span.wrap-select
								select
									option(value="1")
			.line
			h3 Trip Duration
			p Block requests for trips that are too short or too long.
			.form-default
				.wr-col-split3
					.col-split3
						.line-form.end
							label.label Shortest possible trip
							span.wrap-select
								select
									option(value="1") 1 week
					.col-split3
						.line-form.end
							label.label Longest possible trip
							span.wrap-select
								select
									option(value="1")
			.space.m
			.squaredFour.have-label
				input(id="checked1" type="checkbox")
				label(for="checked1") Require longer weekend trips
			p
				span.note Require a 2-day minimum for trips that start Friday or Saturday.
			.line
			h3 Long-term trips
			p Travelers who search for long-term trips will see your car in search results.
			.space
			.squaredFour.have-label
				input(id="checked1" type="checkbox")
				label(for="checked1") Will consider long-term trips
			.line
			a.btn.btn-primary.btn--m(href="#!") Save
