block GPS location

.sidebar-settings.show-on-med-and-down
	ul
		li
			a(href="setting_details.html")
				i.ic.ic-infomation 
		li
			a(href="setting_photos.html") 
				i.ic.ic-photo
		li
			a(href="setting_locations.html") 
				i.ic.ic-license
		li
			a(href="setting_references.html") 
				i.ic.ic-setting-rent
		li
			a(href="setting_pricing.html") 
				i.ic.ic-setting-price 
		li
			a(href="setting_calendar.html") 
				i.ic.ic-setting-calendar
		li
			a(href="setting_history.html") 
				i.ic.ic-management
		li
			a.active(href="setting_tracking.html") 
				i.ic.ic-gps
				
include ../_common/_infocar_owner.pug

.body-container.settings
	.sidebar.sidebar-settings.hide-on-med-and-down
			ul
				li
					a(href="setting_details.html")
						i.ic.ic-infomation
						|Thông tin 
				li
					a(href="setting_photos.html") 
						i.ic.ic-photo
						|Hình ảnh
				li
					a(href="setting_locations.html") 
						i.ic.ic-license
						|Giấy tờ
				li
					a(href="setting_references.html") 
						i.ic.ic-setting-rent
						|Cài đặt cho thuê
				li
					a(href="setting_pricing.html") 
						i.ic.ic-setting-price
						|Cài đặt giá 
				li
					a(href="setting_calendar.html ") 
						i.ic.ic-setting-calendar
						|Cài đặt lịch 
				li
					a(href="setting_history.html ") 
						i.ic.ic-management
						|Quản lý chuyến
				li
					a.active(href="setting_tracking.html ") 
						i.ic.ic-gps
						|Định vị xe
	.content
		.content-container
			<div class="form-default">
				<h3 class="title">Vị trí hiện tại của xe</h3>
				</div>
				.wrap-map 
					.fix-map  
						img.map(src="images/map@2x.png")
			<div class="line"></div>
			.form-default 
				h3.title Lộ trình của xe
				.filter-control 
					.wrap-select
						select
							option(value="0" selected) Chọn thời gian
							option(value="1") Chuyến hiện tại
							option(value="1") Chuyến cách đây 6 giờ
							option(value="1") Chuyến cách đây 1 ngày
				.wrap-map 
					.fix-map  
						img.map(src="images/map@2x.png")
