block Settings

.sidebar-settings.show-on-med-and-down
	ul
		li
			a(href="setting_details.html")
				i.ic.ic-infomation 
		li
			a(href="setting_photos.html") 
				i.ic.ic-photo
		li
			a(href="setting_locations.html") 
				i.ic.ic-license
		li
			a(href="setting_references.html") 
				i.ic.ic-setting-rent
		li
			a.active(href="setting_pricing.html") 
				i.ic.ic-setting-price 
		li
			a(href="setting_calendar.html") 
				i.ic.ic-setting-calendar
		li
			a(href="setting_history.html") 
				i.ic.ic-management
		li
			a(href="setting_tracking.html") 
				i.ic.ic-gps
				
include ../_common/_infocar_owner.pug

.body-container.settings
	.sidebar.sidebar-settings.hide-on-med-and-down
			ul
				li
					a(href="setting_details.html")
						i.ic.ic-infomation
						|Thông tin 
				li
					a(href="setting_photos.html") 
						i.ic.ic-photo
						|Hình ảnh
				li
					a(href="setting_locations.html") 
						i.ic.ic-license
						|Giấy tờ
				li
					a(href="setting_references.html") 
						i.ic.ic-setting-rent
						|Cài đặt cho thuê
				li
					a.active(href="setting_pricing.html") 
						i.ic.ic-setting-price
						|Cài đặt giá 
				li
					a(href="setting_calendar.html ") 
						i.ic.ic-setting-calendar
						|Cài đặt lịch 
				li
					a(href="setting_history.html ") 
						i.ic.ic-management
						|Quản lý chuyến
				li
					a(href="setting_tracking.html ") 
						i.ic.ic-gps
						|Định vị xe
	.content
		.content-container
			h2.title Pricing
			.space.m
			.col-1
				.form-default
					.line-form
						label.label Set your minimum daily price
						.wrap-input-label.d-flex
							.wrap-input
								input(type="text" placeholder="0")
							span.phay / day
						.space
						p
							a.link(href="#!") How much will I earn?
					a.btn.btn-primary.btn--m(href="#!") Save
			.clear
			.line
			h6 Discounts included: 15% weekly and 30% monthly
			p 
				span.note Min daily price after 15% discount: $17/day and after 30% discount: $14/day
			.line
			h6 Automatic Pricing
			p.position-relative.pos-1
				span.note Recommended: ON
				span.func-toggle
					a.toggle-onoff.on(href="#!")
						span.on ON
						span.off OFF
			p
				a.link(href="#!") Learn more about pricing
			.line
			a.link-calendar(href="")
				i.ic.ic-setting-calendar
				| Tùy chỉnh giá theo lịch 
			.line 
			h6 View price on your calendar
			p 
				span.note In Automatic Pricing, you can’t customize your daily price. Turo’s algorithm does the work for you.
			ul.list-status
				li.status-1
					span Available
				li.status-2
					span Not Available
				li.status-3
					span Booked Trips
			.calendar-container
				.title-calendar
					a.func-prev(href="#!")
					span.t-ins November <em>2017</em>
					a.func-next(href="#!")
				ol.day-names
					li Sun
					li Mon
					li Tue
					li Wed
					li Thu
					li Fri
					li Sat
				ol.days
					li
						.date 1
					li
						.date 2
					li
						.date 3
					li
						.date 4
					li
						.date 5
					li
						.date 6
					li
						.date 7
					li
						.date 8
					li
						.date 9
					li
						.date 10
					li
						.date 11
					li.gray
						.date 12
					li.gray
						.date 13
					li.gray
						.date 14
					li
						.date 15
					li
						.date 16
					li.gray
						.date 17
					li.gray
						.date 18
					li.gray
						.date 19
					li
						.date 20
					li.highlight
						.date 21
						.event $ 30
					li.highlight
						.date 22
						.event $ 30
					li.highlight
						.date 23
						.event $ 30
					li
						.date 24
					li
						.date 25
					li
						.date 26
					li
						.date 27
					li
						.date 28
					li
						.date 29
					li
						.date 30
					li
						.date 31
					li.outside
						.date 1
					li.outside
						.date 2
					li.outside
						.date 3
					li.outside
						.date 4
			