block Tutorial

.sidebar-settings.show-on-med-and-down
	ul
		li
			a(href="setting_details.html")
				i.ic.ic-infomation 
		li
			a(href="setting_photos.html") 
				i.ic.ic-photo
		li
			a.active(href="setting_locations.html") 
				i.ic.ic-license
		li
			a(href="setting_references.html") 
				i.ic.ic-setting-rent
		li
			a(href="setting_pricing.html") 
				i.ic.ic-setting-price 
		li
			a(href="setting_calendar.html") 
				i.ic.ic-setting-calendar
		li
			a(href="setting_history.html") 
				i.ic.ic-management
		li
			a(href="setting_tracking.html") 
				i.ic.ic-gps
				
include ../_common/_infocar_owner.pug

.body-container.settings
	.sidebar.sidebar-settings.hide-on-med-and-down
			ul
				li
					a(href="setting_details.html")
						i.ic.ic-infomation
						|Thông tin 
				li
					a(href="setting_photos.html") 
						i.ic.ic-photo
						|Hình ảnh
				li
					a.active(href="setting_locations.html") 
						i.ic.ic-license
						|Giấy tờ
				li
					a(href="setting_references.html") 
						i.ic.ic-setting-rent
						|Cài đặt cho thuê
				li
					a(href="setting_pricing.html") 
						i.ic.ic-setting-price
						|Cài đặt giá 
				li
					a(href="setting_calendar.html ") 
						i.ic.ic-setting-calendar
						|Cài đặt lịch 
				li
					a(href="setting_history.html ") 
						i.ic.ic-management
						|Quản lý chuyến
				li
					a(href="setting_tracking.html ") 
						i.ic.ic-gps
						|Định vị xe
	.content
		.content-container
			h2.title Location
			p To protect your privacy, we only show this information to travelers once you’ve comfirmed their trip.
			.col-1
				.form-default
					.line-form
						label.label Where is your car located?
						.wrap-input
							input(type="text" placeholder="156 Ray Lane Apt. 674")
					.line-form
						label.label License plate number
						.wrap-input
							input(type="text" placeholder="13-6712")
					.line-form.end
						label.label Instructions for key handoff (optional)
						textarea.textarea(placeholder="")
			.col-2
				.map-container
					span Map here
			.clear
			.line
			h3 Parking Details
			p Any information you share about parking details will visible to travelers on your vehicle page.
			.form-default
				.line-form.end
					label.label Parking details (optional)
					textarea.textarea(placeholder="")
				p
					span.note Tell your guests about parking options in your neighborhood. Share tips for finding street parking, garage locations, or let them know if you offer on-site parking.
				a.btn.btn-primary.btn--m(href="#!") Save