block Settings

.sidebar-settings.show-on-med-and-down
	ul
		li
			a.active(href="setting_details.html")
				i.ic.ic-infomation 
		li
			a(href="setting_photos.html") 
				i.ic.ic-photo
		li
			a(href="setting_locations.html") 
				i.ic.ic-license
		li
			a(href="setting_references.html") 
				i.ic.ic-setting-rent
		li
			a(href="setting_pricing.html") 
				i.ic.ic-setting-price 
		li
			a(href="setting_calendar.html") 
				i.ic.ic-setting-calendar
		li
			a(href="setting_history.html") 
				i.ic.ic-management
		li
			a(href="setting_tracking.html") 
				i.ic.ic-gps
				
include ../_common/_infocar_owner.pug

.body-container.settings
	.sidebar.sidebar-settings.hide-on-med-and-down
			ul
				li
					a.active(href="setting_details.html")
						i.ic.ic-infomation
						|Thông tin 
				li
					a(href="setting_photos.html") 
						i.ic.ic-photo
						|Hình ảnh
				li
					a(href="setting_locations.html") 
						i.ic.ic-license
						|Giấy tờ
				li
					a(href="setting_references.html") 
						i.ic.ic-setting-rent
						|Cài đặt cho thuê
				li
					a(href="setting_pricing.html") 
						i.ic.ic-setting-price
						|Cài đặt giá 
				li
					a(href="setting_calendar.html ") 
						i.ic.ic-setting-calendar
						|Cài đặt lịch 
				li
					a(href="setting_history.html ") 
						i.ic.ic-management
						|Quản lý chuyến
				li
					a(href="setting_tracking.html ") 
						i.ic.ic-gps
						|Định vị xe

	.content
		.content-container
			.col-1
				.form-default
					.line-form
						label.label Your Car Name
						.wrap-input
							input(type="text" placeholder="BMW 3 SERIES 2013")
			.space.m.clear
			h3 Car Description
			p A detailed description will help you get more trips.
			.form-default
				.line-form.end
					textarea.textarea(placeholder="")
				p
					span.note No need to include your contact info, travelers will receive it once you’ve confirmed their trips.
			.space.m.clear
			h3 Basic Car Details
			p Donec facilisis tortor ut augue lacinia, at viverra.
			.form-default
				.col-1
					.line-form
						label.label Number of Seats
						span.wrap-select
							select
								option(value="1") 5
				.col-2
					.line-form
						label.label Number of Doors
						span.wrap-select
							select
								option(value="1") 4
				.col-1.clear
					.line-form
						label.label Fuel Type
						span.wrap-select
							select
								option(value="1") Gas
				.col-2
					.line-form
						label.label Gas Grade
						span.wrap-select
							select
								option(value="1") Full
				.col-1.clear
					.line-form
						label.label City MPG
						span.wrap-select
							select
								option(value="1") 23
				.col-2
					.line-form
						label.label Hwy MPG
						span.wrap-select
							select
								option(value="1") 23
			.space.m.clear
			h3 Car Features
			.list-features
				ul
					li
						.squaredFour.have-label
							input(id="checked1" type="checkbox" checked)
							label(for="checked1") EV / Hybrid
					li
						.squaredFour.have-label
							input(id="checked1" type="checkbox" checked)
							label(for="checked1") EV / Hybrid
					li
						.squaredFour.have-label
							input(id="checked1" type="checkbox")
							label(for="checked1") EV / Hybrid
					li
						.squaredFour.have-label
							input(id="checked1" type="checkbox")
							label(for="checked1") EV / Hybrid
					li
						.squaredFour.have-label
							input(id="checked1" type="checkbox")
							label(for="checked1") EV / Hybrid
					li
						.squaredFour.have-label
							input(id="checked1" type="checkbox")
							label(for="checked1") EV / Hybrid
					li
						.squaredFour.have-label
							input(id="checked1" type="checkbox")
							label(for="checked1") EV / Hybrid
			a.btn.btn-primary.btn--m(href="#!") Save
			
			