
//=== BANNER PROMOCODE == 
.not-your-typical.bg-promo 
  background-size: cover 
  @include flexbox()
  align-items: center
  background-position: center
  //justify-content: center
  @media (max-width: 1199px)
    background-position: 12% 0
    height: 450px
  @media (max-width: 767px)
    background-position: 45% 0
  @media (max-width: 480px)
    background-position: 2% 0
    height: 400px
  .wrapper__pr
    display: flex
    flex-wrap: wrap
    justify-content: center
    width: 100%
    flex-direction: column
    align-items: center
    @media (max-width: 991px)
      padding: 0 
      width: 100%
    @media (max-width: 576px)
      padding: 0 15px
    .wrap-promo
      width: 100%
      display: flex
      flex-wrap: wrap
      justify-content: center
      position: relative 
    .title-desc
      width: 100%
      font-size: 2.5em
      color: #FFD300
      font-weight: bold
      margin-bottom: 1rem
      //text-align: center
      text-shadow: 1px 2px 2px #666666

      @media (max-width: 767px)
        font-size: 2em
      @media (max-width: 480px)
        font-size: 1.5em
        text-align: center
      span 
        @media (max-width: 767px)
          display: block
    p.dt-code 
      font-size: 1.25em 
      color: #1b054c
      margin-bottom: .5rem
      width: 100%
      font-weight: bold
      position: relative
  
      @media (max-width: 767px)
        font-size: 1em
        //max-width: 400px
      @media (max-width: 480px) 
        font-size: .875rem
        text-align: center
        //max-width: 270px
       
      span 
        display: inline-block 
        padding: 1px 6px 
        background: #1b054c 
        color: #fff 
    p.note
      color: #1b054c
      width: 100%
      margin-bottom: 0px
      font-size: .875rem
      @media (max-width: 480px)
        font-size: 12px
        text-align: center

  .note-promo 
    width: 100%
    position: absolute
    bottom: 0
    left: 0
    font-size: 12px 
    text-align: center
    background: rgba(0,0,0,.3)
     
    @media (max-width: 767px)
      font-size: 9px
      padding: 0 15px 

    a
      margin-bottom: 0px
      color: #ffffff
      &:hover, &:focus 
        cursor: pointer