block Modal

div(role="dialog")
	.modal-backdrop.fade.in
	.fade.modal.in(role="dialog", tabindex="-1", style="display:block")
		.modal-sm.modal-dialog.notify-container-fluid
			.modal-content(role="document")
				.modal-header
					button.close(type="button")
						span(aria-hidden="true") x
						span.sr-only
				.modal-body
					style.
						.text-sub {
							color: #57a8ff
						}
						.notify-container-fluid .notify-popup--wrapper {
							display: flex;
							flex-direction: column;
							width: 100%;
							border-radius: 0px;
						}
						.notify-popup--wrapper.noti-wallet .notify-head {
							text-align: center;
							padding: 20px;
							background: lemonchiffon;
						}
						.notify-popup--wrapper.noti-wallet .notify-head h5 {
							font-size: 1.25rem;
							font-weight: 600;
						}
						.notify-popup--wrapper.noti-wallet .notify-head p {
							font-size: 1rem;
						}

						 .notify-popup--wrapper.noti-wallet .notify-content p.text-sm {
							font-size: 12px;
						}
						.notify-popup--wrapper.noti-wallet .img-contain {
							text-align: center;
							padding: 10px 0;
						}
						.notify-popup--wrapper.noti-wallet img.img-fluid {
								width: 40%;
							}

						.notify-popup--wrapper.noti-wallet .notify-body {
							padding: 20px 1.5rem 1.5rem;
							width: 100%;
						}
						.notify-popup--wrapper.noti-wallet .notify-content {
							margin-bottom: 0;
						}
						.notify-popup--wrapper.noti-wallet .notify-content > div {
							margin-bottom: 1rem;
						}
						.notify-popup--wrapper.noti-wallet .notify-content ul {
							padding-left: 1rem;
						}
						.notify-popup--wrapper.noti-wallet .notify-content ul li {
							list-style: circle;
							font-size: .925rem;
							margin-bottom: .25rem;
						}
						.notify-popup--wrapper.noti-wallet .notify-content p {
							margin-bottom: .5rem;
							font-size: .925rem;
						}
						.notify-popup--wrapper.noti-wallet .notify-content p:last-child {
							margin-bottom: 0notify-body
						}
						.notify-popup--wrapper.noti-wallet ul, .notify-popup--wrapper.noti-wallet ul li {
							list-style: circle;
						}
						.notify-popup--wrapper.noti-wallet ul {
							padding-left: 1.125rem;
						}
						.notify-popup--wrapper.noti-wallet a {
							display: flex;
							align-items: center;
							font-size: 1rem;
							margin-bottom: .25rem;
						}
						.notify-popup--wrapper.noti-wallet a:hover, .notify-popup--wrapper.noti-wallet a:focus {
							color: #00a550;
						}
						.notify-popup--wrapper.noti-wallet a i, .notify-popup--wrapper.noti-wallet a svg {
							margin-right: 5px;
						}
						.notify-popup--wrapper.noti-wallet a i {
							transform: scale(.85)
						}
						.notify-popup--wrapper.noti-wallet span.rent {
							background-color: rgba(0,0,0,.5);
							padding: 4px 10px;
							color: #fff;
							font-size: .875em;
							border-radius: 20px;
							display: inline-block;
							margin-right: 2px;
							margin-left: 6px;
						}
						.notify-popup--wrapper.noti-wallet strong {
							font-weight: 500
						}
						.table-reject-trip {
						width: 100%;
						margin-bottom: 1rem;
						}
						.table-reject-trip h6 {
							font-size: 1rem;
							margin-bottom: .5rem;
						}
						.table-reject-trip .main-row, .table-reject-trip .row-reject {
							width: 100%;
							border-left: 1px solid #f3f4f6;
						}
						.table-reject-trip .main-row {
							border-top: 1px solid #eee;
						}
							.notify-popup--wrapper.noti-wallet .table-reject-trip .main-row p {
						font-weight: 700;
						font-size: 12px;
						}
						.notify-popup--wrapper.noti-wallet .table-reject-trip .row-reject p {
						font-size: 12px;
						}
						.table-reject-trip .w-60 {
						width: 35%;
						padding: 10px 5px;
						border-bottom: 1px solid #eee;
						border-right: 1px solid #f3f4f6;
						height: 40px;
						}
						.table-reject-trip .w-40 {
						width: 32.5%;
						padding: 10px 5px;
						border-bottom: 1px solid #eee;
						border-right: 1px solid #f3f4f6;
						height: 40px;
						}
						.table-reject-trip p {
						margin-bottom: 0;
						}
						.table-reject-trip span.text-sm, .notify-popup--wrapper.noti-wallet .notify-content p.text-sm {
							font-size: 12px;
						}
						@media (max-width: 1199px) {
							.notify-popup--wrapper.noti-wallet img.img-fluid {
									width: 50%;
								}
						}

						@media (max-width: 576px) {
							.notify-popup--wrapper.noti-wallet a {
								font-size: .875rem
							}
							.table-reject-trip .w-40, .table-reject-trip .w-60 {
							height: 60px;
							}
							.notify-popup--wrapper.noti-wallet img.img-fluid {
									width: 60%;
								}
							.notify-popup--wrapper.noti-wallet .notify-head p {
								font-size: .875rem;
							}
							.notify-popup--wrapper.noti-wallet .notify-body {
							padding: 15px 1rem;
							}
							.notify-popup--wrapper.noti-wallet .notify-content p {
							margin-bottom: .5rem;
							font-size: .875rem;
							}
							.notify-popup--wrapper.noti-wallet .notify-content ul li {
								font-size: .875rem;
							}
						}
					.notify-popup--wrapper.noti-wallet
						.notify-head
							.img-contain
								img(src="https://n1-cstg.mioto.vn/m/campaign/Annoucement-2.png" class="img-fluid")
							h5 LỜI NHẮN TỪ ADMIN
							//- p.text-primary Mioto xin gửi đến Quý đối tác và Quý khách hàng lịch nghỉ tết Âm Lịch 2019
						.notify-body
							.notify-content
								p Mời Quý đối tác cùng xem qua các kinh nghiệm cho thuê xe hữu ích trên Mioto nhé.
								.tutorial-content
									ul
										li
											| Thường xuyên
											strong    cập nhật
											|    lịch bận và
											strong    phản hồi
											|    khách thuê sớm nhất
										li
											strong Đọc kĩ
											|    yêu cầu thuê xe trước khi duyệt (thời gian thuê, lời nhắn, hồ sơ khách thuê)
										li
											| Đầu tư
											strong    hình ảnh xe
											|     (hình rõ ràng, sắc nét, chụp nội thất và ngoại thất)
										li
											strong Xác nhận
											|    lịch trình và thông tin khách thuê trong vòng
											strong     1 tiếng
											|    sau khi đặt cọc
										li
											strong Kiểm tra
											|     GPLX, Giấy tờ yêu cầu, kí Hợp đồng và Biên bản bàn giao khi giao nhận xe

										li(style="margin-bottom: .5rem")
											strong Nâng cao
											|     chất lượng dịch vụ để nhận nhiều đánh giá 5* và nhận xét tốt từ khách thuê
									p
										strong Xem thêm Hướng dẫn cho thuê dành cho chủ xe Mioto:
									a(href="https://www.mioto.vn/ownerguide" target="_blank" class="text-primary" style="margin-bottom: .5rem")
										<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="18px" height="18px" viewBox="0 0 516.375 516.375" style="enable-background:new 0 0 516.375 516.375; fill: #00a550; margin-right: 12px" xml:space="preserve"><g><path d="M353.812,0C263.925,0,191.25,72.675,191.25,162.562c0,19.125,3.825,38.25,9.562,57.375L0,420.75v95.625h95.625V459H153v-57.375h57.375l86.062-86.062c17.213,5.737,36.338,9.562,57.375,9.562c89.888,0,162.562-72.675,162.562-162.562S443.7,0,353.812,0z M401.625,172.125c-32.513,0-57.375-24.862-57.375-57.375s24.862-57.375,57.375-57.375S459,82.237,459,114.75S434.138,172.125,401.625,172.125z"/></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
										|  Hướng dẫn dành cho chủ xe
									a(href="https://www.mioto.vn/privacy#canceltrip" target="_blank" class="text-primary" style="margin-bottom: .5rem")
										<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="18px" height="18px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512; fill: #00a550; margin-right: 12px" xml:space="preserve"><g><g><path d="M384.001,288V53.333C383.966,23.893,360.108,0.035,330.668,0H96.001c-2.829,0.001-5.541,1.125-7.541,3.125L3.126,88.459c-2,2-3.125,4.713-3.125,7.541v362.667C0.036,488.107,23.894,511.965,53.334,512h277.333c29.441-0.035,53.298-23.893,53.333-53.333v-21.333h-21.333v21.333c0,17.673-14.327,32-32,32H53.334c-17.673,0-32-14.327-32-32V100.416l79.083-79.083h230.251c17.673,0,32,14.327,32,32V288H384.001z"/></g></g><g><g><path d="M85.334,10.667v64c0,5.891-4.776,10.667-10.667,10.667H53.334v21.333h21.333c17.673,0,32-14.327,32-32v-64H85.334z"/></g></g><g><g><path d="M508.876,256.661l-29.536-29.536c-4.165-4.164-10.917-4.164-15.083,0L301.793,389.589c-4.164,4.165-4.164,10.917,0,15.083l29.536,29.536c2,2.001,4.713,3.125,7.541,3.125c2.829-0.001,5.541-1.125,7.541-3.125l162.464-162.464C513.04,267.579,513.04,260.827,508.876,256.661z M338.87,411.584l-14.453-14.453l147.381-147.381l14.453,14.453L338.87,411.584z"/></g></g><g><g><path d="M320.001,416v-21.333h-21.333v32c0,5.891,4.776,10.667,10.667,10.667h32V416H320.001z"/></g></g><g><g><path d="M309.334,42.667h-21.333V64h21.333c5.891,0,10.667,4.776,10.667,10.667V96h21.333V74.667C341.335,56.994,327.008,42.667,309.334,42.667z"/></g></g><g><g><path d="M277.334,149.333H106.668c-5.891,0-10.667,4.776-10.667,10.667v149.333c-0.008,4.079,2.31,7.805,5.973,9.6l74.187,36.267c4.874,2.784,10.387,4.255,16,4.267h0c5.293,0.034,10.504-1.315,15.115-3.915l74.752-36.619c3.663-1.795,5.982-5.521,5.973-9.6V160C288.001,154.109,283.225,149.333,277.334,149.333z M266.668,302.677l-69.376,34.016c-3.511,1.917-7.783,1.794-11.179-0.32l-68.779-33.696V170.667h149.333V302.677z"/></g></g><g><g><path d="M237.793,207.413l-56.459,56.459l-24.459-24.459l-15.083,15.083l32,32c2,2,4.713,3.125,7.541,3.125c2.829-0.001,5.541-1.125,7.541-3.125l64-64L237.793,207.413z"/></g></g><g><g><path d="M213.334,416c-5.891,0-10.667-4.776-10.667-10.667V384h-21.333v21.333c0,17.673,14.327,32,32,32h64V416H213.334z"/></g></g><g><g><rect x="245.334" y="42.667" width="21.333" height="21.333"/></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
										| Chính sách hủy chuyến
								p Kính chúc Quý đối tác nhiều sức khỏe và kinh doanh hiệu quả cùng Mioto!
								p Mioto Team