block Modal

div(role="dialog")
	.modal-backdrop.fade.in
	.fade.modal.in(role="dialog", tabindex="-1", style="display:block")
		.modal-sm.modal-dialog.notify-container-fluid
			.modal-content(role="document")
				.modal-header
					button.close(type="button")
						span(aria-hidden="true") x
						span.sr-only
				.modal-body
					style.
						.text-sub {
							color: #57a8ff
						}
						.notify-container-fluid .notify-popup--wrapper {
							display: flex;
							flex-direction: column;
							width: 100%;
							border-radius: 0px;
						}
						.notify-popup--wrapper.noti-wallet .notify-head {
							text-align: center;
							padding: 20px;
							background: lemonchiffon;
						}
						.notify-popup--wrapper.noti-wallet .notify-head h5 {
							font-size: 1.25rem;
							font-weight: 600;
						}
						.notify-popup--wrapper.noti-wallet .notify-head p {
							font-size: 1rem;
						}

						 .notify-popup--wrapper.noti-wallet .notify-content p.text-sm {
							font-size: 12px;
						}
						.notify-popup--wrapper.noti-wallet .img-contain {
							text-align: center;
							padding: 10px 0;
						}
						.notify-popup--wrapper.noti-wallet img.img-fluid {
								width: 40%;
							}

						.notify-popup--wrapper.noti-wallet .notify-body {
							padding: 20px 1.5rem 1.5rem;
							width: 100%;
						}
						.notify-popup--wrapper.noti-wallet .notify-content {
							margin-bottom: 0;
						}
						.notify-popup--wrapper.noti-wallet .notify-content > div {
							margin-bottom: 1rem;
						}
						.notify-popup--wrapper.noti-wallet .notify-content ul {
							padding-left: 1rem;
						}
						.notify-popup--wrapper.noti-wallet .notify-content ul li {
							list-style: circle;
							font-size: .925rem;
							margin-bottom: .25rem;
						}
						.notify-popup--wrapper.noti-wallet .notify-content p {
							margin-bottom: .5rem;
							font-size: .925rem;
						}
						.notify-popup--wrapper.noti-wallet .notify-content p:last-child {
							margin-bottom: 0
						}
						.notify-popup--wrapper.noti-wallet ul, .notify-popup--wrapper.noti-wallet ul li {
							list-style: circle;
						}
						.notify-popup--wrapper.noti-wallet ul {
							padding-left: 1.125rem;
						}
						.notify-popup--wrapper.noti-wallet a {
							display: flex;
							align-items: center;
							font-size: 1rem;
							margin-bottom: .25rem;
						}
						.notify-popup--wrapper.noti-wallet a:hover, .notify-popup--wrapper.noti-wallet a:focus {
							color: #00a550;
						}
						.notify-popup--wrapper.noti-wallet a i, .notify-popup--wrapper.noti-wallet a svg {
							margin-right: 5px;
						}
						.notify-popup--wrapper.noti-wallet a i {
							transform: scale(.85)
						}
						.notify-popup--wrapper.noti-wallet span.rent {
							background-color: rgba(0,0,0,.5);
							padding: 4px 10px;
							color: #fff;
							font-size: .875em;
							border-radius: 20px;
							display: inline-block;
							margin-right: 2px;
							margin-left: 6px;
						}
						.notify-popup--wrapper.noti-wallet strong {
							font-weight: 500
						}
						@media (max-width: 1199px) {
							.notify-popup--wrapper.noti-wallet img.img-fluid {
									width: 50%;
								}
						}

						@media (max-width: 576px) {
							.notify-popup--wrapper.noti-wallet a {
								font-size: .875rem
							}
							.table-reject-trip .w-40, .table-reject-trip .w-60 {
							height: 60px;
							}
							.notify-popup--wrapper.noti-wallet img.img-fluid {
									width: 60%;
								}
							.notify-popup--wrapper.noti-wallet .notify-head p {
								font-size: .875rem;
							}
							.notify-popup--wrapper.noti-wallet .notify-body {
							padding: 15px 1rem;
							}
							.notify-popup--wrapper.noti-wallet .notify-content p {
							margin-bottom: .5rem;
							font-size: .875rem;
							}
							.notify-popup--wrapper.noti-wallet .notify-content ul li {
								font-size: .875rem;
							}
						}
					.notify-popup--wrapper.noti-wallet
						.notify-head
							.img-contain
								img(src="https://n1-cstg.mioto.vn/m/campaign/Annoucement-2.png" class="img-fluid")
							h5 LỜI NHẮN TỪ ADMIN
							//- p.text-primary Mioto xin gửi đến Quý đối tác và Quý khách hàng lịch nghỉ tết Âm Lịch 2019
						.notify-body
							.notify-content
								p Mời bạn cùng xem qua các kinh nghiệm hữu ích và hướng dẫn các bước thuê xe trên Mioto nhé.
								.tutorial-content
									p
										strong Kinh nghiệm thuê xe hữu ích:
									ul
										li
											| Lựa chọn xe có
											strong    đánh giá cao
											|    và
											strong    nhiều chuyến đi
										li
											| Lựa chọn chủ xe có
											strong    nhận xét tốt
											|    và
											strong    phản hồi nhanh
										li
											| Lựa chọn xe có biểu tượng
											span.rent
												i.ic.ic-sm-thunderbolt-wh
												|   Đặt xe nhanh
											|    để tiết kiệm thời gian đợi duyệt
										li
											| Gửi
											strong    nhiều yêu cầu
											|    thuê xe cùng lúc đến các chủ xe khác nhau
										li(style="margin-bottom: .5rem")
											| Sử dụng
											strong    mã khuyến mãi.
											|     Thanh toán đặt cọc
											strong    sớm nhất
											|    để hoàn tất đặt xe
									p
										strong Xem thêm Hướng dẫn:
									a(href="https://www.mioto.vn/bookinghowto" target="_blank" class="text-primary")
										i.ic.ic-car-fill
										|  Đặt xe
									a(href="https://www.mioto.vn/paymenthowto" target="_blank" class="text-primary")
										i.ic.ic-card
										|  Thanh toán
									a(href="https://www.mioto.vn/howitwork" target="_blank" class="text-primary" style="margin-bottom: .5rem")
										<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="18px" height="18px" viewBox="0 0 516.375 516.375" style="enable-background:new 0 0 516.375 516.375; fill: #00a550; margin-right: 12px" xml:space="preserve"><g><path d="M353.812,0C263.925,0,191.25,72.675,191.25,162.562c0,19.125,3.825,38.25,9.562,57.375L0,420.75v95.625h95.625V459H153v-57.375h57.375l86.062-86.062c17.213,5.737,36.338,9.562,57.375,9.562c89.888,0,162.562-72.675,162.562-162.562S443.7,0,353.812,0z M401.625,172.125c-32.513,0-57.375-24.862-57.375-57.375s24.862-57.375,57.375-57.375S459,82.237,459,114.75S434.138,172.125,401.625,172.125z"/></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
										|  Cho thuê xe
								p Hy vọng bạn sẽ có những trải nghiệm thật tuyệt vời cùng chúng tôi.
								p Mioto Team