block Modal

div(role="dialog")
	.modal-backdrop.fade.in
	.fade.modal.in(role="dialog", tabindex="-1", style="display:block")
		.modal-sm.modal-dialog.notify-container-fluid
			.modal-content(role="document")
				.modal-header
					button.close(type="button")
						span(aria-hidden="true") x
						span.sr-only
				.modal-body
					style.
						.text-sub {
							color: #57a8ff
						}
						.table-reject-trip {
						width: 100%;
						margin-bottom: 1rem;
						}
						.table-reject-trip h6 {
							font-size: 1rem;
							margin-bottom: .5rem;
						}
						.table-reject-trip .main-row, .table-reject-trip .row-reject {
						width: 100%;
						border-left: 1px solid #f3f4f6;
						}
						.table-reject-trip .main-row {
						border-top: 1px solid #eee;
						}
						.notify-popup--wrapper.noti-wallet .table-reject-trip .main-row p {
						font-weight: 700;
						font-size: 12px;
						}
						.notify-popup--wrapper.noti-wallet .table-reject-trip .row-reject p {
						font-size: 12px;
						}
						.table-reject-trip .w-60 {
						width: 35%;
						padding: 10px 5px;
						border-bottom: 1px solid #eee;
						border-right: 1px solid #f3f4f6;
						height: 40px;
						}
						.table-reject-trip .w-40 {
						width: 32.5%;
						padding: 10px 5px;
						border-bottom: 1px solid #eee;
						border-right: 1px solid #f3f4f6;
						height: 40px;
						}
						.table-reject-trip p {
						margin-bottom: 0;
						}
						.notify-container-fluid .notify-popup--wrapper {
							display: flex;
							flex-direction: column;
							width: 100%;
							border-radius: 0px;
						}
						.notify-popup--wrapper.noti-wallet .notify-head {
							text-align: center;
							padding: 20px;
							background: lemonchiffon;
						}
						.notify-popup--wrapper.noti-wallet .notify-head h5 {
							font-size: 1.25rem;
							font-weight: 600;
						}
						.notify-popup--wrapper.noti-wallet .notify-head p {
							font-size: 1rem;
						}
						.table-reject-trip span.text-sm, .notify-popup--wrapper.noti-wallet .notify-content p.text-sm {
							font-size: 12px;
						}
						.notify-popup--wrapper.noti-wallet .img-contain {
							text-align: center;
							padding: 10px 0;
						}
						.notify-popup--wrapper.noti-wallet img.img-fluid {
								width: 40%;
							}

						.notify-popup--wrapper.noti-wallet .notify-body {
							padding: 20px 1.5rem 1.5rem;
							width: 100%;
						}
						.notify-popup--wrapper.noti-wallet .notify-content {
							margin-bottom: 0;
						}
						.notify-popup--wrapper.noti-wallet .notify-content > div {
							margin-bottom: 1rem;
						}
						.notify-popup--wrapper.noti-wallet .notify-content ul {
							padding-left: 1rem;
						}
						.notify-popup--wrapper.noti-wallet .notify-content ul li {
							list-style: circle;
							font-size: .925rem;
						}
						.notify-popup--wrapper.noti-wallet .notify-content p {
							margin-bottom: .5rem;
							font-size: .925rem;
						}
						.notify-popup--wrapper.noti-wallet .notify-content p:last-child {
							margin-bottom: 0
						}
						@media (max-width: 1199px) {
							.notify-popup--wrapper.noti-wallet img.img-fluid {
									width: 50%;
								}
						}

						@media (max-width: 576px) {
							.table-reject-trip .w-40, .table-reject-trip .w-60 {
							height: 60px;
							}
							.notify-popup--wrapper.noti-wallet img.img-fluid {
									width: 60%;
								}
							.notify-popup--wrapper.noti-wallet .notify-head p {
								font-size: .875rem;
							}
							.notify-popup--wrapper.noti-wallet .notify-body {
							padding: 15px 1rem;
							}
							.notify-popup--wrapper.noti-wallet .notify-content p {
							margin-bottom: .5rem;
							font-size: .875rem;
							}
							.notify-popup--wrapper.noti-wallet .notify-content ul li {
								font-size: .875rem;
							}
						}
					.notify-popup--wrapper.noti-wallet
						.notify-head
							.img-contain
								img(src="https://n1-cstg.mioto.vn/m/campaign/Annoucement-2.png" class="img-fluid")
							h5 THÔNG BÁO LỊCH NGHỈ TẾT
							p.text-primary Mioto xin gửi đến Quý đối tác và Quý khách hàng lịch nghỉ tết Âm Lịch 2019
						.notify-body
							.notify-content
								p
									| Kính chào
									span.fontWeight-5  Quý khách hàng và Quý đối tác
								p
									| Mioto xin thông báo đến Quý khách hàng và Quý đối tác lịch nghỉ tết Âm Lịch 2019 bắt đầu từ ngày
									span.fontWeight-5  02/02/2019
									| đến hết ngày
									span.fontWeight-5  10/02/2019
								p
									| Trong thời gian nghỉ tết, tất cả các giao dịch đặt xe trực tuyến qua website Mioto.vn và ứng dụng Mioto vẫn diễn ra bình thường. Mọi vấn đề cần hỗ trợ, Quý khách hàng và Quý đối tác vui lòng liên hệ với bộ phận CSKH qua
									a(href="https://facebook.com/mioto.vn" target="_blank" class="fontWeight-5 text-primary")   Mioto Fanpage
									|  (tổng đài 19009217 sẽ không hỗ trợ trong thời gian này).
								p
									| Nhân dịp Tết Kỷ Hợi 2019, Mioto xin kính gửi đến Quý khách hàng, Quý đối tác cùng gia đình lời
									span.fontWeight-5.text-primary   Chúc mừng năm mới an khang, thịnh vượng và vạn sự như ý !
								p Một lần nữa, xin cám ơn sự ủng hộ nhiệt thành của Quý khách hàng và Quý đối tác trong suốt năm 2018 vừa qua. Hy vọng Mioto sẽ tiếp tục nhận được sự tin tưởng từ Quý khách hàng và Quý đối tác trong năm mới 2019
								p Trân trọng.
								p MIOTO TEAM



