block Modal
        

div(role="dialog")
  .modal-backdrop.fade.in
  .fade.modal.in(role="dialog", tabindex="-1", style="display:block")
    .modal-sm.modal-dialog.notify-container-fluid 
      .modal-content(role="document")
        .modal-header
          button.close(type="button")
            span(aria-hidden="true") x
            span.sr-only
        .modal-body
          style.
            .notify-container-fluid .notify-popup--wrapper {
              display: flex;
              flex-direction: column;
              width: 100%;
              border-radius: 3px;
              padding: 30px;
            }
            .notify-popup--wrapper.bg-promo-11.wedding{
              
              background-image: url(https://i.imgur.com/XnXXSdP.jpg);
            }
            .notify-popup--wrapper.bg-promo-11.wedding .notify-head, .notify-popup--wrapper.bg-promo-11.wedding .notify-body {
              background: #fff;
            }
            .notify-popup--wrapper.bg-promo-11.wedding .notify-head .fix-img {
              padding-bottom: 98%;
              box-shadow: none;
            
            }
        
            .notify-popup--wrapper.bg-promo-11.wedding .notify-body {
                padding: 30px 1.5rem;
                width: 100%;
            }
            .notify-popup--wrapper.bg-promo-11.wedding .notify-content {
                margin-bottom: 0;
                text-align: center;
                color: #141414;
            }
            .notify-popup--wrapper.bg-promo-11.wedding .notify-content p {
                margin-bottom: .5rem;
                font-size: 1rem;
            }
      
            
      
            @media (max-width: 576px) {
          
               .notify-popup--wrapper.bg-promo-11.wedding .notify-body {
                  padding: 25px 1rem;
              
                }
                .notify-popup--wrapper.bg-promo-11.wedding .notify-content p {
                    margin-bottom: .5rem;
                    font-size: .875rem;
                }
                .notify-popup--wrapper.bg-promo-11.wedding .notify-content p > span.code-promo {
                  font-size: 1rem;
                }
            }
          .notify-popup--wrapper.bg-promo-11.wedding
            .notify-head
              .fix-img 
                  img(src="https://i.imgur.com/JrsLIMZ.png")
            .notify-body
              .notify-content
                p
                  | Giảm ngay 15% (tối đa 150.000đ/chuyến) khi đặt xe với mã
                p(style="margin-bottom: 1rem")
                  span.code-promo MI15
                p.sm-text *Áp dụng đến hết ngày 31/11/2018


          
          