block Modal

div(role="dialog")
	.modal-backdrop.fade.in
	.fade.modal.in(role="dialog", tabindex="-1", style="display:block")
		.modal-sm.modal-dialog.notify-container-fluid
			.modal-content(role="document")
				.modal-header
					button.close(type="button")
						span(aria-hidden="true") x
						span.sr-only
				.modal-body
					style.
						.notify-container-fluid .notify-popup--wrapper {
							display: flex;
							flex-direction: column;
							width: 100%;
							border-radius: 0px;
						}
						.notify-popup--wrapper.noti-wallet .notify-head {
							text-align: center;
							padding: 20px;
							background: lemonchiffon;
						}
						.notify-popup--wrapper.noti-wallet .notify-head h5 {
							font-size: 1.25rem;
							font-weight: 600;
						}
						.notify-popup--wrapper.noti-wallet .notify-head p {
							font-size: 1rem;
						}
						.table-reject-trip span.text-sm, .notify-popup--wrapper.noti-wallet .notify-content p.text-sm {
							font-size: 12px;
						}
						.notify-popup--wrapper.noti-wallet .img-contain {
							text-align: center;
							padding: 10px 0;
						}
						.notify-popup--wrapper.noti-wallet img.img-fluid {
								width: 40%;
							}

						.notify-popup--wrapper.noti-wallet .notify-body {
							padding: 20px 1.5rem 1.5rem;
							width: 100%;
						}
						.notify-popup--wrapper.noti-wallet .notify-content {
							margin-bottom: 0;
						}
						.notify-popup--wrapper.noti-wallet .notify-content p {
							margin-bottom: .5rem;
							font-size: .925rem;
						}
						.notify-popup--wrapper.noti-wallet .notify-content p:last-child {
							margin-bottom: 0
						}
						@media (max-width: 1199px) {
							.notify-popup--wrapper.noti-wallet img.img-fluid {
									width: 50%;
								}
						}

						@media (max-width: 576px) {
							.notify-popup--wrapper.noti-wallet img.img-fluid {
									width: 60%;
								}
							.notify-popup--wrapper.noti-wallet .notify-head p {
								font-size: .875rem;
							}
							.notify-popup--wrapper.noti-wallet .notify-body {
								padding: 15px 1rem;
							}
							.notify-popup--wrapper.noti-wallet .notify-content p {
								margin-bottom: .5rem;
								font-size: .875rem;
							}
						}
					.notify-popup--wrapper.noti-wallet
						.notify-head
							.img-contain
								img(src="https://n1-cstg.mioto.vn/m/campaign/Annoucement-2.png" class="img-fluid")
							h5 LỜI NHẮN TỪ ADMIN
							p.text-primary Mẫu Hợp đồng cho thuê xe tự lái và Biên bản bàn giao xe
						.notify-body
							.notify-content
								p
									| Kính gửi
									span.fontWeight-5    Quý đối tác,
								p
									| Mioto xin kính gửi đến Quý đối tác mẫu
									span.fontWeight-5   Hợp đồng cho thuê xe tự lái
									|    và
									span.fontWeight-5   Biên bản bàn giao xe ô tô cho thuê tự lái
									|    để Quý đối tác có thể tham khảo (vui lòng truy cập vào đường link đính kèm để tải về 2 biểu mẫu này).
								p
									| Link tải về:
									a(href="https://n1-cstg.mioto.vn/m/contracts/contracts.zip" style="color: #00a550; text-transform: underline" target="_blank") Nhấn vào đây để tải về
								p Nhằm tăng cường tính an toàn đối với các giao dịch cho thuê xe, Quý đối tác cần đảm bảo giao kết bằng văn bản "Hợp đồng cho thuê xe tự lái", "Biên bản bàn giao xe", xác minh đầy đủ thông tin và các giấy tờ cá nhân của khách thuê, giữ lại tài sản đặt cọc và các giấy tờ cần thiết.
								p Mọi vấn đề cần hỗ trợ, Quý đối tác vui lòng liên hệ bộ phận CSKH tại
									span.fontWeight-5   Hotline 19009217 (T2-T7, 9AM-6PM)
								p Xin cảm ơn sự hợp tác nhiệt tình của Quý đối tác
								p MIOTO - ADMIN