block Modal

div(role="dialog").hidden
  .modal-backdrop.fade.in
  .fade.modal.in(role="dialog", tabindex="-1", style="display:block")
    .modal-sm.modal-dialog.notify-container-fluid 
      .modal-content(role="document")
        .modal-header
          button.close(type="button")
            span(aria-hidden="true") x
            span.sr-only
        .modal-body(style="background: #141414;  width: 100%; height: 100%; position: relative; padding: 3px;")
          style.
            .notify-popup--wrapper {
                display: flex;
                flex-direction: column;
                width: 100%;
                border-radius: 0; 
                background: #f8f9fb;
            }
            
            .notify-popup--wrapper.bg-warning .notify-header {
                position: relative; 
                display: flex;
                flex-direction: column;
                width: 100%;
                align-items: center; 
                padding-top: 3.5rem;
            }
            .notify-popup--wrapper.bg-warning .bar-line {
                height: 2px; 
                background: #141414;
                width: 5vw;
            }
            .notify-popup--wrapper.bg-warning h3 {
                font-size: 1.25rem;
                color: #00a550; 
                margin-bottom: 0;
                font-weight: bold; 
                text-align: center;
                margin-bottom: .5rem;
                display: flex; 
                align-items: center;
                justify-content: center; 
            }
            
            .notify-popup--wrapper.bg-warning .notify-content {
                font-size: .875em; 
                text-align: justify;
                padding: 1.75rem 3.5rem 3.5rem;
                margin-bottom: 0;
                border-radius: 0 0 5px 5px;
            }
            
            .notify-popup--wrapper.bg-warning .notify-content p {
                margin-bottom: .5rem; 
                color: #141414; 
                width: 100%; 
                font-size: .875rem;
            }
            
 
            .notify-popup--wrapper.bg-warning .notify-content p:last-child {
                margin-bottom: 0px;
            }
            .notify-popup--wrapper.bg-warning svg {
              width: 26px; 
              height: 26px; 
              margin-right: 10px; 
            }
            
            
            @media (max-width: 767px) {
                .notify-popup--wrapper.bg-warning .notify-header { 
                  padding-left: 25px;
                  padding-right: 25px;
                }
                
  
                .notify-popup--wrapper.bg-warning .bar-line {
                  width: 12vw;
                }
                .notify-popup--wrapper.bg-warning svg {
                  margin-right: 6px;
                }
                .notify-popup--wrapper.bg-warning h3 { 
               
                  font-size: 1.125rem;
                }
            }
            @media (max-width: 480px) {
                .notify-popup--wrapper.bg-warning h3 { 
                  align-items: flex-start;
            
                }
              
                .notify-popup--wrapper.bg-warning svg {
                  width: 45px; 
                  height: 45px; 
                  margin-right: 4px;
                }
                .notify-popup--wrapper.bg-warning .notify-header { 
                  padding-top: 3rem;
                }
                .notify-popup--wrapper.bg-warning .notify-content {
                  padding: .5rem 1.5rem 1.5rem;
                
                }
                .notify-popup--wrapper.bg-warning .bar-line {
                  width: 20vw;
                  margin-left: 15px;
                }
            }
          .notify-popup--wrapper.bg-warning 
            .notify-header             
              h3 
                svg#Capa_1(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewbox='0 0 461.55 461.55', style='enable-background:new 0 0 461.55 461.55;', xml:space='preserve', fill='#00a550')
                  g
                    g#report
                      path(d='M323.85,1.275h-188.7L0,136.425v191.25l135.15,132.6H326.4l135.149-135.15v-188.7L323.85,1.275z M229.5,365.925\
                      c-17.85,0-33.15-15.301-33.15-33.15s15.3-33.15,33.15-33.15c17.85,0,33.15,15.301,33.15,33.15S247.35,365.925,229.5,365.925z\
                      M255,256.275h-51v-153h51V256.275z')
                |LỜI NHẮN TỪ BAN QUẢN LÍ ỨNG DỤNG
              .bar-line
            .notify-content   
              p Chào thành viên 
                span(style="font-weight: bold") Tdtplus T, 
              p Theo quy chế hoạt động của ứng dụng Mioto, các thành viên sẽ không trao đổi số điện thoại 
                b (bằng chữ số hoặc văn bản) trước khi giao dịch thuê xe chuyển sang trạng thái "Đã đặt cọc" trên ứng dụng.
              p Đối với các hoạt động vi phạm quy chế sau khi đã nhận được lời nhắn từ ban quản lí, tài khoản của thành viên sẽ tạm thời bị khóa mà không cần báo trước.
              p Rất mong nhận được sự hợp tác từ thành viên. Mọi vấn đề cần hỗ trợ hoặc góp ý, vui lòng liên hệ 
                span(style="font-weight: bold") 19009217 
                |  để được tư vấn thêm.
              p MIOTO ADMIN
          

