block Modal

div(role="dialog")
	.modal-backdrop.fade.in
	.fade.modal.in(role="dialog", tabindex="-1", style="display:block")
		.modal-sm.modal-dialog.notify-container-fluid
			.modal-content(role="document")
				.modal-header
					button.close(type="button")
						span(aria-hidden="true") x
						span.sr-only
				.modal-body
					style.
						.notify-popup--wrapper.bg-welcome ul, .notify-popup--wrapper.bg-welcome ul li {
							list-style: circle;
						}
						.notify-popup--wrapper.bg-welcome ul {
							padding-left: 1.125rem;
						}
						.notify-popup--wrapper.bg-welcome a {
							display: flex;
							align-items: center;
						}
						.notify-popup--wrapper.bg-welcome a:hover, .notify-popup--wrapper.bg-welcome a:focus {
							color: #00a550;
						}
						.notify-popup--wrapper.bg-welcome a i, .notify-popup--wrapper.bg-welcome a svg {
							margin-right: 5px;
						}
						.notify-popup--wrapper.bg-welcome a i {
							transform: scale(.85)
						}
						.notify-popup--wrapper.bg-welcome span.rent {
							background-color: rgba(0,0,0,.5);
							padding: 4px 10px;
							color: #fff;
							font-size: .875em;
							border-radius: 20px;
							display: inline-block;
							margin-right: 2px;
							margin-left: 6px;
						}
						.notify-popup--wrapper.bg-welcome strong {
							font-weight: 600
						}
					.notify-popup--wrapper.bg-welcome
						.notify-head
							.fix-img
								img(src="https://n1-cstg.mioto.vn/m/notify_welcome.jpg" style="width: 100%;")
							h3.title
								|Welcome
								span(style="display: block")
									| to Mioto
						.notify-body
							.notify-content
								p
									| Chào mừng bạn tham gia cộng đồng
									strong     Mioto
									|.
								p Mời bạn cùng xem qua các kinh nghiệm hữu ích và hướng dẫn các bước thuê xe trên Mioto nhé.
								.tutorial-content
									p
										strong Kinh nghiệm thuê xe hữu ích:
									ul
										li
											| Lựa chọn xe có
											strong    đánh giá cao
											|    và
											strong    nhiều chuyến đi
										li
											| Lựa chọn chủ xe có
											strong    nhận xét tốt
											|    và
											strong    phản hồi nhanh
										li
											| Lựa chọn xe có biểu tượng
											span.rent
												i.ic.ic-sm-thunderbolt-wh
												|   Đặt xe nhanh
											|    để tiết kiệm thời gian đợi duyệt
										li
											| Gửi
											strong    nhiều yêu cầu
											|    thuê xe cùng lúc đến các chủ xe khác nhau
										li(style="margin-bottom: .5rem")
											| Sử dụng
											strong    mã khuyến mãi.
											|     Thanh toán đặt cọc
											strong    sớm nhât
											|    để hoàn tất đặt xe
									p
										strong Xem thêm Hướng dẫn:
									a(href="https://www.mioto.vn/bookinghowto" target="_blank" class="text-primary")
										i.ic.ic-car-fill
										|  Đặt xe
									a(href="https://www.mioto.vn/paymenthowto" target="_blank" class="text-primary")
										i.ic.ic-card
										|  Thanh toán
									a(href="https://www.mioto.vn/bookinghowto" target="_blank" class="text-primary" style="margin-bottom: .5rem")
										<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="18px" height="18px" viewBox="0 0 516.375 516.375" style="enable-background:new 0 0 516.375 516.375; fill: #00a550" xml:space="preserve"><g><path d="M353.812,0C263.925,0,191.25,72.675,191.25,162.562c0,19.125,3.825,38.25,9.562,57.375L0,420.75v95.625h95.625V459H153v-57.375h57.375l86.062-86.062c17.213,5.737,36.338,9.562,57.375,9.562c89.888,0,162.562-72.675,162.562-162.562S443.7,0,353.812,0z M401.625,172.125c-32.513,0-57.375-24.862-57.375-57.375s24.862-57.375,57.375-57.375S459,82.237,459,114.75S434.138,172.125,401.625,172.125z"/></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
										|  Cho thuê xe
								p Hy vọng bạn sẽ có những trải nghiệm thật tuyệt vời cùng chúng tôi.
								p Mioto Team
							//- button(class="btn btn--m btn-primary btn-notify") BẮT ĐẦU
