block Modal


div(role="dialog")
	.modal-backdrop.fade.in
	.fade.modal.in(role="dialog", tabindex="-1", style="display:block")
		.modal-sm.modal-dialog.notify-container-fluid
			.modal-content(role="document")
				.modal-header
					button.close(type="button")
						span(aria-hidden="true") x
						span.sr-only
				.modal-body
					style.
						.notify-container-fluid .notify-popup--wrapper {
							display: flex;
							flex-direction: column;
							width: 100%;
							border-radius: 5px;
						}
						.notify-popup--wrapper.bg-privacy .notify-head {
							position: relative;
							width: 100%;
							background: #00a550;
							padding: 20px 30px;
							 text-align: center;
							 color: #fff;
						}
						.notify-popup--wrapper.bg-privacy img {
							width: 40%;
							margin-bottom: 1rem;
						}
						.notify-popup--wrapper.bg-privacy .notify-head h4, .notify-popup--wrapper.bg-privacy .notify-head p {
							margin-bottom: .5rem;
							font-weight: 600;
						}

						.notify-popup--wrapper.bg-privacy .notify-body {
								padding: 25px 30px 25px;
								width: 100%;
						}
						.notify-popup--wrapper .notify-content {
								margin-bottom: 0;

						}
						.notify-popup--wrapper.bg-privacy .notify-content p {
								margin-bottom: 1rem;
						}
						.notify-popup--wrapper.bg-privacy .notify-content p:last-child {
								margin-bottom: 0;
						}

						.notify-popup--wrapper.bg-privacy .notify-head  h4 {
								font-size: 1.25rem;
								line-height: 36px;
								font-weight: bold;
								margin-bottom: .5rem;
						}
						.table-reject-trip {
								width: 100%;
								margin-bottom: 1rem;
						}
						.table-reject-trip .main-row, .table-reject-trip .row-reject {
							width: 100%;
							border-left: 1px solid #f3f4f6;
						}
						.table-reject-trip .main-row {
							border-top: 1px solid #eee;
						}
						.table-reject-trip .main-row p {
							font-weight: 700;
							font-size: 12px;
						}
						.table-reject-trip .row-reject p {
							font-size: 12px;
						}
						.table-reject-trip .w-60 {
							width: 35%;
							padding: 10px 5px;
							border-bottom: 1px solid #eee;
							border-right: 1px solid #f3f4f6;
							height: 40px;
						}
						.table-reject-trip .w-40 {
							width: 32.5%;
							padding: 10px 5px;
							border-bottom: 1px solid #eee;
							border-right: 1px solid #f3f4f6;
							height: 40px;
						}
						.table-reject-trip p {
							margin-bottom: 0;
						}
							.notify-head:after {
								content: "";
								position: absolute;
								bottom: -8px;
								left: 50%;
								-webkit-transform: translateX(-50%);
								transform: translateX(-50%);
								width: 0;
								height: 0px;
								border-top: solid 8px #00a550;
								border-left: solid 12px transparent;
								border-right: solid 12px transparent;
							}
							.bold {
								font-weight: 600;
							}
							.notify-popup--wrapper.bg-privacy .notify-content .text-sm {
								font-size: 12px;
							}
							.notify-popup--wrapper.bg-privacy .notify-content .text-sm:not(:last-child){
								margin-bottom: .5rem;
							}


						@media (max-width: 576px) {
							.table-reject-trip .w-40, .table-reject-trip .w-60 {
								height: 60px;
							}
							.notify-popup--wrapper.bg-privacy .notify-body {
								padding: 25px 15px 25px;
								width: 100%;
							}
							.notify-popup--wrapper.bg-privacy img {
								width: 60%;
							}
							.notify-popup--wrapper.bg-privacy .notify-content p {
								font-size: .875rem;
						}
						}
					.notify-popup--wrapper.bg-privacy
						.notify-head
							img(src="https://i.imgur.com/YN5BNuM.png" class="img-fluid")
							h4 THÔNG BÁO
							p V/v Cập nhật Chính sách hủy chuyến - Bắt đầu từ ngày 13/03/2019
						.notify-body
							.notify-content(style="font-size: .875rem; ")
								p Kính gửi Quý khách hàng,
								p
									| Nhằm tiếp tục đảm bảo quyền lợi và gia tăng hơn nữa sự cam kết giữa Quý khách hàng và Đối tác chủ xe đối với các giao dịch cho thuê xe trên ứng dụng, Mioto xin thông báo đến Quý khách hàng về việc cập nhật
									span.bold    "Chính sách hủy chuyến",
									|   chính thức áp dụng cho các giao dịch bắt đầu từ
									span.bold    13/03/2018
									| :
								.table-reject-trip
									.main-row.d-flex
										.w-60
											p.textAlign-center Thời điểm hủy chuyến
										.w-40
											p.textAlign-center Phí  hủy chuyến
										.w-40
											p.textAlign-center Tiền cọc hoàn trả

									.row-reject.d-flex
										.w-60
											p.textAlign-center Trong vòng 1 giờ sau khi đặt cọc
										.w-40
											p.textAlign-center 0% Tiền cọc
										.w-40
											p.textAlign-center 100% Tiền cọc
									.row-reject.d-flex
										.w-60
											p.textAlign-center &gt; 7 ngày trước khởi hành
										.w-40
											p.textAlign-center 30% Tiền cọc
										.w-40
											p.textAlign-center 70% Tiền cọc
									.row-reject.d-flex
										.w-60
											p.textAlign-center &lt;= 7 ngày trước khởi hành
										.w-40
											p.textAlign-center 100% Tiền cọc
										.w-40
											p.textAlign-center
												| 0% Tiền cọc
								p
									| Trường hợp phát sinh
									span.bold     Phí hủy chuyến,
									|     Mioto sẽ trừ vào tiền đặt cọc của Quý khách hàng và sẽ thanh toán lại khoản tiền này cho Đối tác chủ xe (và ngược lại, trường hợp Đối tác chủ xe hủy chuyến dẫn đến phát sinh Phí hủy chuyến, Mioto sẽ hoàn trả lại tiền cọc và tiền phí hủy chuyến được đền bù cho Quý khách hàng trong vòng 1 - 3 ngày làm việc).
								p
									| Chính sách hủy chuyến mới đã được cập nhật trên
									span.bold      Quy chế hoạt động
									|  của Mioto. Quý khách hàng có thể xem chi tiết tại
									a(href="https://www.mioto.vn/privacy#canceltrip" target="_blank" style="color: #00a550; font-weight: 600; text-decoration: underline")     đây
								p
									| Mọi vấn đề cần hỗ trợ hoặc thắc mắc cần giải đáp, Quý khách hàng vui lòng liên hệ bộ phận CSKH Mioto tại
									span.bold      Hotline 19009217 (T2-T7, 9AM-6PM).
								p
									| Xin cám ơn sự hợp tác chân thành của Quý khách hàng đã giúp cho các chuyến đi trên Mioto được diễn ra một cách suôn sẻ, an toàn và nhận nhiều sự tin cậy hơn từ phía khách hàng.
								p(style="margin-bottom: .5rem;") Trân trọng,
								p(style="margin-bottom: .5rem; font-weight: 700") MIOTO ADMIN



