block Modal


div(role="dialog")
	.modal-backdrop.fade.in
	.fade.modal.in(role="dialog", tabindex="-1", style="display:block")
		.modal-sm.modal-dialog.notify-container-fluid
			.modal-content(role="document")
				.modal-header
					button.close(type="button")
						span(aria-hidden="true") x
						span.sr-only
				.modal-body
					style.
						.notify-popup--wrapper {
							display: flex;
							flex-direction: column;
							width: 100%;
							border-radius: 3px;
						}
						.notify-popup--wrapper.bg-promo-11 .notify-head .fix-img {
							padding-bottom: 56%;
							box-shadow: none;
							position: relative;
						}
						.notify-popup--wrapper.bg-promo-11 .notify-head .fix-img img{
							position: absolute;
							top: 0;
							left: 0;
							width: 100%;
							object-fit: cover;
							height: 100%;
						}
						.notify-popup--wrapper.bg-promo-11 .notify-body {
							padding: 15px 1.5rem 15px;
							width: 100%;
						}
						.notify-popup--wrapper.bg-promo-11 .notify-content {
							margin-bottom: 0;
							text-align: center;
							color: #141414;
						}
						.notify-popup--wrapper.bg-promo-11 .notify-content h4 {
							font-size: 1.25rem;
							font-weight: 600;
							margin-bottom: 0;
							color: #00a550;
						}
						.notify-popup--wrapper.bg-promo-11 .notify-content p {
							margin-bottom: .5rem;
							font-size: 1rem;
						}
						.notify-popup--wrapper.bg-promo-11 .notify-content span.code-promo {
							background: #00A550;
							color: #F1EB1B;
							padding: 0 .5rem;
							border-radius: 3px;
							margin: 0 5px;
						}
						@media (max-width: 576px) {
							.notify-popup--wrapper.bg-promo-11 .notify-body {
								padding: 0px 1rem 20px;
							}
							.notify-popup--wrapper.bg-promo-11 .notify-content p {
								margin-bottom: .5rem;
								font-size: .875rem;
							}
						}
					.notify-popup--wrapper.bg-promo-11
						.notify-head
							.fix-img
								img(src='https://n1-ppstg.mioto.vn/g/2019/05/01/10/iU07TaEeBuRcAIgGMAvSKg.jpg')
						.notify-body
							.notify-content
								h4
									| DU LỊCH CHÀO HÈ - ƯU ĐÃI 10% KHI NHẬP MÃ
									span.code-promo MI16
									| TẠI MIOTO
								div(style='width: 100px; height: 2px; background: #00a550; margin: 0 auto; margin-top: .5rem; margin-bottom: 1rem;')
								p
									| Nhập mã code "MI16" giảm ngay 10% (tối đa 100.000đ/chuyến) khi thuê xe trên toàn hệ thống Mioto
								p *Áp dụng đến hết ngày 30/06/2019
