block Modal
        

div(role="dialog").hidden
  .modal-backdrop.fade.in
  .fade.modal.in(role="dialog", tabindex="-1", style="display:block")
    .modal-sm.modal-dialog.notify-container-fluid 
      .modal-content(role="document")
        .modal-header
          button.close(type="button")
            span(aria-hidden="true") x
            span.sr-only
        .modal-body
            style.
                .notify-container-fluid .notify-popup--wrapper {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    border-radius: 5px;
                }
                .notify-popup--wrapper.bg-promo-8 .notify-head {
                position: relative;
                    width: 100%;
                }
                
                
                .notify-popup--wrapper.bg-promo-8 .notify-head .fix-img {
                padding-bottom: 65%;
                box-shadow: none;
                border-radius: 0;
                }
            
                .notify-popup--wrapper.bg-promo-8 .notify-body {
                    padding: 15px 20px 25px;
                    width: 100%;
                }
                .notify-popup--wrapper.bg-promo-8 .notify-content {
                    margin-bottom: 0 
                }
                .notify-popup--wrapper.bg-promo-8 .notify-content p {
                    margin-bottom: .5rem;
                }
                .notify-popup--wrapper.bg-promo-8 .notify-content p:last-child {
                    margin-bottom: 0;
                }
                
                .notify-popup--wrapper.bg-promo-8 .notify-content h3 {
                    font-size: 1.5rem;
                    line-height: 36px;
                    color: #1F383E;
                    font-weight: bold;
                    margin-bottom: .5rem;
                }
                .notify-popup--wrapper.bg-promo-8 .notify-content .bar-line {
                    width: 8vw; 
                    height: 3px; 
                    background: #FFD003; 
                    margin-bottom: 1rem;
                }
                @media (max-width: 991px) {
                    .notify-popup--wrapper.bg-promo-8 .notify-content .bar-line {
                    width: 12vw; 
                }
                }
                @media (max-width: 576px) {
                    .notify-popup--wrapper.bg-promo-8 .notify-body  {
                    padding: 15px 20px 20px;
                    }
                .notify-popup--wrapper.bg-promo-8 .notify-content .bar-line {
                    width: 20vw; 
                }
                .notify-popup--wrapper.bg-promo-8 .notify-content h3 { 
                    font-size: 1rem; 
                    line-height: 24px; 
                }
                }
            .notify-popup--wrapper.bg-promo-8
                .notify-head
                    .fix-img 
                        img(src="https://i.imgur.com/PsSaosL.png" class="img-fluid" style="width: 100%;")
                .notify-body
                    .notify-content
                    
                        h3 VI VU Ô TÔ DỊP LỄ 2/9 
                            <br/> CÙNG MÃ KHUYẾN MÃI "MI29"
                        .bar-line
                        p Giảm ngay 15% (tối đa 150.000đ) từ Mioto
                        p Áp dụng đến hết ngày 2/9/2018
                        p Mioto Team 

          

