block Modal
        

div(role="dialog")
  .modal-backdrop.fade.in
  .fade.modal.in(role="dialog", tabindex="-1", style="display:block")
    .modal-sm.modal-dialog.notify-container-fluid 
      .modal-content(role="document")
        .modal-header
          button.close(type="button")
            span(aria-hidden="true") x
            span.sr-only
        .modal-body
          style.
            .notify-container-fluid .notify-popup--wrapper {
              display: flex;
              flex-direction: column;
              width: 100%;
              border-radius: 5px;
            }
            .notify-popup--wrapper.bg-promo-8 .notify-head {
              position: relative;
              width: 100%;
            }
            .notify-popup--wrapper.bg-10 .obj-car { 
              position: absolute;
              bottom: -45px;
              right: -50px;
              z-index: 3;
              width: 40%;
            }
            .notify-popup--wrapper.bg-10 .obj-car img {
              max-width: 100%; 
              height: auto
            }
            
            .notify-popup--wrapper.bg-promo-8.bg-10 .notify-head .fix-img {
              padding-bottom: 70%;
              box-shadow: none;
              border-radius: 0;
            }
        
            .notify-popup--wrapper.bg-promo-8.bg-10 .notify-body {
                padding: 25px 15px 55px;
                width: 100%;
            }
            .notify-popup--wrapper.bg-10 .notify-content {
                margin-bottom: 0;
                text-align: center;
            }
            .notify-popup--wrapper.bg-promo-8 .notify-content p {
                margin-bottom: .5rem;
            }
            .notify-popup--wrapper.bg-promo-8 .notify-content p:last-child {
                margin-bottom: 0;
            }
            
            .notify-popup--wrapper.bg-promo-8.bg-10 .notify-content h3 {
                font-size: 1.25rem;
                line-height: 36px;
                color: #141414;
                font-weight: bold;
                margin-bottom: .5rem;
            }
            .notify-popup--wrapper.bg-promo-8.bg-10 .notify-content h3 > span.break {
              display: inline-block;
              margin-right: 2px;
            } 
            .notify-popup--wrapper.bg-promo-8.bg-10 .notify-content h3 > span.color {
              color: #FF4889;
            }
            
            .notify-popup--wrapper.bg-promo-8 .notify-content .bar-line {
                width: 8vw; 
                height: 3px; 
                background: #FFC087; 
                margin: 0 auto 1rem;
            }
            @media (max-width: 991px) {
                .notify-popup--wrapper.bg-promo-8 .notify-content .bar-line {
                width: 12vw; 
            }
            }
            @media (max-width: 576px) {
              .notify-popup--wrapper.bg-promo-8.bg-10 .notify-content h3 > span.break {
                display: inline
              } 
            
              .notify-popup--wrapper.bg-promo-8 .notify-content .bar-line {
                  width: 20vw; 
              }
              .notify-popup--wrapper.bg-promo-8.bg-10 .notify-content h3 { 
                  font-size: 1rem; 
                  line-height: 24px; 
              }
             .notify-popup--wrapper.bg-10 .obj-car {
                position: absolute;
                right: -5px;
                bottom: -52px;
                z-index: 3;
                width: 50%;
              }
            }
          .notify-popup--wrapper.bg-promo-8.bg-10
            .obj-car 
              img(src="https://i.imgur.com/VYLYITt.png")
            .notify-head
              .fix-img 
                  img(src="https://i.imgur.com/mqaTxjG.png" class="img-fluid" style="width: 100%;")
            .notify-body
              .notify-content
                h3 CHÀO MỪNG NGÀY PHỤ NỮ VIỆT NAM 
                  span.break CÙNG MÃ KHUYẾN MÃI 
                  span.color "MI20"
                .bar-line
                p Giảm ngay 15% (tối đa 150.000/chuyến) khi đặt xe từ Mioto
                p *Áp dụng đến hết ngày 31/10/2018

          
          