block Modal

div(role="dialog").hidden 
  .modal-backdrop.fade.in
  .fade.modal.in(role="dialog", tabindex="-1", style="display:block")
    .modal-sm.modal-dialog.notify-container-fluid 
      .modal-content(role="document")
        .modal-header
          button.close(type="button")
            span(aria-hidden="true") x
            span.sr-only
        .modal-body
          style.
            .notify-popup--wrapper {
                display: flex;
                flex-direction: column;
                width: 100%
            }
            .notify-popup--wrapper.bg-promo-7 {
                background-image: url(https://upanhtocdo.com/images/2018/07/10/noti-promo-7.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                min-height: 75vh;
                justify-content: center;
                background-position: right 85%;
                border-radius: 3px;
            }
            
            .notify-popup--wrapper.bg-promo-7 h3{
                font-size: 1.5rem; 
                text-shadow: 1px 2px 2px #666; 
                color: #ffd300; 
                margin-bottom: .75rem;
                font-weight: bold; 
            }
            
            .notify-popup--wrapper.bg-promo-7 .notify-content {
                font-size: .875em; 
                text-align: center;
                padding: 0px 15px;
            }
            
            .notify-popup--wrapper.bg-promo-7 .notify-content p {
                margin-bottom: .5rem; 
                color: #1b054c; 
                width: 100%; 
                font-weight: bold;
            }
            
            .notify-popup--wrapper.bg-promo-7 .notify-content p.sm-text {
                font-size: 12px; 
                color: #1b054c;
                font-weight: normal;
            }
            
            .notify-popup--wrapper.bg-promo-7 .notify-content p:last-child {
                margin-bottom: 0px;
            }
            
            .notify-popup--wrapper.bg-promo-7 .notify-content span {
               display: inline-block; 
               padding: 1px 6px; 
               background: #1b054c; 
               color: #fff; 
               margin: 0 2px;
            }
            
            @media (max-width: 767px) {
                .notify-popup--wrapper.bg-promo-7 {
                    min-height: 75vh;
                }
               
                
            }
            @media (max-width: 480px) {
                .notify-popup--wrapper.bg-promo-7 {
                    min-height: 76vh;
                    background-position: center; 
                }
               
            }
          .notify-popup--wrapper.bg-promo-7
            .notify-content
              h3 VUI HÈ THÁNG 7 
              p Giảm ngay 10% (tối đa 100.000đ/chuyến) khi nhập mã
              p Bằng mã code 
                span MI7
                |  từ Mioto 
              p.sm-text * Áp dụng đến hết ngày 31/07/2018 
           
          

