block Modal
        

div(role="dialog")
  .modal-backdrop.fade.in
  .fade.modal.in(role="dialog", tabindex="-1", style="display:block")
    .modal-sm.modal-dialog.notify-container-fluid 
      .modal-content(role="document")
        .modal-header
          button.close(type="button")
            span(aria-hidden="true") x
            span.sr-only
        .modal-body
          style.
            .notify-container-fluid .notify-popup--wrapper {
              display: flex;
              flex-direction: column;
              width: 100%;
              border-radius: 3px;
            }
            .notify-popup--wrapper.bg-promo-11{
              background-image: url(https://i.imgur.com/qAp8EyG.jpg);

            }
            .notify-popup--wrapper.bg-promo-11 .notify-head {
              padding: 3rem 8rem 0;
            }
            
            .notify-popup--wrapper.bg-promo-11 .notify-head .fix-img {
              padding-bottom: 110%;
              box-shadow: none;
              border-radius: 3px;
            }
        
            .notify-popup--wrapper.bg-promo-11 .notify-body {
                padding: 30px 1.5rem 3rem;
                width: 100%;
            }
            .notify-popup--wrapper.bg-promo-11 .notify-content {
                margin-bottom: 0;
                text-align: center;
                color: #ffeda5;
            }
            .notify-popup--wrapper.bg-promo-11 .notify-content p {
                margin-bottom: .5rem;
                font-size: 1rem;
            }
      
            
            .notify-popup--wrapper.bg-promo-11 .notify-content p > span.code-promo {
              padding: .1rem .75rem; 
              background: #ffeda5; 
              color: #000F22; 
              font-weight: bold; 
              font-size: 1.25rem;
            } 

            @media (max-width: 576px) {
               .notify-popup--wrapper.bg-promo-11 .notify-head {
                  padding: 25px 3rem 0;
                }
               .notify-popup--wrapper.bg-promo-11 .notify-body {
                  padding: 25px 1rem;
              
                }
                .notify-popup--wrapper.bg-promo-11 .notify-content p {
                    margin-bottom: .5rem;
                    font-size: .875rem;
                }
                .notify-popup--wrapper.bg-promo-11 .notify-content p > span.code-promo {
                  font-size: 1rem;
                }
            }
          .notify-popup--wrapper.bg-promo-11
            .notify-head
              .fix-img 
                  img(src="https://i.imgur.com/fYBWo4A.png")
            .notify-body
              .notify-content
                p
                  | Giảm ngay 15% (tối đa 150.000đ/chuyến) khi đặt xe với mã
                p(style="margin-bottom: 1rem")
                  span.code-promo MI15
                p.sm-text *Áp dụng đến hết ngày 31/11/2018


          
          