block Modal

div(role="dialog")
	.modal-backdrop.fade.in
	.fade.modal.in(role="dialog", tabindex="-1", style="display:block")
		.modal-sm.modal-dialog.notify-container-fluid 
			.modal-content(role="document")
				.modal-header
					button.close(type="button")
						span(aria-hidden="true") x
						span.sr-only
				.modal-body
					style.
						.notify-container-fluid .notify-popup--wrapper {
							display: flex;
							flex-direction: column;
							width: 100%;
							border-radius: 0px;
						}
						.notify-popup--wrapper.bg-promo-12{ 
							
							background: url(https://i.imgur.com/hZYHJJH.jpg) no-repeat;
							height: auto;
							background-size: contain;
						}
						.notify-popup--wrapper.bg-promo-12 .notify-head {
							padding: 0;
						}
						
						.notify-popup--wrapper.bg-promo-12 .notify-head .fix-img {
							padding-bottom: 130%;
							box-shadow: none;
							border-radius: 0;
						}
						.notify-popup--wrapper.bg-promo-12 .notify-head .fix-img img {
							border-radius: 0
						}
				
						.notify-popup--wrapper.bg-promo-12 .notify-body {
								padding: 20px 1.5rem 1.5rem;
								width: 100%;
								background: #252026;
						}
						.notify-popup--wrapper.bg-promo-12 .notify-content {
								margin-bottom: 0;
								color: #FFF;
						}
						.notify-popup--wrapper.bg-promo-12 .notify-content h4 {
								margin-bottom: 1rem;
								font-size: 1.35rem;
								font-weight: bold;
						}
						.notify-popup--wrapper.bg-promo-12 .notify-content p {
								margin-bottom: .5rem;
								font-size: 1rem;
						}
				 
						.notify-popup--wrapper.bg-promo-12 .notify-content .bar-line {
								width: 100px; 
								height: 2px; 
								background: #f6d17c; 
								margin: 0 auto 1.25rem;
						}
						
						.notify-popup--wrapper.bg-promo-12 .notify-content span.code-promo {
							padding: 0.1rem .5rem; 
							background: #f6d17c; 
							color: #252026; 
							font-weight: bold; 
							font-size: 1.25rem;
						} 

						@media (max-width: 576px) {
							 .notify-popup--wrapper.bg-promo-12 .notify-body {
									padding: 25px 1rem;
							
								}
								.notify-popup--wrapper.bg-promo-12 .notify-content h4 {
										margin-bottom: .75rem;
										font-size: 1rem;
										line-height: 1.7
								}
								.notify-popup--wrapper.bg-promo-12 .notify-content p {
										margin-bottom: .5rem;
										font-size: .875rem;
								}
								.notify-popup--wrapper.bg-promo-12 .notify-content span.code-promo {
									font-size: 1rem;
									padding: 0.05rem .5rem;
								}
						}
					.notify-popup--wrapper.bg-promo-12
						.notify-head
							.fix-img 
						.notify-body(style="background-image: linear-gradient(to bottom, #010101, #040404);")
							.notify-content
								<p style="font-size: 1rem;  color: #FFeda5; font-weight: 600">CHÚC MỪNG NĂM MỚI 2019</p>
								<p>Dịp đầu năm mới 2019, tập thể Mioto xin gửi đến toàn bộ Quý khách hàng và Quý đối tác những điều tốt đẹp nhất, chúc Quý khách hàng và Quý đối tác nhiều sức khỏe, an lành và hạnh phúc.</p>
								<p>Xin chân thành cám ơn Quý khách hàng và Quý đối tác đã tin tưởng sử dụng dịch vụ của Mioto trong suốt thời gian qua, cũng như tất cả các phản hồi và ý kiến đóng góp để giúp Mioto ngày một hoàn thiện hơn.</p>
								<p>Trân trọng,</p>
								<p style="margin-bottom: 0">MIOTO TEAM</p>
