block Modal

div(role="dialog")
  .modal-backdrop.fade.in
  .fade.modal.in(role="dialog", tabindex="-1", style="display:block")
    .modal-sm.modal-dialog.notify-container-fluid 
      .modal-content(role="document")
        .modal-header
          button.close(type="button")
            span(aria-hidden="true") x
            span.sr-only
        .modal-body
          style.
            .notify-popup--wrapper.bg-promo-9 {
              position: relative; 
              min-height: 560px;
            }
            .notify-popup--wrapper.bg-promo-9 .container {
              position: relative; 
              width: 100%; 
              z-index: 0
            }
            .notify-popup--wrapper.bg-promo-9 .container .obj-car { 
              position: absolute;
              bottom: -25px;
              right: -15px;
              z-index: 3;
              width: 40%;
            }
            .notify-popup--wrapper.bg-promo-9 .container .obj-car img {
              max-width: 100%; 
              height: auto
            }
            .notify-popup--wrapper.bg-promo-9 .fix-img {
              overflow: hidden; 
              height: auto; 
              padding-bottom: 105%; 
            }
            .notify-popup--wrapper.bg-promo-9 .notify-wrap {
              position: absolute; 
              width: 100%;
              margin: 0 auto;
              padding: 20px 15px 0; 
              z-index: 10; 
              bottom: 90px; 
            }
            .notify-popup--wrapper.bg-promo-9 .notify-wrap .notify-content {
              color: #fff; 
              font-size: .875em;
              text-align: center;
            }
            .notify-popup--wrapper.bg-promo-9 .notify-content .line {
              margin-top: .5rem; 
              margin-bottom: .5rem; 
              justify-content: center;
            }
            .notify-popup--wrapper.bg-promo-9 .notify-content .line .bar-line {
              width: 10vw; 
              height: 2px; 
              background: #cdba7f;
            }
            .notify-popup--wrapper.bg-promo-9 .entry-title {
              justify-content: center;
            }
            .notify-popup--wrapper.bg-promo-9 .entry-title h3 {
              text-align: right; 
              font-size: 1.25rem; 
             
            }
            .notify-popup--wrapper.bg-promo-9 .entry-title h3.main {
              font-weight: bold; 
            }
            .notify-popup--wrapper.bg-promo-9 .entry-title > div:last-child {
              text-align: left; 
              padding-left: .5rem; 
              height: 52px;
            }
             .notify-popup--wrapper.bg-promo-9 .entry-title p.eight {
              font-size: 4.5rem;
              line-height: 46px;
              color: #fff;
              margin-bottom: 0;
              font-family: cambria;
             }
            .notify-popup--wrapper.bg-promo-9 .notify-content p {
              font-size: .875rem ;
              margin-bottom: .5rem; 
            }
            .notify-popup--wrapper.bg-promo-9 .notify-content p.sm-text {
              font-size: .75rem; 
            }
            @media (max-width: 767px) {
              .notify-popup--wrapper.bg-promo-9 {
                min-height: 450px;
              }
              
              .notify-popup--wrapper.bg-promo-9 .notify-wrap {
                bottom: 60px; 
               
              }
                
            }
            @media (max-width: 480px) {
              .notify-popup--wrapper.bg-promo-9 {
                min-height: 320px;
              }
              .notify-popup--wrapper.bg-promo-9 .notify-wrap {
                bottom: 0; 
                padding: 0 15px 0;
              }
              .notify-popup--wrapper.bg-promo-9 .notify-content .line .bar-line {
                width: 20vw;
              }
              .notify-popup--wrapper.bg-promo-9 .entry-title h3 {
                text-align: right; 
                font-size: 1rem; 
              }
              .notify-popup--wrapper.bg-promo-9 .container .obj-car {
                position: absolute;
                bottom: -30px;
                right: -5px;
                z-index: 3;
                width: 35%;
              }
              .notify-popup--wrapper.bg-promo-9 .entry-title > div:last-child { 
                height: 42px; 
              }
              .notify-popup--wrapper.bg-promo-9 .entry-title p.eight {
                font-size: 3.35rem;
                line-height: 40px;

              }
              .notify-popup--wrapper.bg-promo-9 .notify-content p {
                font-size: .75rem ; 
              }
            }
          .notify-popup--wrapper.bg-promo-9
            .container  
              .obj-car 
                img(src="https://i.imgur.com/VCVCk34.png")
              .fix-img 
                img(src="https://i.imgur.com/wI4b0uS.jpg")
              .notify-wrap.d-flex 
                .notify-content
                  div.entry-title.d-flex 
                    div 
                      h3.main VUI RẰM THÁNG 
                      h3 Cùng mã khuyến mãi 
                        strong MI 
                    div 
                      p.eight 8
                  div.line.d-flex
                    .bar-line         
                  p Giảm ngay 15% (tối đa 150.000đ/chuyến) khi đặt xe tại Mioto
                  p.sm-text * Áp dụng đến hết ngày 30/09/2018 
           
          

