block Modal

div(role="dialog")
  .modal-backdrop.fade.in
  .fade.modal.in(role="dialog", tabindex="-1", style="display:block")
    .modal-sm.modal-dialog.notify-container-fluid 
      .modal-content(role="document")
        .modal-header
          button.close(type="button")
            span(aria-hidden="true") x
            span.sr-only
        .modal-body
          style.
            .notify-container-fluid .notify-popup--wrapper {
              display: flex;
              flex-direction: column;
              width: 100%;
              border-radius: 0px;
            }
            .notify-popup--wrapper.bg-promo-12{
              
            }
            .notify-popup--wrapper.bg-promo-12 .notify-head {
              padding: 0;
            }
            
            .notify-popup--wrapper.bg-promo-12 .notify-head .fix-img {
              padding-bottom: 60%;
              box-shadow: none;
              border-radius: 0;
            }
            .notify-popup--wrapper.bg-promo-12 .notify-head .fix-img img {
              border-radius: 0
            }
        
            .notify-popup--wrapper.bg-promo-12 .notify-body {
                padding: 20px 1.5rem 1.5rem;
                width: 100%;
                background: #252026;
            }
            .notify-popup--wrapper.bg-promo-12 .notify-content {
                margin-bottom: 0;
                text-align: center;
                color: #FFF;
            }
            .notify-popup--wrapper.bg-promo-12 .notify-content h4 {
                margin-bottom: 1rem;
                font-size: 1.35rem;
                font-weight: bold;
            }
            .notify-popup--wrapper.bg-promo-12 .notify-content p {
                margin-bottom: .5rem;
                font-size: 1rem;
            }
         
            .notify-popup--wrapper.bg-promo-12 .notify-content .bar-line {
                width: 100px; 
                height: 2px; 
                background: #f6d17c; 
                margin: 0 auto 1.25rem;
            }
            
            .notify-popup--wrapper.bg-promo-12 .notify-content span.code-promo {
              padding: 0.1rem .5rem; 
              background: #f6d17c; 
              color: #252026; 
              font-weight: bold; 
              font-size: 1.25rem;
            } 

            @media (max-width: 576px) {
              .notify-popup--wrapper.bg-promo-12 .notify-head .fix-img {
                  padding-bottom: 85%;
                }
               .notify-popup--wrapper.bg-promo-12 .notify-body {
                  padding: 25px 1rem;
              
                }
                .notify-popup--wrapper.bg-promo-12 .notify-content h4 {
                    margin-bottom: .75rem;
                    font-size: 1rem;
                    line-height: 1.7
                }
                .notify-popup--wrapper.bg-promo-12 .notify-content p {
                    margin-bottom: .5rem;
                    font-size: .875rem;
                }
                .notify-popup--wrapper.bg-promo-12 .notify-content span.code-promo {
                  font-size: 1rem;
                  padding: 0.05rem .5rem;
                }
            }
          .notify-popup--wrapper.bg-promo-12
            .notify-head
              .fix-img 
                img(src="https://i.imgur.com/90ZvURD.jpg")
            .notify-body
              .notify-content
                h4 RINH ƯU ĐÃI ĐÓN GIÁNG SINH 
                  <br/> CÙNG MÃ KHUYẾN MÃI 
                  span.code-promo GIANGSINH
                .bar-line
                p
                  | Giảm ngay 10% (tối đa 100.000đ/chuyến) khi đặt xe tại Mioto
                p.sm-text *Áp dụng đến hết ngày 31/12/2018


          
          