block Modal

div(role="dialog")
	.modal-backdrop.fade.in
	.fade.modal.in(role="dialog", tabindex="-1", style="display:block")
		.modal-sm.modal-dialog.notify-container-fluid
			.modal-content(role="document")
				.modal-header
					button.close(type="button")
						span(aria-hidden="true") x
						span.sr-only
				.modal-body
					style.
						.notify-container-fluid .notify-popup--wrapper {
							display: flex;
							flex-direction: column;
							width: 100%;
							border-radius: 0px;
						}
						.notify-popup--wrapper.noti-wallet .notify-head {
							padding: 0 15px;
							text-align: center
						}
						.notify-popup--wrapper.noti-wallet .notify-head h5 {
							font-size: 1.25rem;
							font-weight: 600;
							color: #00a550;
						}
						.notify-popup--wrapper.noti-wallet .notify-head p {
							font-style: italic;
							font-size: 1rem;
						}
						.notify-popup--wrapper.noti-wallet .img-contain {
							text-align: center;
							padding: 20px 0;
						}

						.notify-popup--wrapper.noti-wallet .notify-body {
							padding: 20px 2rem 1.5rem;
							width: 100%;
						}
						.notify-popup--wrapper.noti-wallet .notify-content {
							margin-bottom: 0;

						}

						.notify-popup--wrapper.noti-wallet .notify-content p {
							margin-bottom: .5rem;
							font-size: 1rem;
						}
						.notify-popup--wrapper.noti-wallet .notify-content p.font-12 {
							font-size: .875rem;
						}
						.notify-popup--wrapper.noti-wallet .notify-content p:last-child {
							margin-bottom: 0
						}
						.notify-popup--wrapper.noti-wallet .notify-content ul {
							font-size: 1rem;
							color: #00a550;
							 margin-bottom: .5rem;
						}
						.notify-popup--wrapper.noti-wallet i.ic {
							margin-left: 5px
						}

						@media (max-width: 1199px) {
							.notify-popup--wrapper.noti-wallet img.img-fluid {
									width: 50%;
								}
						}

						@media (max-width: 576px) {
							.notify-popup--wrapper.noti-wallet img.img-fluid {
									width: 70%;
								}
							.notify-popup--wrapper.noti-wallet .notify-head p {
								font-size: .875rem;
							}
							.notify-popup--wrapper.noti-wallet .notify-body {
							padding: 15px 1rem;
							}
							.notify-popup--wrapper.noti-wallet .notify-content h4 {
							margin-bottom: .75rem;
							font-size: 1rem;
							line-height: 1.7
							}
							.notify-popup--wrapper.noti-wallet .notify-content p {
							margin-bottom: .5rem;
							font-size: .875rem;
							}
							.notify-popup--wrapper.noti-wallet .notify-content p.font-12 {
							font-size: 13px;
						}
							.notify-popup--wrapper.noti-wallet .notify-content span.code-promo {
							font-size: 1rem;
							padding: 0.05rem .5rem;
							}
						}
					.notify-popup--wrapper.noti-wallet
						.notify-head
							.img-contain
								img(src="https://n1-cstg.mioto.vn/m/campaign/payment_2.png" class="img-fluid")
							h5 THÔNG BÁO TÍNH NĂNG MỚI - VÍ ĐIỆN TỬ
							p.text-primary Dễ dàng theo dõi lịch sử giao dịch và gửi yêu cầu rút tiền cùng tính năng Ví điện tử của Mioto
						.notify-body
							.notify-content
								p
									| Kính gửi
									span.fontWeight-5   Quý đối tác,
								p Nhằm hỗ trợ tốt hơn Quý đối tác trong việc theo dõi doanh số cũng như danh sách các chuyến đi đã hoàn thành, Mioto xin thông báo đến Quý đối tác về việc triển khai tính năng "Ví điện tử" trên ứng dụng Mioto bắt đầu từ ngày 01/02/2019.
								p.text-primary(style="margin-bottom: 0") Các tính năng nổi bật:
								ul
									li - Theo dõi danh sách các chuyến đi hoàn thành
									li - Theo dõi lịch sử giao dịch (hủy chuyến, rút tiền, nạp tiền)
									li - Kiểm tra số dư
									li - Gửi yêu cầu rút tiền
								p
									| Quý đối tác có thể sử dụng tính năng ví điện tử trên cả 2 nền tảng: website Mioto.vn hoặc ứng dụng Mioto (IOS và Android). Trên website, sau khi đăng nhập, click vào Ảnh đại diện chọn mục
									span.fontWeight-5   Xe của tôi
									|     và chọn tính năng
									span.fontWeight-5
										i.ic.ic-owner-wallet
										|   Số dư: 'Số_dư_hiện_tại'
								p.font-12
									u Ghi chú:
									|    Lịch nghỉ tết của Mioto bắt đầu từ ngày 02/02/2019-10/02/2019, vì vậy tất cả yêu cầu rút tiền của Quý đối tác trong thời gian này sẽ được thực hiện sau ngày 10/02/2019. Rất mong nhận được sự hợp tác của Quý đối tác.
								p Trong thời gian nghỉ tết, mọi vấn đề cần hỗ trợ, Quý đối tác vui lòng liên hệ bộ phận CSKH qua Mioto Fanpage.
								p MIOTO TEAM

