block Modal

div(role="dialog")
	.modal-backdrop.fade.in
	.fade.modal.in(role="dialog", tabindex="-1", style="display:block")
		.modal-sm.modal-dialog.notify-container-fluid 
			.modal-content(role="document")
				.modal-header
					button.close(type="button")
						span(aria-hidden="true") x
						span.sr-only
				.modal-body
					style.
						.text-sub {
							color: #57a8ff
						}
						.table-reject-trip {
						width: 100%;
						margin-bottom: 1rem;
						}
						.table-reject-trip h6 {
							font-size: 1rem;
							margin-bottom: .5rem;
						}
						.table-reject-trip .main-row, .table-reject-trip .row-reject {
						width: 100%;
						border-left: 1px solid #f3f4f6;
						}
						.table-reject-trip .main-row {
						border-top: 1px solid #eee;
						}
						.notify-popup--wrapper.noti-wallet .table-reject-trip .main-row p {
						font-weight: 700;
						font-size: 12px;
						}
						.notify-popup--wrapper.noti-wallet .table-reject-trip .row-reject p {
						font-size: 12px;
						}
						.table-reject-trip .w-60 {
						width: 35%;
						padding: 10px 5px;
						border-bottom: 1px solid #eee;
						border-right: 1px solid #f3f4f6;
						height: 40px;
						}
						.table-reject-trip .w-40 {
						width: 32.5%;
						padding: 10px 5px;
						border-bottom: 1px solid #eee;
						border-right: 1px solid #f3f4f6;
						height: 40px;
						}
						.table-reject-trip p {
						margin-bottom: 0;
						}
						.notify-container-fluid .notify-popup--wrapper {
							display: flex;
							flex-direction: column;
							width: 100%;
							border-radius: 0px;
						}
						.notify-popup--wrapper.noti-wallet .notify-head {
							text-align: center;
							padding: 20px; 
							background: lemonchiffon;
						}
						.notify-popup--wrapper.noti-wallet .notify-head h5 {
							font-size: 1.25rem;
							font-weight: 600;
						}
						.notify-popup--wrapper.noti-wallet .notify-head p {
							font-size: 1rem;
						}
						.table-reject-trip span.text-sm, .notify-popup--wrapper.noti-wallet .notify-content p.text-sm {
							font-size: 12px;
						}
						.notify-popup--wrapper.noti-wallet .img-contain {
							text-align: center;
							padding: 10px 0;
						}
						.notify-popup--wrapper.noti-wallet img.img-fluid {
								width: 40%;
							}
	
						.notify-popup--wrapper.noti-wallet .notify-body {
							padding: 20px 1.5rem 1.5rem;
							width: 100%;
						}
						.notify-popup--wrapper.noti-wallet .notify-content {
							margin-bottom: 0;
						}
						.notify-popup--wrapper.noti-wallet .notify-content ul {
							padding-left: 1rem;
						}
						.notify-popup--wrapper.noti-wallet .notify-content ul li {
							list-style: circle
						}
						.notify-popup--wrapper.noti-wallet .notify-content p {
							margin-bottom: .5rem;
							font-size: .925rem;
						}
						.notify-popup--wrapper.noti-wallet .notify-content p:last-child {
							margin-bottom: 0
						}
						@media (max-width: 1199px) {
							.notify-popup--wrapper.noti-wallet img.img-fluid {
									width: 50%;
								}
						}

						@media (max-width: 576px) {
							.table-reject-trip .w-40, .table-reject-trip .w-60 {
							height: 60px;
							}
							.notify-popup--wrapper.noti-wallet img.img-fluid {
									width: 60%;
								}
							.notify-popup--wrapper.noti-wallet .notify-head p {
								font-size: .875rem;
							}
							.notify-popup--wrapper.noti-wallet .notify-body {
							padding: 15px 1rem;
							}
							.notify-popup--wrapper.noti-wallet .notify-content p {
							margin-bottom: .5rem;
							font-size: .875rem;
							}
						}
					.notify-popup--wrapper.noti-wallet
						.notify-head
							.img-contain
								img(src="https://n1-cstg.mioto.vn/m/campaign/Annoucement-2.png" class="img-fluid")
							h5 THÔNG BÁO 
							p.text-primary Chuyến đi sắp tới - còn 8 ngày 
						.notify-body
							.notify-content
								p
									| Chào khách hàng
									span.fontWeight-5  Trần Văn A
								p 
									| Chuyến đi mã số
									span.fontWeight-5   1234
									|   sẽ bắt đầu trong 
									span.fontWeight-5.text-danger   8 ngày 
									|   nữa, Quý khách còn 
									span.fontWeight-5.text-danger   1 ngày
									|   để thay đổi kế hoạch cho thuê, sau hôm nay tất cả các trường hợp hủy chuyến sẽ áp dụng việc tính phí. Nếu hủy chuyến, Quý khách vui lòng xác nhận với chủ xe và thực hiện hủy chuyến trên hệ thống.
								<div class="table-reject-trip">
									<h6 style="text-align: center"><span class="fontWeight-5">CHÍNH SÁCH HỦY CHUYẾN</span> <br/> <span class="text-sm">(áp dụng cho chủ xe và khách thuê)</span></h6>
									<div class="main-row d-flex"> 
										<div class="w-60"> 
											<p class="text-center">Thời điểm hủy chuyến</p>
										</div>
										<div class="w-40"> 
											<p class="text-center">Phí  hủy chuyến</p>
										</div>
										<div class="w-40"> 
											<p class="text-center">Đánh giá hệ thống</p>
										</div>
									</div>
									<div class="row-reject d-flex">
										<div class="w-60">
											<p class="text-center"> &lt= 7 ngày trước khởi hành</p>
										</div>
										<div class="w-40">
											<p class="text-center">100% Tiền cọc</p>
										</div>
											<div class="w-40"> 
												<p class="text-center">2* (hoặc 1* nếu <6 tiếng)</p>
											</div>
									</div>
									<div class="row-reject d-flex">
										<div class="w-60">
											<p class="text-center">> 7 ngày trước khởi hành</p>
										</div>
										<div class="w-40">
											<p class="text-center">0% Tiền cọc</p>
										</div>
											<div class="w-40"> 
												<p class="text-center">3*</p>
											</div>
									</div>
								</div>
								p.text-sm.text-danger *** Thời điểm hủy chuyến sẽ tăng từ 7 lên 15 ngày nếu thời gian đi rơi vào dịp Tết âm lịch (01-14/02/2019 dương lịch)
								p.text-sm.text-sub *** Hủy chuyến trong vòng 
									span.fontWeight-5  1 giờ 
									|   kể từ thời điểm đặt cọc thành công sẽ
									span.fontWeight-5   không áp dụng 
									|   việc tính Phí hủy chuyến
								p Để được hỗ trợ, vui lòng liên hệ bộ phận CSKH Mioto tại
									span.fontWeight-5   Hotline 19009217 (T2-T7, 9AM-6PM)
									|   hoặc gửi lời nhắn tại
									a(href="https://facebook.com/mioto.vn" target="_blank" class="fontWeight-5")   Mioto Fanpage
									|   nếu ngoài giờ làm việc.