block Modal

div(role="dialog").hidden 
  .modal-backdrop.fade.in
  .fade.modal.in(role="dialog", tabindex="-1", style="display:block")
    .modal-sm.modal-dialog.notify-container-fluid 
      .modal-content(role="document")
        .modal-header
          button.close.close--gray(type="button")
            span(aria-hidden="true") x
            span.sr-only
        .modal-body
          style.
            .notify-popup--wrapper {
                display: flex;
                flex-direction: column;
                width: 100%
            }
            .notify-popup--wrapper.bg-popup {
                background-image: url(https://upanhtocdo.com/images/2018/07/09/privatecodenn.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                min-height: 580px;
                justify-content: flex-end;
                background-position: center 20%;
                border-radius: 3px;
            }
            
            .notify-popup--wrapper.bg-popup h3 {
                font-size: 1.65rem;
                color: #1b054c;
                margin-bottom: .5rem;
            }
            
            .notify-popup--wrapper.bg-popup .notify-content {
                text-align: center;
                font-size: .875em;
                margin-bottom: 1.5rem;
            }
            
            .notify-popup--wrapper.bg-popup .notify-content p {
                margin-bottom: .5rem;
                color: #141414;
                width: 100%;
            }
            
            .notify-popup--wrapper.bg-popup .notify-content p.sm-text {
                font-size: 12px;
                padding-top: 5px;
            }
            
            .notify-popup--wrapper.bg-popup .notify-content p:last-child {
                margin-bottom: 0px;
            }
            
            .notify-popup--wrapper.bg-popup .notify-content span {
                display: inline;
                padding: 1px 6px;
                background: #fff;
                color: #00a550;
                margin: 0 2px;
                font-weight: bold;
                font-size: 1.125rem;
            }
            
            @media (max-width: 767px) {
                .notify-popup--wrapper.bg-popup {
                    min-height: 550px;
                }
                .notify-popup--wrapper.bg-popup .notify-content {
                    padding: 0 15px;
                }
                .notify-popup--wrapper.bg-popup .notify-content span {
                    font-size: 1rem;
                }
            }
            @media (max-width: 480px) {
                .notify-popup--wrapper.bg-popup {
                    min-height: 500px;
                }
            }
          .notify-popup--wrapper.bg-popup
            .notify-content
              h3 Title 
              p
                strong Ưu đãi 10% (giảm tối đa 100.000đ)
              p Giảm ngay 10% (tối đa 100.000đ) cho tất cả chuyến đi khi nhập mã
              span MI7
              p.sm-text * Áp dụng đến hết ngày 31/07/2018 
              p Mioto Team 
          