block Modal

div(role="dialog")
	.modal-backdrop.fade.in
	.fade.modal.in(role="dialog", tabindex="-1", style="display:block")
		.modal-sm.modal-dialog.notify-container-fluid 
			.modal-content(role="document")
				.modal-header
					button.close(type="button")
						span(aria-hidden="true") x
						span.sr-only
				.modal-body
					style.
						.notify-container-fluid .notify-popup--wrapper {
							display: flex;
							flex-direction: column;
							width: 100%;
							border-radius: 0px;
						}
						.notify-popup--wrapper.noti-wallet .notify-head {
							padding: 0;
							text-align: center
						}
						.notify-popup--wrapper.noti-wallet .notify-head h5 {
							font-size: 1.25rem;
							font-weight: 600;
						}
						.notify-popup--wrapper.noti-wallet .notify-head p {
							font-style: italic; 
							font-size: 1rem;
						}
						.notify-popup--wrapper.noti-wallet .img-contain {
							text-align: center;
							padding: 20px 0;
						}
	
						.notify-popup--wrapper.noti-wallet .notify-body {
							padding: 20px 1.5rem 1.5rem;
							width: 100%;
						}
						.notify-popup--wrapper.noti-wallet .notify-content {
							margin-bottom: 0;
							padding: 1rem; 
							border: 1px solid #ccc;
						}
						
						.notify-popup--wrapper.noti-wallet .notify-content p {
							margin-bottom: .5rem;
							font-size: 1rem;
						}
						.notify-popup--wrapper.noti-wallet .notify-content p:last-child {
							margin-bottom: 0
						}
						@media (max-width: 1199px) {
							.notify-popup--wrapper.noti-wallet img.img-fluid {
									width: 50%;
								}
						}

						@media (max-width: 576px) {
							.notify-popup--wrapper.noti-wallet img.img-fluid {
									width: 70%;
								}
							.notify-popup--wrapper.noti-wallet .notify-body {
							padding: 15px 1rem;
							}
							.notify-popup--wrapper.noti-wallet .notify-head p {
								font-size: .875rem;
							}
							.notify-popup--wrapper.noti-wallet .notify-content h4 {
							margin-bottom: .75rem;
							font-size: 1rem;
							line-height: 1.7
							}
							.notify-popup--wrapper.noti-wallet .notify-content p {
							margin-bottom: .5rem;
							font-size: .875rem;
							}
							.notify-popup--wrapper.noti-wallet .notify-content span.code-promo {
							font-size: 1rem;
							padding: 0.05rem .5rem;
							}
						}
					.notify-popup--wrapper.noti-wallet
						.notify-head
							.img-contain
								img(src="https://n1-cstg.mioto.vn/m/campaign/substract.png" class="img-fluid")
							h5 THÔNG BÁO THAY ĐỔI SỐ DƯ 
							p.text-danger Trừ tiền: Trừ phí hủy chuyến - chủ xe hủy chuyến
						.notify-body
							.notify-content
								p
									| TK chủ xe 
									span.fontWeight-5  Nguyen Van A
									|  tại Mioto 
									span.fontWeight-5.text-danger  -250,000VND
									|  vào 10:20 27/12/2018. Số dư khả dụng 
									span.fontWeight-5.text-primary  839,000VND
								p
									u Nội dung: 
									|   Trừ phí hủy chuyến, chủ xe chuyến đi số
									span.fontWeight-5  10001,
									|  xe
									span.fontWeight-5  Mazda 3 2018,
									|  mã xe 
									span.fontWeight-5  KZHGS,
									|  thời gian thuê
									span.fontWeight-5  21:00 14/12/2018 - 20:00 15/12/2018,
									|  thời gian hủy chuyến
									span.fontWeight-5  15:32 15/12/2018,
									|  tiền cọc 
									span.fontWeight-5  250,000,
									|  lý do
									span.fontWeight-5  Xe về không kịp 