block Info Car 

.module-settings
	.info-car.status-trips
		.swiper-button-next
			i.i-arr 
		.swiper-button-prev
			i.i-arr
		.info-img 
			.fix-img
				img(src="https://n1-pstg.mioto.vn/thue_xe_tu_lai/chervolet_cruze_2016/p/g/2017/11/27/13/2370.jpg" alt=page)
			p.status
				span.status.green-dot
				|Chờ duyệt 
			.switch-on-off.show-on-small
				input#cb1.switch-input(type = "checkbox")
				label.switch-label(for = "cb1")
			.info-desc.show-on-small 
				.group-name
					span.lstitle DÒNG XE
					h1.title-car CHERVOLET CRUZE 2016
					span.star
						i.full
						i.full
						i.half
						i
						i
		.info-desc.hide-on-small
			.group-name
				span.lstitle DÒNG XE
				h1.title-car CHERVOLET CRUZE 2016
				span.star
					i.full
					i.full
					i.half
					i
					i
			.space.m
			.switch-on-off
				input#cb2.switch-input(type = "checkbox")
				label.switch-label(for = "cb2")
	.clear