block SideBar Setting

//- .sidebar-settings.show-on-med-and-down
//- 	ul
//- 		li
//- 			a(href="setting_details.html")
//- 				i.ic.ic-infomation 
//- 		li
//- 			a(href="setting_pricing.html") 
//- 				i.ic.ic-photo
//- 		li
//- 			a(href="setting_locations.html") 
//- 				i.ic.ic-license
//- 		li
//- 			a(href="setting_photos.html") 
//- 				i.ic.ic-setting-rent
//- 		li
//- 			a(href="setting_details.html") 
//- 				i.ic.ic-setting-price 
//- 		li
//- 			a.active(href="setting_calendar.html") 
//- 				i.ic.ic-setting-calendar
//- 		li
//- 			a(href="setting_vehicle.html") 
//- 				i.ic.ic-management
