block Footer

- var modulePayment = []
- modulePayment.push({'class':'', 'img':'images/vtc.png'})
- modulePayment.push({'class':'', 'img':'images/payoo-logo.png'})
- modulePayment.push({'class':'', 'img':'images/mastercard-logo.png'})
- modulePayment.push({'class':'', 'img':'images/visa.png'})



.footer-container
	.t-footer
		.col-1
			a.logo-footer(href="#!") #{page}
		.col-2
			.f-part
				h5 Get started
				ul
					li
						a(href="#!") Get the iPhone app
					li
						a(href="#!") Get the Android app
					li
						a(href="#!") Rent a car
					li
						a(href="#!") Make money with your car
			.f-part
				h5 Learn more
				ul
					li
						a(href="#!") How Turo works
					li
						a(href="#!") Policies
					li
						a(href="#!") Trust & safety
					li
						a(href="#!") Owner tools
					li
						a(href="#!") Traveler FAQs
			.clear
	.b-footer
		.col-1
			.block-newsletter
				h6 Subcribe for newsletter
				.input
					input(type="input" placeholder="Your Email")
					a.func-send(href="#!")
						i.i-arr
			.block-social
				a.func-social(href="#!")
					i.ic.ic-facebook
				a.func-social(href="#!")
					i.ic.ic-instagram
				a.func-social(href="#!")
					i.ic.ic-twitter
				a.func-social(href="#!")
					i.ic.ic-linkedin
				a.func-social(href="#!")
					i.ic.ic-google
				a.func-social(href="#!")
					i.ic.ic-youtube
				a.func-social(href="#!")
					i.ic.ic-pinterest
				
	
		.col-2
			h6 Top destinations
			ul.cities
				li
					a(href="#!") Ho Chi Minh City
				li
					a(href="#!") Can Tho
				li
					a(href="#!") Hoi An
				li
					a(href="#!") Nha Trang
				li
					a(href="#!") Hue
				li
					a(href="#!") Ha Noi
				li
					a(href="#!") Da Lat
				li
					a(href="#!") Ho Chi Minh City
				li
					a(href="#!") Can Tho
				li
					a(href="#!") Hoi An
				li
					a(href="#!") Nha Trang
				li
					a(href="#!") Hue
	.module-payment 
		.payment-wrapper
			.left
				h4.title CÁCH THỨC THANH TOÁN
				.logo-payment
					mixin payments(payment)
						.payment-wrap
							.fix-img 
								img(src=payment.img)
					for payment in modulePayment
						+payments(payment)
			.center 
				h4.title ĐỐI TÁC
				.insurance-wrapper
					.logo-insurance 
						.fix-img 
							img(src="images/pjico.png")
					.logo-liberty
						.fix-img 
							img(src="images/liberty-logo.png")
			.right
				h4.title CHỨNG NHẬN
					.certify-logo
						.fix-img
							img(src="images/bo-cong-thuong.png")
	.cpr
		.col-1
			span.site © 2017 MiOto
		.col-2
			ul.nav-footer
				li
					a(href="#!") Địa chỉ: 305/4 Lê Văn Sỹ, Phường 1, Quận Tân Bình, Thành phố Hồ Chí Minh.
				li
					a(href="#!") Mã số thuế: 0314714661
				li
					a(href="#!") Email: contact@mioto.vn
				li
					a(href="#!") Điện thoại: 1900 9217
				li
					a(href="#!") Tên TK: Công ty Cổ phần Mioto Việt Nam 
				li
					a(href="#!") Số TK: 31310000905628 
				li
					a(href="#!") Ngân hàng TMCP Đầu tư và Phát Triển VN - CN Nam Kỳ Khởi Nghĩa
			