block Header Container

.header-container
	.header-icon
		.js-toggle-right-slidebar.js-menu-mobile
			.trigger-menu
				span.three-bars-icon
		a.item-app.no-lg.show-on-med-and-down(href="#!")
			i.ic.ic-info-wh
	.logo-container
		//- .hat
		//- 	img(src="images/decorations/logo-spring-2.png" class="img-fluid")
		a(href="index.html") #{page}
	.info-container
		span <i class="ic ic-phone"></i> 1900 9217
		span <i class="ic ic-email"></i> contact@mioto.vn
		span <i class="ic ic-messenger"></i> Facebook
	.menu-container
		ul
			li.has-magr
				a(title="" href="#!") <i class="ic ic-info-wh"></i> Learn More
			li
				a(title="" href="#!") Sign In
			li
				a.btn.btn-transparent.btn--m(title="" href="#!") Sign Up
	.clear
//- 	.flower-spring
//- 		.snow.snowflake.five.scale-4
//- 			svg(version='1.1', enable-background='new 0 0 21.8 27.5', xml:space='preserve')
//- 				g
//- 					lineargradient#SVGID_1_(gradientUnits='userSpaceOnUse', x1='758.8544', y1='17.2313', x2='770.1974', y2='-3.4324', gradientTransform='matrix(-0.9998 1.940000e-02 1.940000e-02 0.9998 776.5239 -7.2881)')
//- 						stop(offset='0', style='stop-color:#FFFFFF')
//- 						stop(offset='1', style='stop-color:#CB2340')
//- 					path(fill='url(#SVGID_1_)', d='M4,4.5C5.9,3,8.7,3,10.9,4c0.5,0.2,1,0.5,1.6,0.6c1.1,0.1,2.2-0.7,2.9-1.5c0.4-0.4,0.8-0.9,1.3-1.2\
//- 					c0.5-0.3,1.2-0.4,1.6,0c0.5,0.4,0.6,1.1,0.5,1.7c-0.2,1.2-1,2.1-1.3,3.3c-0.3,1.2,0,2.5,0.5,3.7c0.5,1.2,1.2,2.2,1.8,3.4\
//- 					c0.8,1.7,1.3,3.6,1.1,5.4c-0.1,1.9-0.9,3.7-2.3,5c-0.6,0.5-1.3,1-2,1.3c-2.9,1.4-6.3,1.3-9.3,0.1c-0.6-0.2-1.1-0.5-1.6-0.8\
//- 					c-0.7-0.5-1.2-1.1-1.7-1.7C0.9,19,0,13.3,1.6,8.4C2.1,6.9,2.8,5.5,4,4.5z')
//- 					lineargradient#SVGID_2_(gradientUnits='userSpaceOnUse', x1='758.8544', y1='16.6837', x2='770.1974', y2='-3.9799', gradientTransform='matrix(-0.9998 1.940000e-02 1.940000e-02 0.9998 776.5239 -7.2881)')
//- 						stop(offset='0', style='stop-color:#FFFFFF')
//- 						stop(offset='0.1571', style='stop-color:#F9CBD3')
//- 						stop(offset='0.3716', style='stop-color:#FAD1D8')
//- 						stop(offset='0.4475', style='stop-color:#F8CBD3')
//- 						stop(offset='0.5465', style='stop-color:#F4BBC5')
//- 						stop(offset='0.6585', style='stop-color:#EDA0AD')
//- 						stop(offset='0.7799', style='stop-color:#E37A8C')
//- 						stop(offset='0.9075', style='stop-color:#D64A62')
//- 						stop(offset='1', style='stop-color:#CB2340')
//- 					path(fill='url(#SVGID_2_)', d='M4,4c1.9-1.5,4.6-1.5,6.9-0.6c0.5,0.2,1,0.5,1.6,0.6c1.1,0.1,2.2-0.7,2.9-1.5\
//- 					c0.4-0.4,0.8-0.9,1.3-1.2c0.5-0.3,1.2-0.4,1.6,0c0.5,0.4,0.6,1.1,0.5,1.7c-0.2,1.2-1,2.1-1.3,3.3c-0.3,1.2,0,2.5,0.5,3.7\
//- 					c0.5,1.2,1.2,2.2,1.8,3.4c0.8,1.7,1.3,3.6,1.1,5.4c-0.1,1.9-0.9,3.7-2.3,5c-0.6,0.5-1.3,1-2,1.3c-2.9,1.4-6.3,1.3-9.3,0.1\
//- 					c-0.6-0.2-1.1-0.5-1.6-0.8c-0.7-0.5-1.2-1.1-1.7-1.7C0.9,18.5,0,12.8,1.6,7.8C2.1,6.4,2.8,4.9,4,4z')
//- 					lineargradient#SVGID_3_(gradientUnits='userSpaceOnUse', x1='772.3735', y1='4.7799', x2='772.8071', y2='4.0797', gradientTransform='matrix(-0.9998 1.940000e-02 1.940000e-02 0.9998 776.5239 -7.2881)')
//- 						stop(offset='0', style='stop-color:#FFFFFF')
//- 						stop(offset='0.1571', style='stop-color:#F9CBD3')
//- 						stop(offset='0.3716', style='stop-color:#FAD1D8')
//- 						stop(offset='0.4475', style='stop-color:#F8CBD3')
//- 						stop(offset='0.5465', style='stop-color:#F4BBC5')
//- 						stop(offset='0.6585', style='stop-color:#EDA0AD')
//- 						stop(offset='0.7799', style='stop-color:#E37A8C')
//- 						stop(offset='0.9075', style='stop-color:#D64A62')
//- 						stop(offset='1', style='stop-color:#CB2340')
//- 					path(opacity='0.4', fill='url(#SVGID_3_)', d='M4.4,11.5c-0.1,0.5-0.3,0.9-0.3,1.4C4.1,12.4,4.2,11.9,4.4,11.5z')
//- 					lineargradient#SVGID_4_(gradientUnits='userSpaceOnUse', x1='761.2202', y1='7.4788', x2='767.8301', y2='-3.1988', gradientTransform='matrix(-0.9998 1.940000e-02 1.940000e-02 0.9998 776.5239 -7.2881)')
//- 						stop(offset='0', style='stop-color:#FFFFFF')
//- 						stop(offset='0.1571', style='stop-color:#F9CBD3')
//- 						stop(offset='0.3716', style='stop-color:#FAD1D8')
//- 						stop(offset='0.4475', style='stop-color:#F8CBD3')
//- 						stop(offset='0.5465', style='stop-color:#F4BBC5')
//- 						stop(offset='0.6585', style='stop-color:#EDA0AD')
//- 						stop(offset='0.7799', style='stop-color:#E37A8C')
//- 						stop(offset='0.9075', style='stop-color:#D64A62')
//- 						stop(offset='1', style='stop-color:#CB2340')
//- 					path(opacity='0.4', fill='url(#SVGID_4_)', d='M3.2,9.1C3.9,7.7,5,6.5,6.3,5.6c1.3-0.9,2.9-1.4,4.5-1.3c0.6,0,1.2,0.1,1.8,0.1\
//- 					c1.5-0.1,2.8-0.9,3.8-2c0.3-0.3,0.5-0.6,0.9-0.7c0.4-0.1,0.8,0.2,1,0.6c0.1,0.4,0.1,0.8-0.1,1.2c-0.2,0.3-0.4,0.6-0.7,0.8\
//- 					c-1.1,1.4-1.4,3.3-0.8,5c0.2,0.5,0.4,0.9,0.5,1.4c0.5,1.3,0.6,2.7,0.5,4c-0.2-1.1-0.5-2.2-0.8-3.2c0,0.3-0.1,0.6-0.1,0.9\
//- 					c0,0.1-0.1,0.2-0.1,0.2c-0.1,0-0.2-0.1-0.2-0.2c-0.2-0.4-0.3-0.7-0.5-1.1c-0.2,2.1-0.5,4.1-0.9,6.2c0.3-2.5,0.3-5.1-0.5-7.5\
//- 					c0,0.6-0.2,1.2-0.6,1.7c0-0.3,0-0.6,0.1-0.9c-0.1,0.6-0.6,1.1-0.8,1.7c-0.2,0.6-0.2,1.2-0.3,1.8c-0.1,0.5-0.3,1-0.4,1.5\
//- 					c-0.3,1.4,0.2,2.8-0.4,4.1c-0.1-1.6-0.2-3.2-0.4-4.8c-0.1-0.9-0.1-1.9,0-2.8c0.1-0.9,0.5-1.8,0.6-2.7c-0.4,0.6-0.8,1.2-1.2,1.8\
//- 					c0.3-0.5,0.4-1.1,0.4-1.7c-0.6,0.4-1.2,1-1.5,1.7c0.2-1.1,0.4-2.1,0.6-3.2c-1.3,1.1-2.2,2.5-2.9,4.1c-0.6,1.6-1,3.2-1.4,4.8\
//- 					c0-3.2,1.1-6.4,2.3-9.3C8.4,8.2,8.1,8.4,7.8,8.7c0.3-0.4,0.6-0.8,0.9-1.2C8,7.8,7.4,8.3,6.8,8.8c0.2-0.3,0.4-0.6,0.6-1\
//- 					C6.1,8.8,5,10,4.4,11.5c0.6-1.9,1.5-3.6,2.9-5.1C6.7,6.7,6.1,7.1,5.7,7.6c0.5-0.7,1-1.4,1.6-2C5.6,6.2,4.1,7.5,3.2,9.1z')
//- 		.snow.snowflake.four.scale-5
//- 			svg(version='1.1', enable-background='new 0 0 21.8 27.5', xml:space='preserve')
//- 				g
//- 					lineargradient#SVGID_1_(gradientUnits='userSpaceOnUse', x1='758.8544', y1='17.2313', x2='770.1974', y2='-3.4324', gradientTransform='matrix(-0.9998 1.940000e-02 1.940000e-02 0.9998 776.5239 -7.2881)')
//- 						stop(offset='0', style='stop-color:#FFFFFF')
//- 						stop(offset='1', style='stop-color:#CB2340')
//- 					path(fill='url(#SVGID_1_)', d='M4,4.5C5.9,3,8.7,3,10.9,4c0.5,0.2,1,0.5,1.6,0.6c1.1,0.1,2.2-0.7,2.9-1.5c0.4-0.4,0.8-0.9,1.3-1.2\
//- 					c0.5-0.3,1.2-0.4,1.6,0c0.5,0.4,0.6,1.1,0.5,1.7c-0.2,1.2-1,2.1-1.3,3.3c-0.3,1.2,0,2.5,0.5,3.7c0.5,1.2,1.2,2.2,1.8,3.4\
//- 					c0.8,1.7,1.3,3.6,1.1,5.4c-0.1,1.9-0.9,3.7-2.3,5c-0.6,0.5-1.3,1-2,1.3c-2.9,1.4-6.3,1.3-9.3,0.1c-0.6-0.2-1.1-0.5-1.6-0.8\
//- 					c-0.7-0.5-1.2-1.1-1.7-1.7C0.9,19,0,13.3,1.6,8.4C2.1,6.9,2.8,5.5,4,4.5z')
//- 					lineargradient#SVGID_2_(gradientUnits='userSpaceOnUse', x1='758.8544', y1='16.6837', x2='770.1974', y2='-3.9799', gradientTransform='matrix(-0.9998 1.940000e-02 1.940000e-02 0.9998 776.5239 -7.2881)')
//- 						stop(offset='0', style='stop-color:#FFFFFF')
//- 						stop(offset='0.1571', style='stop-color:#F9CBD3')
//- 						stop(offset='0.3716', style='stop-color:#FAD1D8')
//- 						stop(offset='0.4475', style='stop-color:#F8CBD3')
//- 						stop(offset='0.5465', style='stop-color:#F4BBC5')
//- 						stop(offset='0.6585', style='stop-color:#EDA0AD')
//- 						stop(offset='0.7799', style='stop-color:#E37A8C')
//- 						stop(offset='0.9075', style='stop-color:#D64A62')
//- 						stop(offset='1', style='stop-color:#CB2340')
//- 					path(fill='url(#SVGID_2_)', d='M4,4c1.9-1.5,4.6-1.5,6.9-0.6c0.5,0.2,1,0.5,1.6,0.6c1.1,0.1,2.2-0.7,2.9-1.5\
//- 					c0.4-0.4,0.8-0.9,1.3-1.2c0.5-0.3,1.2-0.4,1.6,0c0.5,0.4,0.6,1.1,0.5,1.7c-0.2,1.2-1,2.1-1.3,3.3c-0.3,1.2,0,2.5,0.5,3.7\
//- 					c0.5,1.2,1.2,2.2,1.8,3.4c0.8,1.7,1.3,3.6,1.1,5.4c-0.1,1.9-0.9,3.7-2.3,5c-0.6,0.5-1.3,1-2,1.3c-2.9,1.4-6.3,1.3-9.3,0.1\
//- 					c-0.6-0.2-1.1-0.5-1.6-0.8c-0.7-0.5-1.2-1.1-1.7-1.7C0.9,18.5,0,12.8,1.6,7.8C2.1,6.4,2.8,4.9,4,4z')
//- 					lineargradient#SVGID_3_(gradientUnits='userSpaceOnUse', x1='772.3735', y1='4.7799', x2='772.8071', y2='4.0797', gradientTransform='matrix(-0.9998 1.940000e-02 1.940000e-02 0.9998 776.5239 -7.2881)')
//- 						stop(offset='0', style='stop-color:#FFFFFF')
//- 						stop(offset='0.1571', style='stop-color:#F9CBD3')
//- 						stop(offset='0.3716', style='stop-color:#FAD1D8')
//- 						stop(offset='0.4475', style='stop-color:#F8CBD3')
//- 						stop(offset='0.5465', style='stop-color:#F4BBC5')
//- 						stop(offset='0.6585', style='stop-color:#EDA0AD')
//- 						stop(offset='0.7799', style='stop-color:#E37A8C')
//- 						stop(offset='0.9075', style='stop-color:#D64A62')
//- 						stop(offset='1', style='stop-color:#CB2340')
//- 					path(opacity='0.4', fill='url(#SVGID_3_)', d='M4.4,11.5c-0.1,0.5-0.3,0.9-0.3,1.4C4.1,12.4,4.2,11.9,4.4,11.5z')
//- 					lineargradient#SVGID_4_(gradientUnits='userSpaceOnUse', x1='761.2202', y1='7.4788', x2='767.8301', y2='-3.1988', gradientTransform='matrix(-0.9998 1.940000e-02 1.940000e-02 0.9998 776.5239 -7.2881)')
//- 						stop(offset='0', style='stop-color:#FFFFFF')
//- 						stop(offset='0.1571', style='stop-color:#F9CBD3')
//- 						stop(offset='0.3716', style='stop-color:#FAD1D8')
//- 						stop(offset='0.4475', style='stop-color:#F8CBD3')
//- 						stop(offset='0.5465', style='stop-color:#F4BBC5')
//- 						stop(offset='0.6585', style='stop-color:#EDA0AD')
//- 						stop(offset='0.7799', style='stop-color:#E37A8C')
//- 						stop(offset='0.9075', style='stop-color:#D64A62')
//- 						stop(offset='1', style='stop-color:#CB2340')
//- 					path(opacity='0.4', fill='url(#SVGID_4_)', d='M3.2,9.1C3.9,7.7,5,6.5,6.3,5.6c1.3-0.9,2.9-1.4,4.5-1.3c0.6,0,1.2,0.1,1.8,0.1\
//- 					c1.5-0.1,2.8-0.9,3.8-2c0.3-0.3,0.5-0.6,0.9-0.7c0.4-0.1,0.8,0.2,1,0.6c0.1,0.4,0.1,0.8-0.1,1.2c-0.2,0.3-0.4,0.6-0.7,0.8\
//- 					c-1.1,1.4-1.4,3.3-0.8,5c0.2,0.5,0.4,0.9,0.5,1.4c0.5,1.3,0.6,2.7,0.5,4c-0.2-1.1-0.5-2.2-0.8-3.2c0,0.3-0.1,0.6-0.1,0.9\
//- 					c0,0.1-0.1,0.2-0.1,0.2c-0.1,0-0.2-0.1-0.2-0.2c-0.2-0.4-0.3-0.7-0.5-1.1c-0.2,2.1-0.5,4.1-0.9,6.2c0.3-2.5,0.3-5.1-0.5-7.5\
//- 					c0,0.6-0.2,1.2-0.6,1.7c0-0.3,0-0.6,0.1-0.9c-0.1,0.6-0.6,1.1-0.8,1.7c-0.2,0.6-0.2,1.2-0.3,1.8c-0.1,0.5-0.3,1-0.4,1.5\
//- 					c-0.3,1.4,0.2,2.8-0.4,4.1c-0.1-1.6-0.2-3.2-0.4-4.8c-0.1-0.9-0.1-1.9,0-2.8c0.1-0.9,0.5-1.8,0.6-2.7c-0.4,0.6-0.8,1.2-1.2,1.8\
//- 					c0.3-0.5,0.4-1.1,0.4-1.7c-0.6,0.4-1.2,1-1.5,1.7c0.2-1.1,0.4-2.1,0.6-3.2c-1.3,1.1-2.2,2.5-2.9,4.1c-0.6,1.6-1,3.2-1.4,4.8\
//- 					c0-3.2,1.1-6.4,2.3-9.3C8.4,8.2,8.1,8.4,7.8,8.7c0.3-0.4,0.6-0.8,0.9-1.2C8,7.8,7.4,8.3,6.8,8.8c0.2-0.3,0.4-0.6,0.6-1\
//- 					C6.1,8.8,5,10,4.4,11.5c0.6-1.9,1.5-3.6,2.9-5.1C6.7,6.7,6.1,7.1,5.7,7.6c0.5-0.7,1-1.4,1.6-2C5.6,6.2,4.1,7.5,3.2,9.1z')
//- 		.snow.snowflake.two.scale-2
//- 			svg(version='1.1', x='0px', y='0px', viewBox='0 0 38 32.5', enable-background='new 0 0 38 32.5', xml:space='preserve')
//- 				g
//- 					lineargradient#SVGID_1_(gradientUnits='userSpaceOnUse', x1='22.181', y1='32.5537', x2='17.6035', y2='6.0481')
//- 						stop(offset='0', style='stop-color:#FFFFFF;')
//- 						stop(offset='1', style='stop-color:#CB2340;')
//- 					path(fill='url(#SVGID_1_)', d='M4.5,14.1c0.2-1.1-0.1-2.3,0.2-3.4c0.2-1,0.8-1.8,1.5-2.6c0.7-0.8,1.4-1.5,2.3-2.1        c1-0.6,2.1-1,3.2-1.3c1.2-0.4,2.5-0.8,3.7-1.2c1.6-0.5,3.2-1,4.9-0.8c3.1,0.4,5.3,3.2,6.8,5.9c0.4,0.8,0.8,1.6,1,2.5        c0.1,0.6,0.1,1.2,0.4,1.7c0.6,1.2,2.3,1.3,3.6,0.9c1.1-0.3,2.2-0.7,3.3-0.4c1.1,0.2,2.1,1.4,1.6,2.4c-0.2,0.4-0.7,0.7-1.1,0.9        c-1.3,0.6-2.8,0.8-4.1,1.4c-1.9,0.9-3.4,2.6-4.6,4.4c-1.2,1.8-2.1,3.7-3.4,5.5c-0.8,1.1-1.7,2.1-2.8,2.7c-0.5,0.3-1,0.5-1.6,0.6        c-3.6,0.9-7.3-0.4-10.7-1.7c-2.2-0.8-4.5-1.8-5.5-3.9c-0.6-1.3-0.6-2.8-0.6-4.2c0-1.2,0-2.4,0.4-3.5C3.4,16.7,4.3,15.5,4.5,14.1z')
//- 					lineargradient#SVGID_2_(gradientUnits='userSpaceOnUse', x1='2.2987', y1='26.1118', x2='31.2238', y2='6.9975')
//- 						stop(offset='0', style='stop-color:#FFFFFF;')
//- 						stop(offset='0.1571', style='stop-color:#F9CBD3;')
//- 						stop(offset='0.3716', style='stop-color:#FAD1D8;')
//- 						stop(offset='0.4475', style='stop-color:#F8CBD3;')
//- 						stop(offset='0.5465', style='stop-color:#F4BBC5;')
//- 						stop(offset='0.6585', style='stop-color:#EDA0AD;')
//- 						stop(offset='0.7799', style='stop-color:#E37A8C;')
//- 						stop(offset='0.9075', style='stop-color:#D64A62;')
//- 						stop(offset='1', style='stop-color:#CB2340;')
//- 					path(fill='url(#SVGID_2_)', d='M4.5,13.6c0.2-1.1-0.1-2.3,0.2-3.4c0.2-1,0.8-1.8,1.5-2.5c0.7-0.8,1.4-1.5,2.3-2.1        c1-0.6,2.1-1,3.2-1.3c1.2-0.4,2.5-0.8,3.7-1.2c1.6-0.5,3.2-1,4.9-0.8c3.1,0.4,5.3,3.2,6.8,5.9c0.4,0.8,0.8,1.6,1,2.5        c0.1,0.6,0.1,1.2,0.4,1.7c0.6,1.2,2.3,1.3,3.6,0.9c1.1-0.3,2.2-0.7,3.3-0.4c1.1,0.2,2.1,1.4,1.6,2.4c-0.2,0.4-0.7,0.7-1.1,0.9        c-1.3,0.6-2.8,0.8-4.1,1.4c-1.9,0.9-3.4,2.6-4.6,4.4c-1.2,1.8-2.1,3.7-3.4,5.5c-0.8,1.1-1.7,2.1-2.8,2.7c-0.5,0.3-1,0.5-1.6,0.6        c-3.6,0.9-7.3-0.4-10.7-1.7c-2.2-0.8-4.5-1.8-5.5-3.9C2.6,24,2.6,22.5,2.6,21c0-1.2,0-2.4,0.4-3.5C3.4,16.2,4.3,15,4.5,13.6z')
//- 					lineargradient#SVGID_3_(gradientUnits='userSpaceOnUse', x1='754.6678', y1='19.9611', x2='759.526', y2='12.1132', gradientTransform='matrix(-1 0 0 1 779.2227 0)')
//- 						stop(offset='0', style='stop-color:#FFFFFF;')
//- 						stop(offset='0.1571', style='stop-color:#F9CBD3;')
//- 						stop(offset='0.3716', style='stop-color:#FAD1D8;')
//- 						stop(offset='0.4475', style='stop-color:#F8CBD3;')
//- 						stop(offset='0.5465', style='stop-color:#F4BBC5;')
//- 						stop(offset='0.6585', style='stop-color:#EDA0AD;')
//- 						stop(offset='0.7799', style='stop-color:#E37A8C;')
//- 						stop(offset='0.9075', style='stop-color:#D64A62;')
//- 						stop(offset='1', style='stop-color:#CB2340;')
//- 					path(opacity='0.4', fill='url(#SVGID_3_)', d='M23,15c-1.4-0.1-2.8,0.3-4,1c-1.3,0.2-2.6,0.7-3.8,1.2c2.5-2.1,5.8-3.1,9.1-3.7        c-1.4-0.3-2.8-0.4-4.2-0.1c1.6-0.4,3.3-0.6,5-0.5c-1.6-0.5-3.3-0.8-4.9-0.8c0.3,0,0.6,0,0.9-0.1c-0.4-0.1-0.7-0.2-1.1-0.2        c2.2-0.1,4.3,0.1,6.4,0.7c1.9,0.6,3.7,1.5,5.7,1.4c0.7-0.1,1.3-0.2,2-0.2c0.7,0,1.4,0.4,1.6,1c0,0.1,0,0.2,0,0.3        c0,0.1-0.1,0.2-0.2,0.2c-1.1,1.1-2.9,1.4-4.5,1.3c-1.6-0.1-3.2-0.5-4.8-0.3c-1.9,0.2-3.8,1.1-5.3,2.3c-1.5,1.2-2.8,2.7-4.1,4.2        c1.3-2.5,3.4-4.5,5.9-5.9c-0.9,0.2-1.8,0.6-2.7,1c0.6-0.5,1.2-0.9,1.8-1.4c-3.7,1.2-6.7,4-9.3,6.9C14.8,19.4,18.6,16.4,23,15z')
//- 		.snow.snowflake.three.scale-6
//- 			svg(version='1.1', x='0px', y='0px', viewBox='0 0 38 32.5', enable-background='new 0 0 38 32.5', xml:space='preserve')
//- 				g
//- 					lineargradient#SVGID_1_(gradientUnits='userSpaceOnUse', x1='22.181', y1='32.5537', x2='17.6035', y2='6.0481')
//- 						stop(offset='0', style='stop-color:#FFFFFF;')
//- 						stop(offset='1', style='stop-color:#CB2340;')
//- 					path(fill='url(#SVGID_1_)', d='M4.5,14.1c0.2-1.1-0.1-2.3,0.2-3.4c0.2-1,0.8-1.8,1.5-2.6c0.7-0.8,1.4-1.5,2.3-2.1        c1-0.6,2.1-1,3.2-1.3c1.2-0.4,2.5-0.8,3.7-1.2c1.6-0.5,3.2-1,4.9-0.8c3.1,0.4,5.3,3.2,6.8,5.9c0.4,0.8,0.8,1.6,1,2.5        c0.1,0.6,0.1,1.2,0.4,1.7c0.6,1.2,2.3,1.3,3.6,0.9c1.1-0.3,2.2-0.7,3.3-0.4c1.1,0.2,2.1,1.4,1.6,2.4c-0.2,0.4-0.7,0.7-1.1,0.9        c-1.3,0.6-2.8,0.8-4.1,1.4c-1.9,0.9-3.4,2.6-4.6,4.4c-1.2,1.8-2.1,3.7-3.4,5.5c-0.8,1.1-1.7,2.1-2.8,2.7c-0.5,0.3-1,0.5-1.6,0.6        c-3.6,0.9-7.3-0.4-10.7-1.7c-2.2-0.8-4.5-1.8-5.5-3.9c-0.6-1.3-0.6-2.8-0.6-4.2c0-1.2,0-2.4,0.4-3.5C3.4,16.7,4.3,15.5,4.5,14.1z')
//- 					lineargradient#SVGID_2_(gradientUnits='userSpaceOnUse', x1='2.2987', y1='26.1118', x2='31.2238', y2='6.9975')
//- 						stop(offset='0', style='stop-color:#FFFFFF;')
//- 						stop(offset='0.1571', style='stop-color:#F9CBD3;')
//- 						stop(offset='0.3716', style='stop-color:#FAD1D8;')
//- 						stop(offset='0.4475', style='stop-color:#F8CBD3;')
//- 						stop(offset='0.5465', style='stop-color:#F4BBC5;')
//- 						stop(offset='0.6585', style='stop-color:#EDA0AD;')
//- 						stop(offset='0.7799', style='stop-color:#E37A8C;')
//- 						stop(offset='0.9075', style='stop-color:#D64A62;')
//- 						stop(offset='1', style='stop-color:#CB2340;')
//- 					path(fill='url(#SVGID_2_)', d='M4.5,13.6c0.2-1.1-0.1-2.3,0.2-3.4c0.2-1,0.8-1.8,1.5-2.5c0.7-0.8,1.4-1.5,2.3-2.1        c1-0.6,2.1-1,3.2-1.3c1.2-0.4,2.5-0.8,3.7-1.2c1.6-0.5,3.2-1,4.9-0.8c3.1,0.4,5.3,3.2,6.8,5.9c0.4,0.8,0.8,1.6,1,2.5        c0.1,0.6,0.1,1.2,0.4,1.7c0.6,1.2,2.3,1.3,3.6,0.9c1.1-0.3,2.2-0.7,3.3-0.4c1.1,0.2,2.1,1.4,1.6,2.4c-0.2,0.4-0.7,0.7-1.1,0.9        c-1.3,0.6-2.8,0.8-4.1,1.4c-1.9,0.9-3.4,2.6-4.6,4.4c-1.2,1.8-2.1,3.7-3.4,5.5c-0.8,1.1-1.7,2.1-2.8,2.7c-0.5,0.3-1,0.5-1.6,0.6        c-3.6,0.9-7.3-0.4-10.7-1.7c-2.2-0.8-4.5-1.8-5.5-3.9C2.6,24,2.6,22.5,2.6,21c0-1.2,0-2.4,0.4-3.5C3.4,16.2,4.3,15,4.5,13.6z')
//- 					lineargradient#SVGID_3_(gradientUnits='userSpaceOnUse', x1='754.6678', y1='19.9611', x2='759.526', y2='12.1132', gradientTransform='matrix(-1 0 0 1 779.2227 0)')
//- 						stop(offset='0', style='stop-color:#FFFFFF;')
//- 						stop(offset='0.1571', style='stop-color:#F9CBD3;')
//- 						stop(offset='0.3716', style='stop-color:#FAD1D8;')
//- 						stop(offset='0.4475', style='stop-color:#F8CBD3;')
//- 						stop(offset='0.5465', style='stop-color:#F4BBC5;')
//- 						stop(offset='0.6585', style='stop-color:#EDA0AD;')
//- 						stop(offset='0.7799', style='stop-color:#E37A8C;')
//- 						stop(offset='0.9075', style='stop-color:#D64A62;')
//- 						stop(offset='1', style='stop-color:#CB2340;')
//- 					path(opacity='0.4', fill='url(#SVGID_3_)', d='M23,15c-1.4-0.1-2.8,0.3-4,1c-1.3,0.2-2.6,0.7-3.8,1.2c2.5-2.1,5.8-3.1,9.1-3.7        c-1.4-0.3-2.8-0.4-4.2-0.1c1.6-0.4,3.3-0.6,5-0.5c-1.6-0.5-3.3-0.8-4.9-0.8c0.3,0,0.6,0,0.9-0.1c-0.4-0.1-0.7-0.2-1.1-0.2        c2.2-0.1,4.3,0.1,6.4,0.7c1.9,0.6,3.7,1.5,5.7,1.4c0.7-0.1,1.3-0.2,2-0.2c0.7,0,1.4,0.4,1.6,1c0,0.1,0,0.2,0,0.3        c0,0.1-0.1,0.2-0.2,0.2c-1.1,1.1-2.9,1.4-4.5,1.3c-1.6-0.1-3.2-0.5-4.8-0.3c-1.9,0.2-3.8,1.1-5.3,2.3c-1.5,1.2-2.8,2.7-4.1,4.2        c1.3-2.5,3.4-4.5,5.9-5.9c-0.9,0.2-1.8,0.6-2.7,1c0.6-0.5,1.2-0.9,1.8-1.4c-3.7,1.2-6.7,4-9.3,6.9C14.8,19.4,18.6,16.4,23,15z')
//- 		.snow.snowflake.five.scale-4
//- 			svg(version='1.1', enable-background='new 0 0 21.8 27.5', xml:space='preserve')
//- 				g
//- 					lineargradient#SVGID_1_(gradientUnits='userSpaceOnUse', x1='758.8544', y1='17.2313', x2='770.1974', y2='-3.4324', gradientTransform='matrix(-0.9998 1.940000e-02 1.940000e-02 0.9998 776.5239 -7.2881)')
//- 						stop(offset='0', style='stop-color:#FFFFFF')
//- 						stop(offset='1', style='stop-color:#CB2340')
//- 					path(fill='url(#SVGID_1_)', d='M4,4.5C5.9,3,8.7,3,10.9,4c0.5,0.2,1,0.5,1.6,0.6c1.1,0.1,2.2-0.7,2.9-1.5c0.4-0.4,0.8-0.9,1.3-1.2\
//- 					c0.5-0.3,1.2-0.4,1.6,0c0.5,0.4,0.6,1.1,0.5,1.7c-0.2,1.2-1,2.1-1.3,3.3c-0.3,1.2,0,2.5,0.5,3.7c0.5,1.2,1.2,2.2,1.8,3.4\
//- 					c0.8,1.7,1.3,3.6,1.1,5.4c-0.1,1.9-0.9,3.7-2.3,5c-0.6,0.5-1.3,1-2,1.3c-2.9,1.4-6.3,1.3-9.3,0.1c-0.6-0.2-1.1-0.5-1.6-0.8\
//- 					c-0.7-0.5-1.2-1.1-1.7-1.7C0.9,19,0,13.3,1.6,8.4C2.1,6.9,2.8,5.5,4,4.5z')
//- 					lineargradient#SVGID_2_(gradientUnits='userSpaceOnUse', x1='758.8544', y1='16.6837', x2='770.1974', y2='-3.9799', gradientTransform='matrix(-0.9998 1.940000e-02 1.940000e-02 0.9998 776.5239 -7.2881)')
//- 						stop(offset='0', style='stop-color:#FFFFFF')
//- 						stop(offset='0.1571', style='stop-color:#F9CBD3')
//- 						stop(offset='0.3716', style='stop-color:#FAD1D8')
//- 						stop(offset='0.4475', style='stop-color:#F8CBD3')
//- 						stop(offset='0.5465', style='stop-color:#F4BBC5')
//- 						stop(offset='0.6585', style='stop-color:#EDA0AD')
//- 						stop(offset='0.7799', style='stop-color:#E37A8C')
//- 						stop(offset='0.9075', style='stop-color:#D64A62')
//- 						stop(offset='1', style='stop-color:#CB2340')
//- 					path(fill='url(#SVGID_2_)', d='M4,4c1.9-1.5,4.6-1.5,6.9-0.6c0.5,0.2,1,0.5,1.6,0.6c1.1,0.1,2.2-0.7,2.9-1.5\
//- 					c0.4-0.4,0.8-0.9,1.3-1.2c0.5-0.3,1.2-0.4,1.6,0c0.5,0.4,0.6,1.1,0.5,1.7c-0.2,1.2-1,2.1-1.3,3.3c-0.3,1.2,0,2.5,0.5,3.7\
//- 					c0.5,1.2,1.2,2.2,1.8,3.4c0.8,1.7,1.3,3.6,1.1,5.4c-0.1,1.9-0.9,3.7-2.3,5c-0.6,0.5-1.3,1-2,1.3c-2.9,1.4-6.3,1.3-9.3,0.1\
//- 					c-0.6-0.2-1.1-0.5-1.6-0.8c-0.7-0.5-1.2-1.1-1.7-1.7C0.9,18.5,0,12.8,1.6,7.8C2.1,6.4,2.8,4.9,4,4z')
//- 					lineargradient#SVGID_3_(gradientUnits='userSpaceOnUse', x1='772.3735', y1='4.7799', x2='772.8071', y2='4.0797', gradientTransform='matrix(-0.9998 1.940000e-02 1.940000e-02 0.9998 776.5239 -7.2881)')
//- 						stop(offset='0', style='stop-color:#FFFFFF')
//- 						stop(offset='0.1571', style='stop-color:#F9CBD3')
//- 						stop(offset='0.3716', style='stop-color:#FAD1D8')
//- 						stop(offset='0.4475', style='stop-color:#F8CBD3')
//- 						stop(offset='0.5465', style='stop-color:#F4BBC5')
//- 						stop(offset='0.6585', style='stop-color:#EDA0AD')
//- 						stop(offset='0.7799', style='stop-color:#E37A8C')
//- 						stop(offset='0.9075', style='stop-color:#D64A62')
//- 						stop(offset='1', style='stop-color:#CB2340')
//- 					path(opacity='0.4', fill='url(#SVGID_3_)', d='M4.4,11.5c-0.1,0.5-0.3,0.9-0.3,1.4C4.1,12.4,4.2,11.9,4.4,11.5z')
//- 					lineargradient#SVGID_4_(gradientUnits='userSpaceOnUse', x1='761.2202', y1='7.4788', x2='767.8301', y2='-3.1988', gradientTransform='matrix(-0.9998 1.940000e-02 1.940000e-02 0.9998 776.5239 -7.2881)')
//- 						stop(offset='0', style='stop-color:#FFFFFF')
//- 						stop(offset='0.1571', style='stop-color:#F9CBD3')
//- 						stop(offset='0.3716', style='stop-color:#FAD1D8')
//- 						stop(offset='0.4475', style='stop-color:#F8CBD3')
//- 						stop(offset='0.5465', style='stop-color:#F4BBC5')
//- 						stop(offset='0.6585', style='stop-color:#EDA0AD')
//- 						stop(offset='0.7799', style='stop-color:#E37A8C')
//- 						stop(offset='0.9075', style='stop-color:#D64A62')
//- 						stop(offset='1', style='stop-color:#CB2340')
//- 					path(opacity='0.4', fill='url(#SVGID_4_)', d='M3.2,9.1C3.9,7.7,5,6.5,6.3,5.6c1.3-0.9,2.9-1.4,4.5-1.3c0.6,0,1.2,0.1,1.8,0.1\
//- 					c1.5-0.1,2.8-0.9,3.8-2c0.3-0.3,0.5-0.6,0.9-0.7c0.4-0.1,0.8,0.2,1,0.6c0.1,0.4,0.1,0.8-0.1,1.2c-0.2,0.3-0.4,0.6-0.7,0.8\
//- 					c-1.1,1.4-1.4,3.3-0.8,5c0.2,0.5,0.4,0.9,0.5,1.4c0.5,1.3,0.6,2.7,0.5,4c-0.2-1.1-0.5-2.2-0.8-3.2c0,0.3-0.1,0.6-0.1,0.9\
//- 					c0,0.1-0.1,0.2-0.1,0.2c-0.1,0-0.2-0.1-0.2-0.2c-0.2-0.4-0.3-0.7-0.5-1.1c-0.2,2.1-0.5,4.1-0.9,6.2c0.3-2.5,0.3-5.1-0.5-7.5\
//- 					c0,0.6-0.2,1.2-0.6,1.7c0-0.3,0-0.6,0.1-0.9c-0.1,0.6-0.6,1.1-0.8,1.7c-0.2,0.6-0.2,1.2-0.3,1.8c-0.1,0.5-0.3,1-0.4,1.5\
//- 					c-0.3,1.4,0.2,2.8-0.4,4.1c-0.1-1.6-0.2-3.2-0.4-4.8c-0.1-0.9-0.1-1.9,0-2.8c0.1-0.9,0.5-1.8,0.6-2.7c-0.4,0.6-0.8,1.2-1.2,1.8\
//- 					c0.3-0.5,0.4-1.1,0.4-1.7c-0.6,0.4-1.2,1-1.5,1.7c0.2-1.1,0.4-2.1,0.6-3.2c-1.3,1.1-2.2,2.5-2.9,4.1c-0.6,1.6-1,3.2-1.4,4.8\
//- 					c0-3.2,1.1-6.4,2.3-9.3C8.4,8.2,8.1,8.4,7.8,8.7c0.3-0.4,0.6-0.8,0.9-1.2C8,7.8,7.4,8.3,6.8,8.8c0.2-0.3,0.4-0.6,0.6-1\
//- 					C6.1,8.8,5,10,4.4,11.5c0.6-1.9,1.5-3.6,2.9-5.1C6.7,6.7,6.1,7.1,5.7,7.6c0.5-0.7,1-1.4,1.6-2C5.6,6.2,4.1,7.5,3.2,9.1z')
//- 		.snow.snowflake.one.scale-3
//- 			svg(version='1.1', x='0px', y='0px', viewBox='0 0 38 32.5', enable-background='new 0 0 38 32.5', xml:space='preserve')
//- 				g
//- 					lineargradient#SVGID_1_(gradientUnits='userSpaceOnUse', x1='22.181', y1='32.5537', x2='17.6035', y2='6.0481')
//- 						stop(offset='0', style='stop-color:#FFFFFF;')
//- 						stop(offset='1', style='stop-color:#CB2340;')
//- 					path(fill='url(#SVGID_1_)', d='M4.5,14.1c0.2-1.1-0.1-2.3,0.2-3.4c0.2-1,0.8-1.8,1.5-2.6c0.7-0.8,1.4-1.5,2.3-2.1        c1-0.6,2.1-1,3.2-1.3c1.2-0.4,2.5-0.8,3.7-1.2c1.6-0.5,3.2-1,4.9-0.8c3.1,0.4,5.3,3.2,6.8,5.9c0.4,0.8,0.8,1.6,1,2.5        c0.1,0.6,0.1,1.2,0.4,1.7c0.6,1.2,2.3,1.3,3.6,0.9c1.1-0.3,2.2-0.7,3.3-0.4c1.1,0.2,2.1,1.4,1.6,2.4c-0.2,0.4-0.7,0.7-1.1,0.9        c-1.3,0.6-2.8,0.8-4.1,1.4c-1.9,0.9-3.4,2.6-4.6,4.4c-1.2,1.8-2.1,3.7-3.4,5.5c-0.8,1.1-1.7,2.1-2.8,2.7c-0.5,0.3-1,0.5-1.6,0.6        c-3.6,0.9-7.3-0.4-10.7-1.7c-2.2-0.8-4.5-1.8-5.5-3.9c-0.6-1.3-0.6-2.8-0.6-4.2c0-1.2,0-2.4,0.4-3.5C3.4,16.7,4.3,15.5,4.5,14.1z')
//- 					lineargradient#SVGID_2_(gradientUnits='userSpaceOnUse', x1='2.2987', y1='26.1118', x2='31.2238', y2='6.9975')
//- 						stop(offset='0', style='stop-color:#FFFFFF;')
//- 						stop(offset='0.1571', style='stop-color:#F9CBD3;')
//- 						stop(offset='0.3716', style='stop-color:#FAD1D8;')
//- 						stop(offset='0.4475', style='stop-color:#F8CBD3;')
//- 						stop(offset='0.5465', style='stop-color:#F4BBC5;')
//- 						stop(offset='0.6585', style='stop-color:#EDA0AD;')
//- 						stop(offset='0.7799', style='stop-color:#E37A8C;')
//- 						stop(offset='0.9075', style='stop-color:#D64A62;')
//- 						stop(offset='1', style='stop-color:#CB2340;')
//- 					path(fill='url(#SVGID_2_)', d='M4.5,13.6c0.2-1.1-0.1-2.3,0.2-3.4c0.2-1,0.8-1.8,1.5-2.5c0.7-0.8,1.4-1.5,2.3-2.1        c1-0.6,2.1-1,3.2-1.3c1.2-0.4,2.5-0.8,3.7-1.2c1.6-0.5,3.2-1,4.9-0.8c3.1,0.4,5.3,3.2,6.8,5.9c0.4,0.8,0.8,1.6,1,2.5        c0.1,0.6,0.1,1.2,0.4,1.7c0.6,1.2,2.3,1.3,3.6,0.9c1.1-0.3,2.2-0.7,3.3-0.4c1.1,0.2,2.1,1.4,1.6,2.4c-0.2,0.4-0.7,0.7-1.1,0.9        c-1.3,0.6-2.8,0.8-4.1,1.4c-1.9,0.9-3.4,2.6-4.6,4.4c-1.2,1.8-2.1,3.7-3.4,5.5c-0.8,1.1-1.7,2.1-2.8,2.7c-0.5,0.3-1,0.5-1.6,0.6        c-3.6,0.9-7.3-0.4-10.7-1.7c-2.2-0.8-4.5-1.8-5.5-3.9C2.6,24,2.6,22.5,2.6,21c0-1.2,0-2.4,0.4-3.5C3.4,16.2,4.3,15,4.5,13.6z')
//- 					lineargradient#SVGID_3_(gradientUnits='userSpaceOnUse', x1='754.6678', y1='19.9611', x2='759.526', y2='12.1132', gradientTransform='matrix(-1 0 0 1 779.2227 0)')
//- 						stop(offset='0', style='stop-color:#FFFFFF;')
//- 						stop(offset='0.1571', style='stop-color:#F9CBD3;')
//- 						stop(offset='0.3716', style='stop-color:#FAD1D8;')
//- 						stop(offset='0.4475', style='stop-color:#F8CBD3;')
//- 						stop(offset='0.5465', style='stop-color:#F4BBC5;')
//- 						stop(offset='0.6585', style='stop-color:#EDA0AD;')
//- 						stop(offset='0.7799', style='stop-color:#E37A8C;')
//- 						stop(offset='0.9075', style='stop-color:#D64A62;')
//- 						stop(offset='1', style='stop-color:#CB2340;')
//- 					path(opacity='0.4', fill='url(#SVGID_3_)', d='M23,15c-1.4-0.1-2.8,0.3-4,1c-1.3,0.2-2.6,0.7-3.8,1.2c2.5-2.1,5.8-3.1,9.1-3.7        c-1.4-0.3-2.8-0.4-4.2-0.1c1.6-0.4,3.3-0.6,5-0.5c-1.6-0.5-3.3-0.8-4.9-0.8c0.3,0,0.6,0,0.9-0.1c-0.4-0.1-0.7-0.2-1.1-0.2        c2.2-0.1,4.3,0.1,6.4,0.7c1.9,0.6,3.7,1.5,5.7,1.4c0.7-0.1,1.3-0.2,2-0.2c0.7,0,1.4,0.4,1.6,1c0,0.1,0,0.2,0,0.3        c0,0.1-0.1,0.2-0.2,0.2c-1.1,1.1-2.9,1.4-4.5,1.3c-1.6-0.1-3.2-0.5-4.8-0.3c-1.9,0.2-3.8,1.1-5.3,2.3c-1.5,1.2-2.8,2.7-4.1,4.2        c1.3-2.5,3.4-4.5,5.9-5.9c-0.9,0.2-1.8,0.6-2.7,1c0.6-0.5,1.2-0.9,1.8-1.4c-3.7,1.2-6.7,4-9.3,6.9C14.8,19.4,18.6,16.4,23,15z')
//- 		.snow.snowflake.two.scale-1
//- 			svg(version='1.1', x='0px', y='0px', viewBox='0 0 38 32.5', enable-background='new 0 0 38 32.5', xml:space='preserve')
//- 				g
//- 					lineargradient#SVGID_1_(gradientUnits='userSpaceOnUse', x1='22.181', y1='32.5537', x2='17.6035', y2='6.0481')
//- 						stop(offset='0', style='stop-color:#FFFFFF;')
//- 						stop(offset='1', style='stop-color:#CB2340;')
//- 					path(fill='url(#SVGID_1_)', d='M4.5,14.1c0.2-1.1-0.1-2.3,0.2-3.4c0.2-1,0.8-1.8,1.5-2.6c0.7-0.8,1.4-1.5,2.3-2.1        c1-0.6,2.1-1,3.2-1.3c1.2-0.4,2.5-0.8,3.7-1.2c1.6-0.5,3.2-1,4.9-0.8c3.1,0.4,5.3,3.2,6.8,5.9c0.4,0.8,0.8,1.6,1,2.5        c0.1,0.6,0.1,1.2,0.4,1.7c0.6,1.2,2.3,1.3,3.6,0.9c1.1-0.3,2.2-0.7,3.3-0.4c1.1,0.2,2.1,1.4,1.6,2.4c-0.2,0.4-0.7,0.7-1.1,0.9        c-1.3,0.6-2.8,0.8-4.1,1.4c-1.9,0.9-3.4,2.6-4.6,4.4c-1.2,1.8-2.1,3.7-3.4,5.5c-0.8,1.1-1.7,2.1-2.8,2.7c-0.5,0.3-1,0.5-1.6,0.6        c-3.6,0.9-7.3-0.4-10.7-1.7c-2.2-0.8-4.5-1.8-5.5-3.9c-0.6-1.3-0.6-2.8-0.6-4.2c0-1.2,0-2.4,0.4-3.5C3.4,16.7,4.3,15.5,4.5,14.1z')
//- 					lineargradient#SVGID_2_(gradientUnits='userSpaceOnUse', x1='2.2987', y1='26.1118', x2='31.2238', y2='6.9975')
//- 						stop(offset='0', style='stop-color:#FFFFFF;')
//- 						stop(offset='0.1571', style='stop-color:#F9CBD3;')
//- 						stop(offset='0.3716', style='stop-color:#FAD1D8;')
//- 						stop(offset='0.4475', style='stop-color:#F8CBD3;')
//- 						stop(offset='0.5465', style='stop-color:#F4BBC5;')
//- 						stop(offset='0.6585', style='stop-color:#EDA0AD;')
//- 						stop(offset='0.7799', style='stop-color:#E37A8C;')
//- 						stop(offset='0.9075', style='stop-color:#D64A62;')
//- 						stop(offset='1', style='stop-color:#CB2340;')
//- 					path(fill='url(#SVGID_2_)', d='M4.5,13.6c0.2-1.1-0.1-2.3,0.2-3.4c0.2-1,0.8-1.8,1.5-2.5c0.7-0.8,1.4-1.5,2.3-2.1        c1-0.6,2.1-1,3.2-1.3c1.2-0.4,2.5-0.8,3.7-1.2c1.6-0.5,3.2-1,4.9-0.8c3.1,0.4,5.3,3.2,6.8,5.9c0.4,0.8,0.8,1.6,1,2.5        c0.1,0.6,0.1,1.2,0.4,1.7c0.6,1.2,2.3,1.3,3.6,0.9c1.1-0.3,2.2-0.7,3.3-0.4c1.1,0.2,2.1,1.4,1.6,2.4c-0.2,0.4-0.7,0.7-1.1,0.9        c-1.3,0.6-2.8,0.8-4.1,1.4c-1.9,0.9-3.4,2.6-4.6,4.4c-1.2,1.8-2.1,3.7-3.4,5.5c-0.8,1.1-1.7,2.1-2.8,2.7c-0.5,0.3-1,0.5-1.6,0.6        c-3.6,0.9-7.3-0.4-10.7-1.7c-2.2-0.8-4.5-1.8-5.5-3.9C2.6,24,2.6,22.5,2.6,21c0-1.2,0-2.4,0.4-3.5C3.4,16.2,4.3,15,4.5,13.6z')
//- 					lineargradient#SVGID_3_(gradientUnits='userSpaceOnUse', x1='754.6678', y1='19.9611', x2='759.526', y2='12.1132', gradientTransform='matrix(-1 0 0 1 779.2227 0)')
//- 						stop(offset='0', style='stop-color:#FFFFFF;')
//- 						stop(offset='0.1571', style='stop-color:#F9CBD3;')
//- 						stop(offset='0.3716', style='stop-color:#FAD1D8;')
//- 						stop(offset='0.4475', style='stop-color:#F8CBD3;')
//- 						stop(offset='0.5465', style='stop-color:#F4BBC5;')
//- 						stop(offset='0.6585', style='stop-color:#EDA0AD;')
//- 						stop(offset='0.7799', style='stop-color:#E37A8C;')
//- 						stop(offset='0.9075', style='stop-color:#D64A62;')
//- 						stop(offset='1', style='stop-color:#CB2340;')
//- 					path(opacity='0.4', fill='url(#SVGID_3_)', d='M23,15c-1.4-0.1-2.8,0.3-4,1c-1.3,0.2-2.6,0.7-3.8,1.2c2.5-2.1,5.8-3.1,9.1-3.7        c-1.4-0.3-2.8-0.4-4.2-0.1c1.6-0.4,3.3-0.6,5-0.5c-1.6-0.5-3.3-0.8-4.9-0.8c0.3,0,0.6,0,0.9-0.1c-0.4-0.1-0.7-0.2-1.1-0.2        c2.2-0.1,4.3,0.1,6.4,0.7c1.9,0.6,3.7,1.5,5.7,1.4c0.7-0.1,1.3-0.2,2-0.2c0.7,0,1.4,0.4,1.6,1c0,0.1,0,0.2,0,0.3        c0,0.1-0.1,0.2-0.2,0.2c-1.1,1.1-2.9,1.4-4.5,1.3c-1.6-0.1-3.2-0.5-4.8-0.3c-1.9,0.2-3.8,1.1-5.3,2.3c-1.5,1.2-2.8,2.7-4.1,4.2        c1.3-2.5,3.4-4.5,5.9-5.9c-0.9,0.2-1.8,0.6-2.7,1c0.6-0.5,1.2-0.9,1.8-1.4c-3.7,1.2-6.7,4-9.3,6.9C14.8,19.4,18.6,16.4,23,15z')
//- 		.snow.snowflake.five.scale-4
//- 			svg(version='1.1', enable-background='new 0 0 21.8 27.5', xml:space='preserve')
//- 				g
//- 					lineargradient#SVGID_1_(gradientUnits='userSpaceOnUse', x1='758.8544', y1='17.2313', x2='770.1974', y2='-3.4324', gradientTransform='matrix(-0.9998 1.940000e-02 1.940000e-02 0.9998 776.5239 -7.2881)')
//- 						stop(offset='0', style='stop-color:#FFFFFF')
//- 						stop(offset='1', style='stop-color:#CB2340')
//- 					path(fill='url(#SVGID_1_)', d='M4,4.5C5.9,3,8.7,3,10.9,4c0.5,0.2,1,0.5,1.6,0.6c1.1,0.1,2.2-0.7,2.9-1.5c0.4-0.4,0.8-0.9,1.3-1.2\
//- 					c0.5-0.3,1.2-0.4,1.6,0c0.5,0.4,0.6,1.1,0.5,1.7c-0.2,1.2-1,2.1-1.3,3.3c-0.3,1.2,0,2.5,0.5,3.7c0.5,1.2,1.2,2.2,1.8,3.4\
//- 					c0.8,1.7,1.3,3.6,1.1,5.4c-0.1,1.9-0.9,3.7-2.3,5c-0.6,0.5-1.3,1-2,1.3c-2.9,1.4-6.3,1.3-9.3,0.1c-0.6-0.2-1.1-0.5-1.6-0.8\
//- 					c-0.7-0.5-1.2-1.1-1.7-1.7C0.9,19,0,13.3,1.6,8.4C2.1,6.9,2.8,5.5,4,4.5z')
//- 					lineargradient#SVGID_2_(gradientUnits='userSpaceOnUse', x1='758.8544', y1='16.6837', x2='770.1974', y2='-3.9799', gradientTransform='matrix(-0.9998 1.940000e-02 1.940000e-02 0.9998 776.5239 -7.2881)')
//- 						stop(offset='0', style='stop-color:#FFFFFF')
//- 						stop(offset='0.1571', style='stop-color:#F9CBD3')
//- 						stop(offset='0.3716', style='stop-color:#FAD1D8')
//- 						stop(offset='0.4475', style='stop-color:#F8CBD3')
//- 						stop(offset='0.5465', style='stop-color:#F4BBC5')
//- 						stop(offset='0.6585', style='stop-color:#EDA0AD')
//- 						stop(offset='0.7799', style='stop-color:#E37A8C')
//- 						stop(offset='0.9075', style='stop-color:#D64A62')
//- 						stop(offset='1', style='stop-color:#CB2340')
//- 					path(fill='url(#SVGID_2_)', d='M4,4c1.9-1.5,4.6-1.5,6.9-0.6c0.5,0.2,1,0.5,1.6,0.6c1.1,0.1,2.2-0.7,2.9-1.5\
//- 					c0.4-0.4,0.8-0.9,1.3-1.2c0.5-0.3,1.2-0.4,1.6,0c0.5,0.4,0.6,1.1,0.5,1.7c-0.2,1.2-1,2.1-1.3,3.3c-0.3,1.2,0,2.5,0.5,3.7\
//- 					c0.5,1.2,1.2,2.2,1.8,3.4c0.8,1.7,1.3,3.6,1.1,5.4c-0.1,1.9-0.9,3.7-2.3,5c-0.6,0.5-1.3,1-2,1.3c-2.9,1.4-6.3,1.3-9.3,0.1\
//- 					c-0.6-0.2-1.1-0.5-1.6-0.8c-0.7-0.5-1.2-1.1-1.7-1.7C0.9,18.5,0,12.8,1.6,7.8C2.1,6.4,2.8,4.9,4,4z')
//- 					lineargradient#SVGID_3_(gradientUnits='userSpaceOnUse', x1='772.3735', y1='4.7799', x2='772.8071', y2='4.0797', gradientTransform='matrix(-0.9998 1.940000e-02 1.940000e-02 0.9998 776.5239 -7.2881)')
//- 						stop(offset='0', style='stop-color:#FFFFFF')
//- 						stop(offset='0.1571', style='stop-color:#F9CBD3')
//- 						stop(offset='0.3716', style='stop-color:#FAD1D8')
//- 						stop(offset='0.4475', style='stop-color:#F8CBD3')
//- 						stop(offset='0.5465', style='stop-color:#F4BBC5')
//- 						stop(offset='0.6585', style='stop-color:#EDA0AD')
//- 						stop(offset='0.7799', style='stop-color:#E37A8C')
//- 						stop(offset='0.9075', style='stop-color:#D64A62')
//- 						stop(offset='1', style='stop-color:#CB2340')
//- 					path(opacity='0.4', fill='url(#SVGID_3_)', d='M4.4,11.5c-0.1,0.5-0.3,0.9-0.3,1.4C4.1,12.4,4.2,11.9,4.4,11.5z')
//- 					lineargradient#SVGID_4_(gradientUnits='userSpaceOnUse', x1='761.2202', y1='7.4788', x2='767.8301', y2='-3.1988', gradientTransform='matrix(-0.9998 1.940000e-02 1.940000e-02 0.9998 776.5239 -7.2881)')
//- 						stop(offset='0', style='stop-color:#FFFFFF')
//- 						stop(offset='0.1571', style='stop-color:#F9CBD3')
//- 						stop(offset='0.3716', style='stop-color:#FAD1D8')
//- 						stop(offset='0.4475', style='stop-color:#F8CBD3')
//- 						stop(offset='0.5465', style='stop-color:#F4BBC5')
//- 						stop(offset='0.6585', style='stop-color:#EDA0AD')
//- 						stop(offset='0.7799', style='stop-color:#E37A8C')
//- 						stop(offset='0.9075', style='stop-color:#D64A62')
//- 						stop(offset='1', style='stop-color:#CB2340')
//- 					path(opacity='0.4', fill='url(#SVGID_4_)', d='M3.2,9.1C3.9,7.7,5,6.5,6.3,5.6c1.3-0.9,2.9-1.4,4.5-1.3c0.6,0,1.2,0.1,1.8,0.1\
//- 					c1.5-0.1,2.8-0.9,3.8-2c0.3-0.3,0.5-0.6,0.9-0.7c0.4-0.1,0.8,0.2,1,0.6c0.1,0.4,0.1,0.8-0.1,1.2c-0.2,0.3-0.4,0.6-0.7,0.8\
//- 					c-1.1,1.4-1.4,3.3-0.8,5c0.2,0.5,0.4,0.9,0.5,1.4c0.5,1.3,0.6,2.7,0.5,4c-0.2-1.1-0.5-2.2-0.8-3.2c0,0.3-0.1,0.6-0.1,0.9\
//- 					c0,0.1-0.1,0.2-0.1,0.2c-0.1,0-0.2-0.1-0.2-0.2c-0.2-0.4-0.3-0.7-0.5-1.1c-0.2,2.1-0.5,4.1-0.9,6.2c0.3-2.5,0.3-5.1-0.5-7.5\
//- 					c0,0.6-0.2,1.2-0.6,1.7c0-0.3,0-0.6,0.1-0.9c-0.1,0.6-0.6,1.1-0.8,1.7c-0.2,0.6-0.2,1.2-0.3,1.8c-0.1,0.5-0.3,1-0.4,1.5\
//- 					c-0.3,1.4,0.2,2.8-0.4,4.1c-0.1-1.6-0.2-3.2-0.4-4.8c-0.1-0.9-0.1-1.9,0-2.8c0.1-0.9,0.5-1.8,0.6-2.7c-0.4,0.6-0.8,1.2-1.2,1.8\
//- 					c0.3-0.5,0.4-1.1,0.4-1.7c-0.6,0.4-1.2,1-1.5,1.7c0.2-1.1,0.4-2.1,0.6-3.2c-1.3,1.1-2.2,2.5-2.9,4.1c-0.6,1.6-1,3.2-1.4,4.8\
//- 					c0-3.2,1.1-6.4,2.3-9.3C8.4,8.2,8.1,8.4,7.8,8.7c0.3-0.4,0.6-0.8,0.9-1.2C8,7.8,7.4,8.3,6.8,8.8c0.2-0.3,0.4-0.6,0.6-1\
//- 					C6.1,8.8,5,10,4.4,11.5c0.6-1.9,1.5-3.6,2.9-5.1C6.7,6.7,6.1,7.1,5.7,7.6c0.5-0.7,1-1.4,1.6-2C5.6,6.2,4.1,7.5,3.2,9.1z')
//- 		.snow.snowflake.six.scale-2
//- 			svg(version='1.1', enable-background='new 0 0 21.8 27.5', xml:space='preserve')
//- 				g
//- 					lineargradient#SVGID_1_(gradientUnits='userSpaceOnUse', x1='758.8544', y1='17.2313', x2='770.1974', y2='-3.4324', gradientTransform='matrix(-0.9998 1.940000e-02 1.940000e-02 0.9998 776.5239 -7.2881)')
//- 						stop(offset='0', style='stop-color:#FFFFFF')
//- 						stop(offset='1', style='stop-color:#CB2340')
//- 					path(fill='url(#SVGID_1_)', d='M4,4.5C5.9,3,8.7,3,10.9,4c0.5,0.2,1,0.5,1.6,0.6c1.1,0.1,2.2-0.7,2.9-1.5c0.4-0.4,0.8-0.9,1.3-1.2\
//- 					c0.5-0.3,1.2-0.4,1.6,0c0.5,0.4,0.6,1.1,0.5,1.7c-0.2,1.2-1,2.1-1.3,3.3c-0.3,1.2,0,2.5,0.5,3.7c0.5,1.2,1.2,2.2,1.8,3.4\
//- 					c0.8,1.7,1.3,3.6,1.1,5.4c-0.1,1.9-0.9,3.7-2.3,5c-0.6,0.5-1.3,1-2,1.3c-2.9,1.4-6.3,1.3-9.3,0.1c-0.6-0.2-1.1-0.5-1.6-0.8\
//- 					c-0.7-0.5-1.2-1.1-1.7-1.7C0.9,19,0,13.3,1.6,8.4C2.1,6.9,2.8,5.5,4,4.5z')
//- 					lineargradient#SVGID_2_(gradientUnits='userSpaceOnUse', x1='758.8544', y1='16.6837', x2='770.1974', y2='-3.9799', gradientTransform='matrix(-0.9998 1.940000e-02 1.940000e-02 0.9998 776.5239 -7.2881)')
//- 						stop(offset='0', style='stop-color:#FFFFFF')
//- 						stop(offset='0.1571', style='stop-color:#F9CBD3')
//- 						stop(offset='0.3716', style='stop-color:#FAD1D8')
//- 						stop(offset='0.4475', style='stop-color:#F8CBD3')
//- 						stop(offset='0.5465', style='stop-color:#F4BBC5')
//- 						stop(offset='0.6585', style='stop-color:#EDA0AD')
//- 						stop(offset='0.7799', style='stop-color:#E37A8C')
//- 						stop(offset='0.9075', style='stop-color:#D64A62')
//- 						stop(offset='1', style='stop-color:#CB2340')
//- 					path(fill='url(#SVGID_2_)', d='M4,4c1.9-1.5,4.6-1.5,6.9-0.6c0.5,0.2,1,0.5,1.6,0.6c1.1,0.1,2.2-0.7,2.9-1.5\
//- 					c0.4-0.4,0.8-0.9,1.3-1.2c0.5-0.3,1.2-0.4,1.6,0c0.5,0.4,0.6,1.1,0.5,1.7c-0.2,1.2-1,2.1-1.3,3.3c-0.3,1.2,0,2.5,0.5,3.7\
//- 					c0.5,1.2,1.2,2.2,1.8,3.4c0.8,1.7,1.3,3.6,1.1,5.4c-0.1,1.9-0.9,3.7-2.3,5c-0.6,0.5-1.3,1-2,1.3c-2.9,1.4-6.3,1.3-9.3,0.1\
//- 					c-0.6-0.2-1.1-0.5-1.6-0.8c-0.7-0.5-1.2-1.1-1.7-1.7C0.9,18.5,0,12.8,1.6,7.8C2.1,6.4,2.8,4.9,4,4z')
//- 					lineargradient#SVGID_3_(gradientUnits='userSpaceOnUse', x1='772.3735', y1='4.7799', x2='772.8071', y2='4.0797', gradientTransform='matrix(-0.9998 1.940000e-02 1.940000e-02 0.9998 776.5239 -7.2881)')
//- 						stop(offset='0', style='stop-color:#FFFFFF')
//- 						stop(offset='0.1571', style='stop-color:#F9CBD3')
//- 						stop(offset='0.3716', style='stop-color:#FAD1D8')
//- 						stop(offset='0.4475', style='stop-color:#F8CBD3')
//- 						stop(offset='0.5465', style='stop-color:#F4BBC5')
//- 						stop(offset='0.6585', style='stop-color:#EDA0AD')
//- 						stop(offset='0.7799', style='stop-color:#E37A8C')
//- 						stop(offset='0.9075', style='stop-color:#D64A62')
//- 						stop(offset='1', style='stop-color:#CB2340')
//- 					path(opacity='0.4', fill='url(#SVGID_3_)', d='M4.4,11.5c-0.1,0.5-0.3,0.9-0.3,1.4C4.1,12.4,4.2,11.9,4.4,11.5z')
//- 					lineargradient#SVGID_4_(gradientUnits='userSpaceOnUse', x1='761.2202', y1='7.4788', x2='767.8301', y2='-3.1988', gradientTransform='matrix(-0.9998 1.940000e-02 1.940000e-02 0.9998 776.5239 -7.2881)')
//- 						stop(offset='0', style='stop-color:#FFFFFF')
//- 						stop(offset='0.1571', style='stop-color:#F9CBD3')
//- 						stop(offset='0.3716', style='stop-color:#FAD1D8')
//- 						stop(offset='0.4475', style='stop-color:#F8CBD3')
//- 						stop(offset='0.5465', style='stop-color:#F4BBC5')
//- 						stop(offset='0.6585', style='stop-color:#EDA0AD')
//- 						stop(offset='0.7799', style='stop-color:#E37A8C')
//- 						stop(offset='0.9075', style='stop-color:#D64A62')
//- 						stop(offset='1', style='stop-color:#CB2340')
//- 					path(opacity='0.4', fill='url(#SVGID_4_)', d='M3.2,9.1C3.9,7.7,5,6.5,6.3,5.6c1.3-0.9,2.9-1.4,4.5-1.3c0.6,0,1.2,0.1,1.8,0.1\
//- 					c1.5-0.1,2.8-0.9,3.8-2c0.3-0.3,0.5-0.6,0.9-0.7c0.4-0.1,0.8,0.2,1,0.6c0.1,0.4,0.1,0.8-0.1,1.2c-0.2,0.3-0.4,0.6-0.7,0.8\
//- 					c-1.1,1.4-1.4,3.3-0.8,5c0.2,0.5,0.4,0.9,0.5,1.4c0.5,1.3,0.6,2.7,0.5,4c-0.2-1.1-0.5-2.2-0.8-3.2c0,0.3-0.1,0.6-0.1,0.9\
//- 					c0,0.1-0.1,0.2-0.1,0.2c-0.1,0-0.2-0.1-0.2-0.2c-0.2-0.4-0.3-0.7-0.5-1.1c-0.2,2.1-0.5,4.1-0.9,6.2c0.3-2.5,0.3-5.1-0.5-7.5\
//- 					c0,0.6-0.2,1.2-0.6,1.7c0-0.3,0-0.6,0.1-0.9c-0.1,0.6-0.6,1.1-0.8,1.7c-0.2,0.6-0.2,1.2-0.3,1.8c-0.1,0.5-0.3,1-0.4,1.5\
//- 					c-0.3,1.4,0.2,2.8-0.4,4.1c-0.1-1.6-0.2-3.2-0.4-4.8c-0.1-0.9-0.1-1.9,0-2.8c0.1-0.9,0.5-1.8,0.6-2.7c-0.4,0.6-0.8,1.2-1.2,1.8\
//- 					c0.3-0.5,0.4-1.1,0.4-1.7c-0.6,0.4-1.2,1-1.5,1.7c0.2-1.1,0.4-2.1,0.6-3.2c-1.3,1.1-2.2,2.5-2.9,4.1c-0.6,1.6-1,3.2-1.4,4.8\
//- 					c0-3.2,1.1-6.4,2.3-9.3C8.4,8.2,8.1,8.4,7.8,8.7c0.3-0.4,0.6-0.8,0.9-1.2C8,7.8,7.4,8.3,6.8,8.8c0.2-0.3,0.4-0.6,0.6-1\
//- 					C6.1,8.8,5,10,4.4,11.5c0.6-1.9,1.5-3.6,2.9-5.1C6.7,6.7,6.1,7.1,5.7,7.6c0.5-0.7,1-1.4,1.6-2C5.6,6.2,4.1,7.5,3.2,9.1z')
//- 		.snow.snowflake.six.scale-4
//- 			svg(version='1.1', enable-background='new 0 0 21.8 27.5', xml:space='preserve')
//- 				g
//- 					lineargradient#SVGID_1_(gradientUnits='userSpaceOnUse', x1='758.8544', y1='17.2313', x2='770.1974', y2='-3.4324', gradientTransform='matrix(-0.9998 1.940000e-02 1.940000e-02 0.9998 776.5239 -7.2881)')
//- 						stop(offset='0', style='stop-color:#FFFFFF')
//- 						stop(offset='1', style='stop-color:#CB2340')
//- 					path(fill='url(#SVGID_1_)', d='M4,4.5C5.9,3,8.7,3,10.9,4c0.5,0.2,1,0.5,1.6,0.6c1.1,0.1,2.2-0.7,2.9-1.5c0.4-0.4,0.8-0.9,1.3-1.2\
//- 					c0.5-0.3,1.2-0.4,1.6,0c0.5,0.4,0.6,1.1,0.5,1.7c-0.2,1.2-1,2.1-1.3,3.3c-0.3,1.2,0,2.5,0.5,3.7c0.5,1.2,1.2,2.2,1.8,3.4\
//- 					c0.8,1.7,1.3,3.6,1.1,5.4c-0.1,1.9-0.9,3.7-2.3,5c-0.6,0.5-1.3,1-2,1.3c-2.9,1.4-6.3,1.3-9.3,0.1c-0.6-0.2-1.1-0.5-1.6-0.8\
//- 					c-0.7-0.5-1.2-1.1-1.7-1.7C0.9,19,0,13.3,1.6,8.4C2.1,6.9,2.8,5.5,4,4.5z')
//- 					lineargradient#SVGID_2_(gradientUnits='userSpaceOnUse', x1='758.8544', y1='16.6837', x2='770.1974', y2='-3.9799', gradientTransform='matrix(-0.9998 1.940000e-02 1.940000e-02 0.9998 776.5239 -7.2881)')
//- 						stop(offset='0', style='stop-color:#FFFFFF')
//- 						stop(offset='0.1571', style='stop-color:#F9CBD3')
//- 						stop(offset='0.3716', style='stop-color:#FAD1D8')
//- 						stop(offset='0.4475', style='stop-color:#F8CBD3')
//- 						stop(offset='0.5465', style='stop-color:#F4BBC5')
//- 						stop(offset='0.6585', style='stop-color:#EDA0AD')
//- 						stop(offset='0.7799', style='stop-color:#E37A8C')
//- 						stop(offset='0.9075', style='stop-color:#D64A62')
//- 						stop(offset='1', style='stop-color:#CB2340')
//- 					path(fill='url(#SVGID_2_)', d='M4,4c1.9-1.5,4.6-1.5,6.9-0.6c0.5,0.2,1,0.5,1.6,0.6c1.1,0.1,2.2-0.7,2.9-1.5\
//- 					c0.4-0.4,0.8-0.9,1.3-1.2c0.5-0.3,1.2-0.4,1.6,0c0.5,0.4,0.6,1.1,0.5,1.7c-0.2,1.2-1,2.1-1.3,3.3c-0.3,1.2,0,2.5,0.5,3.7\
//- 					c0.5,1.2,1.2,2.2,1.8,3.4c0.8,1.7,1.3,3.6,1.1,5.4c-0.1,1.9-0.9,3.7-2.3,5c-0.6,0.5-1.3,1-2,1.3c-2.9,1.4-6.3,1.3-9.3,0.1\
//- 					c-0.6-0.2-1.1-0.5-1.6-0.8c-0.7-0.5-1.2-1.1-1.7-1.7C0.9,18.5,0,12.8,1.6,7.8C2.1,6.4,2.8,4.9,4,4z')
//- 					lineargradient#SVGID_3_(gradientUnits='userSpaceOnUse', x1='772.3735', y1='4.7799', x2='772.8071', y2='4.0797', gradientTransform='matrix(-0.9998 1.940000e-02 1.940000e-02 0.9998 776.5239 -7.2881)')
//- 						stop(offset='0', style='stop-color:#FFFFFF')
//- 						stop(offset='0.1571', style='stop-color:#F9CBD3')
//- 						stop(offset='0.3716', style='stop-color:#FAD1D8')
//- 						stop(offset='0.4475', style='stop-color:#F8CBD3')
//- 						stop(offset='0.5465', style='stop-color:#F4BBC5')
//- 						stop(offset='0.6585', style='stop-color:#EDA0AD')
//- 						stop(offset='0.7799', style='stop-color:#E37A8C')
//- 						stop(offset='0.9075', style='stop-color:#D64A62')
//- 						stop(offset='1', style='stop-color:#CB2340')
//- 					path(opacity='0.4', fill='url(#SVGID_3_)', d='M4.4,11.5c-0.1,0.5-0.3,0.9-0.3,1.4C4.1,12.4,4.2,11.9,4.4,11.5z')
//- 					lineargradient#SVGID_4_(gradientUnits='userSpaceOnUse', x1='761.2202', y1='7.4788', x2='767.8301', y2='-3.1988', gradientTransform='matrix(-0.9998 1.940000e-02 1.940000e-02 0.9998 776.5239 -7.2881)')
//- 						stop(offset='0', style='stop-color:#FFFFFF')
//- 						stop(offset='0.1571', style='stop-color:#F9CBD3')
//- 						stop(offset='0.3716', style='stop-color:#FAD1D8')
//- 						stop(offset='0.4475', style='stop-color:#F8CBD3')
//- 						stop(offset='0.5465', style='stop-color:#F4BBC5')
//- 						stop(offset='0.6585', style='stop-color:#EDA0AD')
//- 						stop(offset='0.7799', style='stop-color:#E37A8C')
//- 						stop(offset='0.9075', style='stop-color:#D64A62')
//- 						stop(offset='1', style='stop-color:#CB2340')
//- 					path(opacity='0.4', fill='url(#SVGID_4_)', d='M3.2,9.1C3.9,7.7,5,6.5,6.3,5.6c1.3-0.9,2.9-1.4,4.5-1.3c0.6,0,1.2,0.1,1.8,0.1\
//- 					c1.5-0.1,2.8-0.9,3.8-2c0.3-0.3,0.5-0.6,0.9-0.7c0.4-0.1,0.8,0.2,1,0.6c0.1,0.4,0.1,0.8-0.1,1.2c-0.2,0.3-0.4,0.6-0.7,0.8\
//- 					c-1.1,1.4-1.4,3.3-0.8,5c0.2,0.5,0.4,0.9,0.5,1.4c0.5,1.3,0.6,2.7,0.5,4c-0.2-1.1-0.5-2.2-0.8-3.2c0,0.3-0.1,0.6-0.1,0.9\
//- 					c0,0.1-0.1,0.2-0.1,0.2c-0.1,0-0.2-0.1-0.2-0.2c-0.2-0.4-0.3-0.7-0.5-1.1c-0.2,2.1-0.5,4.1-0.9,6.2c0.3-2.5,0.3-5.1-0.5-7.5\
//- 					c0,0.6-0.2,1.2-0.6,1.7c0-0.3,0-0.6,0.1-0.9c-0.1,0.6-0.6,1.1-0.8,1.7c-0.2,0.6-0.2,1.2-0.3,1.8c-0.1,0.5-0.3,1-0.4,1.5\
//- 					c-0.3,1.4,0.2,2.8-0.4,4.1c-0.1-1.6-0.2-3.2-0.4-4.8c-0.1-0.9-0.1-1.9,0-2.8c0.1-0.9,0.5-1.8,0.6-2.7c-0.4,0.6-0.8,1.2-1.2,1.8\
//- 					c0.3-0.5,0.4-1.1,0.4-1.7c-0.6,0.4-1.2,1-1.5,1.7c0.2-1.1,0.4-2.1,0.6-3.2c-1.3,1.1-2.2,2.5-2.9,4.1c-0.6,1.6-1,3.2-1.4,4.8\
//- 					c0-3.2,1.1-6.4,2.3-9.3C8.4,8.2,8.1,8.4,7.8,8.7c0.3-0.4,0.6-0.8,0.9-1.2C8,7.8,7.4,8.3,6.8,8.8c0.2-0.3,0.4-0.6,0.6-1\
//- 					C6.1,8.8,5,10,4.4,11.5c0.6-1.9,1.5-3.6,2.9-5.1C6.7,6.7,6.1,7.1,5.7,7.6c0.5-0.7,1-1.4,1.6-2C5.6,6.2,4.1,7.5,3.2,9.1z')
//- 		.snow.snowflake.one.scale-5
//- 			svg(version='1.1', enable-background='new 0 0 21.8 27.5', xml:space='preserve')
//- 				g
//- 					lineargradient#SVGID_1_(gradientUnits='userSpaceOnUse', x1='758.8544', y1='17.2313', x2='770.1974', y2='-3.4324', gradientTransform='matrix(-0.9998 1.940000e-02 1.940000e-02 0.9998 776.5239 -7.2881)')
//- 						stop(offset='0', style='stop-color:#FFFFFF')
//- 						stop(offset='1', style='stop-color:#CB2340')
//- 					path(fill='url(#SVGID_1_)', d='M4,4.5C5.9,3,8.7,3,10.9,4c0.5,0.2,1,0.5,1.6,0.6c1.1,0.1,2.2-0.7,2.9-1.5c0.4-0.4,0.8-0.9,1.3-1.2\
//- 					c0.5-0.3,1.2-0.4,1.6,0c0.5,0.4,0.6,1.1,0.5,1.7c-0.2,1.2-1,2.1-1.3,3.3c-0.3,1.2,0,2.5,0.5,3.7c0.5,1.2,1.2,2.2,1.8,3.4\
//- 					c0.8,1.7,1.3,3.6,1.1,5.4c-0.1,1.9-0.9,3.7-2.3,5c-0.6,0.5-1.3,1-2,1.3c-2.9,1.4-6.3,1.3-9.3,0.1c-0.6-0.2-1.1-0.5-1.6-0.8\
//- 					c-0.7-0.5-1.2-1.1-1.7-1.7C0.9,19,0,13.3,1.6,8.4C2.1,6.9,2.8,5.5,4,4.5z')
//- 					lineargradient#SVGID_2_(gradientUnits='userSpaceOnUse', x1='758.8544', y1='16.6837', x2='770.1974', y2='-3.9799', gradientTransform='matrix(-0.9998 1.940000e-02 1.940000e-02 0.9998 776.5239 -7.2881)')
//- 						stop(offset='0', style='stop-color:#FFFFFF')
//- 						stop(offset='0.1571', style='stop-color:#F9CBD3')
//- 						stop(offset='0.3716', style='stop-color:#FAD1D8')
//- 						stop(offset='0.4475', style='stop-color:#F8CBD3')
//- 						stop(offset='0.5465', style='stop-color:#F4BBC5')
//- 						stop(offset='0.6585', style='stop-color:#EDA0AD')
//- 						stop(offset='0.7799', style='stop-color:#E37A8C')
//- 						stop(offset='0.9075', style='stop-color:#D64A62')
//- 						stop(offset='1', style='stop-color:#CB2340')
//- 					path(fill='url(#SVGID_2_)', d='M4,4c1.9-1.5,4.6-1.5,6.9-0.6c0.5,0.2,1,0.5,1.6,0.6c1.1,0.1,2.2-0.7,2.9-1.5\
//- 					c0.4-0.4,0.8-0.9,1.3-1.2c0.5-0.3,1.2-0.4,1.6,0c0.5,0.4,0.6,1.1,0.5,1.7c-0.2,1.2-1,2.1-1.3,3.3c-0.3,1.2,0,2.5,0.5,3.7\
//- 					c0.5,1.2,1.2,2.2,1.8,3.4c0.8,1.7,1.3,3.6,1.1,5.4c-0.1,1.9-0.9,3.7-2.3,5c-0.6,0.5-1.3,1-2,1.3c-2.9,1.4-6.3,1.3-9.3,0.1\
//- 					c-0.6-0.2-1.1-0.5-1.6-0.8c-0.7-0.5-1.2-1.1-1.7-1.7C0.9,18.5,0,12.8,1.6,7.8C2.1,6.4,2.8,4.9,4,4z')
//- 					lineargradient#SVGID_3_(gradientUnits='userSpaceOnUse', x1='772.3735', y1='4.7799', x2='772.8071', y2='4.0797', gradientTransform='matrix(-0.9998 1.940000e-02 1.940000e-02 0.9998 776.5239 -7.2881)')
//- 						stop(offset='0', style='stop-color:#FFFFFF')
//- 						stop(offset='0.1571', style='stop-color:#F9CBD3')
//- 						stop(offset='0.3716', style='stop-color:#FAD1D8')
//- 						stop(offset='0.4475', style='stop-color:#F8CBD3')
//- 						stop(offset='0.5465', style='stop-color:#F4BBC5')
//- 						stop(offset='0.6585', style='stop-color:#EDA0AD')
//- 						stop(offset='0.7799', style='stop-color:#E37A8C')
//- 						stop(offset='0.9075', style='stop-color:#D64A62')
//- 						stop(offset='1', style='stop-color:#CB2340')
//- 					path(opacity='0.4', fill='url(#SVGID_3_)', d='M4.4,11.5c-0.1,0.5-0.3,0.9-0.3,1.4C4.1,12.4,4.2,11.9,4.4,11.5z')
//- 					lineargradient#SVGID_4_(gradientUnits='userSpaceOnUse', x1='761.2202', y1='7.4788', x2='767.8301', y2='-3.1988', gradientTransform='matrix(-0.9998 1.940000e-02 1.940000e-02 0.9998 776.5239 -7.2881)')
//- 						stop(offset='0', style='stop-color:#FFFFFF')
//- 						stop(offset='0.1571', style='stop-color:#F9CBD3')
//- 						stop(offset='0.3716', style='stop-color:#FAD1D8')
//- 						stop(offset='0.4475', style='stop-color:#F8CBD3')
//- 						stop(offset='0.5465', style='stop-color:#F4BBC5')
//- 						stop(offset='0.6585', style='stop-color:#EDA0AD')
//- 						stop(offset='0.7799', style='stop-color:#E37A8C')
//- 						stop(offset='0.9075', style='stop-color:#D64A62')
//- 						stop(offset='1', style='stop-color:#CB2340')
//- 					path(opacity='0.4', fill='url(#SVGID_4_)', d='M3.2,9.1C3.9,7.7,5,6.5,6.3,5.6c1.3-0.9,2.9-1.4,4.5-1.3c0.6,0,1.2,0.1,1.8,0.1\
//- 					c1.5-0.1,2.8-0.9,3.8-2c0.3-0.3,0.5-0.6,0.9-0.7c0.4-0.1,0.8,0.2,1,0.6c0.1,0.4,0.1,0.8-0.1,1.2c-0.2,0.3-0.4,0.6-0.7,0.8\
//- 					c-1.1,1.4-1.4,3.3-0.8,5c0.2,0.5,0.4,0.9,0.5,1.4c0.5,1.3,0.6,2.7,0.5,4c-0.2-1.1-0.5-2.2-0.8-3.2c0,0.3-0.1,0.6-0.1,0.9\
//- 					c0,0.1-0.1,0.2-0.1,0.2c-0.1,0-0.2-0.1-0.2-0.2c-0.2-0.4-0.3-0.7-0.5-1.1c-0.2,2.1-0.5,4.1-0.9,6.2c0.3-2.5,0.3-5.1-0.5-7.5\
//- 					c0,0.6-0.2,1.2-0.6,1.7c0-0.3,0-0.6,0.1-0.9c-0.1,0.6-0.6,1.1-0.8,1.7c-0.2,0.6-0.2,1.2-0.3,1.8c-0.1,0.5-0.3,1-0.4,1.5\
//- 					c-0.3,1.4,0.2,2.8-0.4,4.1c-0.1-1.6-0.2-3.2-0.4-4.8c-0.1-0.9-0.1-1.9,0-2.8c0.1-0.9,0.5-1.8,0.6-2.7c-0.4,0.6-0.8,1.2-1.2,1.8\
//- 					c0.3-0.5,0.4-1.1,0.4-1.7c-0.6,0.4-1.2,1-1.5,1.7c0.2-1.1,0.4-2.1,0.6-3.2c-1.3,1.1-2.2,2.5-2.9,4.1c-0.6,1.6-1,3.2-1.4,4.8\
//- 					c0-3.2,1.1-6.4,2.3-9.3C8.4,8.2,8.1,8.4,7.8,8.7c0.3-0.4,0.6-0.8,0.9-1.2C8,7.8,7.4,8.3,6.8,8.8c0.2-0.3,0.4-0.6,0.6-1\
//- 					C6.1,8.8,5,10,4.4,11.5c0.6-1.9,1.5-3.6,2.9-5.1C6.7,6.7,6.1,7.1,5.7,7.6c0.5-0.7,1-1.4,1.6-2C5.6,6.2,4.1,7.5,3.2,9.1z')
//- 		.snow.snowflake.two.scale-4
//- 			svg(version='1.1', enable-background='new 0 0 21.8 27.5', xml:space='preserve')
//- 				g
//- 					lineargradient#SVGID_1_(gradientUnits='userSpaceOnUse', x1='758.8544', y1='17.2313', x2='770.1974', y2='-3.4324', gradientTransform='matrix(-0.9998 1.940000e-02 1.940000e-02 0.9998 776.5239 -7.2881)')
//- 						stop(offset='0', style='stop-color:#FFFFFF')
//- 						stop(offset='1', style='stop-color:#CB2340')
//- 					path(fill='url(#SVGID_1_)', d='M4,4.5C5.9,3,8.7,3,10.9,4c0.5,0.2,1,0.5,1.6,0.6c1.1,0.1,2.2-0.7,2.9-1.5c0.4-0.4,0.8-0.9,1.3-1.2\
//- 					c0.5-0.3,1.2-0.4,1.6,0c0.5,0.4,0.6,1.1,0.5,1.7c-0.2,1.2-1,2.1-1.3,3.3c-0.3,1.2,0,2.5,0.5,3.7c0.5,1.2,1.2,2.2,1.8,3.4\
//- 					c0.8,1.7,1.3,3.6,1.1,5.4c-0.1,1.9-0.9,3.7-2.3,5c-0.6,0.5-1.3,1-2,1.3c-2.9,1.4-6.3,1.3-9.3,0.1c-0.6-0.2-1.1-0.5-1.6-0.8\
//- 					c-0.7-0.5-1.2-1.1-1.7-1.7C0.9,19,0,13.3,1.6,8.4C2.1,6.9,2.8,5.5,4,4.5z')
//- 					lineargradient#SVGID_2_(gradientUnits='userSpaceOnUse', x1='758.8544', y1='16.6837', x2='770.1974', y2='-3.9799', gradientTransform='matrix(-0.9998 1.940000e-02 1.940000e-02 0.9998 776.5239 -7.2881)')
//- 						stop(offset='0', style='stop-color:#FFFFFF')
//- 						stop(offset='0.1571', style='stop-color:#F9CBD3')
//- 						stop(offset='0.3716', style='stop-color:#FAD1D8')
//- 						stop(offset='0.4475', style='stop-color:#F8CBD3')
//- 						stop(offset='0.5465', style='stop-color:#F4BBC5')
//- 						stop(offset='0.6585', style='stop-color:#EDA0AD')
//- 						stop(offset='0.7799', style='stop-color:#E37A8C')
//- 						stop(offset='0.9075', style='stop-color:#D64A62')
//- 						stop(offset='1', style='stop-color:#CB2340')
//- 					path(fill='url(#SVGID_2_)', d='M4,4c1.9-1.5,4.6-1.5,6.9-0.6c0.5,0.2,1,0.5,1.6,0.6c1.1,0.1,2.2-0.7,2.9-1.5\
//- 					c0.4-0.4,0.8-0.9,1.3-1.2c0.5-0.3,1.2-0.4,1.6,0c0.5,0.4,0.6,1.1,0.5,1.7c-0.2,1.2-1,2.1-1.3,3.3c-0.3,1.2,0,2.5,0.5,3.7\
//- 					c0.5,1.2,1.2,2.2,1.8,3.4c0.8,1.7,1.3,3.6,1.1,5.4c-0.1,1.9-0.9,3.7-2.3,5c-0.6,0.5-1.3,1-2,1.3c-2.9,1.4-6.3,1.3-9.3,0.1\
//- 					c-0.6-0.2-1.1-0.5-1.6-0.8c-0.7-0.5-1.2-1.1-1.7-1.7C0.9,18.5,0,12.8,1.6,7.8C2.1,6.4,2.8,4.9,4,4z')
//- 					lineargradient#SVGID_3_(gradientUnits='userSpaceOnUse', x1='772.3735', y1='4.7799', x2='772.8071', y2='4.0797', gradientTransform='matrix(-0.9998 1.940000e-02 1.940000e-02 0.9998 776.5239 -7.2881)')
//- 						stop(offset='0', style='stop-color:#FFFFFF')
//- 						stop(offset='0.1571', style='stop-color:#F9CBD3')
//- 						stop(offset='0.3716', style='stop-color:#FAD1D8')
//- 						stop(offset='0.4475', style='stop-color:#F8CBD3')
//- 						stop(offset='0.5465', style='stop-color:#F4BBC5')
//- 						stop(offset='0.6585', style='stop-color:#EDA0AD')
//- 						stop(offset='0.7799', style='stop-color:#E37A8C')
//- 						stop(offset='0.9075', style='stop-color:#D64A62')
//- 						stop(offset='1', style='stop-color:#CB2340')
//- 					path(opacity='0.4', fill='url(#SVGID_3_)', d='M4.4,11.5c-0.1,0.5-0.3,0.9-0.3,1.4C4.1,12.4,4.2,11.9,4.4,11.5z')
//- 					lineargradient#SVGID_4_(gradientUnits='userSpaceOnUse', x1='761.2202', y1='7.4788', x2='767.8301', y2='-3.1988', gradientTransform='matrix(-0.9998 1.940000e-02 1.940000e-02 0.9998 776.5239 -7.2881)')
//- 						stop(offset='0', style='stop-color:#FFFFFF')
//- 						stop(offset='0.1571', style='stop-color:#F9CBD3')
//- 						stop(offset='0.3716', style='stop-color:#FAD1D8')
//- 						stop(offset='0.4475', style='stop-color:#F8CBD3')
//- 						stop(offset='0.5465', style='stop-color:#F4BBC5')
//- 						stop(offset='0.6585', style='stop-color:#EDA0AD')
//- 						stop(offset='0.7799', style='stop-color:#E37A8C')
//- 						stop(offset='0.9075', style='stop-color:#D64A62')
//- 						stop(offset='1', style='stop-color:#CB2340')
//- 					path(opacity='0.4', fill='url(#SVGID_4_)', d='M3.2,9.1C3.9,7.7,5,6.5,6.3,5.6c1.3-0.9,2.9-1.4,4.5-1.3c0.6,0,1.2,0.1,1.8,0.1\
//- 					c1.5-0.1,2.8-0.9,3.8-2c0.3-0.3,0.5-0.6,0.9-0.7c0.4-0.1,0.8,0.2,1,0.6c0.1,0.4,0.1,0.8-0.1,1.2c-0.2,0.3-0.4,0.6-0.7,0.8\
//- 					c-1.1,1.4-1.4,3.3-0.8,5c0.2,0.5,0.4,0.9,0.5,1.4c0.5,1.3,0.6,2.7,0.5,4c-0.2-1.1-0.5-2.2-0.8-3.2c0,0.3-0.1,0.6-0.1,0.9\
//- 					c0,0.1-0.1,0.2-0.1,0.2c-0.1,0-0.2-0.1-0.2-0.2c-0.2-0.4-0.3-0.7-0.5-1.1c-0.2,2.1-0.5,4.1-0.9,6.2c0.3-2.5,0.3-5.1-0.5-7.5\
//- 					c0,0.6-0.2,1.2-0.6,1.7c0-0.3,0-0.6,0.1-0.9c-0.1,0.6-0.6,1.1-0.8,1.7c-0.2,0.6-0.2,1.2-0.3,1.8c-0.1,0.5-0.3,1-0.4,1.5\
//- 					c-0.3,1.4,0.2,2.8-0.4,4.1c-0.1-1.6-0.2-3.2-0.4-4.8c-0.1-0.9-0.1-1.9,0-2.8c0.1-0.9,0.5-1.8,0.6-2.7c-0.4,0.6-0.8,1.2-1.2,1.8\
//- 					c0.3-0.5,0.4-1.1,0.4-1.7c-0.6,0.4-1.2,1-1.5,1.7c0.2-1.1,0.4-2.1,0.6-3.2c-1.3,1.1-2.2,2.5-2.9,4.1c-0.6,1.6-1,3.2-1.4,4.8\
//- 					c0-3.2,1.1-6.4,2.3-9.3C8.4,8.2,8.1,8.4,7.8,8.7c0.3-0.4,0.6-0.8,0.9-1.2C8,7.8,7.4,8.3,6.8,8.8c0.2-0.3,0.4-0.6,0.6-1\
//- 					C6.1,8.8,5,10,4.4,11.5c0.6-1.9,1.5-3.6,2.9-5.1C6.7,6.7,6.1,7.1,5.7,7.6c0.5-0.7,1-1.4,1.6-2C5.6,6.2,4.1,7.5,3.2,9.1z')
//- .right-spring
//- 	img(src="images/decorations/spring-2.png" class="img-fluid")