block Header Container

.header-container
	//- .santa-claus
	//- 	img(src="images/homev2/noel.png" class="img-fluid")
	//- .chrismast-snow
	//- 	.snow.snowflake.six.scale-1
	//- 		<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="30px" height="30px" style="transform: scale(.8)">
	//- 			<path fill="#fff" d="M30.318 21.56l-0.534-1.999-3.81 1.017-3.223-1.866 4.010-1.764v-1.896l-4.010-1.764 3.223-1.866 3.81 1.017 0.534-1.999-1.811-0.482 1.859-1.075-1.039-1.79-1.855 1.074 0.483-1.81-1.999-0.533-1.017 3.809-3.214 1.857 0.472-4.334-1.638-0.948-3.529 2.582v-3.716l2.788-2.786-1.462-1.466-1.326 1.326v-2.145h-2.067v2.145l-1.326-1.326-1.463 1.466 2.788 2.786v3.716l-3.529-2.582-1.638 0.948 0.473 4.334-3.214-1.856-1.017-3.809-1.998 0.533 0.483 1.81-1.855-1.074-1.036 1.79 1.855 1.075-1.81 0.482 0.534 1.999 3.81-1.017 3.223 1.866-4.010 1.764v1.896l4.010 1.764-3.223 1.866-3.809-1.017-0.534 1.999 1.81 0.482-1.855 1.075 1.036 1.791 1.855-1.073-0.483 1.809 1.999 0.534 1.017-3.81 3.214-1.857-0.473 4.335 1.638 0.948 3.529-2.582v3.717l-2.788 2.785 1.463 1.466 1.326-1.325v2.146h2.067v-2.146l1.326 1.325 1.462-1.466-2.789-2.785v-3.717l3.529 2.582 1.638-0.948-0.472-4.335 3.214 1.857 1.017 3.81 1.999-0.534-0.483-1.809 1.855 1.073 1.039-1.791-1.859-1.075 1.811-0.483zM23.777 16l-3.243 1.429-2.472-1.429 2.472-1.428 3.243 1.428zM19.887 9.262l-0.382 3.512-2.474 1.433v-2.853l2.856-2.092zM12.109 9.262l2.856 2.092v2.853l-2.474-1.433-0.381-3.512zM8.219 16l3.243-1.428 2.472 1.428-2.472 1.429-3.243-1.429zM12.109 22.738l0.381-3.512 2.474-1.433v2.853l-2.856 2.092zM19.887 22.738l-2.856-2.092v-2.853l2.474 1.433 0.382 3.512z"></path>
	//- 		</svg>
	//- 	.snow.snowflake.two.scale-2
	//- 		<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="30" height="30px">
	//- 			<path fill="#fff" d="M30.318 21.56l-0.534-1.999-3.81 1.017-3.223-1.866 4.010-1.764v-1.896l-4.010-1.764 3.223-1.866 3.81 1.017 0.534-1.999-1.811-0.482 1.859-1.075-1.039-1.79-1.855 1.074 0.483-1.81-1.999-0.533-1.017 3.809-3.214 1.857 0.472-4.334-1.638-0.948-3.529 2.582v-3.716l2.788-2.786-1.462-1.466-1.326 1.326v-2.145h-2.067v2.145l-1.326-1.326-1.463 1.466 2.788 2.786v3.716l-3.529-2.582-1.638 0.948 0.473 4.334-3.214-1.856-1.017-3.809-1.998 0.533 0.483 1.81-1.855-1.074-1.036 1.79 1.855 1.075-1.81 0.482 0.534 1.999 3.81-1.017 3.223 1.866-4.010 1.764v1.896l4.010 1.764-3.223 1.866-3.809-1.017-0.534 1.999 1.81 0.482-1.855 1.075 1.036 1.791 1.855-1.073-0.483 1.809 1.999 0.534 1.017-3.81 3.214-1.857-0.473 4.335 1.638 0.948 3.529-2.582v3.717l-2.788 2.785 1.463 1.466 1.326-1.325v2.146h2.067v-2.146l1.326 1.325 1.462-1.466-2.789-2.785v-3.717l3.529 2.582 1.638-0.948-0.472-4.335 3.214 1.857 1.017 3.81 1.999-0.534-0.483-1.809 1.855 1.073 1.039-1.791-1.859-1.075 1.811-0.483zM23.777 16l-3.243 1.429-2.472-1.429 2.472-1.428 3.243 1.428zM19.887 9.262l-0.382 3.512-2.474 1.433v-2.853l2.856-2.092zM12.109 9.262l2.856 2.092v2.853l-2.474-1.433-0.381-3.512zM8.219 16l3.243-1.428 2.472 1.428-2.472 1.429-3.243-1.429zM12.109 22.738l0.381-3.512 2.474-1.433v2.853l-2.856 2.092zM19.887 22.738l-2.856-2.092v-2.853l2.474 1.433 0.382 3.512z"></path>
	//- 		</svg>
	//- 	.snow.snowflake.five.scale-4
	//- 		<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="30" height="30px">
	//- 			<path fill="#fff" d="M30.318 21.56l-0.534-1.999-3.81 1.017-3.223-1.866 4.010-1.764v-1.896l-4.010-1.764 3.223-1.866 3.81 1.017 0.534-1.999-1.811-0.482 1.859-1.075-1.039-1.79-1.855 1.074 0.483-1.81-1.999-0.533-1.017 3.809-3.214 1.857 0.472-4.334-1.638-0.948-3.529 2.582v-3.716l2.788-2.786-1.462-1.466-1.326 1.326v-2.145h-2.067v2.145l-1.326-1.326-1.463 1.466 2.788 2.786v3.716l-3.529-2.582-1.638 0.948 0.473 4.334-3.214-1.856-1.017-3.809-1.998 0.533 0.483 1.81-1.855-1.074-1.036 1.79 1.855 1.075-1.81 0.482 0.534 1.999 3.81-1.017 3.223 1.866-4.010 1.764v1.896l4.010 1.764-3.223 1.866-3.809-1.017-0.534 1.999 1.81 0.482-1.855 1.075 1.036 1.791 1.855-1.073-0.483 1.809 1.999 0.534 1.017-3.81 3.214-1.857-0.473 4.335 1.638 0.948 3.529-2.582v3.717l-2.788 2.785 1.463 1.466 1.326-1.325v2.146h2.067v-2.146l1.326 1.325 1.462-1.466-2.789-2.785v-3.717l3.529 2.582 1.638-0.948-0.472-4.335 3.214 1.857 1.017 3.81 1.999-0.534-0.483-1.809 1.855 1.073 1.039-1.791-1.859-1.075 1.811-0.483zM23.777 16l-3.243 1.429-2.472-1.429 2.472-1.428 3.243 1.428zM19.887 9.262l-0.382 3.512-2.474 1.433v-2.853l2.856-2.092zM12.109 9.262l2.856 2.092v2.853l-2.474-1.433-0.381-3.512zM8.219 16l3.243-1.428 2.472 1.428-2.472 1.429-3.243-1.429zM12.109 22.738l0.381-3.512 2.474-1.433v2.853l-2.856 2.092zM19.887 22.738l-2.856-2.092v-2.853l2.474 1.433 0.382 3.512z"></path>
	//- 		</svg>
	//- 	.snow.snowflake.one.scale-3
	//- 		<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="30" height="30px">
	//- 			<path fill="#fff" d="M30.318 21.56l-0.534-1.999-3.81 1.017-3.223-1.866 4.010-1.764v-1.896l-4.010-1.764 3.223-1.866 3.81 1.017 0.534-1.999-1.811-0.482 1.859-1.075-1.039-1.79-1.855 1.074 0.483-1.81-1.999-0.533-1.017 3.809-3.214 1.857 0.472-4.334-1.638-0.948-3.529 2.582v-3.716l2.788-2.786-1.462-1.466-1.326 1.326v-2.145h-2.067v2.145l-1.326-1.326-1.463 1.466 2.788 2.786v3.716l-3.529-2.582-1.638 0.948 0.473 4.334-3.214-1.856-1.017-3.809-1.998 0.533 0.483 1.81-1.855-1.074-1.036 1.79 1.855 1.075-1.81 0.482 0.534 1.999 3.81-1.017 3.223 1.866-4.010 1.764v1.896l4.010 1.764-3.223 1.866-3.809-1.017-0.534 1.999 1.81 0.482-1.855 1.075 1.036 1.791 1.855-1.073-0.483 1.809 1.999 0.534 1.017-3.81 3.214-1.857-0.473 4.335 1.638 0.948 3.529-2.582v3.717l-2.788 2.785 1.463 1.466 1.326-1.325v2.146h2.067v-2.146l1.326 1.325 1.462-1.466-2.789-2.785v-3.717l3.529 2.582 1.638-0.948-0.472-4.335 3.214 1.857 1.017 3.81 1.999-0.534-0.483-1.809 1.855 1.073 1.039-1.791-1.859-1.075 1.811-0.483zM23.777 16l-3.243 1.429-2.472-1.429 2.472-1.428 3.243 1.428zM19.887 9.262l-0.382 3.512-2.474 1.433v-2.853l2.856-2.092zM12.109 9.262l2.856 2.092v2.853l-2.474-1.433-0.381-3.512zM8.219 16l3.243-1.428 2.472 1.428-2.472 1.429-3.243-1.429zM12.109 22.738l0.381-3.512 2.474-1.433v2.853l-2.856 2.092zM19.887 22.738l-2.856-2.092v-2.853l2.474 1.433 0.382 3.512z"></path>
	//- 		</svg>
	//- 	.snow.snowflake.two.scale-1
	//- 		<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="30" height="30px">
	//- 			<path fill="#fff" d="M30.318 21.56l-0.534-1.999-3.81 1.017-3.223-1.866 4.010-1.764v-1.896l-4.010-1.764 3.223-1.866 3.81 1.017 0.534-1.999-1.811-0.482 1.859-1.075-1.039-1.79-1.855 1.074 0.483-1.81-1.999-0.533-1.017 3.809-3.214 1.857 0.472-4.334-1.638-0.948-3.529 2.582v-3.716l2.788-2.786-1.462-1.466-1.326 1.326v-2.145h-2.067v2.145l-1.326-1.326-1.463 1.466 2.788 2.786v3.716l-3.529-2.582-1.638 0.948 0.473 4.334-3.214-1.856-1.017-3.809-1.998 0.533 0.483 1.81-1.855-1.074-1.036 1.79 1.855 1.075-1.81 0.482 0.534 1.999 3.81-1.017 3.223 1.866-4.010 1.764v1.896l4.010 1.764-3.223 1.866-3.809-1.017-0.534 1.999 1.81 0.482-1.855 1.075 1.036 1.791 1.855-1.073-0.483 1.809 1.999 0.534 1.017-3.81 3.214-1.857-0.473 4.335 1.638 0.948 3.529-2.582v3.717l-2.788 2.785 1.463 1.466 1.326-1.325v2.146h2.067v-2.146l1.326 1.325 1.462-1.466-2.789-2.785v-3.717l3.529 2.582 1.638-0.948-0.472-4.335 3.214 1.857 1.017 3.81 1.999-0.534-0.483-1.809 1.855 1.073 1.039-1.791-1.859-1.075 1.811-0.483zM23.777 16l-3.243 1.429-2.472-1.429 2.472-1.428 3.243 1.428zM19.887 9.262l-0.382 3.512-2.474 1.433v-2.853l2.856-2.092zM12.109 9.262l2.856 2.092v2.853l-2.474-1.433-0.381-3.512zM8.219 16l3.243-1.428 2.472 1.428-2.472 1.429-3.243-1.429zM12.109 22.738l0.381-3.512 2.474-1.433v2.853l-2.856 2.092zM19.887 22.738l-2.856-2.092v-2.853l2.474 1.433 0.382 3.512z"></path>
	//- 		</svg>
	//- 	.snow.snowflake.four.scale-3
	//- 		<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="30" height="30px">
	//- 			<path fill="#fff" d="M30.318 21.56l-0.534-1.999-3.81 1.017-3.223-1.866 4.010-1.764v-1.896l-4.010-1.764 3.223-1.866 3.81 1.017 0.534-1.999-1.811-0.482 1.859-1.075-1.039-1.79-1.855 1.074 0.483-1.81-1.999-0.533-1.017 3.809-3.214 1.857 0.472-4.334-1.638-0.948-3.529 2.582v-3.716l2.788-2.786-1.462-1.466-1.326 1.326v-2.145h-2.067v2.145l-1.326-1.326-1.463 1.466 2.788 2.786v3.716l-3.529-2.582-1.638 0.948 0.473 4.334-3.214-1.856-1.017-3.809-1.998 0.533 0.483 1.81-1.855-1.074-1.036 1.79 1.855 1.075-1.81 0.482 0.534 1.999 3.81-1.017 3.223 1.866-4.010 1.764v1.896l4.010 1.764-3.223 1.866-3.809-1.017-0.534 1.999 1.81 0.482-1.855 1.075 1.036 1.791 1.855-1.073-0.483 1.809 1.999 0.534 1.017-3.81 3.214-1.857-0.473 4.335 1.638 0.948 3.529-2.582v3.717l-2.788 2.785 1.463 1.466 1.326-1.325v2.146h2.067v-2.146l1.326 1.325 1.462-1.466-2.789-2.785v-3.717l3.529 2.582 1.638-0.948-0.472-4.335 3.214 1.857 1.017 3.81 1.999-0.534-0.483-1.809 1.855 1.073 1.039-1.791-1.859-1.075 1.811-0.483zM23.777 16l-3.243 1.429-2.472-1.429 2.472-1.428 3.243 1.428zM19.887 9.262l-0.382 3.512-2.474 1.433v-2.853l2.856-2.092zM12.109 9.262l2.856 2.092v2.853l-2.474-1.433-0.381-3.512zM8.219 16l3.243-1.428 2.472 1.428-2.472 1.429-3.243-1.429zM12.109 22.738l0.381-3.512 2.474-1.433v2.853l-2.856 2.092zM19.887 22.738l-2.856-2.092v-2.853l2.474 1.433 0.382 3.512z"></path>
	//- 		</svg>
	//- 	.snow.snowflake.two.scale-2
	//- 		<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="230" height="30px">
	//- 			<path fill="#fff" d="M30.318 21.56l-0.534-1.999-3.81 1.017-3.223-1.866 4.010-1.764v-1.896l-4.010-1.764 3.223-1.866 3.81 1.017 0.534-1.999-1.811-0.482 1.859-1.075-1.039-1.79-1.855 1.074 0.483-1.81-1.999-0.533-1.017 3.809-3.214 1.857 0.472-4.334-1.638-0.948-3.529 2.582v-3.716l2.788-2.786-1.462-1.466-1.326 1.326v-2.145h-2.067v2.145l-1.326-1.326-1.463 1.466 2.788 2.786v3.716l-3.529-2.582-1.638 0.948 0.473 4.334-3.214-1.856-1.017-3.809-1.998 0.533 0.483 1.81-1.855-1.074-1.036 1.79 1.855 1.075-1.81 0.482 0.534 1.999 3.81-1.017 3.223 1.866-4.010 1.764v1.896l4.010 1.764-3.223 1.866-3.809-1.017-0.534 1.999 1.81 0.482-1.855 1.075 1.036 1.791 1.855-1.073-0.483 1.809 1.999 0.534 1.017-3.81 3.214-1.857-0.473 4.335 1.638 0.948 3.529-2.582v3.717l-2.788 2.785 1.463 1.466 1.326-1.325v2.146h2.067v-2.146l1.326 1.325 1.462-1.466-2.789-2.785v-3.717l3.529 2.582 1.638-0.948-0.472-4.335 3.214 1.857 1.017 3.81 1.999-0.534-0.483-1.809 1.855 1.073 1.039-1.791-1.859-1.075 1.811-0.483zM23.777 16l-3.243 1.429-2.472-1.429 2.472-1.428 3.243 1.428zM19.887 9.262l-0.382 3.512-2.474 1.433v-2.853l2.856-2.092zM12.109 9.262l2.856 2.092v2.853l-2.474-1.433-0.381-3.512zM8.219 16l3.243-1.428 2.472 1.428-2.472 1.429-3.243-1.429zM12.109 22.738l0.381-3.512 2.474-1.433v2.853l-2.856 2.092zM19.887 22.738l-2.856-2.092v-2.853l2.474 1.433 0.382 3.512z"></path>
	//- 		</svg>
	//- 	.snow.snowflake.six.scale-5
	//- 		<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="30" height="30px">
	//- 			<path fill="#fff" d="M30.318 21.56l-0.534-1.999-3.81 1.017-3.223-1.866 4.010-1.764v-1.896l-4.010-1.764 3.223-1.866 3.81 1.017 0.534-1.999-1.811-0.482 1.859-1.075-1.039-1.79-1.855 1.074 0.483-1.81-1.999-0.533-1.017 3.809-3.214 1.857 0.472-4.334-1.638-0.948-3.529 2.582v-3.716l2.788-2.786-1.462-1.466-1.326 1.326v-2.145h-2.067v2.145l-1.326-1.326-1.463 1.466 2.788 2.786v3.716l-3.529-2.582-1.638 0.948 0.473 4.334-3.214-1.856-1.017-3.809-1.998 0.533 0.483 1.81-1.855-1.074-1.036 1.79 1.855 1.075-1.81 0.482 0.534 1.999 3.81-1.017 3.223 1.866-4.010 1.764v1.896l4.010 1.764-3.223 1.866-3.809-1.017-0.534 1.999 1.81 0.482-1.855 1.075 1.036 1.791 1.855-1.073-0.483 1.809 1.999 0.534 1.017-3.81 3.214-1.857-0.473 4.335 1.638 0.948 3.529-2.582v3.717l-2.788 2.785 1.463 1.466 1.326-1.325v2.146h2.067v-2.146l1.326 1.325 1.462-1.466-2.789-2.785v-3.717l3.529 2.582 1.638-0.948-0.472-4.335 3.214 1.857 1.017 3.81 1.999-0.534-0.483-1.809 1.855 1.073 1.039-1.791-1.859-1.075 1.811-0.483zM23.777 16l-3.243 1.429-2.472-1.429 2.472-1.428 3.243 1.428zM19.887 9.262l-0.382 3.512-2.474 1.433v-2.853l2.856-2.092zM12.109 9.262l2.856 2.092v2.853l-2.474-1.433-0.381-3.512zM8.219 16l3.243-1.428 2.472 1.428-2.472 1.429-3.243-1.429zM12.109 22.738l0.381-3.512 2.474-1.433v2.853l-2.856 2.092zM19.887 22.738l-2.856-2.092v-2.853l2.474 1.433 0.382 3.512z"></path>
	//- 		</svg>
	//- 	.snow.snowflake.three.scale-4
	//- 		<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="30" height="30px">
	//- 			<path fill="#fff" d="M30.318 21.56l-0.534-1.999-3.81 1.017-3.223-1.866 4.010-1.764v-1.896l-4.010-1.764 3.223-1.866 3.81 1.017 0.534-1.999-1.811-0.482 1.859-1.075-1.039-1.79-1.855 1.074 0.483-1.81-1.999-0.533-1.017 3.809-3.214 1.857 0.472-4.334-1.638-0.948-3.529 2.582v-3.716l2.788-2.786-1.462-1.466-1.326 1.326v-2.145h-2.067v2.145l-1.326-1.326-1.463 1.466 2.788 2.786v3.716l-3.529-2.582-1.638 0.948 0.473 4.334-3.214-1.856-1.017-3.809-1.998 0.533 0.483 1.81-1.855-1.074-1.036 1.79 1.855 1.075-1.81 0.482 0.534 1.999 3.81-1.017 3.223 1.866-4.010 1.764v1.896l4.010 1.764-3.223 1.866-3.809-1.017-0.534 1.999 1.81 0.482-1.855 1.075 1.036 1.791 1.855-1.073-0.483 1.809 1.999 0.534 1.017-3.81 3.214-1.857-0.473 4.335 1.638 0.948 3.529-2.582v3.717l-2.788 2.785 1.463 1.466 1.326-1.325v2.146h2.067v-2.146l1.326 1.325 1.462-1.466-2.789-2.785v-3.717l3.529 2.582 1.638-0.948-0.472-4.335 3.214 1.857 1.017 3.81 1.999-0.534-0.483-1.809 1.855 1.073 1.039-1.791-1.859-1.075 1.811-0.483zM23.777 16l-3.243 1.429-2.472-1.429 2.472-1.428 3.243 1.428zM19.887 9.262l-0.382 3.512-2.474 1.433v-2.853l2.856-2.092zM12.109 9.262l2.856 2.092v2.853l-2.474-1.433-0.381-3.512zM8.219 16l3.243-1.428 2.472 1.428-2.472 1.429-3.243-1.429zM12.109 22.738l0.381-3.512 2.474-1.433v2.853l-2.856 2.092zM19.887 22.738l-2.856-2.092v-2.853l2.474 1.433 0.382 3.512z"></path>
	//- 		</svg>
	//- 	.snow.snowflake.one.scale-1
	//- 		<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="30px" height="30px">
	//- 			<path fill="#fff" d="M30.318 21.56l-0.534-1.999-3.81 1.017-3.223-1.866 4.010-1.764v-1.896l-4.010-1.764 3.223-1.866 3.81 1.017 0.534-1.999-1.811-0.482 1.859-1.075-1.039-1.79-1.855 1.074 0.483-1.81-1.999-0.533-1.017 3.809-3.214 1.857 0.472-4.334-1.638-0.948-3.529 2.582v-3.716l2.788-2.786-1.462-1.466-1.326 1.326v-2.145h-2.067v2.145l-1.326-1.326-1.463 1.466 2.788 2.786v3.716l-3.529-2.582-1.638 0.948 0.473 4.334-3.214-1.856-1.017-3.809-1.998 0.533 0.483 1.81-1.855-1.074-1.036 1.79 1.855 1.075-1.81 0.482 0.534 1.999 3.81-1.017 3.223 1.866-4.010 1.764v1.896l4.010 1.764-3.223 1.866-3.809-1.017-0.534 1.999 1.81 0.482-1.855 1.075 1.036 1.791 1.855-1.073-0.483 1.809 1.999 0.534 1.017-3.81 3.214-1.857-0.473 4.335 1.638 0.948 3.529-2.582v3.717l-2.788 2.785 1.463 1.466 1.326-1.325v2.146h2.067v-2.146l1.326 1.325 1.462-1.466-2.789-2.785v-3.717l3.529 2.582 1.638-0.948-0.472-4.335 3.214 1.857 1.017 3.81 1.999-0.534-0.483-1.809 1.855 1.073 1.039-1.791-1.859-1.075 1.811-0.483zM23.777 16l-3.243 1.429-2.472-1.429 2.472-1.428 3.243 1.428zM19.887 9.262l-0.382 3.512-2.474 1.433v-2.853l2.856-2.092zM12.109 9.262l2.856 2.092v2.853l-2.474-1.433-0.381-3.512zM8.219 16l3.243-1.428 2.472 1.428-2.472 1.429-3.243-1.429zM12.109 22.738l0.381-3.512 2.474-1.433v2.853l-2.856 2.092zM19.887 22.738l-2.856-2.092v-2.853l2.474 1.433 0.382 3.512z"></path>
	//- 		</svg>
	//- 	.snow.snowflake.four.scale-3
	//- 		<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="30px" height="30px">
	//- 			<path fill="#fff" d="M30.318 21.56l-0.534-1.999-3.81 1.017-3.223-1.866 4.010-1.764v-1.896l-4.010-1.764 3.223-1.866 3.81 1.017 0.534-1.999-1.811-0.482 1.859-1.075-1.039-1.79-1.855 1.074 0.483-1.81-1.999-0.533-1.017 3.809-3.214 1.857 0.472-4.334-1.638-0.948-3.529 2.582v-3.716l2.788-2.786-1.462-1.466-1.326 1.326v-2.145h-2.067v2.145l-1.326-1.326-1.463 1.466 2.788 2.786v3.716l-3.529-2.582-1.638 0.948 0.473 4.334-3.214-1.856-1.017-3.809-1.998 0.533 0.483 1.81-1.855-1.074-1.036 1.79 1.855 1.075-1.81 0.482 0.534 1.999 3.81-1.017 3.223 1.866-4.010 1.764v1.896l4.010 1.764-3.223 1.866-3.809-1.017-0.534 1.999 1.81 0.482-1.855 1.075 1.036 1.791 1.855-1.073-0.483 1.809 1.999 0.534 1.017-3.81 3.214-1.857-0.473 4.335 1.638 0.948 3.529-2.582v3.717l-2.788 2.785 1.463 1.466 1.326-1.325v2.146h2.067v-2.146l1.326 1.325 1.462-1.466-2.789-2.785v-3.717l3.529 2.582 1.638-0.948-0.472-4.335 3.214 1.857 1.017 3.81 1.999-0.534-0.483-1.809 1.855 1.073 1.039-1.791-1.859-1.075 1.811-0.483zM23.777 16l-3.243 1.429-2.472-1.429 2.472-1.428 3.243 1.428zM19.887 9.262l-0.382 3.512-2.474 1.433v-2.853l2.856-2.092zM12.109 9.262l2.856 2.092v2.853l-2.474-1.433-0.381-3.512zM8.219 16l3.243-1.428 2.472 1.428-2.472 1.429-3.243-1.429zM12.109 22.738l0.381-3.512 2.474-1.433v2.853l-2.856 2.092zM19.887 22.738l-2.856-2.092v-2.853l2.474 1.433 0.382 3.512z"></path>
	//- 		</svg>
	//- 	.snow.snowflake.five.scale-5
	//- 		<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="30px" height="30px">
	//- 			<path fill="#fff" d="M30.318 21.56l-0.534-1.999-3.81 1.017-3.223-1.866 4.010-1.764v-1.896l-4.010-1.764 3.223-1.866 3.81 1.017 0.534-1.999-1.811-0.482 1.859-1.075-1.039-1.79-1.855 1.074 0.483-1.81-1.999-0.533-1.017 3.809-3.214 1.857 0.472-4.334-1.638-0.948-3.529 2.582v-3.716l2.788-2.786-1.462-1.466-1.326 1.326v-2.145h-2.067v2.145l-1.326-1.326-1.463 1.466 2.788 2.786v3.716l-3.529-2.582-1.638 0.948 0.473 4.334-3.214-1.856-1.017-3.809-1.998 0.533 0.483 1.81-1.855-1.074-1.036 1.79 1.855 1.075-1.81 0.482 0.534 1.999 3.81-1.017 3.223 1.866-4.010 1.764v1.896l4.010 1.764-3.223 1.866-3.809-1.017-0.534 1.999 1.81 0.482-1.855 1.075 1.036 1.791 1.855-1.073-0.483 1.809 1.999 0.534 1.017-3.81 3.214-1.857-0.473 4.335 1.638 0.948 3.529-2.582v3.717l-2.788 2.785 1.463 1.466 1.326-1.325v2.146h2.067v-2.146l1.326 1.325 1.462-1.466-2.789-2.785v-3.717l3.529 2.582 1.638-0.948-0.472-4.335 3.214 1.857 1.017 3.81 1.999-0.534-0.483-1.809 1.855 1.073 1.039-1.791-1.859-1.075 1.811-0.483zM23.777 16l-3.243 1.429-2.472-1.429 2.472-1.428 3.243 1.428zM19.887 9.262l-0.382 3.512-2.474 1.433v-2.853l2.856-2.092zM12.109 9.262l2.856 2.092v2.853l-2.474-1.433-0.381-3.512zM8.219 16l3.243-1.428 2.472 1.428-2.472 1.429-3.243-1.429zM12.109 22.738l0.381-3.512 2.474-1.433v2.853l-2.856 2.092zM19.887 22.738l-2.856-2.092v-2.853l2.474 1.433 0.382 3.512z"></path>
	//- 		</svg>
	//- 	.snow.snowflake.four.scale-1
	//- 		<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="30" height="30px">
	//- 			<path fill="#fff" d="M30.318 21.56l-0.534-1.999-3.81 1.017-3.223-1.866 4.010-1.764v-1.896l-4.010-1.764 3.223-1.866 3.81 1.017 0.534-1.999-1.811-0.482 1.859-1.075-1.039-1.79-1.855 1.074 0.483-1.81-1.999-0.533-1.017 3.809-3.214 1.857 0.472-4.334-1.638-0.948-3.529 2.582v-3.716l2.788-2.786-1.462-1.466-1.326 1.326v-2.145h-2.067v2.145l-1.326-1.326-1.463 1.466 2.788 2.786v3.716l-3.529-2.582-1.638 0.948 0.473 4.334-3.214-1.856-1.017-3.809-1.998 0.533 0.483 1.81-1.855-1.074-1.036 1.79 1.855 1.075-1.81 0.482 0.534 1.999 3.81-1.017 3.223 1.866-4.010 1.764v1.896l4.010 1.764-3.223 1.866-3.809-1.017-0.534 1.999 1.81 0.482-1.855 1.075 1.036 1.791 1.855-1.073-0.483 1.809 1.999 0.534 1.017-3.81 3.214-1.857-0.473 4.335 1.638 0.948 3.529-2.582v3.717l-2.788 2.785 1.463 1.466 1.326-1.325v2.146h2.067v-2.146l1.326 1.325 1.462-1.466-2.789-2.785v-3.717l3.529 2.582 1.638-0.948-0.472-4.335 3.214 1.857 1.017 3.81 1.999-0.534-0.483-1.809 1.855 1.073 1.039-1.791-1.859-1.075 1.811-0.483zM23.777 16l-3.243 1.429-2.472-1.429 2.472-1.428 3.243 1.428zM19.887 9.262l-0.382 3.512-2.474 1.433v-2.853l2.856-2.092zM12.109 9.262l2.856 2.092v2.853l-2.474-1.433-0.381-3.512zM8.219 16l3.243-1.428 2.472 1.428-2.472 1.429-3.243-1.429zM12.109 22.738l0.381-3.512 2.474-1.433v2.853l-2.856 2.092zM19.887 22.738l-2.856-2.092v-2.853l2.474 1.433 0.382 3.512z"></path>
	//- 		</svg>
	//- 	.snow.snowflake.two.scale-2
	//- 		<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="230" height="30px">
	//- 			<path fill="#fff" d="M30.318 21.56l-0.534-1.999-3.81 1.017-3.223-1.866 4.010-1.764v-1.896l-4.010-1.764 3.223-1.866 3.81 1.017 0.534-1.999-1.811-0.482 1.859-1.075-1.039-1.79-1.855 1.074 0.483-1.81-1.999-0.533-1.017 3.809-3.214 1.857 0.472-4.334-1.638-0.948-3.529 2.582v-3.716l2.788-2.786-1.462-1.466-1.326 1.326v-2.145h-2.067v2.145l-1.326-1.326-1.463 1.466 2.788 2.786v3.716l-3.529-2.582-1.638 0.948 0.473 4.334-3.214-1.856-1.017-3.809-1.998 0.533 0.483 1.81-1.855-1.074-1.036 1.79 1.855 1.075-1.81 0.482 0.534 1.999 3.81-1.017 3.223 1.866-4.010 1.764v1.896l4.010 1.764-3.223 1.866-3.809-1.017-0.534 1.999 1.81 0.482-1.855 1.075 1.036 1.791 1.855-1.073-0.483 1.809 1.999 0.534 1.017-3.81 3.214-1.857-0.473 4.335 1.638 0.948 3.529-2.582v3.717l-2.788 2.785 1.463 1.466 1.326-1.325v2.146h2.067v-2.146l1.326 1.325 1.462-1.466-2.789-2.785v-3.717l3.529 2.582 1.638-0.948-0.472-4.335 3.214 1.857 1.017 3.81 1.999-0.534-0.483-1.809 1.855 1.073 1.039-1.791-1.859-1.075 1.811-0.483zM23.777 16l-3.243 1.429-2.472-1.429 2.472-1.428 3.243 1.428zM19.887 9.262l-0.382 3.512-2.474 1.433v-2.853l2.856-2.092zM12.109 9.262l2.856 2.092v2.853l-2.474-1.433-0.381-3.512zM8.219 16l3.243-1.428 2.472 1.428-2.472 1.429-3.243-1.429zM12.109 22.738l0.381-3.512 2.474-1.433v2.853l-2.856 2.092zM19.887 22.738l-2.856-2.092v-2.853l2.474 1.433 0.382 3.512z"></path>
	//- 		</svg>
	//- 	.snow.snowflake.three.scale-5
	//- 		<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="30" height="30px">
	//- 			<path fill="#fff" d="M30.318 21.56l-0.534-1.999-3.81 1.017-3.223-1.866 4.010-1.764v-1.896l-4.010-1.764 3.223-1.866 3.81 1.017 0.534-1.999-1.811-0.482 1.859-1.075-1.039-1.79-1.855 1.074 0.483-1.81-1.999-0.533-1.017 3.809-3.214 1.857 0.472-4.334-1.638-0.948-3.529 2.582v-3.716l2.788-2.786-1.462-1.466-1.326 1.326v-2.145h-2.067v2.145l-1.326-1.326-1.463 1.466 2.788 2.786v3.716l-3.529-2.582-1.638 0.948 0.473 4.334-3.214-1.856-1.017-3.809-1.998 0.533 0.483 1.81-1.855-1.074-1.036 1.79 1.855 1.075-1.81 0.482 0.534 1.999 3.81-1.017 3.223 1.866-4.010 1.764v1.896l4.010 1.764-3.223 1.866-3.809-1.017-0.534 1.999 1.81 0.482-1.855 1.075 1.036 1.791 1.855-1.073-0.483 1.809 1.999 0.534 1.017-3.81 3.214-1.857-0.473 4.335 1.638 0.948 3.529-2.582v3.717l-2.788 2.785 1.463 1.466 1.326-1.325v2.146h2.067v-2.146l1.326 1.325 1.462-1.466-2.789-2.785v-3.717l3.529 2.582 1.638-0.948-0.472-4.335 3.214 1.857 1.017 3.81 1.999-0.534-0.483-1.809 1.855 1.073 1.039-1.791-1.859-1.075 1.811-0.483zM23.777 16l-3.243 1.429-2.472-1.429 2.472-1.428 3.243 1.428zM19.887 9.262l-0.382 3.512-2.474 1.433v-2.853l2.856-2.092zM12.109 9.262l2.856 2.092v2.853l-2.474-1.433-0.381-3.512zM8.219 16l3.243-1.428 2.472 1.428-2.472 1.429-3.243-1.429zM12.109 22.738l0.381-3.512 2.474-1.433v2.853l-2.856 2.092zM19.887 22.738l-2.856-2.092v-2.853l2.474 1.433 0.382 3.512z"></path>
	//- 		</svg>
	.header-icon
		.js-toggle-right-slidebar.js-menu-mobile
			.trigger-menu
				span.three-bars-icon
		.item-notify.new.open
			i.ic.ic-notify
			.dropdown-menu
				.tabs-notify
					a.active.new-act(href="#!") Hoạt động
					a.new-coming(href="#!") Sắp tới
				.title-notify
					h6 MỚI
				ul.new-list-notify
					li
						a.read(href='#!')
							.cover-avatar
								img(src="https://n1-cstg.mioto.vn/g/2017/10/29/11/2.jpg")
								.sub-avatar
									img(Src="https://n1-cstg.mioto.vn/v4/p/m/avatars_notify/sub/trip_request.jpg")
							span.desc
								span.lstitle Lorem Ipsum is simply dummy text
								span Lorem Ipsum is simply dummy text of the printing and typesetting industry.
								em.timer Cách đây 3 phút
				.title-notify
					h6 TRƯỚC ĐÓ
				ul.earlier-list-notify
					li
						//- a.func-remove
						//- 	i.ic.ic-remove
						a.read(href='#!')
							.cover-avatar
								img(src="https://n1-cstg.mioto.vn/g/2017/10/29/11/2.jpg")
								.sub-avatar
									img(src="https://n1-cstg.mioto.vn/v4/p/m/avatars_notify/sub/trip_approved.jpg")
							span.desc
								span.lstitle Lorem Ipsum is simply dummy text
								span Lorem Ipsum is simply dummy text of the printing and typesetting industry.
								em.timer Cách đây 3 phút
					li
						//- a.func-remove
						//- 	i.ic.ic-remove
						a(href='#!')
							//- span.img(style="background-image:url(images/upload/img_demo11.png)")
							.cover-avatar
								img(src="https://n1-cstg.mioto.vn/g/2017/10/29/11/2.jpg")
								.sub-avatar
									img(Src="https://n1-cstg.mioto.vn/v4/p/m/avatars_notify/sub/trip_remind.jpg")
							span.desc
								span.lstitle Lorem Ipsum is simply dummy text
								span Lorem Ipsum is simply dummy text of the printing and typesetting industry.
								em.timer Cách đây 3 phút
					li
						a.func-remove
							i.ic.ic-remove
						a(href='#!')
							//- span.img(style="background-image:url(images/upload/img_demo11.png)")
							.cover-avatar
								img(src="images/upload/img_demo11.png")
								.sub-avatar
									img(Src="https://n1-cstg.mioto.vn/v4/p/m/avatars_notify/sub/trip_canceled.jpg")
							span.desc
								span.lstitle Lorem Ipsum is simply dummy text
								span Lorem Ipsum is simply dummy text of the printing and typesetting industry.
								em.timer Cách đây 3 phút
				ul.upcoming.hidden
					li
						a.read
							i.ic.ic-verify
							| Bạn không có thông báo sắp tới nào.
					li
						a.has-trip(href='#!')
							//- span.img(style="background-image:url(images/upload/img_demo11.png)")
							.trip-box.trip--upcoming
								.trip-footer
									.status-trips
										p
											span.status.green-dot
											|Đang chờ duyệt xe
									.time
										p 2 giờ trước
								.trip-header
									.left
										.car-img
											.fix-img
												img(src="images/upload/car_1.png")
									.right
										.wrapper
											.avatar
												.avatar-img
													img(src="images/avatar_default.png")
											span Chủ xe
											.lstitle Trần Quang Huy
									h4 MITSUBISHI PAJERO SPORT 2016
								.trip-body
									.left
										p
											|Bắt đầu:
											span
												|Thứ Năm, 01/02/2018, 21:00
										p
											|Kết thúc:
											span
												|Thứ Sáu, 02/02/2018, 20:00
					li
						//- a.func-remove
						//- 	i.ic.ic-remove
						a(href='#!')
							.cover-avatar
								img(src="images/upload/img_demo11.png")
							span.desc
								span.lstitle Lorem Ipsum is simply dummy text
								span Lorem Ipsum is simply dummy text of the printing and typesetting industry.
								em.timer Cách đây 3 phút
		a.item-app.show-on-med-and-down(href="#!")
			i.ic.ic-info-wh
	.logo-container
		//- .hat
		//- 	img(src="images/homev2/noel-hat.png" class="img-fluid")
		a(href="#!") #{page}
	.info-container
		span <i class="ic ic-phone"></i> 571-264-7009
		span <i class="ic ic-email"></i> mioto@support.com
		span <i class="ic ic-messenger"></i> Facebook
	.menu-container
		ul
			li.has-magr
				a(title="" href="#!") <i class="ic ic-info-wh"></i> My Garrage
			li.dropdown
				div(id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
					.avatar.avatar--s
						.avatar-img(style="background-image:url(images/avatar_default.png)")
					.snippet
						.item-title
							span Laguna Loire
				.dropdown-menu(aria-labelledby="dropdownMenuButton")
					ul
						li
							a(href='#!')
								span.has-dot-red
									| Khuyến mãi
						li
							a(href='#!') Lorem Ipsum is simply
						li
							a(href='#!') Lorem Ipsum is simply
						li
							a(href='#!') Lorem Ipsum is simply
						li
							a(href='#!') Lorem Ipsum is simply
						li
							a(href='#!') Lorem Ipsum is simply
	.clear