// Popup Welcome 
.notify-container-fluid 
  .modal-content
    .modal-header 
      padding: 0 
      button.close 
        z-index: 2 
        top: 30px
        right: 30px
        background: #fff
        border-radius: 100%
        padding: .5rem .75rem
        color: #6e6e6e
        font-size: 1rem
        @media (max-width: 767px)
          padding: .25rem .5rem 
          font-size: .875rem 
          top: 25px
          right: 25px
        &.close--gray 
          color: #6e6e6e 
          border: 1px solid
        &:hover 
          cursor: pointer
    .modal-body
      padding: 0 
.notify-container-fluid 
  .notify-popup--wrapper 
    @extend .d-flex 
    flex-direction: column
  .notify-head 
    position: relative
    width: 100%
  .fix-img
    padding-bottom: 65%
    box-shadow: 0px 3px 6px rgba(0,0,0, .2)
    border-radius: 3px 3px 0 0 
    img 
      border-radius: 3px 3px 0 0
  h3.title 
    position: absolute
    top: 25px
    left: 25px
    text-shadow: 3px 1px rgba(255,255,255,.4)
    color: #fff
    font-size: 2.25em
    text-transform: none
    @media (max-width: 480px)
      font-size: 1.5em
    span 
      display: block 
  .notify-body 
    padding: 20px 25px
    width: 100%
    @media (max-width: 576px)
      padding: 15px
  .notify-content 
    margin-bottom: 1rem
    p
      font-size: .875rem
      margin-bottom: .5rem
      &:last-child 
        margin-bottom: 0
  // .btn.btn-notify
  //   font-size: 1rem
  //   font-weight: bold 
  //   letter-spacing: .1em
  //   box-shadow: 3px 3px 10px rgba(0,0,0,.2)
  //   cursor: pointer    
  //   width: 100%

  //-------- Template For Private code 
  // .notify-popup--wrapper.bg-popup
  //   background-image: url(https://upanhtocdo.com/images/2018/07/09/privatecodennn.png)
  //   background-repeat: no-repeat 
  //   background-size: cover
  //   min-height: 580px
  //   justify-content: flex-end
  //   background-position: center 20%
  //   border-radius: 3px
  //   @media (max-width: 767px)
  //     min-height: 550px 
  //   @media (max-width: 480px)
  //     min-height: 500px
  //   h3 
  //     font-size: 1.65rem 
  //     //text-shadow: 1px 2px 2px #666
  //     color: #1b054c
  //     margin-bottom: .5rem
  //     @media (max-width: 767px)
  //       font-size: 1.25rem
  //   .notify-content 
  //     text-align: center 
  //     font-size: .875em
  //     @media (max-width: 767px)
  //       padding: 0 15px
  //     p 
  //       margin-bottom: .5rem 
  //       color: #141414 
  //       width: 100% 
  //       &.sm-text
  //         font-size: 12px 
  //         padding-top: 5px
  //       &:last-child
  //         margin-bottom: 0px 
  //     span 
  //       display: inline 
  //       padding: 1px 6px 
  //       background: #fff 
  //       color: #00a550 
  //       margin: 0 2px 
  //       font-weight: bold 
  //       font-size: 1.125rem
  //       @media (max-width: 767px)
  //         font-size: 1rem
    
