//--- About New component, New Header, New Footer compare with page.scss

//-- New component for all pages
.hide-on-med
  @media (max-width: 767px)
    display: none
.hide-on-lg
  @media (max-width: 991px)
    display: none
.hide-on-sm
	@media (max-width: 576px)
		display: none
.show-on-lg-and-down
  display: none
  @media (max-width: 991px)
    display: block
.show-on-med-and-down
  display: none
.show-on-med
	display: none !important
	@media (max-width: 767px)
		display: flex !important
.show-on-sm
	display: none !important
	@media (max-width: 576px)
		display: flex !important
.min-height-no-footer
  min-height: 100vh
.d-flex
  display: flex
  justify-content: center
  align-items: center
.df-full
  display: flex
  justify-content: center
  align-items: center
  flex-wrap: wrap
  width: 100%

.line-form
  .wrap-input.wrap-input-transparent
    background: transparent
    height: auto
    padding: 0
    border: none
    input
      padding: 0
    &:focus, &.is-focused
      input
        border: none !important


.item-min-height
	min-height: 24px
	@media (max-width: 576px)
		min-height: 0


//-- Set img
.fix-img, .fix-map
  position: relative
  max-width: 100%
  padding-bottom: 100%
  overflow: hidden
.fix-map img.map, .fix-img img
  @extend %img-ratio
.fix-map
  padding-bottom: 45%

//-- Message Box Success for Owner Register
.message-box
  text-align: left
  display: inline
  p:first-child
    padding-top: 1rem
  > p
    color: #141414
    margin-bottom: .5rem

//-- Message check validator
.message-valid-box
  background: #ffccd2
  color: #c40012
  // border: 1px solid #f89898
  padding: .25rem 1rem
  margin-bottom: 1rem
  line-height: 1.5

//-- Container Grid General
.m-container
  max-width: 1140px
  padding: 0 15px
  margin: 0 auto
  @media (max-width: 1199px)
    max-width: 960px
  @media (max-width: 991px)
    max-width: 720px
  @media (max-width: 767px)
    max-width: 540px
    padding: 0px
  @media (max-width: 576px)
    max-width: none
    padding: 0 15px
.f-container
  max-width: 1265px
  padding: 0 15px
  margin: 0 auto
  position: relative
  &:after
    content: ""
    clear: both
  @media (max-width: 991px)
    max-width: 720px
  @media (max-width: 767px)
    max-width: 540px
    padding: 0px
  @media (max-width: 576px)
    max-width: none
    padding: 0px
.ex-container
  max-width: 1260px
  margin: 0 auto
  padding: 0 15px


//-- Set Radio Button
.custom-control
  position: relative
  display: -webkit-inline-box
  display: -webkit-inline-flex
  display: -ms-inline-flexbox
  display: inline-flex
  min-height: 1.5rem
  padding-left: 1.5rem
  margin-right: 1rem
  cursor: pointer
  margin-bottom: .5rem
  @media (max-width: 767px)
    font-size: 0.875em
  .custom-control-input
    position: absolute
    z-index: -1
    opacity: 0
  .custom-control-indicator
    position: absolute
    top: .25rem
    left: 0
    display: block
    width: 1rem
    height: 1rem
    pointer-events: none
    -webkit-user-select: none
    -moz-user-select: none
    -ms-user-select: none
    user-select: none
    background-color: #ddd
    background-repeat: no-repeat
    background-position: center center
    -webkit-background-size: 50% 50%
    background-size: 50% 50%
  .custom-control-input:active ~ .custom-control-indicator
    color: #fff
    background-color: #00a550
    opacity: .5
  .custom-control-input:checked~.custom-control-indicator
    color: #fff
    background-color: #00a550
.custom-radio .custom-control-input:checked~.custom-control-indicator
  background-image: url("data:image/svg+xmlcharset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='3' fill='%23fff'/%3E%3C/svg%3E")
.custom-radio
  .custom-control-indicator
    border-radius: 50%
[type=checkbox], [type=radio]
  -webkit-box-sizing: border-box
  box-sizing: border-box
  padding: 0

// On/Off Button
.switch-input
  display: none
  &:after, &:before, & *, & *:after, & *:before, & +.switch-label
    box-sizing: border-box
    &::selection
      background: none
  & +.switch-label
    outline: 0
    display: block
    width: 4em
    height: 2em
    position: relative
    cursor: pointer
    user-select: none
    background: #fbfbfb
    border-radius: 2em
    padding: 2px
    transition: all .4s ease
    border: 1px solid #00a550
    @media (max-width: 576px)
      width: 3.25em
      height: 1.75em
    &:after, &:before
      position: relative
      display: block
      content: ""
      width: 50%
      height: 100%
    &:after
      left: 0
      border-radius: 2em
      background: #fbfbfb
      transition: left .3s cubic-bezier(0.175, 0.885, 0.320, 1.275), padding .3s ease, margin .3s ease
      box-shadow: 0 0 0 1px rgba(0,0,0,.10), 0 4px 0 rgba(0,0,0,.08)
    &:before
      display: none
    &:hover:after
      will-change: padding
    &:active
      box-shadow: inset 0 0 0 2em #e8eae9
      &:after
        padding-right: .8em
  &:checked + .switch-label:after
    left: 50%
  &:checked + .switch-label
    background: #00a550
    &:active
      box-shadow: none
      &:after
        margin-left: -.8em
.switch-on-off.show-on-small
  position: absolute
  top: 10px
  right: 10px
  .switch-input
    & +.switch-label
      border: none

//-- Custom Select Option in Owner Report
.wrap-select
  &.custom-select--dark
    height: auto
    border: none
    background-color: $color-base
    &:before
      top: 0
      @media (max-width: 480px)
        right: -8px
    select
      color: #fff
      padding: 0
      cursor: pointer
      @media (max-width: 480px)
        font-size: .8125rem
      option
        color: #141414
        padding: 1rem


//-- Header
.header
  .header-container
    .item-notify
      .dropdown-menu
        @media (max-width: 480px)
          width: 90vw
        .title-notify
          // background-color: #f5f6f7
          background-color: #fffffc
          border-bottom: 1px solid #dddfe2
          border-top: 1px solid #dddfe2
          color: #90949c
          font-weight: 600
          padding: 5px 12px
          h6
            font-size: 11px
        ul.new-list-notify
          li
            &:last-of-type
              border-bottom: none
        ul.upcoming
          li
            > a
              padding: 0
            > a.has-trip
                padding: 0
          .trip--upcoming
            background-color: transparent
            box-shadow: none
            margin-bottom: 0
          .trip-header
            padding: 15px 15px 0
            flex-wrap: wrap
            .left
              width: 40%
              .car-img
                border: 1px solid rgba(0, 0, 0, 0.28)
                border-radius: 5px
            > h4
              font-size: 1.2em
              width: 100%
              font-weight: bold
              padding-top: .5rem
              @media (max-width: 767px)
                font-size: 1.2em
            .right
              width: 60%
              display: flex
              flex-direction: column
              align-items: center
              // @media (max-width: 480px)
              //   padding-left: 5px
              .wrapper
                > span
                  color: #a9aaad
                  font-weight: 700
                  padding-top: 5px
                  display: block
                  text-align: center
                  font-size: .75rem
              .lstitle
                text-transform: uppercase
                text-align: center
                color: #57a8ff
                margin: 0 auto
                font-size: 13px
                @media (max-width: 480px)
                  font-size: 12px
                  max-width: 100%
              .avatar
                width: 48px
                height: 48px
                margin: 0 auto
                border: 1px solid rgba(0, 0, 0, 0.28)
              .avatar-img
                position: relative
                max-width: 100%
                border-radius: 100%
                padding-bottom: 100%
                overflow: hidden
                img
                  position: absolute
                  top: 0
                  bottom: 0
                  width: 100%
                  height: 100%
                  object-fit: cover
          .trip-body
            padding: 5px 15px
            .left, .right
              width: 100%
              @media (max-width: 1199px)
                width: 100%
            .right
              flex-direction: row
              .lstitle
                padding-left: 10px
                width: 70%
                font-size: 14px
                text-align: left
              .avatar
                width: 45px
                height: 45px
                border: 1px solid rgba(0, 0, 0, 0.28)
              .avatar-img
                box-shadow: none
          .trip-footer
            padding: 10px
            border-top: none
            background: #e8e8e8
            .status-trips
              > p
                font-size: 12px
                // font-weight: 600
                @media (max-width: 767px)
                  font-size: 12px
              p > span.status
                width: 12px
                height: 12px
            .time
              > p
                font-size: 12px
    .menu-container
      ul
        li.dropdown
          .dropdown-menu
            ul
              li
                a
                  span.has-dot-red
                    display: inline-block
                    position: relative
                    &:before
                      content: ""
                      position: absolute
                      top: 0px
                      right: -12px
                      width: 7px
                      height: 7px
                      background-color: #fc4a4a
                      border-radius: 100%
                      box-shadow: 0 0 5px 0 #fc4a4a

//--Footer
//== Payment method
.module-payment
  position: relative
  margin-bottom: 50px
.payment-wrapper
  display: flex
  flex-wrap: wrap
  .title
    color: #fff
    text-align: center
    @media (max-width: 767px)
      text-align: left
  .left
    width: 35%
    @media (max-width: 767px)
      width: 100%
      margin-bottom: 20px
    .logo-payment
      width: 100%
      display: flex
      align-items: center
      justify-content: center
      @media (max-width: 767px)
        justify-content: flex-start
      .payment-wrap
        width: 26%
        height: auto
        background: #f7f8fb
        padding: 10px
        @media (max-width: 991px)
          width: 32%
        @media (max-width: 767px)
          width: 20%
        @media (max-width: 576px)
          width: 25%
        &:not(:first-child)
          margin-left: .5rem
        .fix-img
          position: relative
          max-width: 100%
          padding-bottom: 56.25%
          img
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%
            object-fit: contain
  .center
    width: 35%
    @media (max-width: 767px)
      width: 100%
      margin-bottom: 20px
    .insurance-wrapper
      @include flexbox()
      @include justify-content(center)
      align-items: center
      @media (max-width: 991px)
        @include justify-content(flex-end)
      @media (max-width: 767px)
        @include justify-content(flex-start)
    .logo-insurance
      width: 25%
      margin-right: 1rem
      @media (max-width: 991px)
        width: 30%
        margin-right: .5rem
      @media (max-width: 767px)
        width: 15%
      @media (max-width: 480px)
        width: 25.5%
      .fix-img
        padding-bottom: 92%
    .logo-liberty
      width: 45%
      @media (max-width: 991px)
        width: 55%
      @media (max-width: 767px)
        width: 30%
      @media (max-width: 480px)
        width: 50%
      .fix-img
        padding-bottom: 25.5%
  .right
    width: 30%
    @media (max-width: 767px)
      width: 100%
    .certify-logo
      width: 55%
      margin: 0 auto
      padding-top: 10px
      @media (max-width: 991px)
        width: 65%
      @media (max-width: 767px)
        width: 30%
        margin: 0px
      @media (max-width: 576px)
        width: 45%
      .fix-img
        position: relative
        max-width: 100%
        padding-bottom: 37.5%
        img
          position: absolute
          top: 0
          left: 0
          width: 100%
          height: 100%
          object-fit: cover
.app-link
  display: none
  @media (max-width: 767px)
    display: block
.app-footer
  visibility: hidden
  opacity: 0
  display: none
  @media (max-width: 767px)
    visibility: visible
    opacity: 1
    position: fixed
    bottom: 0
    width: 100%
    height: 45px
    background-color: rgba(0, 165, 80, 0.9)
    z-index: 1000
    text-align: center
    display: flex
    align-items: center
    justify-content: center
    padding: 0 10px
  // .item-app
  //   background: white
  //   color: #00a550
  //   padding: 2.5px 45px
  //   font-size: 14px
  //   border-radius: 3px

  .left
    @media (max-width: 767px)
      width: 120px
    @media (max-width: 480px)
      width: 100px
    .fix-img
      position: relative
      max-width: 100%
      padding-bottom: 30%
      img
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        object-fit: cover
  p
    @media (max-width: 767px)
      font-size: 15px
      padding-left: 10px
      color: #fff
    @media (max-width: 480px)
      font-size: 13px
  .right
    display: flex
    align-items: center
    justify-content: space-between
    width: 100%
button.func-remove
  background: none
  color: inherit
  border: none
  padding: 0
  font: inherit
  cursor: pointer
  outline: inherit !important
  background-color: transparent
  width: 30px
  height: 30px
  -webkit-border-radius: 100%
  -moz-border-radius: 100%
  border-radius: 100%
  display: flex
  justify-content: center
  align-items: center
  margin-left: 10px
  .ic.ic-remove-wh
    background-position: -142px -193px


//-- Header Info Car
.module-settings
  position: relative
  margin: 0 auto
  background-color: #f8f9fb
  padding: 45px 0
  @media (max-width: 767px)
    padding: 35px 0
    //padding-left: 40px
  @media (max-width: 480px)
    background: #fff
    padding: 0
  .info-car
    display: flex
    justify-content: center
    @media (max-width: 767px)
      flex-direction: column
      align-items: center
    .swiper-button-next, .swiper-button-prev
      position: absolute
      top: 50%
      z-index: 40
      background: none
      background-color: #fff
      width: 44px
      height: 44px
      display: flex
      align-items: center
      padding: 11px
      cursor: pointer
      border-radius: 100%
      right: 10%
      transition: all .3s ease
      @media (max-width: 1199px)
        right: 5%
      @media (max-width: 991px)
        right: 2.5%
      @media (max-width: 767px)
        width: 32px
        height: 32px
        right: 2%
      @media (max-width: 480px)
        right: 0
        background-color: rgba(0,0,0,.2)
        border-radius: 0px
        width: 32px
        height: 46px
      &:hover, &:focus
        i.i-arr
          border-right: 2px #00a550 solid
          border-bottom: 2px #00a550 solid
    .swiper-button-prev
      left: 10%
      @media (max-width: 1199px)
        left: 5%
      @media (max-width: 991px)
        left: 2.5%
      @media (max-width: 767px)
        left: 2%
      @media (max-width: 480px)
        left: 0%
    .swiper-button-prev i.i-arr, .swiper-button-next i.i-arr
      display: block
      position: relative
      width: 15px
      height: 15px
      background: none
      margin: 24px auto
      transform: rotate(135deg)
      border-left: none
      border-top: none
      border-right: 2px #141414 solid
      border-bottom: 2px #141414 solid
      left: 2.5px
      @media (max-width: 767px)
        width: 10px
        height: 10px
      @media (max-width: 480px)
        border-right: 2px #fff solid
        border-bottom: 2px #fff solid
    .swiper-button-next i.i-arr
      transform: rotate(-45deg)
      left: -2.5px
    .info-img
      width: 25%
      margin-right: 3%
      box-shadow: 0px 1px 3px rgba(0,0,0,.85)
      position: relative
      @media (max-width: 1199px)
        width: 30%
      @media (max-width: 991px)
        width: 35%
      @media (max-width: 767px)
        width: 70%
        margin-right: 0
      @media (max-width: 576px)
        width: 80%
      @media (max-width: 480px)
        width: 100%
      .fix-img
        padding-bottom: 72%
        @media (max-width: 480px)
          padding-bottom: 82%
    p.status
      position: absolute
      top: 10px
      left: 10px
      font-size: 13px
      color: #fff
      padding: 5px 8px
      background: rgba(0,0,0,.5)
      border-radius: 20px
      span.status
        width: 13px
        height: 13px
    .info-desc
      &.show-on-small
        display: none
        @media (max-width: 767px)
          display: flex
          position: absolute
          bottom: 0
          right: 0
          padding: 10px 15px
          background: rgba(0,0,0,.5)
        .group-name
          span.lstitle
            font-size: 12px
            display: none
          h1.title-car
            color: #ffffff
            font-size: 1.25em
        @media (max-width: 576px)
          .group-name
            h1.title-car
              font-size: 1em
      &.hide-on-small
        display: block
        width: 40%
        @media (max-width: 767px)
          display: none
      .group-name
        span.lstitle
          display: block
          margin-bottom: 5px
          color: #a9aaad
          font-size: 0.875em
          font-weight: bold
        h1.title-car
          margin-bottom: 5px
          color: #141414
          font-size: 2em
          font-weight: bold
          text-transform: uppercase
          line-height: 1.25
          @media (max-width: 991px)
            font-size: 1.5em
    a.btn.btn--m.show-on-small
      display: none
      @media (max-width: 767px)
        display: block
        position: absolute
        top: 10px
        right: 10px
        height: 36px
        line-height: 36px
        font-size: 14px
    a.btn.btn--m.hide-on-small
      display: inline-block
      width: 25%
      @media (max-width: 991px)
        width: 30%
      @media (max-width: 767px)
        display: none













