

@media (min-width: 320px) {
    .module-map {
        //overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
    }
  
}

@media (min-width: 992px) {
    .item-car {
        &:hover {
            background-color: #fff;
            box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.1);
            .desc-car {
                a.btn {
                    @include opacity(1)
                }
            }
        }
    }
}

@media (max-width: 1399px) {
    .module-deal {
        .swiper-button-prev {
            left: 0;
        }
        .swiper-button-next {
            left: inherit;
            right: 0;
        }
    }
    .module-destination {
        .swiper-button-prev {
            left: 0;
        }
        .swiper-button-next {
            left: inherit;
            right: 0;
        }
    }
}

@media (max-width: 1199px) {
    .body {
        &.has-filter {
            //  max-width: 960px;
        }
        .body-container {
            .content {
                .content-container {
                    .list-status {
                        li {
                            padding-left: 30px;
                        }
                    }
                }
            }
        }
    }
}


@media (max-width: 991px) {
    .test-hide {
        display: none !important;
    }
    .show-on-med-and-down {
        display: block !important;
    }
    .header {
        .header-container {
            .item-notify {
                right: 60px;
                //  padding: 22px 12px;
                //padding: 17px 12px;
                padding-left: 0px;
                &:after {
                    left: inherit;
                    right: 0
                }
                &.new {
                    &:before {
                        top: 15px;
                        right: 65px
                    }
                }
                .dropdown-menu {
                    //  right: -60px
                    right: 0
                }
            }
        }
    }
    .body {
        &.has-filter {
            max-width: 720px;
        }
        &.no-pd-on-mobile {
            max-width: unset;
            padding: 0px;
        }
        .body-container {
            padding: 50px 10px;
            .sidebar {
                ul {
                    li {
                        a {
                            font-size: 0.875em;
                            &.active {
                                &:before {
                                    top: 10px
                                }
                            }
                        }
                    }
                }
            }
            .content {
                padding-left: 30px;
                .title {
                    margin-bottom: 30px;
                    font-size: 1.5em
                }
                .content-container {
                    h2 {
                        font-size: 1.875em
                    }
                    h4 {
                        margin-bottom: 20px;
                        font-size: 1.25em
                    }
                    h5 {
                        margin-bottom: 10px;
                        font-size: 1.25em
                    }
                    p {
                        margin-bottom: 12px
                    }
                    .col-1 {
                        float: none;
                        width: 100%;
                        margin-bottom: 15px;
                        padding-right: 0
                    }
                    .col-2 {
                        float: none;
                        width: 100%
                    }
                    .list-type1 {
                        li {
                            width: 50%;
                            margin-bottom: 30px;
                            font-size: 1em;
                            i {
                                margin-bottom: 10px
                            }
                            &:nth-child(3n+1) {
                                clear: inherit
                            }
                            &:nth-child(2n+1) {
                                clear: both
                            }
                        }
                    }
                    .list-status {
                        li {
                            //  margin-right: 12px;
                            padding-left: 25px;
                            font-size: 13px;
                        }
                    }
                }
            }
            .info-car {
                padding-left: 30px;
                .img {
                    position: relative;
                    top: inherit;
                    left: inherit;
                    width: auto;
                    max-width: 220px;
                    margin-bottom: 10px
                }
                .group-name {
                    padding-top: 0;
                    h1.title-car {
                        font-size: 1.5em
                    }
                }
            }
        }
    }
    .cover {
        margin-bottom: 45px;
        .slogan {
            h1 {
                font-size: 1.75em
            }
        }
        .rent-car {
            top: -105px;
            width: 350px;
            .lstitle {
                font-size: 0.875em
            }
        }
    }
    .func-filter.call {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $color-main;
        .ic.ic-call {
            background: url(../images/main_sprites.png) -182px 0px;
            background-repeat: no-repeat;
            background-size: 600px;
            width: 35px;
            height: 35px;
        }
    }
}


@media (max-width: 767px) {
    .show-on-small {
        display: block!important
    }
    .hide-on-med-and-down {
        display: none!important
    }
    .header {
        .header-container {
            .item-notify {
                padding: 12px;
                padding-right: 0px;
                &.new:before {
                    top: 10px;
                    right: 50px;
                }
            }
            .item-app {
                padding: 13px;
                padding-right: 0px;
            }
        }
    }
    .js-menu-mobile {
        .trigger-menu {
            .three-bars-icon {
                margin: 24px 14px;
            }
        }
    }
    .body {
        &.has-filter {
            max-width: 540px;
            padding: 0px;
        }
        &.no-pd-on-mobile {
            max-width: unset;
            padding: 0px;
        }
        .body-container {
            padding: 50px 20px;
            .sidebar {
                float: none;
                background-color: #f8f8f8;
                width: 100%;
                margin-bottom: 30px;
                padding: 0
            }
            .content {
                float: none;
                width: 100%;
                margin-bottom: 20px;
                padding: 0;
                border: none;
                .content-container {
                    h4 {
                        font-size: 1.125em
                    }
                    h5 {
                        font-size: 1.125em
                    }
                    p {
                        font-size: 0.875em
                    }
                    .wr-col-split3 {
                        margin: 0;
                        @include clearfix;
                        .col-split3 {
                            float: none;
                            width: 100%;
                            margin-bottom: 15px;
                            padding: 0
                        }
                    }
                    .list-type1 {
                        li {
                            margin-bottom: 10px;
                            padding-right: 10px;
                            i {
                                @include transform(scale(0.75));
                            }
                        }
                    }
                    .list-type2 {
                        li {
                            float: none;
                            width: 100%;
                            margin-bottom: 30px;
                            padding-right: 0;
                            span.w-ic {
                                display: block;
                                position: relative;
                                height: 86px;
                                margin-bottom: 20px;
                                i {
                                    position: absolute;
                                    bottom: 0;
                                    left: 50%;
                                    margin-left: -30px;
                                    &.ict-crown {
                                        margin-left: -38px
                                    }
                                }
                            }
                            h4 {
                                margin-bottom: 15px;
                                font-size: 1.125em;
                                text-align: center
                            }
                            p {
                                margin-bottom: 8px;
                                font-size: 0.875em;
                                text-align: center;
                                &:last-child {
                                    margin-bottom: 0
                                }
                            }
                            &:nth-child(2n+1) {
                                clear: both
                            }
                        }
                    }
                    .list-status {
                        height: auto;
                        margin-bottom: 30px;
                        padding: 13px;
                        li {
                            //  float: left;
                            position: relative;
                            //  margin-right: 20px;
                            //  padding: 13px 0;
                            padding-left: 30px;
                            color: $color-second;
                            font-size: 0.75em;
                            width: 25%;
                            &.status-1:before {
                                top: 5px;
                                left: 10px;
                                width: 7px;
                                height: 7px
                            }
                            &.status-2:before,
                            &.status-8:before,
                            &.status-9:before {
                                top: 5px;
                                left: 10px;
                                width: 7px;
                                height: 7px
                            }
                            &.status-5:before {
                                top: 5px;
                                left: 10px;
                                width: 7px;
                                height: 7px;
                                background-size: 120px;
                                background-position: 0px -50px;
                            }
                            &.status-6:before {
                                width: 10px;
                                height: 10px;
                                background-size: 180px;
                                background-position: -109px -65px
                            }
                            &.status-7:before {
                                width: 10px;
                                height: 10px;
                                background-size: 180px;
                                background-position: -134px -66px;
                            }
                            &.status-3,
                            &.status-4 {
                                padding-left: 30px;
                            }
                            // &.status-4:before {
                            //     top: 18px;
                            //     left: 10px;
                            //     width: 7px;
                            //     height: 7px
                            // }
                        }
                    }
                    .calendar-container {
                        .title-calendar {
                            margin: 0 auto 35px;
                        }
                        .days {
                            span.req-1,
                            span.req-2,
                            span.req-3,
                            span.req-4,
                            span.req-5,
                            span.deposit-1,
                            span.deposit-2,
                            span.deposit-3,
                            span.deposit-4,
                            span.deposit-5 {
                                height: 8px;
                                i.ic.ic-sm-flat {
                                    background-position: -41px -91px;
                                    background-size: 120px;
                                    width: 7px;
                                    height: 7px;
                                }
                            }
                        }
                    }
                    .list-features {
                        ul {
                            li {
                                float: none;
                                width: 100%;
                                margin-bottom: 20px;
                                padding-right: 0
                            }
                        }
                    }
                    .group-check {
                        margin-bottom: 15px;
                        .g-head {
                            padding: 15px;
                            border-bottom: 1px solid $background;
                            .squaredFour label:after {
                                top: 6px
                            }
                            h2 {
                                font-size: 1.25em
                            }
                            p {
                                font-size: 0.938em
                            }
                        }
                        .g-body {
                            padding: 15px;
                            ul {
                                margin: 0 0 -10px;
                                @include clearfix;
                                li {
                                    float: none;
                                    width: 100%;
                                    margin-bottom: 10px;
                                    padding: 0;
                                    span {
                                        font-size: 0.875em
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .info-car {
                float: none;
                width: 100%;
                margin-top: 0;
                padding: 0
            }
        }
    }
    .cover {
        margin-bottom: 45px;
        .slogan {
            position: absolute;
            top: 20px;
            left: 0;
            right: 0;
            z-index: 1;
            h1 {
                max-width: 100%;
                padding: 10px 0;
                color: #fff;
                font-size: 1.75em;
                text-align: center
            }
            p {
                display: block
            }
        }
        .cover-container {
            background-position: left;
            height: 450px;
            //  height: 500px;
            padding-top: 180px;
            &:after {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                content: "";
                background-color: rgba(0, 0, 0, 0.5)
            }
        }
        .rent-car {
            position: absolute;
            top: -50px;
            left: 10px;
            right: 10px;
            width: auto;
            padding-top: 30px;
            .lstitle {
                display: none
            }
        }
    }
}

@media (max-width: 576px) {
    .body {
        &.has-filter {
            max-width: none;
            padding: 0 15px;
        }
        &.no-pd-on-mobile {
            max-width: unset;
            padding: 0px;
        }
    }
}

@media (max-width: 480px) {
    .body {
        .body-container {
            .content {
                .content-container {
                    .list-status {
                        padding: 13px 6px;
                        li {
                            font-size: 11px;
                            padding-left: 12px;
                            &.status-1:before {
                                top: 4px;
                                left: 0px;
                                width: 7px;
                                height: 7px
                            }
                            &.status-2:before,
                            &.status-8:before,
                            &.status-9:before {
                                top: 4px;
                                left: 0px;
                                width: 7px;
                                height: 7px
                            }
                            &.status-5:before {
                                top: 4px;
                                left: 0px;
                                width: 7px;
                                height: 7px;
                                background-size: 120px;
                                background-position: 0px -50px;
                            }
                            &.status-6:before {
                                left: 0px;
                                top: 4px;
                            }
                            &.status-3,
                            &.status-4 {
                                padding-left: 0px;
                            }
                        }
                    }
                    .calendar-container {
                        .title-calendar {
                            margin: 0 auto 35px;
                        }
                        .days {
                            span.req-1,
                            span.req-2,
                            span.req-3,
                            span.req-4,
                            span.req-5,
                            span.deposit-1,
                            span.deposit-2,
                            span.deposit-3,
                            span.deposit-4,
                            span.deposit-5 {
                                height: 7px
                            }
                        }
                    }
                }
            }
        }
    }
    .cover {
        .cover-container {
            .rent-car {
                padding: 30px 25px 0 25px;
                .wrap-input {
                    input {
                        font-size: 12.5px;
                    }
                }
            }
        }
        .rent-car {
            .line-action {
                margin: 0 -25px 0;
            }
        }
        .form-default {
            .wr-btn-share {
                margin: 0 -5px;
                .wr-btn {
                    padding: 0 5px;
                    .btn {
                        padding-left: 5px;
                        padding-right: 5px
                    }
                }
            }
        }
    }
}

