block Home

.section-tutorial__title.d-flex
	h3.title HOW IT WORKS
	p.desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
.section-tutorial__detail
	.wrap-tutorial 
		.step
			.left
				.tutorial-img 
					.fix-img 
						img(src="images/login.png")
			.line-dot.bg-gradient-green
			.right 
				.tutorial-content
					.title-tt Đăng Nhập 
					.desc 
						p Đăng nhập vào Mioto qua Facebook, Google, số điện thoại hoặc email của bạn. Chúng tôi cần bạn xác thực số điện thoại trước khi đặt xe.
					span.number-step 1
		.step
			.left
				.tutorial-content 
					.title-tt Tìm Xe
					.desc 
						p Bạn có thể tìm xe ưng ý nhanh chóng ở nơi bạn muốn tìm, thời gian, hãng xe, cho thuê ngay
					span.number-step 2
			.line-dot
			.right 
				.tutorial-img 
					.fix-img
						img(src="images/filter.png")
		.step
			.left
				.tutorial-img 
					.fix-img 
						img(src="images/book-car.png") 
			.line-dot
			.right 
				.tutorial-content
					.title-tt Đặt Xe 
					.desc 
						p Lựa chọn chiếc xe mà bạn ưng ý khi tìm kiếm và gửi Yêu cầu thuê đến Chủ xe. Sau đó chủ xe sẽ nhanh chóng nhận được yêu cầu và phản hồi đến bạn trong thời gian nhanh nhất.
						p Nếu bạn không muốn mất nhiều thời gian chờ đợi, có thể lựa chọn chiếc xe khác có tính năng "Cho Thuê Ngay" để đặt xe trực tiếp mà không cần thông qua sự phản hồi từ phía Chủ xe
					span.number-step 3
		.step 
			.left
				.tutorial-content
					.title-tt Đặt Cọc 
					.desc 
						p Sau khi nhận sự đồng ý từ Chủ xe, chỉ cần đặt cọc trước 15% bằng hình thức chuyển khoản hoặc ví điện tử.
					span.number-step 4
			.line-dot
			.right
				.tutorial-img 
					.fix-img 
						img(src="images/bill.png")
		.step
			.left
				.tutorial-img 
					.fix-img 
						img(src="images/pick-up.png")
			.line-dot
			.right 
				.tutorial-content
					.title-tt Nhận xe
					.desc 
						p Bạn và chủ xe liên hệ gặp nhau để nhận xe. Ở Mioto, có nhiều chủ xe sẵn sàng đem xe đến tận nơi cho bạn.
						p Kiểm tra tình trạng và giấy tờ xe, xuất trình bản gốc các giấy tờ, kí hợp đồng, biên bản giao xe, nhận chìa khóa và bắt đầu hành trình của bạn
					span.number-step 5		
		.step
			.left
				.tutorial-content
					.title-tt Trả xe 
					.desc 
						p Sau khi hết thời gian thuê, bạn hoàn trả xe giống như tình trạng và thỏa thuận ban đầu. Kí xác nhận biên bản bàn giao, nhận lại giấy tờ để hoàn thành chuyến đi tuyệt vời của bạn.
						p Đừng quên cho điểm rating và nhận xét của bạn đến chủ xe để nâng cao chất lượng phục vụ cho những hành trình sắp tới nhé!
					span.number-step 6
			.line-dot.bg-gradient-green-reverse
			.right 
				.tutorial-img 
					.fix-img 
						img(src="images/finish.png")
				



		
		

	