block Payment Guide
.payment-guide__sect
	.m-container
		h3.n-title Hướng Dẫn Dành Cho Chủ Xe
		.link-step-by-step
			a(href="#regisCar" class="text-primary") A. Hướng dẫn Đăng ký xe
			a(href="#manageCar" class="text-primary") B. Hướng dẫn Quản lý xe
			a(href="#requestTrip" class="text-primary") C. Hướng dẫn Duyệt Xe / Từ Chối
			a(href="#cancelTrip" class="text-primary") D. Hướng dẫn Hủy chuyến
		.payment-guide-detail
			.content-guide
				p Bạn có thể dễ dàng đăng ký và quản lý xe cho thuê trên hệ thống Mioto qua website Mioto.vn hoặc ứng dụng Mioto. Chi tiết các bước như sau:
				.method-item#regisCar
					h4.method-name A. Hướng dẫn Đăng ký xe
					h4.method-name 1. Đăng nhập hoặc đăng ký tài khoản
					.pl-2
						p Bạn vui lòng đăng nhập bằng tài khoản đã có ở Mioto hoặc đăng nhập thông qua Facebook/Google. Trong trường hợp chưa đăng ký tài khoản, bạn có thể chọn dòng "Đăng ký ngay" để tạo tài khoản tại Mioto
						p Sau khi đã hoàn tất, bạn có thể bấm vào chữ "Tạo tài khoản" để hoàn tất quá trình
						.box-classify.d-flex
							.left
								h4.ls-title WEB
								img.img-fluid(src="images/tutorial-booking/login.png")
								img.img-fluid(src="images/tutorial-booking/sign-up.png")
							.right
								h4.ls-title APP
								img.img-fluid(src="images/tutorial-booking/app-login.png")
								img.img-fluid(src="images/tutorial-booking/app-signup.png")
				.method-item
					h4.method-name 2. Đăng ký xe
					.pl-2
						p Sau khi đã tạo tài khoản, chọn biểu tượng tài khoản của bạn, chọn mục "Xe của tôi" &#8594 chọn "Đăng ký xe" để bắt đầu đăng xe
						.box-classify.d-flex
							.left
								h4.ls-title WEB
								img.img-fluid(src="images/owner-guide/car-tutorial1.jpg")
							.right
								h4.ls-title APP
								img.img-fluid(src="images/owner-guide/app-car-tutorial1.jpg")
						p Tại mục "Đăng ký xe", bạn vui lòng điền đầy đủ các trường thông tin (từ 5-10p dành cho mục này)
						p
							strong BƯỚC 1: Thông tin xe
						.box-classify.d-flex
							.box-item-title
								p
									strong Biển số xe:
							.box-item-content
								p Vui lòng điền chính xác biển số xe của bạn (ví dụ: 51G-1234). Trường hợp biển số xe bị trùng vì đã có người sử dụng, bạn vui lòng gọi
									a(class="text-primary" href="tel:19009217") 19009217 (9AM - 6PM T2-T7)
									|  để thông báo với admin.
								.box-classify.d-flex
									.left
										h4.ls-title WEB
										img.img-fluid(src="images/owner-guide/car-tutorial2.jpg")
									.right
										h4.ls-title APP
										img.img-fluid(src="images/owner-guide/app-car-tutorial2.jpg")
						p
							strong Thông tin cơ bản:

						.box-classify.d-flex
							mixin basicinfo(info)
								each item in info
									.box-item-title.pl-2
										p!=item.left
									.box-item-content
										p!= item.right
							+basicinfo([
								{'left':'Loại xe','right':'Hiện tại Mioto chỉ cho thuê các dòng xe 4-7 chỗ.'},
								{'left':'Hãng xe - Mẫu xe - Số ghế','right':'Lựa chọn dòng xe có trong danh sách. Trường hợp thông tin xe của bạn không có trong danh sách, vui lòng gọi <a class="text-primary" href="tel:19009217">19009217 (9AM - 6PM T2-T7)</a> để thông báo với admin.'},
								{'left':'Năm sản xuất','right':'Mioto không giới hạn năm sản xuất của xe, chỉ cần bạn đảm bảo xe vẫn trong tình trạng tốt và an toàn cho khách thuê.'},
								{'left':'Truyền động','right':'Lựa chọn Số sàn / Số tự động.'},
								{'left':'Nhiên liệu','right':'Chọn thông tin Xăng / Dầu.'}
							])
						.box-classify.d-flex
							.box-item-title
							.box-item-content
								.box-classify.d-flex
									.left
										h4.ls-title WEB
										img.img-fluid(src="images/owner-guide/car-tutorial3.jpg")
									.right
										h4.ls-title APP
										img.img-fluid(src="images/owner-guide/app-car-tutorial3.jpg")
						.box-classify.d-flex
							.box-item-title
								p
									strong Mức tiêu thụ nhiên liệu/100km
							.box-item-content
								p Khách thuê sẽ ưu tiên lựa chọn các xe tiết kiệm nhiên liệu cho các chuyến đi dài ngày.
						.box-classify.d-flex
							.box-item-title
								p
									strong Mô tả xe
							.box-item-content
								p Bạn có thể viết vài dòng để giới thiệu về xe của mình. Bạn có thể tham khảo các mô tả của các chủ xe đang cho thuê trên Mioto
								.ctn-desc
									p Mô tả của chủ xe Thắng Nguyễn cho xe Huynhdai Elentra 2018
									p Hyundai Elantra 1.6AT-2018 số tự động đăng ký tháng 11/2018. Xe mới, sạch sẽ, an toàn, rộng rãi, tiện nghi, phù hợp cho gia đình du lịch.
									p Xe được trang bị hệ thống cảm biến lùi, cảm biến gạt mưa tự động, cảm biến đèn pha tự động, camera cập lề, camera hành trình, hệ thống cảnh báo vượt tốc độ tích hợp trên màn hình DVD cảm ứng dẫn đường GPS, hệ thống giải trí AV cùng nhiều tiện nghi khác.
						.box-classify.d-flex
							.box-item-title
								p
									strong Tính năng:
							.box-item-content
								p Lựa chọn các tính năng tương ứng với xe của bạn (Cửa sổ trời, Bluetooth, Định vị GPS, Khe cắm USB, Ghế trẻ em)
								.box-classify.d-flex
									.left
										h4.ls-title WEB
										img.img-fluid(src="images/owner-guide/car-tutorial4.jpg")
									.right
										h4.ls-title APP
										img.img-fluid(src="images/owner-guide/app-car-tutorial4.jpg")
						p
							strong BƯỚC 2: Thiết lập yêu cầu cho thuê
						.box-classify.d-flex
							.box-item-title
								p
									strong Đơn giá thuê
							.box-item-content
								p
									strong Bạn muốn cho thuê giá bao nhiêu?
								p Bạn có thể tham khảo mức giá các chủ xe đang cho thuê trên hệ thống để cái đặt giá thuê cho xe của mình.
								p Giá càng cạnh tranh sẽ càng thu hút khách hàng thuê xe. Hệ thống cũng sẽ ưu tiên xếp hạng các xe có giá cạnh tranh ở thứ hạng cao hơn khi khách hàng tìm kiếm xe.
						.box-classify.d-flex
							.box-item-title
								p
									strong Giảm giá
							.box-item-content
								p
									strong Bạn có muốn giảm giá cho các đơn hàng cho thuê dài ngày ?
								p Bạn có thể cài đặt mức giảm giá cho các yêu cầu thuê xe dài ngày (tuần/tháng).
								p Hiện tại, mức giảm giá phổ biến của các chủ xe Mioto từ 5% cho thuê tuần và 10% cho thuê tháng.
						.box-classify.d-flex
							.box-item-title
								p
									strong Đặt xe nhanh
							.box-item-content
								p
									strong Bạn có muốn kiểm tra thông tin khách hàng và xác nhận lại lịch cho thuê xe trước khi duyệt xe ?
								p Thông thường, sau khi khách thuê gửi yêu cầu thuê xe, chủ xe sẽ tiến hành kiểm tra thông tin khách hàng, xác nhận lại lịch trình và tiến hành phê duyệt (đồng ý/từ chối) yêu cầu thuê xe trên ứng dụng.
								p Tuy nhiên, một số chủ xe không thường xuyên online/ít kiểm tra điện thoại, để có thể tiết kiệm thời gian thì có thể cài đặt chế độ đồng ý tự động với tính năng "Đặt xe nhanh". Tính năng này cho phép chủ xe mặc định "Đồng ý" với tất cả các yêu cầu thuê xe rơi vào các ngày xe còn trống lịch mà chủ xe đã cài đặt trước đó.
						.box-classify.d-flex
							.box-item-title
								p
									strong Địa chỉ xe
							.box-item-content
								p
									strong Địa chỉ xe của bạn ở đâu?
								p Nhập vị trí xe của bạn (số nhà - đường - Quận - Thành phố) và kiểm tra lại vị trí xe hiển thị trên bản đồ.
								p Lưu ý, vị trí này cũng chính là địa chỉ khách hàng sẽ đến nhận và trả xe.
								.box-classify.d-flex
									.left
										h4.ls-title WEB
										img.img-fluid(src="images/owner-guide/car-tutorial5.jpg")
										img.img-fluid(src="images/owner-guide/car-tutorial6.jpg")
									.right
										h4.ls-title APP
										img.img-fluid(src="images/owner-guide/app-car-tutorial5.jpg")
										img.img-fluid(src="images/owner-guide/app-car-tutorial6.jpg")
						.box-classify.d-flex
							.box-item-title
								p
									strong Giao xe tận nơi
							.box-item-content
								p
									storng Bạn có thể giao xe đến địa chỉ của khách hàng không ?
								p Tính năng này dành cho các chủ xe có thể giao xe tận nơi cho khách thuê.
								p Bạn cần cài đặt phạm vi mình có thể giao xe cũng như thiết lập phí giao và nhận xe 2 chiều.
								p Phạm vi giao xe mặc định trên hệ thống là 20km và phí giao nhận 2 chiều là 10,000vnd/km
								.box-classify.d-flex
									.left
										h4.ls-title WEB
										img.img-fluid(src="images/owner-guide/car-tutorial7.jpg")
									.right
										h4.ls-title APP
										img.img-fluid(src="images/owner-guide/app-car-tutorial7.jpg")
						.box-classify.d-flex
							.box-item-title
								p
									strong Giới hạn quãng đường
							.box-item-content
								p
									strong Bạn có yêu cầu giới hạn quãng đường tối đa / ngày đối với khách thuê ?
								p Tính năng này cho phép chủ xe quy định giới hạn số km xe được sử dụng tối đa trong 1 ngày.
								p Giới hạn quãng đường mặc định trên hệ thống là 400km và phí vượt giới hạn là 5,000vnd/km
								.box-classify.d-flex
									.left
										h4.ls-title WEB
										img.img-fluid(src="images/owner-guide/car-tutorial8.jpg")
									.right
										h4.ls-title APP
										img.img-fluid(src="images/owner-guide/app-car-tutorial8.jpg")
						.box-classify.d-flex
							.box-item-title
								p
									strong Điều khoản thuê xe
							.box-item-content
								p Bên cạnh việc quy định giấy tờ thuê xe (bản gốc) bao gồm CMND, GPLX, Hộ khẩu/KT3 (yêu cầu mặc định đối với tất cả chủ xe trên Mioto), các chủ xe có thể quy định thêm một số điều khoản khác liên quan đến thủ tục cho thuê, điều này sẽ hạn chế các tranh chấp xảy ra trong trường hợp xảy ra sự cố:
								p - Có chấp nhận hộ khẩu tỉnh ? Có chấp nhận thay thế HK/KT3 bằng các giấy tờ khác (Passport ?)
								p - Quy định phí vệ sinh xe nếu xe bị bẩn khi hoàn trả
								p - Cấm hút thuốc ? Chở các thực phẩm có mùi ? Mức phí nếu xảy ra vi phạm.
								p - Phí rửa xe nếu xe bị bẩn ?
								p - Giới hạn thời gian nhận xe ngày tết / ngày lễ
								p - Các điều khoản khác nếu có
								.box-classify.d-flex
									.left
										h4.ls-title WEB
										img.img-fluid(src="images/owner-guide/car-tutorial9.jpg")
									.right
										h4.ls-title APP
										img.img-fluid(src="images/owner-guide/app-car-tutorial9.jpg")
						.box-classify.d-flex
							.box-item-title
								p
									strong BƯỚC 3: Hình ảnh
							.box-item-content
								p Đăng tải các hình ảnh xe của bạn để giới thiệu với khách thuê. Mioto đề xuất bạn nên chụp từ 5-10 hình ở nhiều góc độ khác nhau (bên ngoài, nội thất) và hình ảnh chụp nên sắc nét, rõ ràng để thu hút khách thuê
								p Bấm "Chọn hình" &#8594 chọn hình ảnh xe của bạn  &#8594 bấm "Đăng hình". Bạn làm tuần tự nhiều lần để cập nhật nhiều hình ảnh xe lên hệ thống.
								p Bấm "Đăng ký" để hoàn tất quá trình đăng ký
								p Sau khi bấm đăng ký bạn sẽ nhận được thông báo yêu cầu đăng ký xe của bạn đã được gửi đến Admin Mioto.
								p Nếu xe của bạn đáp ứng đầy đủ các yêu cầu cho thuê, Admin Mioto sẽ tiến hành phê duyệt xe của bạn trong vòng 1-3 ngày làm việc.
								p Nếu bạn là chủ xe mới và lần đầu đăng xe lên Mioto, sẽ có nhân viên phát triển đối tác của Mioto liên hệ với bạn để xác minh thông tin và tư vấn kĩ các thủ tục cho thuê trên ứng dụng trước khi phê duyệt yêu cầu đăng xe của bạn.
								.box-classify.d-flex
									.left
										h4.ls-title WEB
										img.img-fluid(src="images/owner-guide/car-tutorial10.jpg")
									.right
										h4.ls-title APP
										img.img-fluid(src="images/owner-guide/app-car-tutorial10.jpg")
				.method-item#manageCar
					h4.method-name B. Hướng dẫn Quản lý xe
					.pl-2
						p Sau khi Admin đã phê duyệt yêu cầu đăng ký xe, bạn sẽ nhận được thông báo qua ứng dụng Mioto.
						p Trước khi bắt đầu cho thuê, bạn cần tiến hành cài đặt 2 thông tin quan trọng:
						p
							strong Cài đặt lịch cho thuê xe (thao tác trên Website)
						.pl-2
							.box-classify.d-flex
								.box-item-title
									p
										strong Trên website
								.box-item-content
									p Chọn "Xe của tôi" &#8594 "Danh sách xe" &#8594 "Quản lý xe"
									.box-classify.d-flex
										img.img-fluid(src="images/owner-guide/car-tutorial11.jpg")
							p
								strong Trong mục "Quản lý xe", chọn "Cài đặt lịch":
							.box-classify.d-flex
								.box-item-title
									p
										strong Lịch xe
								.box-item-content
									p Tính năng lịch xe là một trong những tính năng rất quan trọng cho phép bạn linh hoạt chỉnh lịch xe bận theo ngày, bạn cần hiểu rõ và thường xuyên cập nhật lịch xe bận để đảm bảo khách thuê sẽ đặt xe vào các ngày xe bạn còn trống.
									p Giả sử bạn đã có kế hoạch sử dụng xe vào ngày 22/02 và ngày 25/02 tới, để cập nhật lịch bận cho 2 ngày này, bạn chọn "Thiết lập lịch bận".
									p Tại phần lịch xe, bạn chọn các ngày 22/02 và 25/02, hệ thống sẽ tự động tô đen các ngày bạn chọn báo hiệu xe đã bận và khách thuê sẽ không thể gửi yêu cầu thuê xe cho các ngày này.
									p Để gỡ lịch bận, bạn làm tương tự bước vừa rồi.
									.box-classify.d-flex
										img.img-fluid(src="images/owner-guide/car-tutorial12.jpg")
							.box-classify.d-flex
								.box-item-title
									p
										strong Thiết lập thời gian cho thuê
								.box-item-content
									p Hiện tại, thời gian cho thuê mặc định trên hệ thống từ hiện tại - 3 tháng tới, có nghĩa rằng khách thuê chỉ có thể thuê xe của bạn vào các ngày bất kì trong vòng 3 tháng tới.
									p Bạn có thể thay đổi thời gian cho thuê tại các mốc khác bằng cách chọn mục "Cho đến" và lựa chọn mốc thời gian mong muốn.
									p Tính năng này thường được sử dụng khi các chủ xe chỉ chắc chắn về lịch trình trong thời gian ngắn khoảng 1-2 tháng sắp tới.
									.box-classify.d-flex
										img.img-fluid(src="images/owner-guide/car-tutorial13.jpg")
						p
							strong Cài đặt lịch cho thuê xe (thao tác trên ứng dụng)
						.pl-2
							.box-classify.d-flex
								.box-item-title
									p
										strong Lịch xe
								.box-item-content
									p Bạn đăng nhập vào ứng dụng, chọn mục "Xe của tôi" để đến trang "Quản lý xe" &#8594 chọn xe cần chỉnh &#8594 chọn "Lịch xe"
									.box-item
										img.img-fluid(src="images/owner-guide/app-car-tutorial11.jpg")
									p Để chỉnh lịch bận cho ngày 22/02 và ngày 25/02, bạn chỉ cần chọn ngày 22/02 và ngày 25/02, bấm và giữ trong 1-2 giây, hệ thống sẽ tự động tô đen các ngày bạn chọn báo hiệu xe đã bận và khách thuê sẽ không thể gửi yêu cầu thuê xe cho các ngày này.
									p Để gỡ lịch bận, bạn làm tương tự bước vừa rồi.
									.box-item
										img.img-fluid(src="images/owner-guide/app-car-tutorial12.jpg")
										p.caption-img Bấm và giữ để chỉnh lịch bận

							.box-classify.d-flex
								.box-item-title
									p
										strong Giới hạn lịch cho thuê
								.box-item-content
									p Hiện tại, thời gian cho thuê mặc định trên hệ thống từ hiện tại - 3 tháng tới, có nghĩa rằng khách thuê chỉ có thể thuê xe của bạn vào các ngày bất kì trong vòng 3 tháng tới.
									p
										| Bạn có thể thay đổi thời gian cho thuê tại các mốc khác bằng cách chọn "Lịch xe", chọn biểu tượng
										span.app-icon
											i.ic.ic-settings-app
										|, chọn "Cho đến" và lựa chọn mốc thời gian mong muốn, sau đó bấm cập nhật.
									p Tính năng này thường được sử dụng khi các chủ xe chỉ chắc chắn về lịch trình trong thời gian ngắn khoảng 1-2 tháng sắp tới.
									.d-flex
										.box-item
											img.img-fluid(src="images/owner-guide/app-car-tutorial13.jpg")
											p.caption-img Chọn biểu tượng giới hạn lịch cho thuê
										.box-item
											img.img-fluid(src="images/owner-guide/app-car-tutorial14.jpg")
											p.caption-img Giới hạn thời gian cho thuê
						p
							strong Cài đặt giá cho thuê (thao tác trên Website)
						.pl-2
							.box-classify.d-flex
								.box-item-title
									p
										strong Cài đặt giá chung tất cả các ngày
								.box-item-content
									p Trong mục "Quản lý xe", chọn "Cài đặt giá". Bước này thực ra ban đầu bạn đã thực hiện khi tiến hành đăng xe, tuy nhiên bạn vẫn có thể điều chỉnh lại giá cho thuê nếu muốn, bao gồm giá chung tất cả các ngày, giảm giá thuê tuần, giảm giá thuê tháng.
							.box-classify.d-flex
								.box-item-title
									p
										strong Cài đặt giá cho thuê theo ngày
								.box-item-content
									p Trường hợp bạn muốn thay đổi mức giá cho thuê khác nhau theo ngày, bạn có thể sử dụng tính năng này.
									p Trong mục "Quản lý xe" &#8594 chọn "Cài đặt lịch" &#8594 tại phần lịch xe, chọn "Tùy chỉnh giá" &#8594 chọn ngày và điều chỉnh giá thuê bạn mong muốn.
									p Tính năng này thường được sử dụng để điều chỉnh giá vào các dịp lễ tết, giá thuê +30-40% so với ngày thường, hoặc điều chỉnh giá dịp cuối tuần +10-20%.
									.box-item-l
										img.img-fluid(src="images/owner-guide/car-tutorial14.jpg")
										p.caption-img Chọn biểu tượng lặp lại giá
									p Trường hợp bạn muốn lặp lại hoặc  cố định giá cho thuê ngày cuối tuần mặc định cao hơn ngày thường, ví dụ +10%, bạn có thể thao tác nhanh bằng cách chọn biểu tượng kế bên "Tùy chỉnh giá", tiếp theo bạn nhập giá cho 2 ngày thứ 7 và chủ nhật, sau đó bấm "Xác nhận".
									.d-flex
										.box-item-l
											img.img-fluid(src="images/owner-guide/car-tutorial15.jpg")
											p.caption-img Chọn biểu tượng lặp lại giá
										.box-item
											img.img-fluid(src="images/owner-guide/car-tutorial16.jpg")
											p.caption-img Chỉnh giá lặp lại cho các ngày cuối tuần
						p
							strong Cài đặt giá cho thuê (thao tác trên Ứng dụng)
						.pl-2
							.box-classify.d-flex
								.box-item-title
									p
										strong Cài đặt giá chung tất cả các ngày
								.box-item-content
									p Tại trang "Quản lý xe", chọn "Giá cho thuê" và cài đặt giá chung tất cả các ngày, giảm giá thuê tuần, giảm giá thuê tháng.
									.box-item
										img.img-fluid(src="images/owner-guide/app-car-tutorial15.jpg")
										p.caption-img Điều chỉnh giá xe cho tất cả các ngày
							.box-classify.d-flex
								.box-item-title
									p
										strong Cài đặt giá cho thuê theo ngày
								.box-item-content
									p Trường hợp bạn muốn thay đổi mức giá cho thuê khác nhau theo ngày, bạn có thể sử dụng tính năng này.
									p Tại trang "Quản lý xe" &#8594 chọn "Lịch xe" &#8594 chọn ngày và điều chỉnh giá thuê bạn mong muốn.
									.d-flex
										.box-item
											img.img-fluid(src="images/owner-guide/app-car-tutorial16.jpg")
											p.caption-img Trang lịch xe
										.box-item-l
											img.img-fluid(src="images/owner-guide/app-car-tutorial17.jpg")
											p.caption-img Điều chỉnh giá xe theo ngày
									p
										| Trường hợp bạn muốn lặp lại hoặc cố định giá cho thuê ngày cuối tuần mặc định cao hơn ngày thường, bạn có thể thao tác nhanh bằng cách chọn biểu tượng
										span.app-icon
											i.ic.ic-repeat-app
										| để đến trang "Thiết lập giá định kỳ", tiếp theo bạn nhập giá cho 2 ngày thứ 7 và chủ nhật, sau đó bấm "Xác nhận".
									.d-flex
										.box-item
											img.img-fluid(src="images/owner-guide/app-car-tutorial18.jpg")
											p.caption-img Chọn biểu tượng lặp lại giá
										.box-item
											img.img-fluid(src="images/owner-guide/app-car-tutorial19.jpg")
											p.caption-img Chỉnh giá lặp lại cho các ngày cuối tuần
				.method-item#requestTrip
					h4.method-name C. Hướng dẫn Duyệt Xe/ Từ Chối
					.pl-2
						p Khi có khách hàng gửi yêu cầu thuê xe, bạn sẽ nhận được thông báo qua ứng dụng và tin nhắn sms qua điện thoại.
						p Bạn vui lòng truy cập vào ứng dụng Mioto, chọn mục "Thông báo", chọn "Yêu cầu thuê xe" để dẫn đến trang "Chi tiết cho thuê" và tiến hành phản hồi bằng cách bấm "Đồng ý" hoặc "Từ chối".
						p Tại trang "Chi tiết cho thuê", bạn cần kiểm tra kỹ thời gian đặt xe, đơn giá trước khi tiến hành phê duyệt.
						p Để xem thông tin khách thuê, bạn bấm vào tên khách thuê để dẫn đến trang Hồ sơ, tại đây bạn có thể xem các đánh giá từ các chủ xe khác dành cho khách thuê (trường hợp khách thuê đã từng có chuyến đi trên Mioto)
						p.text-danger Lưu ý *: Tỉ lệ phản hồi (% phản hồi / tổng lượt yêu cầu thuê xe), Thời gian phản hồi, Tỉ lệ đồng ý sẽ tác động đến kết quả xếp hạng xe của bạn trên ứng dụng, qua đó ảnh hưởng trực tiếp đến xác xuất khách hàng đặt xe, vì thế các chủ xe cần chủ động cập nhật lịch bận, và thường xuyên phản hồi yêu cầu thuê xe của khách trong thời gian sớm nhất.
						.d-flex.pl-2
							.box-item-sm
								img.img-fluid(src="images/owner-guide/app-car-tutorial20.jpg")
								p.caption-img Thông báo đặt xe qua tin nhắn sms
							.box-item-sm
								img.img-fluid(src="images/owner-guide/app-car-tutorial21.jpg")
								p.caption-img Thông báo đặt xe qua ứng dụng
							.box-item-50
								img.img-fluid(src="images/owner-guide/app-car-tutorial22.jpg")
								p.caption-img Xem trang hồ sơ khách thuê
							.box-item-sm
								img.img-fluid(src="images/owner-guide/app-car-tutorial23.jpg")
								p.caption-img Đồng ý / Từ chối yêu cầu cho thuê
						.d-flex.pl-2
							.box-item
								img.img-fluid(src="images/owner-guide/car-tutorial17.jpg")
								p.caption-img Thông báo đặt xe qua ứng dụng
							.box-item
								img.img-fluid(src="images/owner-guide/car-tutorial18.jpg")
								p.caption-img Xem trang hồ sơ khách thuê
							.box-item
								img.img-fluid(src="images/owner-guide/car-tutorial19.jpg")
								p.caption-img Đồng ý / Từ chối yêu cầu cho thuê
						p Sau khi chủ xe phản hồi, khách thuê sẽ nhận được thông báo qua ứng dụng và tin nhắn sms qua điện thoại. Trường hợp chủ xe đồng ý cho thuê, khách thuê sẽ tiến hành thực hiện đặt cọc để hoàn tất quá trình thuê xe.
						p.text-danger "Lưu ý **: Sau khi chủ xe đồng ý cho thuê, trong thời gian khách thuê tiến hành đặt cọc, chủ xe có quyền đồng ý đối với các yêu cầu thuê xe khác trên Mioto, hệ thống sẽ ưu tiên các khách hàng nào đặt cọc sớm nhất.
						p.text-danger Trường hợp chủ xe nhận các yêu cầu thuê xe khác ngoài hệ thống, chủ xe cần lưu ý cập nhật lịch bận ngay trên hệ thống trước khi khách hàng tiến hành đặt cọc."
						p Chủ xe và khách thuê sẽ nhận được thông tin số điện thoại để có thể trực tiếp trao đổi, xác minh giấy tờ và lịch trình thuê xe sau khi khách thuê thực hiện đặt cọc thành công.
						p.text-danger "Lưu ý ***: Các chủ xe và khách thuê cần chủ động liên hệ nhau để xác minh các thủ tục thuê, trường hợp có vấn đề phát sinh hoặc thay đổi kế hoạch cho thuê cần thực hiện hủy chuyến trong vòng 1 tiếng kể từ thời điểm đặt cọc để không bị tính phí hủy chuyến.
						p.text-danger Các trường hợp hủy chuyến ngoài khoảng thời gian 1 tiếng sau khi đặt cọc sẽ áp dụng việc tính phí theo
							span.fontWeight-5 "Chính sách hủy chuyến"
							|  đã chính thức được áp dụng và đăng ký trên webiste của Mioto
							a(class="text-danger fontWeight-5" href="https://www.mioto.vn/privacy#canceltrip")  tại đây
							| ."
				.method-item#cancelTrip
					h4.method-name D. Hướng dẫn Hủy chuyến
					p
						strong Hủy chuyến trước khi khách hàng đặt cọc:
					p Trường hợp này xảy ra khi các chủ xe thay đổi kế hoạch cho thuê, có nhầm lẫn trong việc kiểm tra lịch bận xe nên tiến hành đồng ý cho thuê và sau đó thực hiện hủy chuyến, hoặc chủ xe đã nhận khách thuê khác trong thời gian chờ đợi khách hàng đặt cọc.
					p Để thực hiện hủy chuyến, chủ xe truy cập vào ứng dụng Mioto, chọn mục "Thông báo" &#8594 chọn "Sắp tới" &#8594 lựa chọn chuyến đi muốn hủy để dẫn đến trang "Chi tiết cho thuê" &#8594 bấm "Hủy chuyến".
					p
						strong Hủy chuyến sau khi khách hàng đã đặt cọc:
					p Trường hợp này xảy ra có thể vì các lý do từ phía chủ xe chẳng hạn như xe bị sự cố hoặc từ phía khách thuê chẳng hạn như khách không có đầy đủ giấy tờ yêu cầu. Để hủy chuyến, chủ xe cần thực hiện các bước sau:
					.pl-2
						p 1. Chủ xe vui lòng gọi điện thông báo và trao đổi với khách thuê về việc hủy chuyến để khách thuê có thể chủ động sắp xếp công việc và thay đổi lịch trình di chuyển kịp thời.
						p 2. Thực hiện hủy chuyến trên hệ thống: Chủ xe truy cập vào ứng dụng Mioto, chọn mục "Thông báo" &#8594 chọn "Sắp tới" &#8594 lựa chọn chuyến đi muốn hủy để dẫn đến trang "Chi tiết cho thuê" &#8594 bấm "Hủy chuyến". Tại trang hủy chuyến, bạn vui lòng lựa chọn "Lý do hủy chuyến" và giải thích rõ lý do hủy trong phần nội dung, sau đó bấm hủy chuyến. Việc ghi rõ lý do hủy chuyến sẽ giúp admin xác định rõ lý do hủy chuyến thuộc về chủ xe hay khách thuê để có ghi nhận phù hợp trong việc xử lí các chuyến đi bị hủy, tính toán chính xác doanh số cho chủ xe
						p Ngay khi chủ xe thực hiện hủy chuyến, hệ thống sẽ gửi thông báo đến khách thuê về việc chủ xe hủy chuyến cũng như lý do và lời nhắn chủ xe gửi đến khách thuê."
					p Theo
						a.text-primary.fontWeight-5(href="https://www.mioto.vn/privacy#canceltrip")  "Chính sách hủy chuyến"
						|  đã công bố trong Quy chế hoạt động trên website Mioto.vn việc chủ xe hủy chuyến sau khi khách hàng đã đặt cọc có thể dẫn đến việc phát sinh
						span.text-primary.fontWeight-5 Phí hủy chuyến
						| và ảnh hưởng đến điểm đánh giá của chủ xe trên hệ thống Mioto, vì thế các chủ xe cần cân nhắc và kiểm tra kĩ trước khi thực hiện hủy chuyến.
					p
						strong Thao tác trên website
						.d-flex.pl-2
							.box-item
								img.img-fluid(src="images/owner-guide/car-tutorial20.jpg")
								p.caption-img Chọn chuyến đi trong mục "Thông báo" &#8594 "Sắp tới"
							.box-item
								img.img-fluid(src="images/owner-guide/car-tutorial21.jpg")
								p.caption-img Chọn "Hủy chuyến"
							.box-item
								img.img-fluid(src="images/owner-guide/car-tutorial22.jpg")
								p.caption-img Lựa chọn lý do, ghi rõ nội dung và xác nhận hủy chuyến
					p
						strong Thao tác trên app
						.d-flex.pl-2
							.box-item
								img.img-fluid(src="images/owner-guide/app-car-tutorial24.jpg")
								p.caption-img Chọn chuyến đi trong mục "Thông báo" &#8594 "Sắp tới"
							.box-item
								img.img-fluid(src="images/owner-guide/app-car-tutorial25.jpg")
								p.caption-img Chọn "Hủy chuyến"
							.box-item
								img.img-fluid(src="images/owner-guide/app-car-tutorial26.jpg")
								p.caption-img Lựa chọn lý do, ghi rõ nội dung và xác nhận hủy chuyến