block Payment Guide 

.payment-guide__sect
  .m-container 
    h3.n-title Hướng Dẫn Thanh Toán 
    .payment-guide-content 
      p Để hoàn tất quá trình đặt xe, bạn cần thanh toán đặt cọc 30% giá trị chuyến đi theo một trong các hình thức sau:
      mixin list-method(list)
        ul.list-method
          each item in list
            li
              a(href='#' + item.link)!=item.name
      +list-method([
        {'link': 'visaMethod', 'name': 'Thanh toán qua thẻ tín dụng/thẻ ghi nợ VISA, Master'},
        {'link': 'atmMethod', 'name': 'Thanh toán qua thẻ ATM đã đăng kí thanh toán trực tuyến'},
        {'link': 'storeMethod', 'name': 'Thanh toán tiền mặt tại cửa hàng tiện lợi gần nhà (có chấp nhận thanh toán qua Payoo)'},
        {'link': 'transferMethod', 'name': 'Thanh toán bằng hình thức chuyển khoản ngân hàng'},
        {'link': 'officeMethod', 'name': 'Thanh toán bằng tiền mặt tại văn phòng Mioto'},
      ])
      p.note Hiện tại, trường hợp nhiều khách đặt xe cùng một thời điểm, hệ thống sẽ ưu tiên khách hàng thanh toán sớm, vì vậy nên bạn vui lòng đặt cọc trong thời gian sớm nhất bạn nhé.
    .payment-guide-detail 
      .box-classify.d-flex
        .left 
          h4.ls-title WEB 
          img.img-fluid(src="images/payment-guide/web-payment-1.png")
        .right 
          h4.ls-title APP 
          img.img-fluid(src="images/payment-guide/app-payment-1.png")
      .content-guide 
        mixin dt-methods(method)
          each item in method
            .method-item(id=item.link)
              h4.method-name!=item.name 
              p!=item.line_one 
              if item.line_two
                p!=item.line_two
              .d-flex 
                .left 
                  img.img-fluid(src=item.img_web)
                .right
                  img.img-fluid(src=item.img_app)
        +dt-methods([
          {'link': 'visaMethod', 'name': 'Thanh toán qua thẻ tín dụng/thẻ ghi nợ VISA, Master', 'line_one': 'Bạn cần có thẻ Visa, Master để thanh toán bằng hình thức này. Các bược thực hiện khá đơn giản:', 'line_two': 'Chọn 1 trong 2 cổng thanh toán Payoo hoặc VTC Pay - Bấm thanh toán để chuyển đến cổng thanh toán - Nhập các thông tin trên thẻ và hoàn tất quá trình thanh toán.','img_web': 'images/payment-guide/web-payment-2.png', 'img_app': 'images/payment-guide/app-payment-2.png'},
          {'link': 'atmMethod', 'name': 'Thanh toán qua thẻ ATM đã đăng kí thanh toán trực tuyến', 'line_one': 'Thẻ của bạn phải đăng ký dịch vụ thanh toán trực tuyến với ngân hàng để thực hiện thanh toán bằng hình thức này.', 'line_two': 'Chọn 1 trong 2 cổng thanh toán Payoo hoặc VTC Pay - Bấm thanh toán để chuyển đến cổng thanh toán - Nhập các thông tin trên thẻ và hoàn tất quá trình thanh toán.', 'img_web': 'images/payment-guide/web-payment-3.png', 'img_app': 'images/payment-guide/app-payment-3.png'},
          {'link': 'storeMethod', 'name': 'Thanh toán tiền mặt tại cửa hàng tiện lợi nhà (có chấp nhận thanh toán qua Payoo)', 'line_one': 'Trước tiên, bạn cần lấy mã code thanh toán payoo bằng cách bấm "Đặt chỗ". Sau đó, bạn chỉ cần chụp lại mã code và đem đến cửa hàng tiện lợi (có chấp nhận thanh toán payoo - vui lòng xem link đính kèm để xem các địa điểm gần nhất) và tiến hành thanh toán bạn nhé.', 'img_web': 'images/payment-guide/web-payment-4.png' , 'img_app': 'images/payment-guide/app-payment-4.png'},
          {'link': 'transferMethod', 'name': 'Thanh toán bằng hình thức chuyển khoản ngân hàng', 'line_one': 'Trước tiên, bạn cần bấm "Đặt chỗ" để xác nhận hình thức thanh toán chuyển khoản. Sau đó, tiến hành chuyển khoản qua tài khoản ngân hàng của Mioto trong thời gian sớm nhất bạn nhé.', 'img_web': 'images/payment-guide/web-payment-5.png', 'img_app': 'images/payment-guide/app-payment-5.png'},
          {'link': 'officeMethod', 'name': 'Thanh toán bằng tiền mặt tại văn phòng Mioto', 'line_one': 'Trước tiên, bạn cần bấm "Đặt chỗ" để xác nhận hình thức thanh toán tại văn phòng Mioto. Sau đó, tiến hành lên văn phòng thanh toán trực tiếp bạn nhé.', 'line_two': 'Lưu ý hiện tại, Mioto chỉ đang có văn phòng tại TPHCM nên hình thức thanh toán này tạm thời chỉ áp dụng cho các khách hàng tại khu vực TPHCM.', 'img_web': 'images/payment-guide/web-payment-6.png', 'img_app': 'images/payment-guide/app-payment-6.png'},
        ])
          


      