block Tutorial

.body-container
	.sidebar
		ul
			li
				a(href="#!") Giới Thiệu Về MiOto
			li
				a(href="#!") Thuê Xe
				ul
					li
						a(href="#!") Thuê Xe
					li
						a.active(href="#!") Cách Đăng Kí Thuê Xe
			li
				a(href="#!") Chủ Xe
				ul
					li
						a(href="#!") Lợi Ích Chủ Xe
					li
						a(href="#!") Cách Đăng Kí Chủ Xe
	.content
		h2.title Tôi đăng kí thuê xe như thế nào?
		.content-container
			h5 Bước 1: Đăng nhập 
			p Đăng nhập vào tài khoản của mình, nếu bạn chưa có tài khoản thì có thể đăng ký tạo tài khoản bằng Email, Facebook hoặc tài khoản Google.
			p
				img(src="images/tutorial_1.png" alt=page)
			.space.l
			h5 Bước 2: Tìm kiếm
			p Nhập vị trí hiện tại của bạn và khoảng thời gian bạn muốn thuê xe, sau đó chọn tìm kiếm.
			p
				img(src="images/tutorial_2.png" alt=page)
			.space.l
			h5 Bước 3: Đặt xe
			p Lựa chọn xe phù hợp với bạn qua các tiêu chí: mẫu mã, giá thuê, điểm rating, chương trình khuyến mãi, hình thức giao nhận xe, thông tin chủ xe. Tiến hành đặt xe.
			p
				img(src="images/tutorial_3.png" alt=page)
			.space.l
			h5 Bước 4: Nhận xe
			p Tùy vào phương phức giao nhận bạn đã lựa chọn khi đặt xe: Bạn đến địa điểm của chủ xe để nhận xe hoặc chủ xe sẽ đưa xe đến trực tiếp địa chỉ của bạn.
			.space.l
			h5 Bước 5: Trả xe
			p Nạp lại nhiên liệu, trả xe tại địa điểm bạn và chủ xe thỏa thuận và thanh toán chi phí với chủ xe.

.np-bottom
	.np-bottom-container
		.np-main
			.np-prev
				span Trở Về
				a(href="#!") <em>Giới Thiệu Về MiOto</em>
			.np-prev.np-next
				span Kế Tiếp
				a(href="#!") <em>Cách Đăng Kí Thuê Xe</em>
