block Tutorial

.body-container
	.sidebar
		ul
			li
				a.active(href="#!") Giới Thiệu Về MiOto
			li
				a(href="#!") Thuê Xe
				ul
					li
						a(href="#!") Thuê Xe
					li
						a(href="#!") Cách Đăng Kí Thuê Xe
			li
				a(href="#!") Chủ Xe
				ul
					li
						a(href="#!") Lợi Ích Chủ Xe
					li
						a(href="#!") Cách Đăng Kí Chủ Xe
	.content
		h2.title Về chúng tôi
		.content-container
			p MiOto là sàn giao dịch trực tuyến, hoạt động trên nền tảng ứng dụng cho thuê xe tự lái 4-7 chỗ, theo mô hình kinh tế sẻ chia.
			p Mioto được thành lập với sứ mệnh mang đến nền tảng công nghệ hiện đại kết nối chủ xe ô tô và hành khách theo cách nhanh nhất, an toàn nhất và tiết kiệm nhất.
			p Mioto hướng tới việc xây dựng một cộng đồng chia sẻ ô tô văn minh với nhiều tiện ích thông qua ứng dụng trên di động, nhằm nâng cao chất lượng cuộc sống của cộng đồng.
			.space.l
			h4 Lợi thế của MiOto
			ul.list-type1
				li
					i.ict.ict-click
					| Đặt xe bằng 1 Click
				li
					i.ict.ict-location
					| Xe trải dài khắp 19 quận TP. HCM
				li
					i.ict.ict-car
					| Hơn 100 mẫu xe
				li
					i.ict.ict-price
					| Rẻ hơn 10% xe truyền thống
				li
					i.ict.ict-salary
					| Thu nhập 10 - 15 triệu / tháng

.np-bottom
	.np-bottom-container
		.np-main
			.np-prev.np-next
				span Kế Tiếp
				a(href="#!") <em>Cách Đăng Kí Thuê Xe</em>
