block Payment Guide

- var stepTut = []
- stepTut.push({'img': 'ict ict-mioto', 'user': 'Khách thuê', 'title': 'Gửi yêu cầu thuê xe', 'desc': 'Đặt xe qua ứng dụng'})
- stepTut.push({'img': 'ict-large ict-allow', 'user': 'Chủ xe', 'title': 'Phê duyệt "Yêu cầu thuê xe"', 'desc': 'Phê duyệt qua ứng dụng'})
- stepTut.push({'img': 'ict ict-notif', 'user': 'Khách thuê', 'title': 'Nhận phản hồi "Yêu cầu thuê xe"', 'desc': 'Nhận thông báo qua Ứng dụng & Tin nhắn SMS'})
- stepTut.push({'img': 'ict-large ict-deposit', 'user': 'Khách thuê', 'title': 'Tiến hành Đặt cọc', 'desc': 'Đặt cọc 30% chuyến đi qua Ứng dụng'})
- stepTut.push({'img': 'ict-large ict-send-car', 'user': 'Chủ xe và Khách thuê', 'title': 'Hoàn thành đặt xe', 'desc': 'Nhận thông tin SĐT - Liên hệ xác minh thủ tục'})

.payment-guide__sect
	.m-container
		h3.n-title Hướng Dẫn Đặt Xe
		.tutorial.swiper-container.step-box__wrap
			.swiper-wrapper
				each step in stepTut
					.step-box__item.swiper-slide
						.step-detail
							h4.title!=step.user
							p.short-desc!=step.title
						.step-img
							.box-desc
								p!=step.desc
							div(class=`${step.img}`)
		.link-step-by-step
			a(href="#loginMioto" class="text-primary") 1. Đăng nhập hoặc đăng ký tài khoản
			a(href="#searchCars" class="text-primary") 2. Tìm kiếm xe
			a(href="#useFilter" class="text-primary") 3. Sử dụng bộ lọc để tìm kiếm xe mong muốn
			a(href="#sendRequest" class="text-primary") 4. Lựa chọn xe mong muốn và gửi yêu cầu thuê xe
			a(href="#deposit" class="text-primary") 5. Thanh toán đặt cọc

		.payment-guide-content
			p Bạn có thể đặt xe trực tuyến qua website Mioto.vn hoặc ứng dụng Mioto thông qua các bước đặt hàng cơ bản
			p Vui lòng tham khảo thông tin chi tiết về từng bước tìm kiếm và đặt xe như sau:
		.payment-guide-detail
			.content-guide
				.method-item#loginMioto
					h4.method-name 1. Đăng nhập hoặc đăng ký tài khoản
					p Bạn vui lòng đăng nhập bằng tài khoản đã có ở Mioto hoặc đăng nhập thông qua Facebook/Google. Trong trường hợp chưa đăng ký tài khoản, bạn có thể chọn dòng "Đăng kí ngay" để tạo tài khoản tại Mioto.vn
					p Sau khi đã hoàn tất, bạn có thể bấm vào chữ "Tạo tài khoản" để hoàn tất quá trình
					.box-classify.d-flex
						.left
							h4.ls-title WEB
							img.img-fluid(src="images/tutorial-booking/login.png")
							img.img-fluid(src="images/tutorial-booking/sign-up.png")
						.right
							h4.ls-title APP
							img.img-fluid(src="images/tutorial-booking/app-login.png")
							img.img-fluid(src="images/tutorial-booking/app-signup.png")
				.method-item#searchCars
					h4.method-name 2. Tìm kiếm xe
					p Bạn có thể tìm xe theo 3 cách sau:
					mixin dt-methods(method)
						each item in method
							p.method-title!=item.name
							.box-classify.d-flex
								.left
									h4.ls-title WEB
									img.img-fluid(src=item.img_web)
								.right
									h4.ls-title APP
									img.img-fluid(src=item.img_app)
					+dt-methods([
						{'name': 'a. Tìm theo địa chỉ bạn nhập ở thanh tìm kiếm','img_web': 'images/tutorial-booking/search-home.png', 'img_app': 'images/tutorial-booking/app-search-home.png'},
						{'name': 'b. Tìm theo danh mục các địa điểm nổi bật', 'img_web': 'images/tutorial-booking/destination.png', 'img_app': 'images/tutorial-booking/app-destination.png'},
						{'name': 'c. Tìm theo danh mục các xe nổi bật được thuê nhiều trên Mioto', 'img_web': 'images/tutorial-booking/feature-cars.png' , 'img_app': 'images/tutorial-booking/app-feature-cars.png'},
					])
				.method-item#useFilter
					h4.method-name 3. Sử dụng bộ lọc để tìm kiếm xe mong muốn
					p
						span.fontWeight-5 a. Sắp xếp:
						| Hệ thống đang mặc định sắp xếp các xe theo chế độ tối ưu. Bạn có thể lựa chọn sắp xếp xe theo giá thấp đến giá cao, khoảng cách gần nhất hoặc các xe có điểm đánh giá cao nhất.
					p
						span.fontWeight-5 b. Mức giá:
						| Hệ thống đang mặc định thể hiện xe tại mọi mức giá khác nhau. Bạn có thể thu gọn danh sách các xe nằm trong vùng giá mong muốn bằng cách di chuyển thanh mức giá.
					p
						span.fontWeight-5 c. Loại xe:
						| Hệ thống đang mặc định hiển thị tất cá xe 4 chỗ và 7 chỗ. Bạn có thể lựa chọn chỉ xem riêng danh sách xe 4 chỗ hoặc danh sách xe 7 chỗ bằng cahcs bấm vào ô tương ứng.
					p
						span.fontWeight-5 d. Hãng xe:
						|  Hệ thống đang mặc định hiển thị tất cả xe của các hãng khác nhau. bạn có thể lựa chọn chỉ xem riêng danh sách xe của một hãng yêu thích bằng cách bấm vào tên của hãng xe.
					.box-classify.d-flex
						.left
							h4.ls-title WEB
							img.img-fluid(src="images/tutorial-booking/car-finding.png")
						.right
							h4.ls-title APP
							img.img-fluid(src="images/tutorial-booking/app-filter-1.png")
					p
						span.fontWeight-5 Nâng cao:
						| Thể hiện các tính năng tìm kiếm nâng cao (số ghế ngồi trên xe, năm sản xuất, các xe đang ở chế độ cho phép "Giao xe tận nhà", hoặc cho phép "Đặt xe nhanh" (không cần chủ xe phê duyệt), truyền động (số sàn hay số tự động), loại nhiên liệu(xe máy dầu hay máy xăng) và nhiều điều kiện lọc nâng cao khác...) để dễ dàng tìm đúng dòng xe bạn mong muốn.
					.box-classify.d-flex
						.left.filter
							h4.ls-title WEB
							img.img-fluid(src="images/tutorial-booking/filter-1.png")
							img.img-fluid(src="images/tutorial-booking/filter-2.png")
						.right
							h4.ls-title APP
							img.img-fluid(src="images/tutorial-booking/app-filter-1.png")
							img.img-fluid(src="images/tutorial-booking/app-filter-2.png")
				.method-item#sendRequest
					h4.method-name 4. Lựa chọn xe mong muốn và gửi yêu cầu thuê xe
					p
						strong a. Kiểm tra thông tin xe:
						|   Hình ảnh xe, số chuyến đi đã thực hiện, đánh giá của các khách thuê, mô tả xe và các tính năng liên quan.
					.box-classify.d-flex
						.left
							h4.ls-title WEB
							img.img-fluid(src="images/tutorial-booking/detail-cars.png")
						.right
							h4.ls-title APP
							img.img-fluid(src="images/tutorial-booking/app-detail-cars.png")
					p
						strong b. Kiểm tra vị trí xe:
						|   Hệ thống sẽ khoanh vùng tọa độ trên bản đồ. Địa chỉ xe chính xác sẽ được hiển thị sau khi khách hàng tiến hành thanh toán đặt cọc.
					.box-classify.d-flex
						.left
							h4.ls-title WEB
							img.img-fluid(src="images/tutorial-booking/location.png")
						.right
							h4.ls-title APP
							img.img-fluid(src="images/tutorial-booking/app-location.png")
					p
						strong c. Kiểm tra yêu cầu giấy tờ thuê xe và xem thông tin chủ xe:
					.content-detail
						p 1. Các giấy tờ bắt buộc: Để đảm bảo an toàn, các chủ xe cần khách thuê cung cấp CMND bản gốc, Bằng lái xe ô tô bản gốc, Hộ khẩu hoặc Sổ tạm trú (KT3) bản gốc tại TPHCM (nếu thuê xe tại Hà Nội/ Đà Nẵng/ Đà Lạt thì cần HK/KT3 tại cùng địa phương).
						p 2. Điều khoản các yêu cầu thuê xe khác: Chính sách riêng của chủ xe về các giấy tờ thay thế trong trường hợp khách thuê không có HK/KT3 (có thể thay thế bằng passport, GPKD công ty, hoặc nhờ người thân có HK đứng tên hợp đồng), tài sản đặt cọc khi thuê xe (xe máy hoặc tiền mặt có giá trị tương đương).
						ul.list-method
							li.text-primary Khách thuê lưu ý khi giao nhận xe, các chủ xe sẽ giữ lại HK/KT3 bản gốc + tài sản đặt cọc và sẽ hoàn trả lại sau khi bạn hoàn trả lại xe như nguyên trạng ban đầu.
							li.text-primary Bên cạnh đó, bạn vui lòng kiểm tra kĩ phần giấy tờ yêu cầu của chủ xe để đảm bảo đủ điều kiện thuê xe, hạn chế các trường hợp hủy chuyến sau khi đã đặt cọc vì không đáp ứng đủ giấy tờ.
							li.text-primary Trường hợp bạn không có đầy đủ các giấy tờ yêu cầu, vui lòng ghi rõ trong mục lời nhắn gửi đến chủ xe hoặc liên hệ bộ phận CSKH của Mioto tại <u> 19009217 </u> để được linh hoạt hỗ trợ tìm kiếm các xe phù hợp.
						p 3. Thông tin chủ xe: Mục này sẽ thể hiện điểm đánh giá dành cho chủ xe, nhận xét của khách thuê và thời gian phản hồi của chủ xe đối với các yêu cầu thuê xe...
						p Bạn có thể ưu tiên chọn các chủ xe có điểm đánh giá cao, thời gian phản hồi nhanh chóng và có nhiều nhận xét tích cực từ khách thuê.
					.box-classify.d-flex
						.left
							h4.ls-title WEB
							img.img-fluid(src="images/tutorial-booking/info-car.jpg")
						.right
							h4.ls-title APP
							img.img-fluid(src="images/tutorial-booking/app-info.png")
					p.fontWeight-5 d. Kiểm tra giá, thời gian thuê, lựa chọn địa điểm giao nhận xe, thông tin giới hạn quãng đường/ngày:
					.content-detail
						p 1. Thời gian thuê
						p - Thời gian thuê xe được tính theo ngày, hệ thống mặc định thời gian nhận xe từ 21h hôm nay và trả xe vào 20h hôm sau.
						p - Bạn có thể linh hoạt tùy chỉnh thời gian nhận và trả xe. Nếu tổng thời gian dưới 24h sẽ làm tròn là 1 ngày. Theo thông lệ, đa phần các chủ xe trên Mioto chỉ giao xe từ 5h sáng - 10h tối hàng ngày nên bạn cần điều chỉnh thời gian cho phù hợp để dễ dàng thuê xe bạn nhé.
						p 2. Địa điểm giao nhận xe
						p Bạn có thể lựa chọn 1 trong 2 hình thức giao nhận xe:
						p - Giao nhận tại địa điểm của chủ xe: Địa chỉ nhận xe sẽ được hiển thị chính xác sau khi bạn tiến hành thanh toán đặt cọc thành công trên hệ thống.
						p - Giao nhận tận nơi: Bạn có thể yêu cầu chủ xe giao đến địa chỉ nhà của mình và sẽ thanh toán thêm phí giao nhận xe (hệ thống sẽ tự động xác định khoảng cách từ vị trí chủ xe đến địa điểm giao xe để tính phí giao nhận xe).
						p 3. Giới hạn quãng đường
						p Nếu cần di chuyển xa, bạn cần kiểm tra kĩ số km được phép di chuyển tối đa trong một ngày và số tiền phụ phí/km nếu vượt giới hạn. Mỗi chủ xe sẽ có các yêu cầu khác nhau về giới hạn quãng đường di chuyển và phụ phí.
					.box-classify.d-flex
						.left
							h4.ls-title WEB
							img.img-fluid(src="images/tutorial-booking/booking-sidebar.png")
						.right
							h4.ls-title APP
							img.img-fluid(src="images/tutorial-booking/app-booking-sidebar.png")
					p.fontWeight-5 e. Nhập mã khuyến mãi (nếu có): Hàng tháng Mioto đều triển khai các chương trình khuyến mãi đến người dùng, bạn đừng quên nhập mã KM để được giảm giá xe nhé.
					.box-classify.d-flex
						.left
							h4.ls-title WEB
							img.img-fluid(src="images/tutorial-booking/promotion.png")
						.right
							h4.ls-title APP
							img.img-fluid(src="images/tutorial-booking/app-promotion.png")
					p.fontWeight-5 f. Kiểm tra lại yêu cầu thuê xe:
					.content-detail
						p Bạn cần kiểm tra lại toàn bộ các thông tin trong yêu cầu thuê xe (thông tin xe, thời gian thuê, địa điểm nhận xe, khuyến mãi, tổng tiền thuê, các giấy tờ bắt buộc và yêu cầu khác).
						p Bạn có thể gửi lời nhắn đến chủ xe tại mục "Lời nhắn" để giới thiệu về lộ trình di chuyển, các giấy tờ bạn có hoặc các yêu cầu khác liên quan đến việc thuê xe... để chủ xe ra quyết định cho thuê nhanh chóng và admin Mioto dễ hàng hỗ trợ bạn hơn nhé.
						p Cuối cùng, bạn gửi yêu cầu thuê xe đến chủ xe bằng cách nhấn vào phím "Đặt xe". Các chủ xe sẽ nhận được yêu cầu đặt xe từ bạn và sẽ phản hồi đến bạn (Đồng ý/ Từ chối cho thuê) trong thời gian sớm nhất.
						p.text-danger
							u Lưu ý:
							|   Để hỗ trợ bạn đặt xe nhanh hơn, hệ thống cho phép bạn gửi một lúc nhiều yêu cầu thuê xe đến nhiều chủ xe khác nhau và bạn có thể ưu tiên lựa chọn các chủ xe có phản hồi sớm bạn nhé.
					.box-classify.d-flex
						.left
							h4.ls-title WEB
							img.img-fluid(src="images/tutorial-booking/confirm-booking.jpg")
						.right
							h4.ls-title APP
							img.img-fluid(src="images/tutorial-booking/app-confirm-booking.png")
				.method-item#deposit
					h4.method-name 4. Thanh toán đặt cọc
					.content-detail.payment-guide-content
						p Sau khi nhận được phản hồi đồng ý từ chủ xe (qua cả 2 hình thức: tin nhắn sms + thông báo trên website/ứng dụng), bạn vui lòng tiến hành thanh toán đặt cọc 30% tiền thuê xe trong thời gian sớm nhất để hoặc tất quá trình đặt xe (phần tiền 70% còn lại bạn sẽ thanh toán trực tiếp cho chủ xe khi nhận xe).
						p Các hình thức đặt cọc tại Mioto:
						mixin list-method(list)
							ul.list-method
								each item in list
									li
										a(href='#' + item.link class="text-primary")!=item.name
						+list-method([
							{'link': 'visaMethod', 'name': 'Thanh toán qua thẻ tín dụng/thẻ ghi nợ VISA, Master'},
							{'link': 'atmMethod', 'name': 'Thanh toán qua thẻ ATM đã đăng kí thanh toán trực tuyến'},
							{'link': 'storeMethod', 'name': 'Thanh toán tiền mặt tại cửa hàng tiện lợi gần nhà (có chấp nhận thanh toán qua Payoo)'},
							{'link': 'transferMethod', 'name': 'Thanh toán bằng hình thức chuyển khoản ngân hàng'},
							{'link': 'officeMethod', 'name': 'Thanh toán bằng tiền mặt tại văn phòng Mioto'},
						])
						p Để được hướng dẫn rõ hơn, bạn vui lòng vào trang
							a(href="#" class="text-primary fontWeight-5")     Hướng dẫn thanh toán
							|   nhé.
						p Sau khi thanh toán đặt cọc thành công, bạn sẽ nhận số điện thoại và địa chỉ chính xác của chủ xe. Bạn vui lòng liên hệ sớm với chủ xe để xác nhận lại lần nữa về lịch trình và các giấy tờ yêu cầu để đảm bảo chuyến đi của mình được diễn ra suôn sẽ và tốt đẹp. Bất cứ các vấn đề gì cần thắc mắc bạn có thể liên hệ
							a(class="text-primary" href="tel:19009217") 19009217 (9AM - 6PM T2-T7)
							|  hoặc
							a(class="text-primary" href="")   Mioto Fanpage
							| để được hỗ trợ.