block Tutorial

.body-container
	.sidebar
		ul
			li
				a.active(href="#!") Giới Thiệu Về MiOto
			li
				a(href="#!") Thuê Xe
				ul
					li
						a(href="#!") Thuê Xe
					li
						a(href="#!") Cách Đăng Kí Thuê Xe
			li
				a(href="#!") Chủ Xe
				ul
					li
						a(href="#!") Lợi Ích Chủ Xe
					li
						a(href="#!") Cách Đăng Kí Chủ Xe
	.content
		h2.title Khách thuê xe - <br />Tại sao nên thuê xe tại MiOto?
		.content-container
			ul.list-type2
				li
					span.w-ic
						i.ict.ict-coin
					h4 Tiết kiệm
					p Giá thuê xe bình quân thấp hơn dao động từ 10-20% so với thị trường.
				li
					span.w-ic
						i.ict.ict-run
					h4 Nhanh chóng và Tiện lợi
					p Dễ dàng đặt xe mọi lúc, mọi nơi với quy trình đơn giản và nhanh chóng chỉ mất từ 5-10 phút.
				li
					span.w-ic
						i.ict.ict-wheel
					h4 Trải nghiệm mới lạ
					p Thoải mái tìm kiếm và lựa chọn nhiều dòng xe khác nhau phù hợp với sở thích và ngân sách của Bạn.
				li
					span.w-ic
						i.ict.ict-gift
					h4 Chương trình khuyến mãi
					p Nhiều chương trình khuyến mãi hấp dẫn khác dành cho Khách thuê.
				li
					span.w-ic
						i.ict.ict-shield
					h4 An toàn và Uy tín
					p Các xe đăng kí được xác minh bởi Mioto về tính xác thực của Giấy tờ pháp lý và hình ảnh xe.
					p Dễ dàng kiểm tra thông tin và lịch sử rating để lựa chọn Chủ xe uy tín trước khi thực hiện yêu cầu đặt xe.
				li
					span.w-ic
						i.ict.ict-star
					h4 Tiện ích vượt trội
					p Dễ dàng tìm kiếm và đặt xe trên cả 2 nền tảng Website Mioto.vn và Ứng dụng Mioto.
					p Xem trước lịch trình xe và báo giá thuê xe theo từng ngày.
					p Cho phép đánh giá Xe và Chủ xe với tính năng "Rating".
				li
					span.w-ic
						i.ict.ict-support
					h4 Đội ngũ hỗ trợ
					p Bộ phận CSKH của Mioto luôn bên cạnh đễ hỗ trợ Bạn trong mọi tình huống.

.np-bottom
	.np-bottom-container
		.np-main
			.np-prev
				span Trở Về
				a(href="#!") <em>Giới Thiệu Về MiOto</em>
			.np-prev.np-next
				span Kế Tiếp
				a(href="#!") <em>Cách Đăng Kí Thuê Xe</em>
