block Tutorial

.body-container
	.sidebar
		ul
			li
				a(href="#!") Giới Thiệu Về MiOto
			li
				a(href="#!") Thuê Xe
				ul
					li
						a(href="#!") Thuê Xe
					li
						a.active(href="#!") Cách Đăng Kí Thuê Xe
			li
				a(href="#!") Chủ Xe
				ul
					li
						a(href="#!") Lợi Ích Chủ Xe
					li
						a(href="#!") Cách Đăng Kí Chủ Xe
	.content
		h2.title Chủ xe - Tại sao nên đăng kí xe tại ứng dụng Mioto?
		.content-container
			ul.list-type2
				li
					span.w-ic
						i.ict.ict-cash
					h4 Doanh thu cao
					p Tiếp cận kênh thuê xe online với số lượng lớn khách hàng tiềm năng của Mioto giúp gia tăng đáng kể thu nhập từ xe của Bạn (trung bình 5-15 triệu đồng/tháng, tùy thuộc dòng xe và số ngày cho thuê).
				li
					span.w-ic
						i.ict.ict-coin
					h4 Chi phí thấp
					p Không tốn phí đăng kí và phí duy trì. Chỉ phát sinh phí dịch vụ khi có giao dịch cho thuê (12%/giá thuê).
				li
					span.w-ic
						i.ict.ict-time
					h4 Linh hoạt
					p Cho thuê xe bất cứ khi nào Bạn muốn. Toàn quyền sử dụng xe khi cần.
				li
					span.w-ic
						i.ict.ict-crown
					h4 Chủ động
					p Toàn quyền thiết lập giá thuê xe và các yêu cầu riêng.
				li
					span.w-ic
						i.ict.ict-shield
					h4 An toàn
					p Dễ dàng kiểm tra thông tin của Khách thuê (GPLX, CMND, Hộ khẩu / KT3, lịch sử Rating) qua Ứng dụng trước khi quyết định cho thuê.
				li
					span.w-ic
						i.ict.ict-star
					h4 Tiện ích vượt trội
					p Dễ dàng đăng kí và cho thuê xe trên cả 2 nền tảng Website Mioto.vn và Ứng dụng Mioto.
					p Thuận tiện quản lí và theo dõi lịch trình xe với tính năng "Calendar".
					p Cho phép phản hồi và đánh giá Khách thuê với tính năng "Rating".
					p * Dể dàng theo dõi xe của Bạn với tính năng "GPS" (* Tính năng dự kiến bắt đầu vào tháng 01/2018. Mioto hỗ trợ cài đặt với giá gốc ước tính ~400,000đ/thiết bị)
				li
					span.w-ic
						i.ict.ict-gift
					h4 Chính sách ưu đãi
					p Giá ưu đãi dành riêng cho Chủ xe khi thuê xe trong cộng đồng Mioto.
					p Các chương trình khuyến mãi hấp dẫn khác dành riêng cho Chủ xe.
				li
					span.w-ic
						i.ict.ict-support
					h4 Đội ngũ hỗ trợ
					p Bộ phận CSKH của Mioto luôn bên cạnh đễ hỗ trợ Bạn trong mọi tình huống.

.np-bottom
	.np-bottom-container
		.np-main
			.np-prev
				span Trở Về
				a(href="#!") <em>Giới Thiệu Về MiOto</em>
			.np-prev.np-next
				span Kế Tiếp
				a(href="#!") <em>Cách Đăng Kí Thuê Xe</em>
