block Tutorial

.body-container
	.sidebar
		ul
			li
				a(href="#!") Giới Thiệu Về MiOto
			li
				a(href="#!") Thuê Xe
				ul
					li
						a(href="#!") Thuê Xe
					li
						a.active(href="#!") Cách Đăng Kí Thuê Xe
			li
				a(href="#!") Chủ Xe
				ul
					li
						a(href="#!") Lợi Ích Chủ Xe
					li
						a(href="#!") Cách Đăng Kí Chủ Xe
	.content
		h2.title Tôi đăng kí thuê xe như thế nào?
		.content-container
			h5 Bước 1: Đăng nhập 
			p Đăng nhập vào tài khoản của mình, nếu bạn chưa có tài khoản thì có thể đăng ký tạo tài khoản bằng Email, Facebook hoặc tài khoản Google.
			p
				img(src="images/tutorial_1.png" alt=page)
			.space.l
			h5 Bước 2: Đăng kí xe
			p Chọn mục "Đăng kí xe" và điền các thông tin về chiếc xe bạn muốn đăng kí. 
			p (gồm hình ảnh xe, dòng xe, số km đã đi, bảo hiểm xe, các giấy tờ xe liên quan, các tiện ích đi kèm, bảng giá cho thuê, hình thức khuyến mãi, phương thức và phí giao nhận xe, danh sách các ngày cho thuê)
			.space.l
			h5 Bước 3: Chờ phê duyệt
			p Trong thời gian 1 ngày làm việc. Nếu thỏa mãn các tiêu chí, xe của bạn sẽ được chấp thuận đăng kí trên sàn giao dịch.
			p Trường hợp các xe không đáp ứng tiêu chí tuyển lựa, công ty sẽ gửi email thông báo lí do đến bạn.

.np-bottom
	.np-bottom-container
		.np-main
			.np-prev
				span Trở Về
				a(href="#!") <em>Giới Thiệu Về MiOto</em>
