block MyCard

- var myCard = []
- myCard.push({"img": "images/visa.svg", "card_number": "•••• •••• •••• 3003", "card_name": "MINH MINH", "valid_card": "04/22", "card_type": "DEBIT"})
- myCard.push({"img": "images/mastercard.svg", "card_number": "•••• •••• •••• 0121", "card_name": "NGUYEN VAN A", "valid_card": "04/22", "card_type": "CREDIT"})
- myCard.push({"img": "images/jcb.svg", "card_number": "•••• •••• •••• 5678", "card_name": "NHU DUONG", "valid_card": "04/22", "card_type": "DEBIT"})
- myCard.push({"img": "images/credit-card.svg", "card_number": "•••• •••• •••• 3432", "card_name": "SONG MINO", "valid_card": "04/22", "card_type": "CREDIT"})


.my-card__sect
	.m-container
		.my-card__wrap
			h3.n-title THẺ CỦA TÔI
			a.btn.btn--m.btn-add-card.hide-on-med
				i.ic.ic-plus
				|   Thêm thẻ
			a.func-filter.plus.show-on-med
				i.ic.plus-o

.list-card__sect.module-trips.module-map
	.trip-container
		.box-card__wrap
			mixin list-cards(card)
				.box-card__item.d-flex
					a.func-remove.show-on-sm
						i.ic.ic-remove
					.logo-card
						img(src=card.img)
					.info-card
						p.card-number
							| #{card.card_number}
							span.card-type #{card.card_type}
						p.card-name #{card.card_name}
						p.valid-card Hiệu lực thẻ: #{card.valid_card}
					.remove-card
						a.btn.btn--m.btn-secondary.hide-on-sm Hủy liên kết thẻ
			for card in myCard
				+list-cards(card)


