block Profile

- var moduleComment = []
- moduleComment.push({'class':'', 'img':'images/avatar_default.png', 'heroes':'Blake Page', 'info':'Car Owner', 'desc':'It is an amazing experience on renting his car, very easy for my first try, I am sure I will do it again and again as well as recommended to my friends...happy 4th July!!!'})
- moduleComment.push({'class':'', 'img':'images/avatar_default.png', 'heroes':'Blake Page', 'info':'Car Owner', 'desc':'It is an amazing experience on renting his car, very easy for my first try, I am sure I will do it again and again as well as recommended to my friends...happy 4th July!!!'})
- moduleComment.push({'class':'', 'img':'images/avatar_default.png', 'heroes':'Blake Page', 'info':'Car Owner', 'desc':'Excellent guest, made the rental process easy. Thanks!'})
- moduleComment.push({'class':'', 'img':'images/avatar_default.png', 'heroes':'Blake Page', 'info':'Car Owner', 'desc':'I am sure I will do it again and again as well as recommended to my friends...happy 4th July!!!'})
- moduleComment.push({'class':'', 'img':'images/avatar_default.png', 'heroes':'Blake Page', 'info':'Car Owner', 'desc':'happy 4th July!!!'})
- moduleComment.push({'class':'', 'img':'images/avatar_default.png', 'heroes':'Blake Page', 'info':'Car Owner', 'desc':'It is an amazing experience on renting his car, very easy for my first try, I am sure I will do it again and again as well as recommended to my friends...happy 4th July!!!'})


- var moduleDeal = []
- moduleDeal.push({'class':'', 'heroes':'Telsa Model X', 'img':'images/upload/car_1.png'})
- moduleDeal.push({'class':'', 'heroes':'Telsa Model X', 'img':'images/upload/car_1.png'})

.cover-profile(style="background-image:url(images/img_landscape_2.png)")
	.qr-car 
		.ic.ic-qr-code
.module-profile
	.profile-container
		.content-profile
			//.avatar.avatar--xl(title="title name")
				.avatar-img(style="background-image:url(images/avatar_default.png)")
			// khi user la user thi them class has-edit
			.avatar.avatar--xl.has-edit(title="title name")
				.avatar-img(style="background-image:url(images/avatar_default.png)")
			.desc-top
				h2.name-car Name Car
				.snippet
					.item-title
						span Nguyễn Mỹ Nam Phương <a class="func-edit" href="#!" title="Edit"><i class="ic ic-edit"></i></a>
				span.star
					i.full
					i.full
					i.half
					i
					i
				.wr-s 
					.s-info
						span.lstitle Approved to drive
						span.ctn 164 trips
					.s-info
						span.lstitle Reviewed
						span.ctn 124 reviews
			.clear
			
			.wr-s-info
				.owner-response 
					.response-desc 
						p Tỉ lệ phản hồi 
						span.rate 75% 
					.response-desc 
						p Thời gian phản hồi  
						span.rate 7 phút 
					.response-desc 
						p Tỉ lệ đồng ý
						span.rate 70% 
				//- .s-info
				//- 	a.logout(href="#!") <i class="ic ic-logout-h"></i> Log Out
				//- .s-info
				//- 	a.btn.btn-default.btn--m(href="#!") Report Profile
			.information
				ul
					li
						span.label Gender
						span.ctn Male
						a.func-edit(href="#!" title="Edit")
							i.ic.ic-edit
					li
						span.label ID
						span.ctn 123 456 789
						a.func-edit(href="#!" title="Edit")
							i.ic.ic-edit
					li
						span.label Joined
						span.ctn 27 Sep 2017
						a.func-edit(href="#!" title="Edit")
							i.ic.ic-edit
					li
						span.label Location
						span.ctn 459 Kessler Via Apt. 412
						a.func-edit(href="#!" title="Edit")
							i.ic.ic-edit
					li
						span.label Phone
						span.ctn 402-968-5995
						a.func-edit(href="#!" title="Edit")
							i.ic.ic-edit
					li
						span.label Email
						span.ctn sebastian@gmail.com
						a.func-edit(href="#!" title="Edit")
							i.ic.ic-edit
					li
						span.label Password
						span.ctn ●●●●●●●●●●●
						a.func-edit(href="#!" title="Edit")
							span change password
			.clear
			.properties
				span.title.title--s Properties
				each moduleDealItem in moduleDeal
					.item-car.item-car--s(class=`${moduleDealItem.class}`)
						span.img-car(style="background-image:url(images/upload/car_1.png)")
						.desc-car
							span.star
								i.full
								i.full
								i.half
								i
								i
							h2 #{moduleDealItem.heroes}
							p
								span <i class="ic ic-clock"></i> 2 trips
								span <i class="ic ic-tag"></i> $15/day
							a.btn.btn-primary.btn--m(href="#!") View Details
		.sidebar-profile
			.head-content
				span.lstitle Reviews
				span.wrap-select
					select
						option(value="0" selected disabled) All Reviews
						option(value="1") Lorem ipsum
			.body-content
				p.no-result Be the first to leave a comment.
				.space.l
				ul.list-comments
					each moduleCommentItem in moduleComment
						li
							.item-comment(class=`${moduleCommentItem.class}`)
								.avatar.avatar--s(title="title name")
									.avatar-img(style=`background-image:url("${moduleCommentItem.img}")`)
								.desc
									h4 #{moduleCommentItem.heroes}
									h5 #{moduleCommentItem.info}
									.cmt
										p <span class="timer">July 4, 2017</span> 
											span.star
												i.full
												i.full
												i.half
												i
												i
										p #{moduleCommentItem.desc}
				a.btn.btn-primary.btn--m.btn-more(href="#!") <span><i></i><i></i><i></i></span> Load More
		.clear
