block Profile

- var moduleComment = []
- moduleComment.push({'class':'', 'img':'images/avatar_default.png', 'heroes':'Blake Page', 'info':'Car Owner', 'desc':'It is an amazing experience on renting his car, very easy for my first try, I am sure I will do it again and again as well as recommended to my friends...happy 4th July!!!'})
- moduleComment.push({'class':'', 'img':'images/avatar_default.png', 'heroes':'Blake Page', 'info':'Car Owner', 'desc':'It is an amazing experience on renting his car, very easy for my first try, I am sure I will do it again and again as well as recommended to my friends...happy 4th July!!!'})
- moduleComment.push({'class':'', 'img':'images/avatar_default.png', 'heroes':'Blake Page', 'info':'Car Owner', 'desc':'Excellent guest, made the rental process easy. Thanks!'})
//- - moduleComment.push({'class':'', 'img':'images/avatar_default.png', 'heroes':'Blake Page', 'info':'Car Owner', 'desc':'I am sure I will do it again and again as well as recommended to my friends...happy 4th July!!!'})
//- - moduleComment.push({'class':'', 'img':'images/avatar_default.png', 'heroes':'Blake Page', 'info':'Car Owner', 'desc':'happy 4th July!!!'})
//- - moduleComment.push({'class':'', 'img':'images/avatar_default.png', 'heroes':'Blake Page', 'info':'Car Owner', 'desc':'It is an amazing experience on renting his car, very easy for my first try, I am sure I will do it again and again as well as recommended to my friends...happy 4th July!!!'})

- var moduleDeal = []
- moduleDeal.push({'class':'', 'heroes':'Telsa Model X', 'img':'images/upload/car_1.png'})
- moduleDeal.push({'class':'', 'heroes':'Telsa Model X', 'img':'images/upload/car_1.png'})
- moduleDeal.push({'class':'', 'heroes':'Telsa Model X', 'img':'images/upload/car_1.png'})
- moduleDeal.push({'class':'', 'heroes':'Telsa Model X', 'img':'images/upload/car_1.png'})

.cover-profile.new-profile(style="background-image:url(images/background/car-9.jpg)")
	.qr-car 
		.ic.ic-qr-code
	
.profile__sect 
	.content-profile--new 
		.desc-profile
			.avatar-box
				.avatar.avatar--xl
					.avatar-img(style="background-image: url(https://n1-astg-dev.mioto.vn/g/2018/07/15/15/FU9GKsAR-AYZOFuNldjUzw.jpg)")
			.snippet
				.item-title 
					p Minh Minh
					a.func-edit(title='Báo xấu')
						i.ic.ic-error-gray
				.d-flex
					span.join Tham gia vào 08/2018 
					.bar-line 
					span.sum-trips 303 chuyến 
		.desc-profile 
			.wr-info
				.s-info
					span.lstitle Tỉ lệ phản hồi 
					span.ctn 75%
				.s-info 
					span.lstitle Thời gian phản hồi
					span.ctn 7 phút 
				.s-info 
					span.lstitle Tỉ lệ đồng ý
					span.ctn 70%
			.information 
				.inside 
					ul
						li
							span.label Điện thoại
							span.ctn
								i.ic.ic-verify 
								| Đã xác thực
						li
							span.label Email 
							span.ctn
								i.ic.ic-verify 
								| Đã xác thực 
						li
							span.label Facebook 
							span.ctn
								i.ic.ic-verify 
								| Đã xác thực
						li
							span.label Google 
							span.ctn 
								i.ic.ic-verify 
								| Đã xác thực
	.profile__wrap
		.review__sect 
			.review-container
				.review.review__wrap
					.head-content 
						span.lstitle Đánh giá từ Chủ xe
						.rating
							span.star
								i.full 
								i.full 
								i.half 
								i 
								i  
							.bar-line 
							.desc 10 nhận xét 
					//- p.no-result Chưa có nhận xét nào 
					mixin list-comments(comment)
						.list-comments 
							.left 
								.fix-avatar
									img(src=comment.img)
							.right  
								.cmt-box 
									.group
										h4.name= comment.heroes 
										p.date 22/02/2017 
									span.star
										i.full
										i.full
										i.half
										i
										i
									p.desc= comment.desc
					for comment in moduleComment 
						+list-comments(comment) 
					.s-all 
						p.see-all Xem thêm 
							i.ic.ic-chevron-up 
				.review.review__wrap
					.head-content 
						span.lstitle Đánh giá từ Khách thuê 	
						.rating
							span.star
								i.full 
								i.full 
								i.half 
								i 
								i  
							.bar-line 
							.desc 78 nhận xét
					//- p.no-result Chưa có nhận xét nào 
					mixin list-comments(comment)
						.list-comments 
							.left 
								.fix-avatar
									img(src=comment.img)
							.right  
								
								.cmt-box 
									.group
										h4.name= comment.heroes 
										p.date 22/02/2017 
									span.star
										i.full
										i.full
										i.half
										i
										i
									p.desc= comment.desc
					for comment in moduleComment 
						+list-comments(comment) 
					.s-all 
						p.see-all Xem thêm 
							i.ic.ic-chevron-up
		.properties
			.properties__wrap 
				.props-header 
					span.lstitle Xe của tôi 
				.props-body 
					.swiper-button-next
						i.i-arr
					.swiper-button-prev
						i.i-arr
					.swiper-container.swiper-similar
						.swiper-wrapper
							each moduleDealItem in moduleDeal
								.swiper-slide
									.item-car
										span.img-car 
											.fix-img 
												img(src=`${moduleDealItem.img}`)
										.desc-car 
											span.star
												i.full
												i.full 
												i.half 
												i 
												i 
											h2 #{moduleDealItem.heroes}
											p 
												span 
													i.ic.ic-clock 
													| 2 trips 
												span 
													i.ic.ic-tag 
													| 900K 
						.swiper-pagination
				//- .s-all
				//- 	p.see-all Xem thêm 
				//- 		i.ic.ic-chevron-up
		