block Register

.body-container
	i.ic.ic-tag-fill
	i.ic.ic-clock-fill
	i.ic.ic-user-fill
	i.ic.ic-sex-fill
	i.ic.ic-calendar-fill
	i.ic.ic-verify
	i.ic.ic-verify-large
	i.ic.ic-plus
	i.ic.ic-remove
	i.ic.ic-link
	i.ic.ic-error
	i.ic.ic-error-gray
	i.ic.ic-error-large
	i.ic.ic-car-fill
	i.ic.ic-logout-fill
	i.ic.ic-info
	i.ic.ic-remove-gray 
	
	p.font-sanoma Thử font tại đây
	p.font-sanoma Đăng Kí Tài Khoản
	p.font-sanoma Thử font tại đây
	p.font-sanoma Thử font tại đây

	p.textAlign-center.has-more-btn
		a.btn.btn-primary.btn--m(href="#!") Button 1
		a.btn.btn-primary.btn--m(href="#!") Button 2
	.gps-box
		i.ic.ic-car-gps
		.box-text 
			span.license-plate 51G - 30310
	.space.m
	.gps-box-time
		.div 
			span.time 
				span.status.green-dot  
				| 20 giờ trước
	.form-default.form-s
		h2.title-form Đăng Kí Tài Khoản
		.line-form.has-2input
			.wrap-input
				label.label Tên
				input(type="text" name="Tên" placeholder="Tên")
			.wrap-input
				label.label Họ
				input(type="text" name="Họ" placeholder="Họ")
		.line-form.has-2input
			.wrap-input
				label.label Ngày sinh
				input.has-error(type="text" name="Tên" placeholder="DD/MM/YYYY")
			.wrap-input
				label.label Giới tính
				span.wrap-select
					select
						option(value="1") Nam
		.line-form
			.wrap-input.has-ico
				i.ic.ic-phone-fill
				input(type="text" name="Điện Thoại" placeholder="Điện Thoại")
		.line-form
			.wrap-input.has-ico
				i.ic.ic-lock-fill
				input.has-error(type="password" name="Mật Khẩu" placeholder="Mật Khẩu")
		.line-form
			.wrap-input.has-ico
				i.ic.ic-email-fill
				input(type="text" name="Email" placeholder="Email")
		
		p.has-cs Tôi đã đọc và đồng ý với <a href="#!">chính sách</a> của Mioto
		.clear
		button.btn.btn-primary.btn--m(type="button", name="loginBtn") Đăng Nhập
		.space
		span.line
		p.textAlign-center Hoặc Đăng nhập bằng tài khoản
		.wr-btn-share
			.wr-btn
				button.btn.btn-google.btn--m(type="button") <i class="ic ic-google"></i> Google
			.wr-btn
				button.btn.btn-facebook.btn--m(type="button") <i class="ic ic-facebook"></i> Facebook
